@import "compass";
@import "theme_variables";
.header_permentlink {
	list-style-type: none;
	float: right;
	margin:0;
	display: none;
	padding:0;
	#header_links {
		@media (max-width: $screen-xs-max) { // max 767px
		width:100%;
		padding:0;
		background: #262626;
		position:absolute;
		display:none;
		text-align:left;
	}
	@media (max-width: $screen-xs - 1) { // max 479px
		width:130px;
		background:$base-bg;
		margin:0;
	}
	li {
		float: left;
		padding:5px 5px;
		@media (max-width: $screen-xs-max) { // max 767px
			width:100%;
			float:none;
			border:none;
		}
		a{
			font-weight: bold;
			line-height: 24px;
			padding: 8px 9px 11px 8px;
			text-decoration: none;
			text-transform: capitalize;
		 &:hover {
		 	color:$link-hover-color;
		 }	
		 //max 767px
		@media (max-width: $screen-xs-max) { 
			color:#FFF;
		}
		}
	}
}
}
/*block permanent links right and left columns*/
#permanent_links {
	div {
		border-bottom: 1px dotted #eee;
	  a {
		display: block;
		padding: 7px 11px 5px 22px;
		color: #333;
		background:url(img/arrow_right_2.png) no-repeat 10px 10px;
	  }
	}
}

/* block footer links */
ul#footer_links{
	clear:both;
	text-align: center;
	padding-bottom:6px;
	li {
		display: inline;
		padding:0 10px
	}
}
.header_permentlink {
	float:right;	
	@media (max-width: $screen-xs-max) { // max 767px
		background:$base-bg;
		left: 50%;
		position: absolute;
		text-align: center;
		top: 155px;
		width: 25%;
		border-right: 1px solid #fff;
		z-index:95;
	}
	.tm_permenu_inner {
		cursor:pointer;
		display:none;
		font-size:0;
		@media (max-width: $screen-xs-max) { // max 767px
			display:block;
		}
		.headertoggle_img:before {
			content: "\f150 ";
			display: block;
			font-family: $font-icon;
			line-height:22px;
			font-size: 17px;
			color: $light-text-color;
			position:relative;
			top:7px;
			@media (max-width: $screen-xs - 1) { // max 479px
				line-height:19px;
			}
		}
	  &.active {
	  	.headertoggle_img:before {
			content: "\f151";
		}
	  }	
	}
}