@font-face {
  font-family: "SignPainter-HouseScript";
  src: url("fonts/SignPainter.eot");
  src: url("fonts/SignPainter.eot?#iefix") format("embedded-opentype"), url("fonts/SignPainter.woff") format("woff"), url("fonts/SignPainter.ttf") format("truetype"), url("fonts/SignPainter.svg#SignPainter-HouseScript") format("svg"); }

@font-face {
  font-family: "HelveticaNeue-regular";
  src: url("fonts/HelveticaNeue-Regular.eot");
  src: url("fonts/HelveticaNeue-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-Regular.woff") format("woff"), url("fonts/HelveticaNeue-Regular.ttf") format("truetype"), url("fonts/HelveticaNeue-Regular.svg#HelveticaNeue-regular") format("svg"); }

@font-face {
  font-family: "HelveticaNeue-Thin";
  src: url("fonts/HelveticaNeue-thin.eot");
  src: url("fonts/HelveticaNeue-thin.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-thin.woff") format("woff"), url("fonts/HelveticaNeue-thin.ttf") format("truetype"), url("fonts/HelveticaNeue-thin.svg#HelveticaNeue-Thin") format("svg"); }

@font-face {
  font-family: "HelveticaNeue-Thin";
  src: url("fonts/HelveticaNeue-thin.eot");
  src: url("fonts/HelveticaNeue-thin.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-thin.woff") format("woff"), url("fonts/HelveticaNeue-thin.ttf") format("truetype"), url("fonts/HelveticaNeue-thin.svg#HelveticaNeue-Thin") format("svg"); }

/* line 10, css/scss/main.scss */
.navbar {
  border-radius: 0 !important;
  margin: 0 !important; }

/* line 1, css/scss/desktop.scss */
body {
  background-image: url("../img/bg-social.png");
  color: white;
  font-size: 16px; }

/* line 7, css/scss/desktop.scss */
nav {
  padding: 0 15px;
  padding-bottom: 60px; }
  /* line 10, css/scss/desktop.scss */
  nav .diamadre {
    float: right;
    width: 177px; }

/* line 16, css/scss/desktop.scss */
.diamadre2 {
  display: none; }

/* line 20, css/scss/desktop.scss */
.container {
  max-width: 100%; }

/* line 24, css/scss/desktop.scss */
.part-1 {
  position: relative;
  padding-bottom: 0vw;
  padding-top: 2vw;
  background-color: #CF7095; }
  /* line 29, css/scss/desktop.scss */
  .part-1::after {
    position: absolute;
    content: " ";
    right: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 320px 2150px 0 0;
    border-color: #CF7095 transparent transparent transparent;
    line-height: 0px; }
  /* line 41, css/scss/desktop.scss */
  .part-1 h1 {
    font-family: 'SignPainter-HouseScript';
    font-size: 7rem; }
  /* line 45, css/scss/desktop.scss */
  .part-1 p {
    font-family: "HelveticaNeue-Thin";
    font-weight: 100;
    padding-right: 4em;
    text-align: justify; }
  /* line 51, css/scss/desktop.scss */
  .part-1 .row {
    position: relative; }
    /* line 54, css/scss/desktop.scss */
    .part-1 .row .video-section {
      z-index: 9999;
      padding-top: 30px; }
      /* line 57, css/scss/desktop.scss */
      .part-1 .row .video-section video {
        width: 100% !important; }
      /* line 60, css/scss/desktop.scss */
      .part-1 .row .video-section img {
        width: calc(100% - 30px);
        position: absolute; }

/* line 68, css/scss/desktop.scss */
.part-2 {
  padding-top: 22vw;
  text-align: center; }
  /* line 71, css/scss/desktop.scss */
  .part-2 h2 {
    font-family: HelveticaNeue-Thin;
    color: #B7B6F3;
    font-size: 42px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; }

/* line 79, css/scss/desktop.scss */
.part-3 {
  margin-top: 400px;
  padding-left: 0;
  padding-right: 0; }
  /* line 83, css/scss/desktop.scss */
  .part-3 .container-fluid:first-child {
    position: relative;
    background-color: #F4B1C3; }
    /* line 86, css/scss/desktop.scss */
    .part-3 .container-fluid:first-child::after {
      position: absolute;
      content: " ";
      right: 0;
      top: 70%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 2150px 320px 0;
      border-color: transparent #F4B1C3 transparent transparent;
      line-height: 0px;
      z-index: 9; }
    /* line 99, css/scss/desktop.scss */
    .part-3 .container-fluid:first-child::before {
      position: absolute;
      content: " ";
      right: 0;
      bottom: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 320px 2150px;
      border-color: transparent transparent #F4B1C3 transparent;
      line-height: 0px; }
    /* line 112, css/scss/desktop.scss */
    .part-3 .container-fluid:first-child > .container > .row {
      margin-top: -30%;
      position: relative; }
      /* line 115, css/scss/desktop.scss */
      .part-3 .container-fluid:first-child > .container > .row .columna-flot1 {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
  /* line 124, css/scss/desktop.scss */
  .part-3 .container-fluid:last-child {
    background-color: #e8a5e3;
    position: relative; }
    /* line 127, css/scss/desktop.scss */
    .part-3 .container-fluid:last-child::after {
      position: absolute;
      content: " ";
      right: 0;
      top: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 320px 2150px 0 0;
      border-color: #e8a5e3 transparent transparent transparent;
      line-height: 0px; }
    /* line 139, css/scss/desktop.scss */
    .part-3 .container-fluid:last-child .container {
      z-index: 99; }
  /* line 143, css/scss/desktop.scss */
  .part-3 .container {
    position: relative;
    padding-top: 88px;
    padding-bottom: 0px; }
    /* line 148, css/scss/desktop.scss */
    .part-3 .container .columna-flot2 {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    /* line 155, css/scss/desktop.scss */
    .part-3 .container img {
      width: 100%; }
    /* line 158, css/scss/desktop.scss */
    .part-3 .container .title {
      font-family: "HelveticaNeue-Thin";
      font-weight: bold; }
    /* line 162, css/scss/desktop.scss */
    .part-3 .container .desc {
      font-weight: 200; }

/* line 168, css/scss/desktop.scss */
.part-4 {
  font-family: "HelveticaNeue-Thin";
  font-weight: 100;
  padding-top: 22vw;
  padding-bottom: 430px;
  text-align: center;
  background-color: white; }
  /* line 175, css/scss/desktop.scss */
  .part-4 .siguenos {
    color: #939191; }
    /* line 177, css/scss/desktop.scss */
    .part-4 .siguenos p {
      font-size: 20px;
      font-style: italic;
      margin-bottom: 0;
      line-height: 1.9; }
  /* line 184, css/scss/desktop.scss */
  .part-4 .redes {
    color: #CF6D96;
    position: relative;
    padding-left: 45px; }
    /* line 188, css/scss/desktop.scss */
    .part-4 .redes a {
      text-decoration: none;
      color: #CF6D96; }
    /* line 192, css/scss/desktop.scss */
    .part-4 .redes svg {
      width: 30px;
      position: absolute;
      left: 5px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      /* line 198, css/scss/desktop.scss */
      .part-4 .redes svg path {
        fill: #CF6D96;
        transition: all 100ms linear; }
    /* line 203, css/scss/desktop.scss */
    .part-4 .redes p {
      margin: 0;
      text-align: left;
      transition: all 100ms linear;
      font-size: 24px; }
    /* line 211, css/scss/desktop.scss */
    .part-4 .redes:hover svg path {
      fill: #B7B6F3; }
    /* line 215, css/scss/desktop.scss */
    .part-4 .redes:hover p {
      color: #B7B6F3; }

/* line 222, css/scss/desktop.scss */
.part-5 {
  padding-top: 0px;
  padding-bottom: 20px;
  background-color: #B1B7F4;
  position: relative; }
  /* line 228, css/scss/desktop.scss */
  .part-5::before {
    position: absolute;
    content: " ";
    right: 0;
    bottom: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 320px 2150px;
    border-color: transparent transparent #B1B7F4 transparent;
    line-height: 0px;
    z-index: 0; }
  /* line 242, css/scss/desktop.scss */
  .part-5 p {
    font-family: "HelveticaNeue-Thin";
    font-weight: 100; }
    /* line 245, css/scss/desktop.scss */
    .part-5 p a {
      font-family: "HelveticaNeue-Thin";
      color: white; }
      /* line 248, css/scss/desktop.scss */
      .part-5 p a:hover {
        text-decoration: none;
        color: #CF6D96; }

@media screen and (max-width: 1200px) {
  /* line 4, css/scss/mediaquery.scss */
  .part-3 .container-fluid:first-child .container {
    z-index: 99; }
  /* line 7, css/scss/mediaquery.scss */
  .part-3 .container-fluid:first-child:after {
    top: 0; }
  /* line 17, css/scss/mediaquery.scss */
  .part-4 .redes p {
    font-size: 22px; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 26, css/scss/mediaquery.scss */
  .part-1 h1 {
    font-size: 6rem; } }

@media screen and (min-width: 720px) and (max-width: 991px) {
  /* line 35, css/scss/mediaquery.scss */
  .part-1 .video-section img {
    position: relative !important; }
  /* line 40, css/scss/mediaquery.scss */
  .col-sm-6 {
    width: 50%; }
  /* line 47, css/scss/mediaquery.scss */
  .part-3 .container-fluid:last-child .row .col-sm-6 {
    position: relative !important;
    -webkit-transform: none;
            transform: none;
    float: left;
    display: inline-block; } }

@media screen and (max-width: 991px) {
  /* line 60, css/scss/mediaquery.scss */
  .part-1 p {
    padding: 0; }
  /* line 63, css/scss/mediaquery.scss */
  .part-1 .video-section
img {
    width: 100% !important; } }

@media screen and (max-width: 767px) {
  /* line 71, css/scss/mediaquery.scss */
  .siguenos {
    margin-bottom: 30px !important; }
  /* line 75, css/scss/mediaquery.scss */
  .redes p {
    text-align: center; } }

@media screen and (max-width: 719px) {
  /* line 82, css/scss/mediaquery.scss */
  .part-2 {
    padding-top: 32vw; }
  /* line 86, css/scss/mediaquery.scss */
  .video-section img {
    position: relative !important; }
  /* line 90, css/scss/mediaquery.scss */
  h1 {
    font-size: 4rem !important; }
  /* line 93, css/scss/mediaquery.scss */
  h2 {
    font-size: 40px !important; }
  /* line 97, css/scss/mediaquery.scss */
  .container-fluid:first-child:before {
    bottom: 80% !important; }
  /* line 100, css/scss/mediaquery.scss */
  .container-fluid:first-child .container {
    padding-top: 0 !important; }
  /* line 105, css/scss/mediaquery.scss */
  .container-fluid:last-child .container {
    padding-top: 0 !important; }
  /* line 109, css/scss/mediaquery.scss */
  .columna-flot1 {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    -webkit-transform: none !important;
            transform: none !important;
    padding-top: 16px; }
  /* line 116, css/scss/mediaquery.scss */
  .columna-flot2 {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    -webkit-transform: none !important;
            transform: none !important;
    padding-top: 16px; }
  /* line 125, css/scss/mediaquery.scss */
  .part-4 .redes p {
    font-size: 18px; } }

@media screen and (max-width: 480px) {
  /* line 134, css/scss/mediaquery.scss */
  nav .diamadre {
    display: none; }
  /* line 139, css/scss/mediaquery.scss */
  .diamadre2 {
    display: block;
    margin: 0 auto;
    width: 177px;
    padding: 16px 0 16px 0; }
  /* line 146, css/scss/mediaquery.scss */
  .columna-flot1 {
    padding-bottom: 46px !important; }
  /* line 149, css/scss/mediaquery.scss */
  .columna-flot2 {
    padding-top: 46px !important; }
  /* line 152, css/scss/mediaquery.scss */
  .part-3 {
    margin-top: 300px !important; }
    /* line 155, css/scss/mediaquery.scss */
    .part-3 .container-fluid:first-child:before {
      bottom: 60% !important; }
    /* line 158, css/scss/mediaquery.scss */
    .part-3 .container-fluid:first-child .container {
      padding-top: 0 !important; }
    /* line 161, css/scss/mediaquery.scss */
    .part-3 .container-fluid:first-child:after {
      display: none !important; }
  /* line 166, css/scss/mediaquery.scss */
  nav {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    text-align: center; }
  /* line 171, css/scss/mediaquery.scss */
  .redes {
    display: block !important;
    width: 100% !important;
    margin-bottom: 16px !important; }
  /* line 177, css/scss/mediaquery.scss */
  .part-4 {
    padding-bottom: 360px !important; }
    /* line 180, css/scss/mediaquery.scss */
    .part-4 .redes p {
      font-size: 20px; } }