.tmhomeslider {
  margin: 0 0 15px 0;
  padding: 0;
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden;
}
.tmhomeslider .item img {
  max-width: 100%;
  width: 100%;
}
.tmhomeslider .owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.tmhomeslider .owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.tmhomeslider .owl-carousel .owl-wrapper-outer .owl-wrapper {
  display: none;
  position: relative;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.tmhomeslider .owl-carousel .owl-wrapper-outer .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.tmhomeslider .owl-carousel .owl-wrapper-outer .owl-wrapper .owl-item {
  float: left;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.tmhomeslider .owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.tmhomeslider .owl-carousel .owl-buttons .owl-prev {
  left: -50px;
}
.tmhomeslider .owl-carousel .owl-buttons .owl-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.tmhomeslider .owl-carousel .owl-buttons .owl-prev .icon-caret-left:before {
  content: "\f177";
}
.tmhomeslider .owl-carousel .owl-buttons .owl-next {
  right: -50px;
}
.tmhomeslider .owl-carousel .owl-buttons .owl-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.tmhomeslider .owl-carousel .owl-buttons .owl-next .icon-caret-right:before {
  content: "\f178";
}
.tmhomeslider .owl-carousel .owl-buttons div {
  border: 2px solid #e6e6e6;
  height: 34px;
  width: 50px;
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 47%;
}
.tmhomeslider .owl-carousel .owl-buttons div i {
  font-size: 22px;
  letter-spacing: 0;
  margin: 4px 0 0;
}
@media (max-width: 480px) {
  .tmhomeslider .owl-carousel .owl-buttons div {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@media (max-width: 480px) {
  .tmhomeslider .owl-carousel .owl-buttons {
    display: none;
  }
}
.tmhomeslider .owl-carousel .owl-pagination {
  bottom: 10px;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
.tmhomeslider .owl-carousel .owl-pagination .owl-page {
  display: inline-block;
  margin: 0px 4px;
}
.tmhomeslider .owl-carousel .owl-pagination .owl-page span {
  display: block;
  width: 11px;
  height: 11px;
  background: white;
  border: 1px solid #262626;
  cursor: pointer;
  -webkit-transition: all 0.1s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.tmhomeslider .owl-carousel .owl-pagination .owl-page.active span, .tmhomeslider .owl-carousel .owl-pagination .owl-page:hover span {
  background: white;
  border: 3px solid #262626;
}
.tmhomeslider .owl-carousel .owl-pagination .owl-page.active span {
  cursor: default;
}
.tmhomeslider:hover .owl-carousel .owl-buttons .owl-prev {
  left: 25px;
}
.tmhomeslider:hover .owl-carousel .owl-buttons .owl-next {
  right: 25px;
}

#spinner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: url("../../../../img/megnor/ajax-loader.gif") 50% 50% no-repeat #f2f2f2;
}
