#categories_block_top {
  clear: both;
  position: relative;
  top: 30px;
}
#categories_block_top .sf-menu {
  position: relative;
}
#categories_block_top .sf-menu > li {
  position: static;
}
#categories_block_top .sf-menu > li > ul {
  width: 100%;
  top: 60px;
  margin: 0 20px;
}
#categories_block_top .sf-menu > li > ul > li {
  display: block;
  float: left;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
#categories_block_top .sf-menu > li > ul > .category_thumb {
  display: block;
  clear: both;
  overflow: hidden;
  width: 100%;
}
#categories_block_top .sf-menu > li > ul > .category_thumb img {
  display: inline-block;
  width: 33%;
}
#categories_block_top .sf-menu > li h4 a {
  font-size: 1.1em;
}
#categories_block_top .sf-menu > li h4 a:before {
  display: none;
}
#categories_block_top .sf-menu > li .main-level-submenus {
  position: relative;
  display: block !important;
  visibility: visible !important;
  top: 0;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
  left: 0;
}
#categories_block_top .sf-menu .category_thumb {
  display: none;
}

#categories_block_left li {
  position: relative;
}
#categories_block_left li a {
  color: #666666;
  display: block;
  padding: 4px 0;
}
#categories_block_left li span.grower {
  display: block;
  position: absolute;
  right: 0;
  top: 6px;
  cursor: pointer;
  font-family: "FontAwesome";
  font-size: 10px;
}
#categories_block_left li span.grower.OPEN:before, #categories_block_left li span.grower.CLOSE:before {
  content: "\f068";
  display: block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  color: #666666;
  line-height: 20px;
  text-align: center;
}
#categories_block_left li span.grower.CLOSE:before {
  content: "\f067";
  color: #666666;
}
#categories_block_left li span.grower:hover + a,
#categories_block_left li a:hover,
#categories_block_left li a.selected {
  color: #262626;
}
#categories_block_left li span.grower:hover + a:before,
#categories_block_left li a:hover:before,
#categories_block_left li a.selected:before {
  color: #262626;
}
#categories_block_left li li a {
  font-weight: normal;
  color: #666666;
}
