#product_comments_block_extra {
  padding: 0;
  margin: 0px 0 10px;
  float: left;
  width: 100%;
}
#product_comments_block_extra .comments_note {
  float: left;
  margin: 0 20px 0 0;
}
#product_comments_block_extra .comments_note span {
  display: none;
}
#product_comments_block_extra .comments_note span,
#product_comments_block_extra .star_content {
  float: left;
  color: #333333;
}
#product_comments_block_extra .comments_note span .star,
#product_comments_block_extra .star_content .star {
  height: 30px;
}
#product_comments_block_extra .star_content {
  margin-top: 1px;
}
#product_comments_block_extra .comments_advices {
  margin: 0;
  float: left;
}

.comments_advices li {
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .comments_advices li {
    line-height: 20px;
  }
}
.comments_advices a {
  text-decoration: none;
  color: #666666;
  position: relative;
  padding: 0;
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .comments_advices a {
    float: none;
    line-height: 20px;
  }
}
.comments_advices a:before {
  font-family: "FontAwesome";
  font-size: 15px;
  margin-right: 6px;
  /*max 1199px*/
}
@media (max-width: 1199px) {
  .comments_advices a:before {
    display: none;
  }
}
.comments_advices a.open-comment-form:before {
  content: "\f040";
}
.comments_advices a:hover {
  color: #262626;
}
.comments_advices a.reviews {
  margin: 0 10px 0 0;
}

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap {
  width: 585px;
}

#fancybox-content {
  width: 585px;
  border-width: 0;
}

#new_comment_form {
  overflow: hidden;
  color: #333333;
  text-align: left;
}
#new_comment_form h2 {
  margin-bottom: 10px;
}
#new_comment_form .row {
  margin: 0;
}
#new_comment_form .title {
  padding: 10px;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  background: #333333;
}
#new_comment_form ul.grade_content {
  list-style-type: none;
  margin: 0 0 20px 0;
}
#new_comment_form ul.grade_content li {
  width: 50%;
}
#new_comment_form ul.grade_content span {
  display: inline-block;
  padding: 0 10px;
  width: 150px;
  font-weight: bold;
}
#new_comment_form ul.grade_content .cancel {
  margin-right: 5px;
}
#new_comment_form .product {
  padding: 0 0 10px;
}
#new_comment_form .product .product_desc {
  line-height: 18px;
  color: #666666;
}
#new_comment_form .product .product_desc .product_name {
  padding: 10px 0 5px;
  font-size: 13px;
  color: #262626;
}
#new_comment_form .new_comment_form_content {
  padding: 15px;
  border: 1px solid #dfdfdf;
}
#new_comment_form .new_comment_form_content .intro_form {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
}
#new_comment_form label {
  display: block;
  margin: 12px 0 4px 0;
  font-weight: bold;
  font-size: 12px;
}
#new_comment_form input,
#new_comment_form textarea {
  padding: 0 5px;
  height: 28px;
  width: 100%;
  border: 1px solid #ccc;
  background: white;
}
#new_comment_form textarea {
  height: 80px;
}
#new_comment_form .submit {
  margin-top: 20px;
  padding: 0;
  font-size: 13px;
  text-align: right;
}
#new_comment_form #criterions_list {
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
  list-style-type: none;
}
#new_comment_form #criterions_list li {
  margin-bottom: 10px;
}
#new_comment_form #criterions_list label {
  display: inline;
  float: left;
  margin: 0 10px 0 0;
}
#new_comment_form #criterions_list .star_content {
  float: left;
}
#new_comment_form #new_comment_form_footer {
  margin-top: 20px;
  font-size: 12px;
}

/* TAB COMMENTS ******************************************************************************** */
#product_comments_block_tab {
  margin: 0 0 20px;
}
#product_comments_block_tab div.comment {
  margin: 0 0 14px;
  padding-top: 14px;
  border-top: 1px solid #dfdfdf;
}
#product_comments_block_tab div.comment:first-child {
  padding: 0;
  border: none;
}
#product_comments_block_tab div.comment .comment_author {
  padding: 0 20px 0 0;
  line-height: 18px;
}
@media (max-width: 767px) {
  #product_comments_block_tab div.comment .comment_author {
    padding: 0;
    width: 100%;
    float: left;
  }
}
#product_comments_block_tab div.comment .comment_author span {
  font-weight: bold;
  float: left;
}
#product_comments_block_tab div.comment .comment_author .star_content {
  display: inline-block;
  vertical-align: middle;
}
#product_comments_block_tab div.comment .comment_details {
  overflow: hidden;
  border-left: 1px solid #dfdfdf;
}
@media (max-width: 767px) {
  #product_comments_block_tab div.comment .comment_details {
    border-left: none;
    padding: 20px 0 0;
    float: left;
  }
  #product_comments_block_tab div.comment .comment_details ul {
    list-style-type: none;
    margin: 0;
  }
  #product_comments_block_tab div.comment .comment_details ul li {
    padding: 2px 0 2px;
  }
  #product_comments_block_tab div.comment .comment_details ul li:before {
    font-family: "FontAwesome";
    content: "\f0da";
    color: #333333;
    margin-right: 8px;
  }
}
#product_comments_block_tab div.star:after {
  content: "\f006";
  font-family: "FontAwesome";
  display: inline-block;
  color: #777676;
}
#product_comments_block_tab div.star_on:after {
  content: "\f005";
  font-family: "FontAwesome";
  display: inline-block;
  color: #262626;
}
#product_comments_block_tab .comment_author_infos {
  clear: both;
  padding-top: 9px;
}
#product_comments_block_tab .comment_author_infos strong {
  display: block;
  color: #333333;
}
#product_comments_block_tab .comment_author_infos em {
  color: #adadad;
}
#product_comments_block_tab a {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
#product_comments_block_tab span.report_btn {
  cursor: pointer;
}
#product_comments_block_tab span.report_btn:hover {
  text-decoration: underline;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
