@import "compass";
@import "theme_variables";

#product_comments_block_extra {
	padding:0;
	margin: 0px 0 10px;
	float:left;
	width:100%;
	.comments_note {
		float:left;
		margin: 0 20px 0 0;
	}	
	.comments_note span{display: none;}
	.comments_note span,
	.star_content {
		float: left;
		color: $base-text-color;
		
		.star { height:30px;}
	}	
	.star_content {
		margin-top: 1px;
	}	
	
	.comments_advices {
		margin:0;
		float:left;
	}
}

.comments_advices {
	li{
		display:inline-block;
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {	//min 768px max 991px
			line-height: 20px;
		}
	}
	a {  
		text-decoration: none;	
		color: $base-body-color;
		position:relative;	
		padding: 0;
		display:inline-block;	
		@media (min-width: $screen-sm) and (max-width: $screen-md-max) { //min 768px max 991px
			float: none;
			line-height: 20px;
		}	
		&:before{	
			font-family: $font-icon;
			font-size: 15px;
			margin-right: 6px;
			/*max 1199px*/
			@media  (max-width: $screen-md-max) {
				display:none;	
			}
		}
		&.open-comment-form:before {
			content: "\f040";
		}
		&:hover {
			color:$link-hover-color;
		}
		&.reviews{
			margin: 0 10px 0 0;
		}
	}
}
/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap {
	width: 585px; 
}
#fancybox-content {
	width: 585px;
	border-width: 0;
}
#new_comment_form {
	overflow: hidden;
	color: $base-text-color;
	text-align: left;	
	h2{
		margin-bottom: 10px;
	}
	.row {
		margin: 0;
	}		
	.title {
		padding: 10px;
		font-size: 13px;
		color: $light-text-color;
		text-transform: uppercase;
		background: $dark-background;
	}
	ul.grade_content {
		list-style-type: none;
		margin: 0 0 20px 0;
		li{
			width: 50%;
		}
		span{
			display:inline-block;
			padding: 0 10px;
			width: 150px;
			font-weight: bold;
		}
		.cancel {
			margin-right: 5px;
		}	
	}			 
	.product {
		padding: 0 0 10px;
		.product_desc {									
			line-height: 18px;
			color: $description-color;
			.product_name {
				padding: 10px 0 5px;
				font-size: 13px;
				color: #262626;
			}
		}
	} 	
	.new_comment_form_content {
		padding: 15px;
		border: 1px solid $base-border-color;	
		.intro_form {
			padding-bottom: 10px;
			font-weight: bold;
			font-size: 12px;
		}
	}			
	label {
		display: block;
		margin: 12px 0 4px 0;
		font-weight: bold;
		font-size: 12px;
	}
	input,
	textarea  {
		padding: 0 5px;
		height: 28px;
		width: 100%;
		border: 1px solid #ccc;
		background: $light-background;
	}
	textarea {		
		height: 80px;		
	}
	.submit {
		margin-top: 20px;
		padding: 0;
		font-size: 13px;
		text-align: right;
	}

	#criterions_list {
		border-bottom: 1px solid #CCC;
		padding-bottom: 15px;
		list-style-type: none;
		li{
			margin-bottom: 10px;
		}
		label {
			display: inline;
			float: left;
			margin: 0 10px 0 0;
		}
		.star_content {
			float: left;
		}
	}
	#new_comment_form_footer {
		margin-top: 20px;
		font-size: 12px;
	}
}
/* TAB COMMENTS ******************************************************************************** */
#product_comments_block_tab {
	margin: 0 0 20px;
	div.comment {
		margin: 0 0 14px;
		padding-top: 14px;		
		border-top: 1px solid $base-border-color;
		&:first-child{
			padding: 0;
			border: none;
		}
		.comment_author {		
			padding: 0 20px 0 0;
			line-height: 18px;
			@media (max-width: $screen-xs-max) { //max 767px
				padding: 0;
				width: 100%;
				float: left;
			}
			span{
				font-weight: bold;
				float: left;
			}
			.star_content {
				display: inline-block;
				vertical-align: middle;
			}
		}
		.comment_details {
			overflow: hidden;
			border-left: $main_border;	
			@media (max-width: $screen-xs-max) { //max 767px
				border-left: none;
				padding: 20px 0 0;
				float: left;
				ul {
					list-style-type: none;
					margin: 0;
					li {
						padding: 2px 0 2px;
						&:before{
							font-family: $font-icon;	
							content: "\f0da";	
							color: $base-text-color;
							margin-right: 8px;
						}
					}
				}					
			}
		}			
	}
	div.star {
		&:after {
			content: "\f006";
			font-family: $font-icon;
			display: inline-block;
			color: #777676;	
		} 
	}
	div.star_on {
		&:after {
			content: "\f005";
			font-family: $font-icon;
			display: inline-block;
			color: $link-hover-color;
		}
	}
	.comment_author_infos {
		clear: both;
		padding-top: 9px;
		strong{
			display: block;
			color: $base-text-color;
		}
		em {
			color: #adadad;
		}
	}	
	a {
		text-decoration: none;
		font-weight: bold;	
		display:inline-block;
	}

	span.report_btn {
		cursor: pointer;
	}
	span.report_btn:hover {
		text-decoration: underline;
	}
}
.fl {
	float: left;
}
.fr {
	float: right;
}
