@import '_theme_variables';
@import "compass";

#left_column ,#right_column {
	#layered_block_left .block_content #layered_form {
		padding: 0 0 20px;
		> div > div {
			margin: 10px 0 0;
		}
		#enabled_filters {
			ul {
				li {
					display: inline-block;
					a {
						float: right;
						margin: 0 0 0 10px;
					}
				}
			}
		}
		.layered_filter_ul {
			padding: 0;
			li {
				padding: 0;
				.disabled {
					color: #666;
				}
			}
			.color-option {
				border: 1px solid $base-border-color;
				height: 16px;
				vertical-align: middle;
				width: 16px;
				margin-right: 5px;
				&.on {
					border: 1px solid red;
				}
			}
			label {
				font-weight: normal;
			}
		}
		.layered_subtitle {
			display: inline-block;
			font-weight: 600;
			font-size: 13px;
			color: $base-heading-color;
			text-transform: capitalize;
			margin: 0 0 5px;
		}
	}
}

.loading_img {
	background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #DDDDDD;
    height: 60px;
    left: 10px;
    padding: 10px 15px 15px;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 98%;
    z-index: 999;
	img {
		margin:0 auto;
	}
}

.ui-slider-horizontal {
	height: 7px;
	border: medium none;
	@include border-radius(0);
	background: #f5f5f5;
	.ui-slider-range{
		background: $base-border-color;
	}
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: none repeat scroll 0 0 #262626;
    @include border-radius(0);
    color: #555555;
	height:10px;
	width:10px;
	border: 1px solid #262626;
	@include rotate(47deg);
	margin-top: 2px;
    font-weight: normal;
}
