/*** ESSENTIAL STYLES ***/
.sf-contener {
  clear: both;
  float: left;
  width: 100%;
  position: relative;
}

.sf-menu,
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.sf-menu {
  position: relative;
  padding: 0;
  width: 100%;
  background: #545f61;
}
@media (max-width: 767px) {
  .sf-menu {
    display: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    position: absolute;
  }
}

.sf-menu ul {
  position: absolute;
  top: -999em;
  background: white;
}
@media (max-width: 767px) {
  .sf-menu ul {
    position: relative;
  }
}

.sf-menu ul li {
  width: 100%;
}

.sf-menu li:hover {
  visibility: inherit;
  /* fixes IE7 'sticky bug' */
}

.sf-menu > li {
  float: left;
  border-right: 1px solid #dfdfdf;
}
@media (max-width: 767px) {
  .sf-menu > li {
    float: none;
    position: relative;
    border-right: none;
  }
  .sf-menu > li span {
    position: absolute;
    right: 6px;
    top: 15px;
    width: 30px;
    height: 30px;
    z-index: 2;
  }
  .sf-menu > li span:after {
    font-family: "FontAwesome";
    content: "\f067";
    font-size: 26px;
    color: #FFFFFF;
    cursor: pointer;
  }
  .sf-menu > li span.active:after {
    content: "\f068";
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .sf-menu > li span {
    top: 8px;
    width: 20px;
    height: 22px;
    right: 12px;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .sf-menu > li span:after {
    font-size: 16px;
  }
}
.sf-menu > li > a {
  font: 600 16px/22px "Open Sans", sans-serif;
  color: white;
  display: block;
  padding: 12px 18px;
}
@media (max-width: 767px) {
  .sf-menu > li > a {
    padding: 8px 18px;
  }
}
.sf-menu > li.sfHover > a,
.sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a {
  background: #1BC4DE;
  color: white;
}

.sf-menu > li:last-child {
  border: none;
}

.sf-menu li ul li ul {
  padding: 5px;
  width: 200px;
  left: 190px;
  background: #262626;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}
@media (max-width: 767px) {
  .sf-menu li ul li ul {
    width: auto;
    left: 0 !important;
    top: 0 !important;
    display: block !important;
    margin-left: 15px;
  }
}
.sf-menu li ul li ul a {
  display: inline-block;
  position: relative;
  font-weight: bold;
  font: 600 14px/18px "Open Sans", sans-serif;
  color: white;
  padding: 4px 5px;
  display: block;
}
.sf-menu li ul li ul a:hover {
  background: white;
  color: #333333;
}

.sf-menu li ul {
  display: none;
  left: 0;
  top: 46px;
  /* match top ul list item height */
  z-index: 99;
  padding: 12px 0px 18px 0px;
}
@media (max-width: 767px) {
  .sf-menu li ul {
    top: 0;
  }
}

.sf-menu li li li ul {
  padding: 5px;
}

.sf-menu li li li ul {
  width: 220px;
}
@media (max-width: 767px) {
  .sf-menu li li li ul {
    width: 90%;
  }
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 190px;
  /* match ul width */
  top: 0;
}

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 190px;
  /* match ul width */
  top: 0;
}

.sf-menu > li > ul {
  padding: 5px;
  width: 200px;
  background: #262626;
  position: absolute;
}
@media (max-width: 767px) {
  .sf-menu > li > ul {
    position: relative;
    width: auto;
    margin: 0 0 0 15px;
  }
}
.sf-menu > li > ul > li {
  margin: 2px 0px;
}
.sf-menu > li > ul > li > a {
  font: 600 14px/18px "Open Sans", sans-serif;
  color: white;
  padding: 4px 5px;
  display: block;
}
.sf-menu > li > ul > li > a:hover {
  background: white;
  color: #333333;
}

.sf-menu ul li a.sf-with-ul:after {
  font-family: "FontAwesome";
  content: "\f105";
  position: absolute;
  right: 3px;
  top: 5px;
}

.sf-menu > li > ul > li {
  float: left;
  width: 100%;
}
@media (max-width: 479px) {
  .sf-menu > li > ul > li {
    width: 100%;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .sf-menu > li > ul > li.first-in-line-lg {
    clear: left;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .sf-menu > li > ul > li.first-in-line-xs {
    clear: left;
  }
}
.sf-menu > li > ul > li.category-thumbnail div {
  margin: 0 0 3px 0;
}
.sf-menu > li > ul > li.category-thumbnail div img {
  width: 100%;
}

.sf-menu > li > ul > li#category-thumbnail {
  width: 100% !important;
  clear: both;
  overflow: hidden;
  padding: 0;
  margin: 5px 0 0 0;
}
.sf-menu > li > ul > li#category-thumbnail > div {
  float: left;
  padding: 10px 0  0 0;
  width: 100%;
}
@media (max-width: 479px) {
  .sf-menu > li > ul > li#category-thumbnail > div {
    width: 100%;
    text-align: center;
  }
}
.sf-menu > li > ul > li#category-thumbnail > div img {
  max-width: 100%;
  display: block;
}

.cat-title {
  display: none;
}
@media (max-width: 767px) {
  .cat-title {
    display: block;
    cursor: pointer;
    font: 600 18px/22px "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #484848;
    display: block;
    padding: 17px 20px;
    border-bottom: 3px solid #e9e9e9;
    background: #f6f6f6;
    position: relative;
  }
  .cat-title:hover {
    background: #333333;
    border-bottom-color: #666666;
    color: white;
  }
  .cat-title:after {
    display: block;
    font-family: "FontAwesome";
    content: "\f067";
    position: absolute;
    right: 15px;
    top: 18px;
    font-size: 26px;
  }
  .cat-title.active:after {
    content: "\f068";
  }
}

.sf-menu li.sf-search {
  border: none;
}
.sf-menu li.sf-search input {
  display: inline;
  padding: 0 13px;
  height: 30px;
  line-height: 30px;
  background: white;
  margin: 13px 10px 0 0;
  font-size: 13px;
  color: #9c9b9b;
  border: 1px solid #d6d4d4;
}
