/*** ESSENTIAL STYLES ***/
.sf-contener {
  float: left;
  width: auto;
  padding: 0;
  margin: 0 60px;
}
@media (max-width: 1200px) {
  .sf-contener {
    margin: 0 45px;
  }
}
@media (max-width: 991px) {
  .sf-contener {
    width: 420px;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .sf-contener {
    padding: 0 140px 0 0;
    width: 100%;
  }
}

.sf-menu,
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sf-menu {
  position: relative;
  padding: 0;
  width: 100%;
  text-align: left;
}
@media (max-width: 991px) {
  .sf-menu {
    background: white;
    border: 1px solid #dfdfdf;
    display: none;
    position: absolute;
    padding: 1%;
    text-align: left;
    z-index: 1;
  }
}

.sf-menu ul {
  position: absolute;
  top: -999em;
  background: white;
}
@media (max-width: 991px) {
  .sf-menu ul {
    position: relative;
  }
}

.sf-menu ul li {
  width: 100%;
}

.sf-menu li:hover {
  visibility: inherit;
  /* fixes IE7 'sticky bug' */
}

.sf-menu > li {
  display: inline-block;
}
div#PM_ASBlockOutput_2 {
    width: 14%;
    margin-top: 34px;
    float: left;
    padding: 0px;
}
ul#PM_ASCriterionGroupLink_2_6 li {
    float: left;
    margin-right: 10px;
}
.lyl-filter {
    border-bottom: 2px solid #cdcdcd;
    margin-bottom: 30px;
}
.PM_ASBlockOutputHorizontal {
    padding: 0px !important;
    margin-bottom: 10px;
}
h1.page-heading.product-listing {
    padding: 10px 105px;
	    margin-bottom: 30px;
}
@media (max-width: 991px) {
  .sf-menu > li {
    float: none;
    position: relative;
    display: block;
  }
  .sf-menu > li span {
    height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
    z-index: 2;
  }
  .sf-menu > li span:after {
    font-family: "FontAwesome";
    content: "\f067";
    font-size: 10px;
    color: #262626;
    cursor: pointer;
    line-height: 30px;
  }
  .sf-menu > li span.active:after {
    content: "\f068";
  }
}
ul.sf-menu.clearfix.menu-content.sf-js-enabled.sf-arrows {
    margin-top: 21px;
}
.sf-menu > li > a {
  color: #333;
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 25px 7px 26px;
  line-height: 20px;
  position: relative;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0) url("../../../../img/megnor/spacer.png") no-repeat scroll right center;
}
@media (max-width: 1199px) {
  .sf-menu > li > a {
    padding: 25px 15px 26px;
  }
}
@media (max-width: 991px) {
  .sf-menu > li > a {
    background: none;
    padding: 4px 8px;
    color: #262626;
    font-weight: normal;
    text-transform: capitalize;
  }
}
.sf-menu > li:last-child > a {
  background: none;
}
.sf-menu > li.sfHover > a,
.sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a {
  color: #a6a6a6;
}
@media (max-width: 991px) {
  .sf-menu > li.sfHover > a,
  .sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a {
    color: gray;
  }
}

.sf-menu > li:last-child {
  border: none;
}

.sf-menu li li li a {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  padding: 4px 8px;
  position: relative;
  color: #262626;
}
.sf-menu li li li a:hover {
  color: gray;
}
@media (max-width: 991px) {
  .sf-menu li li li a {
    font-size: 13px;
  }
}

.sf-menu li ul {
  display: none;
  top: 100%;
  /* match top ul list item height */
  z-index: 99;
}
@media (max-width: 991px) {
  .sf-menu li ul {
    top: 0;
  }
}

.sf-menu li li ul {
  position: static;
}
@media (min-width: 992px) {
  .sf-menu li li ul {
    position: static;
    display: block !important;
    opacity: 1 !important;
    background: none;
    padding: 6px 0px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  }
}
@media (max-width: 991px) {
  .sf-menu li li ul {
    padding: 0 0 0 20px;
  }
}

.sf-menu li li li ul {
  padding: 0 0 0 20px;
}

.sf-menu li li li ul {
  width: 220px;
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 200px;
  /* match ul width */
  top: 0;
}

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 200px;
  /* match ul width */
  top: 0;
}

.sf-menu > li > ul {
  padding: 0;
  border: 1px solid #d9d9d9;
  text-align: left;
  background: #f5f5f5;
}
@media (max-width: 991px) {
  .sf-menu > li > ul {
    border: medium none;
    background: none;
    padding: 0 0 0 20px;
  }
}
.sf-menu > li > ul > li > a {
  text-transform: uppercase;
  font: 600 13px/22px "Raleway", Helvetica, sans-serif;
  color: #262626;
  display: block;
  padding: 4px 8px;
}
.sf-menu > li > ul > li > a:hover {
  color: gray;
}
@media (max-width: 991px) {
  .sf-menu > li > ul > li > a {
    font-weight: normal;
    text-transform: capitalize;
  }
}

.sf-menu > li > ul > li {
  display: table-cell;
  padding: 22px;
  vertical-align: top;
  width: 200px;
  border-left: 1px solid #dfdfdf;
}
.sf-menu > li > ul > li:first-child {
  border: medium none;
}
@media (max-width: 991px) {
  .sf-menu > li > ul > li {
    border: medium none;
    display: block;
    padding: 0;
    width: 100%;
    position: relative;
  }
}
@media (max-width: 479px) {
  .sf-menu > li > ul > li {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .sf-menu > li > ul > li.first-in-line-lg {
    clear: left;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  .sf-menu > li > ul > li.first-in-line-xs {
    clear: left;
  }
}

.sf-menu > li > ul > li.category-thumbnail {
  width: 100% !important;
  float: none;
  clear: both;
  overflow: hidden;
  display: none;
  padding-right: 0;
}
.sf-menu > li > ul > li.category-thumbnail > div {
  float: left;
  padding-left: 10px;
  width: 33.333%;
}
@media (max-width: 479px) {
  .sf-menu > li > ul > li.category-thumbnail > div {
    width: 100%;
    padding-left: 0;
    padding-top: 10px;
    text-align: center;
  }
}
.sf-menu > li > ul > li.category-thumbnail > div:first-child {
  padding-left: 0;
}
.sf-menu > li > ul > li.category-thumbnail > div img {
  max-width: 100%;
  display: block;
}

.cat-title {
  display: none;
}
@media (max-width: 991px) {
  .cat-title {
    color: #FFF;
    cursor: pointer;
    display: block;
    font: bold 13px/23px "Raleway", Helvetica, sans-serif;
    padding: 24px 15px;
    position: relative;
    text-transform: uppercase;
    text-align: left;
  }
  .cat-title:after {
    display: block;
    font-family: "FontAwesome";
    content: "\f0c9";
    float: right;
    font-size: 21px;
  }
}
@media (max-width: 767px) {
  .cat-title {
    padding: 19px 0;
  }
}

.sf-menu li.sf-search {
  border: none;
}
.sf-menu li.sf-search input {
  display: inline;
  padding: 0 13px;
  height: 30px;
  line-height: 30px;
  background: white;
  margin: 13px 10px 0 0;
  font-size: 13px;
  color: #9c9b9b;
  border: 1px solid #d6d4d4;
}

/* Custom CSS FOR Single Column Only */
@media (min-width: 992px) {
  .sf-menu .onecolumn {
    padding: 22px 22px;
  }
}
.sf-menu .onecolumn li {
  border: medium none;
  display: block;
  padding: 0;
}
div#block_top_menu {
    margin: 21px !important;
	margin-bottom:0px !important;
}
.sf-menu .onecolumn li a {
  font-size: 12px;
  font-weight: normal;
  text-transform: capitalize;
  color: #262626;
}
.sf-menu .onecolumn li a:hover {
  color: gray;
}
