/* Block newsletter */
#columns #newsletter_block_left .form-group {
  margin-bottom: 0;
}
#columns #newsletter_block_left .form-group .form-control {
  max-width: 222px;
  display: inline-block;
  margin-right: 6px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  #columns #newsletter_block_left .form-group .form-control {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px;
}
#columns #newsletter_block_left .success_inline {
  color: #418B19;
}
#columns #newsletter_block_left .warning_inline {
  color: #f13340;
}

/* Block newsletter footer */
.footer-container #newsletter_block_left {
  margin: 31px auto 32px;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 991px) {
  .footer-container #newsletter_block_left {
    margin: 20px auto;
  }
}
.footer-container #newsletter_block_left .news-text {
  /*margin: 10px 0;*/
  display: inline-block;
  vertical-align: middle;
}
.footer-container #newsletter_block_left .news-text .text-content {
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .footer-container #newsletter_block_left .news-text .text-content {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .footer-container #newsletter_block_left .news-text .text-content {
    font-size: 14px;
  }
}
.footer-container #newsletter_block_left h4 {
  float: left;
  font: 600 30px/40px "Open Sans", sans-serif;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .footer-container #newsletter_block_left h4 {
    width: auto;
    margin: 0;
    font-size: 20px;
  }
}
.footer-container #newsletter_block_left h4:after {
  display: none;
}
.footer-container #newsletter_block_left h4:before {
  display: none;
}
.footer-container #newsletter_block_left .block_content {
  overflow: hidden;
  margin: 0 50px 0 0;
  position: relative;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .footer-container #newsletter_block_left .block_content {
    margin: 0px;
  }
}
@media (max-width: 991px) {
  .footer-container #newsletter_block_left .block_content {
    /*overflow: visible;*/
    float: left;
    margin: 20px 0 0 0;
    width: 100%;
  }
}
.footer-container #newsletter_block_left .block_content > form {
  float: left;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}
.footer-container #newsletter_block_left .form-group {
  margin: 0;
}
.footer-container #newsletter_block_left .form-group .form-control {
  height: 40px;
  line-height: 30px;
  background: #f7f7f7;
  border: 1px solid #c5c5c5;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  color: #666666;
  padding: 5px 12px;
  display: inline-block;
  float: left;
}
.footer-container #newsletter_block_left .form-group .form-control:focus {
  -webkit-box-shadow: black 0px 0px 0px;
  -moz-box-shadow: black 0px 0px 0px;
  box-shadow: black 0px 0px 0px;
  border-color: #dfdfdf;
}
@media (max-width: 991px) {
  .footer-container #newsletter_block_left .form-group .form-control {
    float: none;
  }
}
.footer-container #newsletter_block_left .form-group .button-small {
  padding: 2px 35px;
  float: left;
  border: 1px solid #FFF;
  background: #262626;
  margin: 0 0 0 10px;
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 991px) {
  .footer-container #newsletter_block_left .form-group .button-small {
    padding: 2px 15px;
    float: none;
  }
}
@media (max-width: 480px) {
  .footer-container #newsletter_block_left .form-group .button-small {
    margin: 20px 0 0 0;
  }
}
.footer-container #newsletter_block_left .form-group .button-small span {
  color: white;
}
.footer-container #newsletter_block_left .form-group .button-small:hover {
  border: 1px solid #3c3c3c;
  background: #3c3c3c;
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer-container #newsletter_block_left .warning_inline {
  display: block;
  color: #f13340;
  font-size: 13px;
  line-height: 26px;
  clear: both;
}
@media (min-width: 1200px) {
  .footer-container #newsletter_block_left .warning_inline {
    display: inline-block;
    position: relative;
    top: -35px;
    margin-bottom: -35px;
    left: 15px;
    clear: none;
  }
}
.footer-container #newsletter_block_left .newsletter-input {
  max-width: 475px;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .footer-container #newsletter_block_left .newsletter-input {
    max-width: 360px;
  }
}
@media (max-width: 991px) {
  .footer-container #newsletter_block_left .newsletter-input {
    max-width: 63%;
    width: 63%;
  }
}
@media (max-width: 480px) {
  .footer-container #newsletter_block_left .newsletter-input {
    max-width: 90%;
    width: 90%;
  }
}
