ul.product_list.grid li, ul.tm-carousel li {
  padding: 10px 10px 20px;
  text-align: center;
}
@media (min-width: 480px) and (max-width: 767px) {
  ul.product_list.grid li, ul.tm-carousel li {
    width: 50%;
    float: left;
  }
}
ul.product_list.grid li .product-container, ul.tm-carousel li .product-container {
  background: white;
  padding: 0;
  position: relative;
}
ul.product_list.grid li .product-container .product-image-container, ul.tm-carousel li .product-container .product-image-container {
  position: relative;
}
ul.product_list.grid li .product-container .product-image-container img, ul.tm-carousel li .product-container .product-image-container img {
  margin: 0 auto;
}
ul.product_list.grid li .product-container .product-image-container .img_1, ul.tm-carousel li .product-container .product-image-container .img_1 {
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
}
ul.product_list.grid li .product-container .right-block, ul.tm-carousel li .product-container .right-block {
  position: relative;
}
ul.product_list.grid li .product-container .right-block h5, ul.tm-carousel li .product-container .right-block h5 {
  margin: 6px 0 0;
}
ul.product_list.grid li .product-container .content_price, ul.tm-carousel li .product-container .content_price {
  margin: 0 0 10px;
}
ul.product_list.grid li .product-container .old-price,
ul.product_list.grid li .product-container .price,
ul.product_list.grid li .product-container .price-percent-reduction, ul.tm-carousel li .product-container .old-price,
ul.tm-carousel li .product-container .price,
ul.tm-carousel li .product-container .price-percent-reduction {
  display: inline-block;
}
ul.product_list.grid li .product-container .price-percent-reduction, ul.tm-carousel li .product-container .price-percent-reduction {
  margin: 0 5px;
}
ul.product_list.grid li .product-container .button-container, ul.tm-carousel li .product-container .button-container {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  margin-top: -36px;
}
ul.product_list.grid li .product-container .button-container .button.ajax_add_to_cart_button, ul.tm-carousel li .product-container .button-container .button.ajax_add_to_cart_button {
  width: 100%;
}
@media (max-width: 767px) {
  ul.product_list.grid li .product-container .button-container, ul.tm-carousel li .product-container .button-container {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}
@media (min-width: 1200px) {
  ul.product_list.grid li.hovered .product-container .product-image-container .img_1, ul.tm-carousel li.hovered .product-container .product-image-container .img_1 {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  ul.product_list.grid li.hovered .product-container .button-container, ul.tm-carousel li.hovered .product-container .button-container {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  ul.product_list.grid li.hovered .product-container .product-name, ul.tm-carousel li.hovered .product-container .product-name {
    color: #262626;
  }
}
ul.product_list.grid li:hover .product-container .product-image-container .img_1, ul.tm-carousel li:hover .product-container .product-image-container .img_1 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
ul.product_list.grid li:hover .product-container .button-container, ul.tm-carousel li:hover .product-container .button-container {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
ul.product_list.grid li:hover a.product-name,
ul.product_list.grid li:hover .product-name a, ul.tm-carousel li:hover a.product-name,
ul.tm-carousel li:hover .product-name a {
  color: #262626;
}

/*******************************************************
Product Curosol in Home Page Styles 
********************************************************/
ul.tm-carousel li {
  padding: 10px 10px 20px;
  width: 100%;
}

#HOOK_SHOPPING_CART #crossselling h2.centertitle_block {
  background: transparent url("../../../../img/megnor/divider.png") no-repeat scroll center bottom;
  color: #262626;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  float: left;
  width: 100%;
}
