@import "compass";
@import "theme_variables";

/********************************************************
			Megnor Custom Styles
********************************************************/

.tm-carousel
{
	display: none;
	position: relative;
	width: 100%;
	margin: 0;
	-ms-touch-action: pan-y;
	
	.owl-wrapper{
		display: none;
		position: relative;
		-webkit-transform: translate3d(0px, 0px, 0px);
	}

	.owl-wrapper:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	.owl-wrapper-outer{
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	
	.owl-wrapper-outer.autoHeight{
		-webkit-transition: height 500ms ease-in-out;
		-moz-transition: height 500ms ease-in-out;
		-ms-transition: height 500ms ease-in-out;
		-o-transition: height 500ms ease-in-out;
		transition: height 500ms ease-in-out;
	}
	
	.owl-item{
		float: left;
		.manu_image{
			a
			{
				display:inline-block;
				img	{
					width:100%;
				}
			}
		}
		&:hover{
			a{
				img{border-color:blue;}
			}
		}
	}
	
	.owl-wrapper,
	.owl-item{
	/* fix */
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:    hidden;
		-ms-backface-visibility:     hidden;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		text-align:center;
	}


}

	
/* mouse grab icon */
.grabbing { 
    cursor:url("../../img/megnor/grabbing.png") 8 8, move;
}

#index .customNavigation {
	top:0px;
}

.customNavigation{
	position:relative;
	width:100%;
	top: auto;
	right: auto;
	margin: 0;
	text-align:center;
	a.prev{
		padding: 3px 15px;
		background:$light-background;
		&:before {
			content: "\f104";
			font-family: $font-icon;
			font-size: 17px;
			left: 0;
			position: absolute;
			right: 0;
		}
		
	}
	a.next{
		padding: 3px 15px;
		background:$light-background;
		&:before {
			content: "\f105";
			font-family: $font-icon;
			font-size: 18px;
			left: 0;
			position: absolute;
			right: 0;
		}
	}
	a{
		position:relative;
		border: 1px solid $base-border-color;
		color: $base-heading-color;
		left: auto;
		width:34px;
		font-size:0;
		height:34px;
		margin: 0;
		line-height: 26px;
		right: auto;
		text-transform: uppercase;
		@include transition(all 0.1s ease 0s);
		top: auto;
		border:1px solid $base-border-color;
		&:hover {
			background: $link-hover-color;
			border-color:$link-hover-color;
			color:$light-text-color;
			i{
				color:$text-anchorcolor;	
			}
		}
	}
}

#views_block .customNavigation a.thumbs_list_prev{  left: 0;
right:auto;
    top: 10px;}
#views_block .customNavigation a.thumbs_list_next{  right: 0;
    top: 10px;}

#tm-tabcontent .tab-content #datasheet	 { margin:0;}