@import "compass";
@import "theme_variables";


/* line 7, ../sass/lightbox.sass */
body:after {
  content:url(../../img/lightbox/close.png) url(../../img/lightbox/loading.gif);
  display: none;
}

/* line 11, ../sass/lightbox.sass */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-opacity: 0.8;/* Netscape */
-khtml-opacity: 0.8;/* Safari 1.x */
-webkit-opacity:0.8; /* other webkit*/
  display: none;
}

/* line 20, ../sass/lightbox.sass */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
/* line 28, ../sass/lightbox.sass */
.lightbox .lb-image {
  display: block;
  height: auto;
}
/* line 32, ../sass/lightbox.sass */
.lightbox a img {
  border: none;
}

/* line 35, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 44, ../sass/lightbox.sass */
.lb-container {
  padding: 0;
}

/* line 47, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 56, ../sass/lightbox.sass */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background:url(../../img/lightbox/loading.gif) no-repeat;
}

/* line 63, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 71, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 74, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 77, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 84, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}
/* line 87, ../sass/lightbox.sass */
.lb-prev:hover {
    &:before{
		font-family:$font-icon;
		content:"\f104";
		font-size:22px;
		bottom: 0;
		color: #9a9a9a;
		font-size: 40px;
		font-weight: bold;
		height: 30px;
		line-height: 26px;
		margin: auto;
		position: absolute;
		left: 2px;
		top: 0;
		width: 30px;
  }

}

/* line 90, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}
/* line 93, ../sass/lightbox.sass */
.lb-next:hover {
  &:before{
  	font-family:$font-icon;
	content:"\f105";
	font-size:22px;
	bottom: 0;
    color: #9a9a9a;
    font-size: 40px;
    font-weight: bold;
    height: 30px;
    line-height: 26px;
    margin: auto;
    position: absolute;
    right: 2px;
    top: 0;
    width: 30px;
  }
}

/* line 96, ../sass/lightbox.sass */
.lb-dataContainer {
	background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
	margin: 0 auto;
	padding-top: 0;
	width: 100%;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 103, ../sass/lightbox.sass */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
}
/* line 106, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: auto;
  color:#ffffff;
  padding:10px 10px 5px;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 111, ../sass/lightbox.sass */
.lb-data .lb-caption {
	float: left;
    font-size: 14px;
    line-height: 1em;
    margin-bottom: 6px;}
/* line 115, ../sass/lightbox.sass */
.lb-data .lb-number {
	clear: left;
	display: block;
	font-size: 11px;
	padding-bottom: 4px;
	text-transform: uppercase;
}
/* line 121, ../sass/lightbox.sass */
.lb-data .lb-close {
	display: block;
	float: right;
	height: 15px;
	margin: 12px 10px;
	outline: medium none;
	text-align: right;
	width: 15px;
	&:before{
		color: #ffffff;
		content: "\f00d";
		font-family: $font-icon;
		font-size: 17px;
		font-weight: normal;
		padding: 1px;
		vertical-align: -8px;
	}
}
/* line 130, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	-moz-opacity: 1;/* Netscape */
	-khtml-opacity: 1;/* Safari 1.x */
	-webkit-opacity:1; /* other webkit*/
}
