@import "compass";
@import "theme_variables";

ul.product_list.grid ,ul.tm-carousel {
	li {
		padding: 10px 10px 20px;
		text-align: center;
		@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
			width: 50%;
			float: left;
		}
		.product-container {
			background: $light-background;
			padding: 0;
			position: relative;
			.product-image-container {
				position: relative;
				img {
					margin: 0 auto;
				}
				.img_1 {
				  left: 0;
				  @include opacity(0);
				  position: absolute;
				  right: 0;
				  top: 0;
				  max-width: 100%;
				}
			}
			.right-block {
				position: relative;
				h5 {
					margin: 6px 0 0;
				}
			}
			.content_price {
				margin: 0 0 10px;
			}
			.old-price, 
			.price, 
			.price-percent-reduction {
				display: inline-block;
			}
			.price-percent-reduction {
				margin: 0 5px;
			}
			.button-container {
				@include opacity(0);
				margin-top: -36px;
				.button.ajax_add_to_cart_button {
					width: 100%;
				}
				@media (max-width: $screen-xs-max){
					@include opacity(1);
				}
			}
		}
		@media (min-width: $screen-lg) { // min 1200px
			&.hovered {
				.product-container {
					.product-image-container {
						.img_1 {
							@include opacity(1);
						}
					}
					.button-container { @include opacity(1); }
					.product-name { color:$link-hover-color;}
				}
			}
		}
		&:hover {
			.product-container {
				.product-image-container {
					.img_1 {
						@include opacity(1);
					}
				}
				.button-container { @include opacity(1); }
			}
			a.product-name,
			.product-name a {
				color: $product-name-hover-color;
			}
		}
	}
}

/*******************************************************
Product Curosol in Home Page Styles 
********************************************************/

ul.tm-carousel {
	li {
		padding: 10px 10px 20px;
		width: 100%;
	}
}

#HOOK_SHOPPING_CART #crossselling {
	h2.centertitle_block {
		background: transparent url("../../../../img/megnor/divider.png") no-repeat scroll center bottom;
		color: $base-heading-color;
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 30px;
		padding-bottom: 30px;
		text-align: center;
		text-transform: uppercase;
		float: left;
		width: 100%;
	}
}
