/********************************************************
            AVD Custom Styles
********************************************************/

/*.homefeatured {
    width: 1220px;
}

.index #fullpage-lyl {
    margin-left: -9px;
    margin-right: -9px;
}*/
.bankwire img {
    display: none;
}

#descrip-lyl, #oosHook {
    max-width: 500px;
    margin: 0 auto;
}

#attributes {
    display: inline-block;
}

.login-lyl a {
    display: block;
    height: 25px;
    width: 38px;
}

.toggle-footer {
    display: block !important;
}

.footer-container #footer #social_block h4 {
    text-align: center;
}

.tacones-medidas .col-md-2 {
    width: 16%;
    float: left;
}

.tacones-medidas .lyl-filter {
    float: right;
}

.tacones-medidas a img.img-2 {
    left: 35px;
}

.rte span {
    padding-top: 12px;
}

#newsletter_block_lef {
    padding-top: 10px;
}

.cat-title {
    float: left;
}


/* NUEVAS MODIFICACIONES */

.layered_filter input {
    height: 18px !important;
}

#fullpage-lyl {
    padding-top: 44px;
}

h1.page-heading.product-listing {
    display: none !important;
}

.content_scene_cat .align_center {
    padding: 20px;
    margin-top: -23px;
}

#resultados_filtro {
    margin-top: -86px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

.availability,
.product-flags {
    display: none !important;
}

ul.product_list.grid li:hover .product-container .product-image-container .quick-view,
ul.tm-carousel li:hover .product-container .product-image-container .quick-view {
    display: none !important;
}

.rte ul {
    padding-left: 0px !important;
}

.titleFaq {
    margin-bottom: -16px !important;
}

.cms-8 ul {
    padding-bottom: 16px;
}

div.selector {
    width: 83px !important;
}

div.selector span {
    width: 62px !important;
}

ul.product_list.grid li:hover .product-container .button-container,
ul.tm-carousel li:hover .product-container .button-container {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    display: none !important;
}

.cart_navigation_extra {
    display: none;
}

@media screen and (max-width: 480px) {
    ul.product_list.grid li {
        width: 50%;
        float: left;
    }
}

@media screen and (max-width: 400px) {
    ul.product_list.grid li {
        width: 50% !important;
        float: left;
    }
}

@media screen and (max-width: 991px) {
    .footer-container #footer #social_block ul {
        margin: 0px;
        padding: 0;
        margin-bottom: 20px;
    }
    .content_prices {
        margin-top: 75px;
    }
}

@media screen and (max-width: 550px) {
    .tacones-medidas .col-md-2 {
        width: 25%;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }
    .tacones-medidas a img.img-2 {
        left: 70px;
    }
    .tacones-medidas a p {
        font-size: 10px;
    }
    #fullpage-lyl #elsa40 {
        margin-top: -102px;
    }
}

@media (max-width: 767px) {
    ul.product_list.grid li .product-container .button-container,
    ul.tm-carousel li .product-container .button-container {
        padding-top: 25px;
    }
    .login-lyl a {
        height: 42px;
        /* Modificaciones 29/09/2016 */
        display: none;
        /* Modificaciones 29/09/2016 */
    }
    div#block_top_menu {
        margin: -12px 0px 0px 0px !important;
    }
    div#attributes>fieldset {
        float: none !important;
        margin-right: 0% !important;
        display: initial !important;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20% !important;
        float: left;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .col-md-15 {
        width: 20% !important;
        float: left;
        text-align: center;
    }
}