/********************************************************
      Modificaciones AVD
********************************************************/

.right-lyl {
    display: none !important;
}

.cart_navigation_extra {
    display: none;
}

@media screen and (max-width: 992px) {
    .col-md-6.images-four .col-md-3 {
        width: 25%;
        float: left;
    }
}


/********************************************************
			Megnor Custom Styles
********************************************************/

.tm-carousel {
    display: none;
    position: relative;
    width: 100%;
    margin: 0;
    -ms-touch-action: pan-y;
}

.tm-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.tm-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.tm-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.tm-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.tm-carousel .owl-item {
    float: left;
}

.tm-carousel .owl-item .manu_image a {
    display: inline-block;
}

.tm-carousel .owl-item .manu_image a img {
    width: 100%;
}

.tm-carousel .owl-item:hover a img {
    border-color: blue;
}

.tm-carousel .owl-wrapper,
.tm-carousel .owl-item {
    /* fix */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    text-align: center;
}


/* mouse grab icon */

.grabbing {
    cursor: url("../../img/megnor/grabbing.png") 8 8, move;
}

#index .customNavigation {
    top: 0px;
}

.customNavigation {
    position: relative;
    width: 100%;
    top: auto;
    right: auto;
    margin: 0;
    text-align: center;
}

.customNavigation a.prev {
    padding: 3px 15px;
    background: white;
}

.customNavigation a.prev:before {
    content: "\f104";
    font-family: "FontAwesome";
    font-size: 17px;
    left: 0;
    position: absolute;
    right: 0;
}

.customNavigation a.next {
    padding: 3px 15px;
    background: white;
}

.customNavigation a.next:before {
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 18px;
    left: 0;
    position: absolute;
    right: 0;
}

.customNavigation a {
    position: relative;
    border: 1px solid #dfdfdf;
    color: #262626;
    left: auto;
    width: 34px;
    font-size: 0;
    height: 34px;
    margin: 0;
    line-height: 26px;
    right: auto;
    text-transform: uppercase;
    -webkit-transition: all 0.1s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
    top: auto;
    border: 1px solid #dfdfdf;
}

.customNavigation a:hover {
    background: #262626;
    border-color: #262626;
    color: white;
}

.customNavigation a:hover i {
    color: white;
}

#views_block .customNavigation a.thumbs_list_prev {
    left: 0;
    right: auto;
    top: 10px;
}

#views_block .customNavigation a.thumbs_list_next {
    right: 0;
    top: 10px;
}

#tm-tabcontent .tab-content #datasheet {
    margin: 0;
}