/*******************************************************************
					Cart Block Styles
********************************************************************/
#header .shopping_cart {
  display: inline-block;
  float: none;
  position: relative;
}
#header .shopping_cart .ajax_cart_product_txt, #header .shopping_cart .ajax_cart_product_txt_s {
  display: none !important;
}
#header .shopping_cart a {
  text-align: center;
}

.shopping_cart {
  width: auto;
}
@media (max-width: 480px) {
  .shopping_cart {
    padding: 0;
  }
}
.shopping_cart > a:first-child {
  padding: 0px;
  background: rgba(0, 0, 0, 0) url("../../../img/megnor/cart-icon.png") no-repeat scroll 1px 0px;
  display: block;
  height: 25px;
  width: 30px;
  font-weight: bold;
  color: #666666;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 991px) {
  .shopping_cart > a:first-child span.ajax_cart_product_txt, .shopping_cart > a:first-child span.ajax_cart_product_txt_s {
    display: none !important;
  }
}
.shopping_cart > a:first-child b {
  font: 400 14px/22px "Open Sans", sans-serif;
  padding-right: 5px;
  display: none;
}
@media (max-width: 479px) {
  .shopping_cart > a:first-child b {
    font: 400 12px/22px "Open Sans", sans-serif;
    padding: 0;
  }
}
.shopping_cart > a:first-child:hover {
  background-position: 1px 0px;
}
.shopping_cart .ajax_cart_total {
  display: none !important;
}
.shopping_cart .block_cart_expand:after, .shopping_cart .block_cart_collapse:after {
  content: "\f0d7";
  font-family: "FontAwesome";
  display: inline-block;
  float: right;
  font-size: 18px;
  color: #686666;
  padding: 6px 0 0 10px;
}
.shopping_cart .block_cart_collapse:after {
  content: "\f0d8";
  padding: 4px 0px 2px 0px;
}

.cart_block .cart_block_list .remove_link {
  position: absolute;
  right: 5px;
  top: 0;
}
.cart_block .cart_block_list .remove_link a,
.cart_block .cart_block_list .ajax_cart_block_remove_link {
  color: #666666;
  display: block;
  width: 100%;
  height: 100%;
}
.cart_block .cart_block_list .remove_link a:before,
.cart_block .cart_block_list .ajax_cart_block_remove_link:before {
  display: inline-block;
  content: "\f00d";
  font-family: "FontAwesome";
  font-size: 12px;
  line-height: 18px;
}
.cart_block .cart_block_list .remove_link a:hover,
.cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
  color: #262626;
}
.cart_block .cart-images {
  float: left;
  margin-right: 12px;
}
.cart_block .cart-images img {
  width: 80px;
  max-width: 100%;
}
.cart_block .cart-info {
  overflow: hidden;
  position: relative;
  padding-right: 15px;
}
.cart_block .cart-info .product-name a {
  line-height: 18px;
  text-align: left !important;
  display: inline-block;
  color: #666666;
}
.cart_block .cart-info .quantity-formated {
  display: inline-block;
  color: #666666;
  text-transform: uppercase;
  font-size: 10px;
  padding-right: 5px;
}
.cart_block .cart-info .quantity-formated .quantity {
  font-size: 15px;
}
.cart_block .cart-info .price {
  color: #666666;
  font: 13px "Raleway", Helvetica, sans-serif;
}
.cart_block dt {
  font-weight: normal;
  overflow: hidden;
  position: relative;
  margin: 0 0 5px;
}
.cart_block dd {
  position: relative;
}
.cart_block dd .cart_block_customizations {
  border-top: 1px dashed #333333;
}
.cart_block dd .cart_block_customizations li {
  padding: 10px 20px;
}
.cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
  position: absolute;
  right: 10px;
}
.cart_block .cart_block_no_products {
  margin: 0;
  padding: 10px 20px;
}
.cart_block .cart-prices {
  border-top: 1px solid #dfdfdf;
  font-weight: bold;
  padding: 10px 20px 22px 20px;
}
.cart_block .cart-prices .cart-prices-line {
  overflow: hidden;
  padding: 0;
}
.cart_block .cart-prices .cart-prices-line.last-line {
  border: none;
}
.cart_block .cart-prices .cart-prices-line span {
  float: left;
  color: #666666;
}
.cart_block .cart-prices .cart-prices-line span.price {
  float: right;
  color: #666666;
  font-size: 13px;
  font-weight: normal;
}
.cart_block .cart-buttons {
  overflow: hidden;
  padding: 5px 0;
  margin: 0;
  background: #f6f6f6;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cart_block .cart-buttons {
    padding: 20px 5px 10px 5px;
  }
}
.cart_block .cart-buttons a {
  width: auto;
  float: right;
  text-align: center;
  background: white;
  color: #262626;
}
.cart_block .cart-buttons a#button_order_cart span {
  padding: 4px 10px;
  line-height: 24px;
}
.cart_block .cart-buttons a:hover {
  border-color: white;
}

/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header .cart_block {
  background: white;
  display: none;
  height: auto;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 46px;
  margin: 0;
  width: 270px;
  text-align: left;
  z-index: 100;
  border: 1px solid #dfdfdf;
}
@media (max-width: 767px) {
  #header .cart_block {
    top: 39px;
  }
}
@media (max-width: 319px) {
  #header .cart_block {
    width: 240px;
  }
}
#header .cart_block .cart_block_list .remove_link a,
#header .cart_block .cart_block_list .ajax_cart_block_remove_link {
  outline: none;
  text-decoration: none;
}
#header .cart_block .cart_block_list .remove_link a:hover,
#header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
  color: #262626;
}
#header .cart_block dl {
  margin-bottom: 5px;
}
#header .cart_block dl.products {
  max-height: 360px;
  overflow-y: scroll;
}
#header .cart_block .product-atributes {
  padding: 0;
  font-size: 11px;
}
#header .cart_block .product-atributes a {
  color: #666666;
}
#header .cart_block .cart-prices {
  padding: 15px 0px 5px;
}
#header .cart_block .cart-buttons {
  background: none;
}
#header .block_content {
  margin: 0;
}

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
  display: none;
}

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
  float: right;
}

.cart_block table.vouchers {
  clear: both;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.cart_block table.vouchers tr td {
  padding: 2px;
}
.cart_block table.vouchers tr td.quantity {
  margin-right: 5px;
  min-width: 18px;
}
.cart_block table.vouchers tr td.delete {
  padding-left: 0;
  padding-right: 0;
  text-align: right;
  width: 15px;
}

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

#layer_cart {
  background-color: white;
  position: absolute;
  display: none;
  z-index: 99;
  width: 85%;
  margin-right: 8%;
  margin-left: 8%;
  margin-top: 60px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#layer_cart .layer_cart_product {
  padding: 18px 25px;
  overflow: hidden;
  position: static;
}
#layer_cart .layer_cart_product .title {
  font: 400 17px/22px "Raleway", Helvetica, sans-serif;
  margin-bottom: 22px;
  display: block;
}
@media (max-width: 767px) {
  #layer_cart .layer_cart_product .title {
    font-size: 17px;
    padding-right: 0;
    line-height: normal;
  }
}
#layer_cart .layer_cart_product .title i {
  float: left;
  font-size: 20px;
  line-height: 25px;
  padding-right: 6px;
}
@media (max-width: 767px) {
  #layer_cart .layer_cart_product .title i {
    font-size: 22px;
    line-height: 22px;
  }
}
#layer_cart .layer_cart_product .product-image-container {
  max-width: 178px;
  float: left;
  margin-right: 30px;
}
@media (max-width: 480px) {
  #layer_cart .layer_cart_product .product-image-container {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
#layer_cart .layer_cart_product .layer_cart_product_info {
  padding: 15px 0 0 0;
}
#layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
  display: block;
  padding-bottom: 8px;
}
#layer_cart .layer_cart_product .layer_cart_product_info > div {
  padding-bottom: 7px;
}
#layer_cart .layer_cart_product .layer_cart_product_info > div strong {
  padding-right: 3px;
}
#layer_cart .layer_cart_cart {
  border-left: 1px solid #dfdfdf;
  padding: 21px 25px 150px 25px;
  -webkit-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  -ms-border-radius: 0px 4px 4px 0px;
  -o-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
  position: relative;
}
@media (min-width: 1200px) {
  #layer_cart .layer_cart_cart {
    min-height: 318px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #layer_cart .layer_cart_cart {
    min-height: 360px;
  }
}
@media (max-width: 991px) {
  #layer_cart .layer_cart_cart {
    border-left: none;
    border-top: 1px solid #dfdfdf;
  }
}
#layer_cart .layer_cart_cart .title {
  font: 400 17px/22px "Raleway", Helvetica, sans-serif;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 13px;
  margin-bottom: 17px;
  display: block;
}
@media (max-width: 767px) {
  #layer_cart .layer_cart_cart .title {
    font-size: 17px;
  }
}
#layer_cart .layer_cart_cart .layer_cart_row {
  padding: 0 0 7px 0;
}
#layer_cart .layer_cart_cart .button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 30px 20px 30px;
}
#layer_cart .layer_cart_cart .button-container .btn {
  margin-bottom: 10px;
}
#layer_cart .layer_cart_cart .button-container span.exclusive-medium {
  margin-right: 5px;
}
#layer_cart .layer_cart_cart .button-container span.exclusive-medium i {
  padding-right: 5px;
}
#layer_cart .cross {
  position: absolute;
  right: 7px;
  top: 8px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #666666;
  z-index: 2;
}
#layer_cart .cross:before {
  content: "\f057";
  display: block;
  font-family: "FontAwesome";
  font-size: 25px;
  line-height: 25px;
}
#layer_cart .cross:hover {
  color: #262626;
}
#layer_cart .continue {
  cursor: pointer;
}
#layer_cart p {
  padding: 0px;
}

/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content {
  border-top: 1px solid #dfdfdf;
  padding: 26px 30px 40px 30px;
  position: relative;
}
#layer_cart .crossseling .crossseling-content h2.centertitle_block {
  background: transparent url("../../../img/megnor/divider.png") no-repeat scroll center bottom;
  color: #262626;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  float: left;
  width: 100%;
}
#layer_cart .crossseling #blockcart_list {
  width: 100%;
  margin: 0 auto 50px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #layer_cart .crossseling #blockcart_list {
    width: 692px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #layer_cart .crossseling #blockcart_list {
    width: 94%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #layer_cart .crossseling #blockcart_list {
    width: 340px;
  }
}
@media (max-width: 479px) {
  #layer_cart .crossseling #blockcart_list {
    width: 160px;
  }
}
#layer_cart .crossseling #blockcart_list ul {
  display: block;
}
#layer_cart .crossseling #blockcart_list ul li {
  float: left;
  width: 178px;
  margin: 0;
  text-align: center;
}
#layer_cart .crossseling #blockcart_list ul li .product-image-container {
  text-align: center;
}
#layer_cart .crossseling #blockcart_list ul li .product-image-container img {
  width: 100%;
}
#layer_cart .crossseling #blockcart_list ul li .product-image-container .img_1 {
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
}
#layer_cart .crossseling #blockcart_list ul li h5 {
  margin: 0;
}
#layer_cart .crossseling #blockcart_list ul li .product-name {
  padding-bottom: 5px;
}
#layer_cart .crossseling #blockcart_list ul li .product-name a {
  font-size: 15px;
  line-height: 20px;
}
#layer_cart .crossseling #blockcart_list ul li:hover .product-name {
  color: #262626;
}
#layer_cart .crossseling #blockcart_list ul li:hover .product-image-container:hover .img_1 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#layer_cart .crossseling #blockcart_list .bx-wrapper {
  position: static;
  margin: 0 auto !important;
}
#layer_cart .crossseling #blockcart_list .bx-controls {
  width: 100%;
  float: left;
  position: absolute;
  right: 0;
  bottom: 35px;
  text-align: center;
}
#layer_cart .crossseling #blockcart_list .bx-controls-direction {
  direction: ltr !important;
}
#layer_cart .crossseling #blockcart_list a.bx-prev,
#layer_cart .crossseling #blockcart_list a.bx-next {
  display: inline-block;
  font-size: 0;
  color: #262626;
  border: 1px solid #262626;
  background: #FFF;
  height: 25px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  width: 25px;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:hover,
#layer_cart .crossseling #blockcart_list a.bx-next:hover {
  color: #c0c0c0;
}
#layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
#layer_cart .crossseling #blockcart_list a.bx-next.disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:before,
#layer_cart .crossseling #blockcart_list a.bx-next:before {
  font-size: 18px;
  font-weight: normal;
  vertical-align: middle;
  position: absolute;
  left: 4px;
  color: #262626;
  padding: 0;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:hover,
#layer_cart .crossseling #blockcart_list a.bx-next:hover {
  background: #262626;
  border-color: #262626;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:hover:before,
#layer_cart .crossseling #blockcart_list a.bx-next:hover:before {
  color: #FFFFFF;
}
#layer_cart .crossseling #blockcart_list a.bx-prev {
  left: auto;
  right: 5px;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:before {
  font-family: "FontAwesome";
  content: "\f104";
  width: 18px;
}
#layer_cart .crossseling #blockcart_list a.bx-next {
  right: 0;
}
#layer_cart .crossseling #blockcart_list a.bx-next:before {
  font-family: "FontAwesome";
  content: "\f105";
  width: 18px;
}

#header .header_cart {
  float: right;
  position: relative;
  z-index: 9;
  padding: 0;
  width: 60px;
  text-align: center;
  margin: 25px 0 0 0;
}
@media (max-width: 767px) {
  #header .header_cart {
    bottom: 8px;
    margin: 5px 0 0;
    position: absolute;
    right: -12px;
	
    vertical-align: top;
  }
}

.shopping_cart > a:first-child .ajax_cart_quantity, .shopping_cart > a:first-child .ajax_cart_no_product {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #d5d5d5 none repeat scroll 0 0;
  border: medium none;
  color: #000 !important;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 13px;
  padding: 0 4px 2px;
  position: absolute;
  right: -3px;
  text-align: center;
  top: -11px;
}
