
    <table class="table table-mail" style="width:100%;margin-top:10px;"><tbody><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
<td style="padding:7px 0;" align="center">
<table class="table" style="width:100%;" bgcolor="#ffffff"><tbody><tr><td class="logo" style="border-bottom:4px solid #333333;padding:7px 0;" align="center"><a title="{shop_name}" href="{shop_url}" style="color:#337ff1;"> <img src="{shop_logo}" alt="{shop_name}" /></a></td>
</tr><tr><td class="titleblock" style="padding:7px 0;" align="center"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Hola {firstname} {lastname},</span><br /><span class="subtitle" style="font-weight:500;font-size:16px;text-transform:uppercase;line-height:25px;">Gracias por crear una cuenta de cliente en {shop_name}.</span> </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td style="padding:7px 0;" width="10"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Detalles de su cuenta en {shop_name}</p>
<span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"><span style="color:#777;"> Estos son sus datos de acceso:<br /><span style="color:#333;"><strong>Dirección email: <a href="mailto:{email}" style="color:#337ff1;">{email}</a></strong></span><br /><span style="color:#333;"><strong>Contraseña:</strong></span> {passwd} </span> </span></td>
<td style="padding:7px 0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td style="padding:7px 0;" width="10"> </td>
<td style="padding:7px 0;">
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Consejos de Seguridad:</p>
<ol style="margin-bottom:0;"><li>Mantenga los datos de su cuenta en un lugar seguro.</li>
<li>No comparta los detalles de su cuenta con otras personas.</li>
<li>Cambie su clave regularmente.</li>
<li>Si sospecha que alguien está usando ilegalmente su cuenta, avísenos inmediatamente.</li>
</ol></td>
<td style="padding:7px 0;" width="10"> </td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="linkbelow" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span>Ahora podrá realizar pedidos en nuestra tienda: <a href="{shop_url}" style="color:#337ff1;">{shop_name}</a></span> </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;"><span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a> creado por <a href="http://www.prestashop.com/" style="color:#337ff1;">PrestaShop™</a></span></td>
</tr></tbody></table></td>
<td class="space" style="width:20px;padding:7px 0;"> </td>
</tr></tbody></table>