
    		<table class="table table-mail" style="width:100%;margin-top:10px;"><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
				<td align="center" style="padding:7px 0;">
					<table class="table" bgcolor="#ffffff" style="width:100%;"><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;">
								<a title="{shop_name}" href="{shop_url}" style="color:#337ff1;">
									<img src="{shop_logo}" alt="{shop_name}" /></a>
							</td>
						</tr><tr><td align="center" class="titleblock" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Hola {firstname} {lastname},</span><br /><span class="subtitle" style="font-weight:500;font-size:16px;text-transform:uppercase;line-height:25px;">Le agradecemos por realizar sus compras en {shop_name}!</span>
		</font>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
				<td style="padding:7px 0;">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
							Detalles del pedido						</p>
						<span style="color:#777;">
							<span style="color:#333;"><strong>Pedido:</strong></span> {order_name} Situado en {date}<br /><br /><span style="color:#333;"><strong>Pago:</strong></span> {payment}
						</span>
					
				</td>
				<td width="10" style="padding:7px 0;"> </td>
			</tr></table></td>
</tr><tr><td style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			</font><table class="table table-recap" bgcolor="#ffffff" style="width:100%;border-collapse:collapse;"><!-- Title --><tr><th bgcolor="#f8f8f8" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;">Referencia</th>
					<th bgcolor="#f8f8f8" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;">producto</th>
					<th bgcolor="#f8f8f8" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;" width="17%">Precio unitario</th>
					<th bgcolor="#f8f8f8" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;">Cantidad</th>
					<th bgcolor="#f8f8f8" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;" width="17%">Precio total</th>
				</tr><tr><td colspan="5" style="border:1px solid #D6D4D4;text-align:center;color:#777;padding:7px 0;">
						  {products} 
					</td>
				</tr><tr><td colspan="5" style="border:1px solid #D6D4D4;text-align:center;color:#777;padding:7px 0;">
						  {discounts}
					</td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Productos</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" align="right" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										{total_products}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Descuentos</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										{total_discounts}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Papel de regalo</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										{total_wrapping}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Transporte</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										{total_shipping}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Impuesto total</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										{total_tax_paid}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr><tr class="conf_body"><td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="2" face="Open-sans, sans-serif" color="#555454">
										<strong>Pago total</strong>
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
					<td bgcolor="#f8f8f8" colspan="4" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;">
						<table class="table" style="width:100%;border-collapse:collapse;"><tr><td width="10" style="color:#333;padding:0;"> </td>
								<td align="right" style="color:#333;padding:0;">
									<font size="4" face="Open-sans, sans-serif" color="#555454">
										{total_paid}
									</font>
								</td>
								<td width="10" style="color:#333;padding:0;"> </td>
							</tr></table></td>
				</tr></table>
	</td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
				<td style="padding:7px 0;">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
							Transporte						</p>
						<span style="color:#777;">
							<span style="color:#333;"><strong>Transportista:</strong></span> {carrier}<br /><br /><span style="color:#333;"><strong>Pago:</strong></span> {payment}
						</span>
					
				</td>
				<td width="10" style="padding:7px 0;"> </td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td style="padding:7px 0;">
		<table class="table" style="width:100%;"><tr><td class="box address" width="310" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
					<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
							<td style="padding:7px 0;">
								<font size="2" face="Open-sans, sans-serif" color="#555454">
									</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
										Dirección de entrega									</p>
									<span style="color:#777;">
										{delivery_block_html}
									</span>
									
								
							</td>
							<td width="10" style="padding:7px 0;"> </td>
						</tr></table></td>
				<td width="20" class="space_address" style="padding:7px 0;"> </td>
				<td class="box address" width="310" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
					<table class="table" style="width:100%;"><tr><td width="10" style="padding:7px 0;"> </td>
							<td style="padding:7px 0;">
								<font size="2" face="Open-sans, sans-serif" color="#555454">
									</font><p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">
										Dirección de facturación									</p>
									<span style="color:#777;">
										{invoice_block_html}
									</span>
									
								
							</td>
							<td width="10" style="padding:7px 0;"> </td>
						</tr></table></td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="linkbelow" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span>
				Usted puede revisar su pedido y descargar la factura desde <a href="{history_url}" style="color:#337ff1;">"Historial de pedidos"</a> de su cuenta de cliente, haga clic en <a href="{my_account_url}" style="color:#337ff1;"></a> en nuestra tienda.			</span>
		</font>
	</td>
</tr><tr><td class="linkbelow" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span>
				Si tiene una cuenta de invitado, puede seguir su pedido desde la sección: <a href="{guest_tracking_url}?id_order={order_name}" style="color:#337ff1;">"Seguimiento de invitado"</a> en nuestra tienda.			</span>
		</font>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
						</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;">
								<span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a> creado por <a href="http://www.prestashop.com/" style="color:#337ff1;">PrestaShop™</a></span>
							</td>
						</tr></table></td>
				<td class="space" style="width:20px;padding:7px 0;"> </td>
			</tr></table>