
    		<table class="table table-mail" style="width:100%;margin-top:10px;"><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
				<td align="center" style="padding:7px 0;">
					<table class="table" bgcolor="#ffffff" style="width:100%;"><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;">
								<a title="{shop_name}" href="{shop_url}" style="color:#337ff1;">
									<img src="{shop_logo}" alt="{shop_name}" /></a>
							</td>
						</tr><tr><td align="center" class="titleblock" style="padding:7px 0;">
		<span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Hola {firstname} {lastname},</span>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="linkbelow" style="padding:7px 0;">
		<span>{reply}</span>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="linkbelow" style="padding:7px 0;">
		<span>
			Por favor, no conteste a este correo electrónico, no recibiremos su respuesta.			<br />
			Si desea contestar, por favor, use el siguiente enlace: <a href="{link}" style="color:#337ff1;">{link}</a>		</span>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
						</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;">
								<span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a> creado por <a href="http://www.prestashop.com/" style="color:#337ff1;">PrestaShop™</a></span>
							</td>
						</tr></table></td>
				<td class="space" style="width:20px;padding:7px 0;"> </td>
			</tr></table>