@import "compass";
@import "theme_variables";
#search_block_top {
	float: right;
	display: block;
	padding: 0;
	width: auto;
	margin: 20px 0 0;
	@media (max-width: $screen-xs-max){
		bottom: 12px;
		margin: 5px 0 0;
		position: absolute;
		right: 85px;
	}
	.search_button {
		background: rgba(0, 0, 0, 0) url("../../../img/megnor/search-icon.png") no-repeat scroll 5px -93px;
		border: medium none;
		color: #ffffff;
		cursor: pointer;
		display: block;
		font-size: 0;
		height: 33px;
		padding: 0;
		position: relative;
		text-align: center;
		width: 30px;
		z-index: 1;
		&:hover {
			@include opacity(0.5);
		}
	}
	.searchtoggle {
		display: none;
		position: absolute;
		right: 0;
		top: 51px;
		width: 340px;
		z-index: 1;
		@media (max-width: $screen-xs-max) {
			top: 45px;
		}
		@media (max-width: $screen-xs) {
			width:200px;	
		}
	}
	.searchtoggle.open{
		display:block;
	}
	#searchbox {
		float: left;
		width: 100%;

	}
	.btn.button-search {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		border: medium none;
		color: #b2b2b2;
		padding: 6px 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 30px;
		span {
			display: none;
		}
		&:before {
			content: "\f105";
			display: block;
			font-family: $font-icon;
			font-size: 20px;
			width: 100%;
			text-align: center;
		}
		&:hover {
			color: $link-hover-color;	
		}
	}
	#search_query_top {
		background: #fff none repeat scroll 0 0;
		border: 1px solid #d9d9d9;
		display: inline;
		font-size: 13px;
		height: 40px;
		line-height: normal;
		padding: 10px 40px 10px 10px;
		@media (max-width: $screen-md-max) {
		}
		@media (max-width: $screen-sm-max) {
		}
		@media (max-width: $screen-xs-max) {
		}
		@media (max-width: $screen-xs) {
			width:200px;	
		}
	}
}

.ac_results {
	background: $light-background;
	border: 1px solid $base-border-color;
	width: 271px !important;
	margin-top: -1px;
	li {
		padding: 0 10px;
		font-weight: normal;
		color: #686666;
		font-size: 13px;
		line-height: 22px;
		&.ac_odd {
			background: $light-background;
		}
		&:hover, &.ac_over {
			background: $base-box-bg;	
		}
	}
}	

form#searchbox {
	position: relative;
	label {
		color: $base-text-color;
	}
	input#search_query_block {
		margin-right:10px;
		max-width:222px;
		margin-bottom:10px;
		display:inline-block;
		float:left;
	}
	.button.button-small {
		float:left;
		i {
			margin-right:0;
		}
	}
}
.form-control:focus{box-shadow:none;}