@import "compass";
@import "theme_variables";

.tmhomeslider {
	margin: 0 0 15px 0;
	padding: 0;
	position: relative;
	float:left;
	width:100%;
	overflow:hidden;
	.item img {
		max-width: 100%;
		width:100%;
	}
	.owl-carousel {
		display: none;
		position: relative;
		width: 100%;
		-ms-touch-action: pan-y;
		.owl-wrapper-outer{
			overflow: hidden;
			position: relative;
			width: 100%;
			.owl-wrapper{
				display: none;
				position: relative;
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility:    hidden;
				-ms-backface-visibility:     hidden;
				-webkit-transform: translate3d(0,0,0);
				-moz-transform: translate3d(0,0,0);
				-ms-transform: translate3d(0,0,0);
				&:after {
					content: ".";
					display: block;
					clear: both;
					visibility: hidden;
					line-height: 0;
					height: 0;
				}
				.owl-item{
					float: left;
					-webkit-backface-visibility: hidden;
					-moz-backface-visibility:    hidden;
					-ms-backface-visibility:     hidden;
					-webkit-transform: translate3d(0,0,0);
					-moz-transform: translate3d(0,0,0);
					-ms-transform: translate3d(0,0,0);
				}
			}
			&.autoHeight{
				-webkit-transition: height 500ms ease-in-out;
				-moz-transition: height 500ms ease-in-out;
				-ms-transition: height 500ms ease-in-out;
				-o-transition: height 500ms ease-in-out;
				transition: height 500ms ease-in-out;
			}
		}
		
		.owl-buttons {
			.owl-prev { 
				left: -50px;
				&:hover { 
					@include opacity(1);
				}
			
					.icon-caret-left{
						&:before{
							content:"\f177";
						}
					}
				
			}
			.owl-next { 
				right: -50px;
				&:hover { 
					@include opacity(1);
				}
				
					.icon-caret-right{
						&:before{
							content:"\f178";
						}
					}
				
			}
			div {
				border: 2px solid #e6e6e6;	 
				height:34px;
				width:50px;  
				color:#FFFFFF;
				text-align:center;
				position: absolute;
				cursor: pointer;
				@include opacity(0.7);
				@include text-shadow(1px 1px 0 rgba(255, 255, 255, 0.3));
				@include transition (all 0.3s ease 0s);
				top: 47%;
				i {
					font-size: 22px;
					letter-spacing: 0;
					margin: 4px 0 0;
				}
				@media (max-width: $screen-xs) { // max 480px 
					@include opacity(0);
				}
			}
			@media (max-width: $screen-xs) { // max 480px 
					display:none;
			}
		} 
		.owl-pagination {
			bottom: 10px;
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			text-align: center;
			.owl-page {
				display: inline-block;
				margin: 0px 4px;
				span {
					display: block;
					width: 11px;
					height: 11px;
					background: $light-background;
					border:1px solid #262626;
					cursor: pointer;
					@include transition(all 0.1s ease 0s);
				}
				&.active, &:hover {
					span  {
						background: $light-background;
						border:3px solid #262626;
					}
				}
				&.active {
					span  {
						cursor: default;
					}
				}
			}
		}
	}
	&:hover {
		.owl-carousel {
			.owl-buttons {
				.owl-prev {
					left: 25px;
				}
				.owl-next {
					right: 25px;
				}
			}
		}
	}
}

#spinner {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: url("../../../../img/megnor/ajax-loader.gif") 50% 50% no-repeat #f2f2f2;
}