/**
* Cash On Delivery With Fee
*
* NOTICE OF LICENSE
*
* This product is licensed for one customer to use on one installation (test stores and multishop included).
* Site developer has the right to modify this module to suit their needs, but can not redistribute the module in
* whole or in part. Any other use of this module constitues a violation of the user agreement.
*
* DISCLAIMER
*
* NO WARRANTIES OF DATA SAFETY OR MODULE SECURITY
* ARE EXPRESSED OR IMPLIED. USE THIS MODULE IN ACCORDANCE
* WITH YOUR MERCHANT AGREEMENT, KNOWING THAT VIOLATIONS OF
* PCI COMPLIANCY OR A DATA BREACH CAN COST THOUSANDS OF DOLLARS
* IN FINES AND DAMAGE A STORES REPUTATION. USE AT YOUR OWN RISK.
*
*  @author    idnovate
*  @version   2.0.0
*  @copyright 2016 idnovate
*  @license   See above
*/
#module-codfee-codfee_payment #left_column {display:none}
#module-codfee-payment #left_column {display:none}
#module-codfee-codfee_payment #center_column {width:100%}
#module-codfee-payment #center_column {width:100%}

#payment_form {
	padding: 15px;
	border: 1px solid #CCC;
	font-size: 12px;
	color: black;
	background: #F8F8F8;
}

#payment_form label {
	display: inline-block;
	padding: 6px 15px;
	width: 230px;
	font-size: 14px;
	text-align: right;
}

#payment_form p.text input, #payment_form p.select select {
	padding: 0 5px;
	height: 22px;
	width: 260px;
	border: 1px solid #CCC;
	font-size: 12px;
	color: #666;
}

#payment_form p.text, #payment_form required {
	color: #222;
}

#payment_form #errorDiv {
	margin-bottom: 15px;
}

#payment_form h3 {
	font-size: 13px;
}