#left_column #layered_block_left .block_content #layered_form, #right_column #layered_block_left .block_content #layered_form {
  padding: 0 0 20px;
}
#left_column #layered_block_left .block_content #layered_form > div > div, #right_column #layered_block_left .block_content #layered_form > div > div {
  margin: 10px 0 0;
}
#left_column #layered_block_left .block_content #layered_form #enabled_filters ul li, #right_column #layered_block_left .block_content #layered_form #enabled_filters ul li {
  display: inline-block;
}
#left_column #layered_block_left .block_content #layered_form #enabled_filters ul li a, #right_column #layered_block_left .block_content #layered_form #enabled_filters ul li a {
  float: right;
  margin: 0 0 0 10px;
}
#left_column #layered_block_left .block_content #layered_form .layered_filter_ul, #right_column #layered_block_left .block_content #layered_form .layered_filter_ul {
  padding: 0;
}
#left_column #layered_block_left .block_content #layered_form .layered_filter_ul li, #right_column #layered_block_left .block_content #layered_form .layered_filter_ul li {
  padding: 0;
}
#left_column #layered_block_left .block_content #layered_form .layered_filter_ul li .disabled, #right_column #layered_block_left .block_content #layered_form .layered_filter_ul li .disabled {
  color: #666;
}
#left_column #layered_block_left .block_content #layered_form .layered_filter_ul .color-option, #right_column #layered_block_left .block_content #layered_form .layered_filter_ul .color-option {
  border: 1px solid #dfdfdf;
  height: 16px;
  vertical-align: middle;
  width: 16px;
  margin-right: 5px;
}
#left_column #layered_block_left .block_content #layered_form .layered_filter_ul .color-option.on, #right_column #layered_block_left .block_content #layered_form .layered_filter_ul .color-option.on {
  border: 1px solid red;
}
#left_column #layered_block_left .block_content #layered_form .layered_filter_ul label, #right_column #layered_block_left .block_content #layered_form .layered_filter_ul label {
  font-weight: normal;
}
#left_column #layered_block_left .block_content #layered_form .layered_subtitle, #right_column #layered_block_left .block_content #layered_form .layered_subtitle {
  display: inline-block;
  font-weight: 600;
  font-size: 13px;
  color: #262626;
  text-transform: capitalize;
  margin: 0 0 5px;
}

.loading_img {
  background: none repeat scroll 0 0 #FBFBFB;
  border: 1px solid #DDDDDD;
  height: 60px;
  left: 10px;
  padding: 10px 15px 15px;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 98%;
  z-index: 999;
}
.loading_img img {
  margin: 0 auto;
}

.ui-slider-horizontal {
  height: 7px;
  border: medium none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: #f5f5f5;
}
.ui-slider-horizontal .ui-slider-range {
  background: #dfdfdf;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none repeat scroll 0 0 #262626;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #555555;
  height: 10px;
  width: 10px;
  border: 1px solid #262626;
  -webkit-transform: rotate(47deg);
  -moz-transform: rotate(47deg);
  -ms-transform: rotate(47deg);
  -o-transform: rotate(47deg);
  transform: rotate(47deg);
  margin-top: 2px;
  font-weight: normal;
}
