.centrar
	{
		position: absolute;
		/*nos posicionamos en el centro del navegador*/
		top:50%;
		left:50%;
		/*determinamos una anchura*/
		width: 257px;
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
		margin-left: -133px;
		/*determinamos una altura*/
		height: 263px;
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top: -150px;
		padding:5px;
	}