#featured-products_block_center_by_tag{
    clear: both;
    	
}

#featured-products_block_center_by_tag h5 {
	margin-bottom: 10px;
        font-size: 12px;
}

#featured-products_block_center_by_tag h5 a,
#featured-products_block_center_by_tag h5 a:visited{
    color: #303438;
}

#featured-products_block_center_by_tag h5 a:hover{
    color: #52b54d;
}

#featured-products_block_center_by_tag .product_image {
	display:block;
	position:relative;
        margin-bottom: 10px;
        /*overflow:hidden;*/
}

#featured-products_block_center_by_tag .product_image img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#featured-products_block_center_by_tag .product_image:hover img {
    opacity: 0.7;
}

#featured-products_block_center_by_tag .product_image span.new {
        display: block;
        text-indent: -99999px;
        
	position: absolute;
	top: -5px;
	left:-4px;
        z-index: 4;
        
	width: 84px;
        height: 84px;
        background: url('../../../img/new.png');
        background-repeat: no-repeat;
        background-position: left top;
}

#featured-products_block_center_by_tag .product_desc {height:45px;}
#featured-products_block_center_by_tag .product_desc,
#featured-products_block_center_by_tag .product_desc a {
	color:#666
}
#featured-products_block_center_by_tag .lnk_more {
	display:inline;
	padding-right:10px;
	font-weight:bold;
	font-size:10px;
	color:#0088cc;
	background:url(img/arrow_right_1.png) no-repeat 100% 3px;
}
#featured-products_block_center_by_tag .price_container {
    float: left;
    margin-top: 5px;
    padding:0;
}
#featured-products_block_center_by_tag .price {
	font-weight:bold;
	font-size:14px;
	color:#c5082b;
}

#featured-products_block_center_by_tag li {
    margin-bottom: 3.8%;
    float: left;	
}

#featured-products_block_center_by_tag li .btn {
    float: right;
}

#featured-products_block_center_by_tag li .btn:hover {
    background: #52b54d;
}

#featured-products_block_center_by_tag li span.exclusive {display:none;}

#featured-products_block_center_by_tag li .product_desc {
    display: none;
}

#featured-products_block_center_by_tag li .lnk_more {
    display: none;
}

#featured-products_block_center_by_tag li a:hover{
    background: none;
}

#featured-products_block_center_by_tag li a.btn-cart:hover{
    background: #52b54d;
    color: #fff;
    text-shadow: none;
}

#featured-products_block_center_by_tag .alert {
    margin: 0;
    padding: 3px 12px;
    text-align: center;
}

/* Landscape phone to portrait tablet */
@media (max-width: 747px) { 
    #featured-products_block_center_by_tag .price_container{
        float:none;
    }
    
    #featured-products_block_center_by_tag li .btn{
        float:none;
    }
}
