.container{float:left;clear:both;width:98%;padding:0px;margin:0 auto;display:block;background:#ccc;border:1px solid #333;-moz-border-radius:0 0 7px 7px;-webkit-border-radius:0 0 7pc 7px;border-radius: 0 0 7px 7px;min-height: 450px;max-height: 450px;overflow-y:show;overflow-x: hidden;}
#tabsImax, #tabsImaxEdit{float:left;margin-bottom:0;padding:0;list-style:none;height:32px;width:959px;}
#tabsImax li, #tabsImaxEdit li{float:left;margin:0;padding:0;height:31px;line-height:31px;border:1px solid #333;margin-bottom:-1px;background:#333;overflow:hidden;position:relative;border:1px solid #333;-moz-border-radius:7px 7px 0 0;-webkit-border-radius:7px 7px 0 0;border-radius: 7px 7px 0 0;}
#tabsImax li a, #tabsImaxEdit li a{text-decoration:none;color:#fff;display:block;font-size:13px;padding:0 20px;border:1px solid #fff;outline:none;-moz-border-radius:7px 7px 0 0;-webkit-border-radius:7px 7px 0 0;border-radius: 7px 7px 0 0;}
#tabsImax li a:hover, #tabsImaxEdit li a:hover{text-decoration:none;background:#666;}
#tabsImax li.activa,#tabsImax li.activa a,#tabsImax li.activa a:hover, #tabsImaxEdit li.activa,#tabsImaxEdit li.activa a,#tabsImaxEdit li.activa a:hover {color:#333;font-weight:bold;background:#ccc;border-bottom:1px solid #ccc;}
/*#tabsImax li a img {padding-left:5px}*/
.container{padding:10px;font-size:1.2em;}
.container li{
    text-decoration:none;
    list-style:none;
    font-family: sans-serif;
    font-size: 12px; 
    margin-top: 2px;
}
#tabImaxSugerencias div ul li img {
    margin-top: -30px;
    float: right;
}