.header_permentlink {
  list-style-type: none;
  float: right;
  margin: 0;
  display: none;
  padding: 0;
}
@media (max-width: 767px) {
  .header_permentlink #header_links {
    width: 100%;
    padding: 0;
    background: #262626;
    position: absolute;
    display: none;
    text-align: left;
  }
}
@media (max-width: 479px) {
  .header_permentlink #header_links {
    width: 130px;
    background: #545f61;
    margin: 0;
  }
}
.header_permentlink #header_links li {
  float: left;
  padding: 5px 5px;
}
@media (max-width: 767px) {
  .header_permentlink #header_links li {
    width: 100%;
    float: none;
    border: none;
  }
}
.header_permentlink #header_links li a {
  font-weight: bold;
  line-height: 24px;
  padding: 8px 9px 11px 8px;
  text-decoration: none;
  text-transform: capitalize;
}
.header_permentlink #header_links li a:hover {
  color: #262626;
}
@media (max-width: 767px) {
  .header_permentlink #header_links li a {
    color: #FFF;
  }
}

/*block permanent links right and left columns*/
#permanent_links div {
  border-bottom: 1px dotted #eee;
}
#permanent_links div a {
  display: block;
  padding: 7px 11px 5px 22px;
  color: #333;
  background: url(img/arrow_right_2.png) no-repeat 10px 10px;
}

/* block footer links */
ul#footer_links {
  clear: both;
  text-align: center;
  padding-bottom: 6px;
}
ul#footer_links li {
  display: inline;
  padding: 0 10px;
}

.header_permentlink {
  float: right;
}
@media (max-width: 767px) {
  .header_permentlink {
    background: #545f61;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 155px;
    width: 25%;
    border-right: 1px solid #fff;
    z-index: 95;
  }
}
.header_permentlink .tm_permenu_inner {
  cursor: pointer;
  display: none;
  font-size: 0;
}
@media (max-width: 767px) {
  .header_permentlink .tm_permenu_inner {
    display: block;
  }
}
.header_permentlink .tm_permenu_inner .headertoggle_img:before {
  content: "\f150 ";
  display: block;
  font-family: "FontAwesome";
  line-height: 22px;
  font-size: 17px;
  color: white;
  position: relative;
  top: 7px;
}
@media (max-width: 479px) {
  .header_permentlink .tm_permenu_inner .headertoggle_img:before {
    line-height: 19px;
  }
}
.header_permentlink .tm_permenu_inner.active .headertoggle_img:before {
  content: "\f151";
}
