@import "compass";
@import "theme_variables";
/*** ESSENTIAL STYLES ***/
.sf-contener {
	clear: both;
	float: left;
	width: 100%;
	position:relative;
}
.sf-right {}
.sf-menu,
.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
	position:relative;
}
.sf-menu {
	position: relative;
	padding: 0;
	width: 100%;
	background: $base-bg;
	@media (max-width: $screen-xs-max) { // max 767px
		display: none;
		@include border-radius(0px);
		position:absolute;
	}
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	background: $light-background;
	@media (max-width: $screen-xs-max) { // max 767px
		position: relative;
	}
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu > li {
	float: left;
	border-right: 1px solid $base-border-color;
	@media (max-width: $screen-xs-max) { // max 767px
		float: none;
		position: relative;
		border-right: none;
		span {
			position: absolute;
			right: 6px;
			top: 15px;
			width: 30px;
			height: 30px;
			z-index: 2;
			@media (max-width: $screen-xs-max) { // max 767px
				top:8px;
				width:20px;
				height:22px;
				right:12px;
			}
			&:after {
				font-family: $font-icon;
				content: "\f067";
				font-size: 26px;
				color:#FFFFFF;
				cursor:pointer;
				@media (max-width: $screen-xs-max) { // max 767px
					font-size: 16px;
				}
			}
			&.active {
				&:after {
					content: "\f068";	
				}
			}
		}
	}
	> a {
		font: 600 16px/22px $font-custom;
		color: $text-anchorcolor;
		display: block;
		padding: 12px 18px;
		@media (max-width: $screen-xs-max) { // max 767px
			padding: 8px 18px
		}
	}
	&.sfHover > a,
	> a:hover,
	&.sfHoverForce > a {
		background: #1BC4DE;
		color: $light-text-color;
	}
}
.sf-menu > li:last-child	{ border:none;}
.sf-menu li ul li ul {
	padding:5px;
	width:200px;
	left:190px;
	background: $link-hover-color;
	@media (max-width: $screen-xs-max) { // max 767px
		width:auto;
		left:0 !important;
		top:0 !important;
		display:block !important;
		margin-left:15px;
	}
	@include box-shadow(rgba(black, 0) 0px 0px 0px);
	 a {
		display: inline-block;
		position: relative;
		font-weight: bold;
		font: 600 14px/18px $font-custom;
		color: $text-anchorcolor;
		padding:4px 5px;
		display:block;
		&:hover {
			background:$text-anchorcolor;
			color:$base-text-color;
			}
		}
}
.sf-menu li ul {
	display: none;
	left: 0;
	top: 46px; /* match top ul list item height */
	z-index: 99;
	padding: 12px 0px 18px 0px;
	@media (max-width: $screen-xs-max) { // max 767px
		top: 0;
	}
}
.sf-menu li li li ul {
	padding: 5px;
}
.sf-menu li li li ul {
	width: 220px;
	@media (max-width: $screen-xs-max) { // max 767px
		width: 90%;
	}
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 190px; /* match ul width */
	top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left: 190px; /* match ul width */
	top: 0;
}
.sf-menu > li > ul {
	padding:5px;
	width:200px;
	background: $link-hover-color;
	position:absolute;
	@media (max-width: $screen-xs-max) { // max 767px
		position:relative;
		width:auto;
		margin:0 0 0 15px;
	}
	> li {
		margin:2px 0px;
		> a {
			font: 600 14px/18px $font-custom;
			color: $text-anchorcolor;
			padding:4px 5px;
			display:block;
			&:hover {
				background:$text-anchorcolor;
				color:$base-text-color;
			}
		}
	}
}
.sf-menu ul li a.sf-with-ul:after 
{
	font-family: $font-icon;
	content: "\f105";
	position: absolute;
	right: 3px;
	top: 5px;
}

.sf-menu > li > ul > li {
	float: left;
	width: 100%;
	@media (max-width: $screen-xs - 1) { // max 479px
		width: 100%;
		padding-bottom: 20px;
	}
	@media (min-width: $screen-sm) { // min 768px
		&.first-in-line-lg {
			clear: left;
		}
	}
	@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
		&.first-in-line-xs {
			clear: left;
		}
	}
	&.category-thumbnail { 
		div {
			margin:0 0 3px 0;
			img { width:100%;}
		}	
	}
}
.sf-menu > li > ul > li#category-thumbnail {
	width: 100% !important;
	clear: both;
	overflow: hidden;
	padding:0;
	margin:5px 0 0 0;
	> div {
		float: left;
		padding:10px 0  0 0;
		width: 100%;
		@media (max-width: $screen-xs - 1) { // max 479px
			width: 100%;
			text-align: center;
		}
		img {
			max-width: 100%;
			display: block;
		}
	}
}
.cat-title {
	display: none;
	@media (max-width: $screen-xs-max) { // max 767px
		display: block;
		cursor:pointer;
		font: 600 18px/22px $font-custom;
		text-transform: uppercase;
		color: #484848;
		display: block;
		padding: 17px 20px;
		border-bottom: 3px solid #e9e9e9;
		background: #f6f6f6;
		position: relative;
		&:hover {
			background: $dark-background;
			border-bottom-color: #666666;
			color: $light-text-color;
		}
		&:after {
			display: block;
			font-family: $font-icon;
			content: "\f067";
			position: absolute;
			right: 15px;
			top: 18px;
			font-size: 26px;
		}
		&.active:after{
			content: "\f068";
		}
	}
}

.sf-menu {
	li.sf-search{
		border: none;
		input{
			display: inline;
			padding: 0 13px;
			height: 30px;
			line-height: 30px;
			background: $input-bg;
			margin: 13px 10px 0 0;
			font-size: 13px;
			color: $input-color;
			border: 1px solid $input-border;
		}
	}
}