@import "compass";
@import "theme_variables";
/*** ESSENTIAL STYLES ***/
.sf-contener {
	float: left;
	width: auto;
	padding: 0;
	margin: 0 60px;
	@media (max-width: $screen-lg) { // max 1199
		margin: 0 45px;
	}
	@media (max-width: $screen-sm-max) { // max 991px
		width:420px;
		margin: 0;
	}
	@media (max-width: $screen-xs-max) { // max 767px
		padding: 0 140px 0 0;
		width:100%;
	}
}
.sf-right {}
.sf-menu,
.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	position: relative;
	padding: 0;
	width: 100%;
	text-align: left;
	@media (max-width: $screen-sm-max) { // max 991px
		background: $light-background;
		border: 1px solid $base-border-color;
		display: none;
		position: absolute;
		padding: 1%;
		text-align: left;
		z-index: 1;
	}
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	background: $light-background;
	@media (max-width: $screen-sm-max) { // max 991px
		position: relative;
	}
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu > li {
	display: inline-block;
	@media (max-width: $screen-sm-max) { // max 991px
		float: none;
		position: relative;
		display: block;
		span {
			height: 30px;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 30px;
			z-index: 2;
			&:after {
				font-family: $font-icon;
				content: "\f067";
				font-size: 10px;
				color: $link-hover-color;
				cursor:pointer;
				line-height: 30px;
			}
			&.active {
				&:after {
					content: "\f068";	
				}
			}
		}
	}
	> a {
		color: #FFF;
		display: block;
		font-size: 13px;
		font-weight: bold;
		margin-bottom: 0;
		padding: 25px 33px 26px;
		line-height: 20px;
		position: relative;
		text-transform: uppercase;
		background: rgba(0, 0, 0, 0) url("../../../../img/megnor/spacer.png") no-repeat scroll right center;
		@media (max-width: $screen-md-max) { // max 1199
			padding: 25px 15px 26px;
		}
		@media (max-width: $screen-sm-max) { // max 991px
			background: none;
			padding: 4px 8px;
			color: $base-heading-color;
			font-weight: normal;
			text-transform: capitalize;
		}
	}
	&:last-child {
		> a {
			background: none;
		} 
	}
	&.sfHover > a,
	> a:hover,
	&.sfHoverForce > a {
		color: #a6a6a6;
		@media (max-width: $screen-sm-max) { // max 991px
			color:$GL-text-color;
		}
	}
}
.sf-menu > li:last-child	{ border:none;}
.sf-menu li li li a {
	display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    padding: 4px 8px;
    position: relative;
	color: $base-heading-color;
	&:hover {
		color: $GL-text-color;
	}
	@media (max-width: $screen-sm-max) { // max 991px
		font-size: 13px;
	}
}
.sf-menu li ul {
	display: none;
	top: 100%; /* match top ul list item height */
	z-index: 99;
	@media (max-width: $screen-sm-max) { // max 991px
		top: 0;
	}
}
.sf-menu li li ul {
	position: static;
	// min 992px
	@media (min-width: $screen-md) {
		position: static;
		display: block !important;
		opacity: 1 !important;
		background: none;
		padding: 6px 0px 0;
		@include box-shadow(rgba(black, 0) 0px 0px 0px);
	}
	@media (max-width: $screen-sm-max) { // max 991px
		padding: 0 0 0 20px;
	}
}
.sf-menu li li li ul {
	padding: 0 0 0 20px;
}
.sf-menu li li li ul {
	width: 220px;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 200px; /* match ul width */
	top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left: 200px; /* match ul width */
	top: 0;
}
.sf-menu > li > ul {
	padding: 0;
	border: 1px solid #d9d9d9;
	text-align: left;
	background: #f5f5f5;
	@media (max-width: $screen-sm-max) { // max 991px
		border: medium none;
		background: none;
		padding: 0 0 0 20px;
	}
	> li {
		> a {
			text-transform: uppercase;
			font: 600 13px/22px $font-family;
			color: $base-heading-color;
			display: block;
			padding: 4px 8px;
			&:hover {
				color:$GL-text-color;
			}
			@media (max-width: $screen-sm-max) { // max 991px
				font-weight: normal;
				text-transform: capitalize;
			}
		}
	}
}
.sf-menu > li > ul > li {
	display: table-cell;
    padding: 22px;
    vertical-align: top;
    width: 200px;
	border-left: 1px solid $base-border-color;
	&:first-child {
		border: medium none;
	}
	@media (max-width: $screen-sm-max) { // max 991px
		border: medium none;
		display: block;
		padding: 0;
		width: 100%;
		position: relative;
	}
	@media (max-width: $screen-xs - 1) { // max 479px
		width: 100%;
	}
	@media (min-width: $screen-sm) { // min 768px
		&.first-in-line-lg {
			clear: left;
		}
	}
	@media (min-width: $screen-xs) and (max-width: $screen-sm-max) { // min 480px max 991px
		&.first-in-line-xs {
			clear: left;
		}
	}
}
.sf-menu > li > ul > li.category-thumbnail {
	width: 100% !important;
	float: none;
	clear: both;
	overflow: hidden;
	display:none;
	padding-right: 0;
	> div {
		float: left;
		padding-left: 10px;
		width: 33.333%;
		@media (max-width: $screen-xs - 1) { // max 479px
			width: 100%;
			padding-left: 0;
			padding-top: 10px;
			text-align: center;
		}
		&:first-child {
			padding-left: 0;
		}
		img {
			max-width: 100%;
			display: block;
		}
	}
}
.cat-title {
	display: none;
	@media (max-width: $screen-sm-max) { // max 991px
		color: #FFF;
		cursor: pointer;
		display: block;
		font: bold 13px/23px $font-family;
		padding: 24px 15px;
		position: relative;
		text-transform: uppercase;
		text-align:left;
		&:after {
			display: block;
			font-family: $font-icon;
			content: "\f0c9";
			float: right;
			font-size: 21px;
		}
	}
	@media (max-width: $screen-xs-max) { // max 767px
		padding: 19px 0;
	}
}

.sf-menu {
	li.sf-search{
		border: none;
		input{
			display: inline;
			padding: 0 13px;
			height: 30px;
			line-height: 30px;
			background: $input-bg;
			margin: 13px 10px 0 0;
			font-size: 13px;
			color: $input-color;
			border: 1px solid $input-border;
		}
	}
}


/* Custom CSS FOR Single Column Only */
.sf-menu .onecolumn {
	// min 991px
	@media (min-width: $screen-md) {
		padding: 22px 22px;
	}
	li {
		border: medium none;
		display: block;
		padding: 0;
		a {
			font-size: 12px;
			font-weight: normal;
			text-transform: capitalize;
			color: $base-heading-color;
			&:hover {
				color: $GL-text-color;
			}
		}
	}
}