#languages-block-top {
  border-top: 1px solid #eeeeee;
  float: left;
  margin: 20px 0 0;
  padding: 20px 0 0;
  position: relative;
  width: 100%;
  display: none;
}
#languages-block-top span.firstWord {
  display: none;
}
#languages-block-top div.current {
  cursor: pointer;
  line-height: 18px;
  /*&:hover, &.active {
  	color:$link-hover-color;
  }
  &:after {
  	content: "\f0d7";
  	font-family: $font-icon;
  	font-size: 12px;
  	line-height: 20px;
  }
  &.active {
  	&:after {
  		content: "\f0d8";
  	}
  }*/
}
#languages-block-top div.current .cur-label {
  color: #262626;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
#languages-block-top ul {
  background: white;
  z-index: 2;
  text-align: left;
  margin: 15px 0 0;
}
#languages-block-top ul li {
  color: white;
  float: left;
  margin: 0 10px 10px 0;
  width: auto;
}
#languages-block-top ul li a,
#languages-block-top ul li > span {
  display: block;
  line-height: normal;
}
#languages-block-top ul li a img,
#languages-block-top ul li > span img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
#languages-block-top ul li.selected span img, #languages-block-top ul li:hover a img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
