/**************************************
  $Font family

\**************************************/
@font-face {
  font-family: lato-bold;
  src: url("../fonts/latobold/Lato-bold.eot");
  src: url("../fonts/latobold/Lato-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/latobold/Lato-bold.woff") format("woff"), url("../fonts/latobold/Lato-bold.ttf") format("truetype"), url("../fonts/latobold/Lato-bold.svg#lato-bold") format("svg"); }

@font-face {
  font-family: lato-light;
  src: url("../fonts/latolight/Lato-light.eot");
  src: url("../fonts/latolight/Lato-light.eot?#iefix") format("embedded-opentype"), url("../fonts/latolight/Lato-light.woff") format("woff"), url("../fonts/latolight/Lato-light.ttf") format("truetype"), url("../fonts/latolight/Lato-light.svg#lato-light") format("svg"); }

@font-face {
  font-family: lato-regular;
  src: url("../fonts/latoregular/Lato-regular.eot");
  src: url("../fonts/latoregular/Lato-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/latoregular/Lato-regular.woff") format("woff"), url("../fonts/latoregular/Lato-regular.ttf") format("truetype"), url("../fonts/latoregular/Lato-regular.svg#lato-regular") format("svg"); }

@font-face {
  font-family: oleo-regular;
  src: url("../fonts/oleoscript/oleoscript-regular.eot");
  src: url("../fonts/oleoscript/oleoscript-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/oleoscript/oleoscript-regular.woff") format("woff"), url("../fonts/oleoscript/oleoscript-regular.ttf") format("truetype"), url("../fonts/oleoscript/oleoscript-regular.svg#oleo-regular") format("svg"); }

/**************************************
  $Borramos el header y el footer de la plantilla incluida de TusStilettos.com

\**************************************/
/* line 19, css/scss/main.scss */
.headerdiv {
  display: none !important; }

/* line 23, css/scss/main.scss */
.footer-container {
  display: none !important; }

/* line 27, css/scss/main.scss */
#attributes select {
  display: none !important; }

/**************************************
  $Base Css

\**************************************/
/* line 36, css/scss/main.scss */
body {
  background-color: #d8d8d8 !important; }
  /* line 38, css/scss/main.scss */
  body .columns-container {
    background-color: #d8d8d8 !important; }
  /* line 41, css/scss/main.scss */
  body .container {
    position: relative;
    text-align: center;
    max-width: 100%; }
    /* line 45, css/scss/main.scss */
    body .container.first {
      z-index: 2;
      margin-top: 50px;
      margin-bottom: 84px; }
    /* line 50, css/scss/main.scss */
    body .container.second {
      z-index: 1; }
      /* line 52, css/scss/main.scss */
      body .container.second img.textos {
        display: block;
        margin: 0 auto; }
    /* line 57, css/scss/main.scss */
    body .container .libro_bebi {
      position: absolute;
      left: -40px;
      width: 380px;
      z-index: -2; }
    /* line 63, css/scss/main.scss */
    body .container .zapatos_perfil {
      position: absolute;
      bottom: 0;
      left: 280px;
      width: 320px;
      z-index: -1; }
    /* line 70, css/scss/main.scss */
    body .container .img-center {
      display: inline-block; }
      /* line 72, css/scss/main.scss */
      body .container .img-center img {
        width: 280px; }
    /* line 76, css/scss/main.scss */
    body .container .texto-venta {
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 380px;
      text-align: left; }
      /* line 83, css/scss/main.scss */
      body .container .texto-venta .claim, body .container .texto-venta .autor {
        color: #333333;
        font-size: 20px;
        font-family: lato-light; }
      /* line 88, css/scss/main.scss */
      body .container .texto-venta .autor {
        margin-bottom: 32px; }
      /* line 91, css/scss/main.scss */
      body .container .texto-venta .product {
        color: #BA4B63;
        font-size: 16px;
        margin-bottom: 0;
        font-family: lato-light; }
      /* line 97, css/scss/main.scss */
      body .container .texto-venta .price {
        border-radius: 25px;
        color: #BA4B63;
        font-size: 37px;
        -webkit-transition: all 150ms linear;
        transition: all 150ms linear;
        font-family: oleo-regular; }
      /* line 105, css/scss/main.scss */
      body .container .texto-venta .form-talla fieldset {
        font-family: lato-light;
        margin-bottom: 8px;
        font-size: 16px; }
      /* line 110, css/scss/main.scss */
      body .container .texto-venta .form-talla .input-radio {
        display: none; }
        /* line 112, css/scss/main.scss */
        body .container .texto-venta .form-talla .input-radio:checked + label {
          border: 1px solid #BA4B63;
          background: #BA4B63;
          color: white; }
      /* line 118, css/scss/main.scss */
      body .container .texto-venta .form-talla label {
        background: white;
        border: 1px solid white;
        padding: 4px;
        cursor: pointer;
        -webkit-transition: all 100ms linear;
        transition: all 100ms linear;
        float: none !important;
        font-family: lato-light; }
        /* line 125, css/scss/main.scss */
        body .container .texto-venta .form-talla label:hover {
          border: 1px solid #BA4B63; }
      /* line 130, css/scss/main.scss */
      body .container .texto-venta .form-talla .button {
        background-color: #BA4B63;
        font-family: lato-bold;
        border: none;
        color: white;
        border-radius: 16px;
        padding: 8px 20px;
        display: block;
        margin-top: 16px;
        -webkit-transition: all 100ms linear;
        transition: all 100ms linear; }
        /* line 140, css/scss/main.scss */
        body .container .texto-venta .form-talla .button:hover {
          background-color: #333; }
      /* line 144, css/scss/main.scss */
      body .container .texto-venta .form-talla .plazo {
        font-size: 12px;
        margin-top: 6px;
        color: #333333;
        font-style: italic; }

@media (min-width: 1200px) {
  /* line 2, css/scss/_mediaquery.scss */
  body .container {
    width: 1280px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 8, css/scss/_mediaquery.scss */
  body {
    padding-top: 48px; }
  /* line 12, css/scss/_mediaquery.scss */
  .container.first {
    margin-top: 8px !important;
    margin-bottom: 136px !important; }
  /* line 16, css/scss/_mediaquery.scss */
  .container .libro_bebi {
    left: -70px !important;
    width: 340px !important; }
  /* line 20, css/scss/_mediaquery.scss */
  .container .zapatos_perfil {
    left: 180px !important;
    width: 280px !important; }
  /* line 25, css/scss/_mediaquery.scss */
  .container .img-center img {
    width: 260px !important; }
  /* line 29, css/scss/_mediaquery.scss */
  .container .texto-venta {
    width: 300px !important;
    -webkit-transform: translateY(-40%) !important;
            transform: translateY(-40%) !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  /* line 37, css/scss/_mediaquery.scss */
  body {
    padding-top: 32px; }
  /* line 41, css/scss/_mediaquery.scss */
  .container.first {
    margin-top: 0 !important;
    margin-bottom: 42px !important; }
  /* line 46, css/scss/_mediaquery.scss */
  .img-center {
    text-align: right;
    display: block !important; }
  /* line 50, css/scss/_mediaquery.scss */
  .zapatos_perfil {
    top: 250px !important;
    bottom: auto !important;
    right: auto !important;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  /* line 57, css/scss/_mediaquery.scss */
  .texto-venta {
    top: 0 !important;
    -webkit-transform: none !important;
            transform: none !important;
    position: relative !important;
    width: 100% !important;
    padding-top: 32px !important;
    text-align: center !important; }
    /* line 64, css/scss/_mediaquery.scss */
    .texto-venta label {
      margin-right: 16px;
      padding: 8px !important; }
    /* line 68, css/scss/_mediaquery.scss */
    .texto-venta .button {
      margin: 0 auto;
      margin-top: 24px !important; }
    /* line 72, css/scss/_mediaquery.scss */
    .texto-venta .plazo {
      float: none !important; }
  /* line 78, css/scss/_mediaquery.scss */
  .form-talla fieldset {
    margin-bottom: 16px !important; } }

@media (max-width: 767px) {
  /* line 85, css/scss/_mediaquery.scss */
  body {
    padding-top: 32px; }
  /* line 88, css/scss/_mediaquery.scss */
  #columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  /* line 93, css/scss/_mediaquery.scss */
  .container.first {
    margin-top: 0 !important;
    margin-bottom: 42px !important; }
  /* line 98, css/scss/_mediaquery.scss */
  .img-center {
    text-align: right;
    display: block !important; }
    /* line 101, css/scss/_mediaquery.scss */
    .img-center img {
      width: 36% !important; }
  /* line 105, css/scss/_mediaquery.scss */
  .libro_bebi {
    width: 50% !important;
    top: 24px !important;
    left: -20px !important; }
  /* line 110, css/scss/_mediaquery.scss */
  .zapatos_perfil {
    bottom: auto !important;
    right: auto !important;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 150px !important;
    width: 38% !important;
    left: 54% !important; }
  /* line 119, css/scss/_mediaquery.scss */
  .texto-venta {
    top: 0 !important;
    -webkit-transform: none !important;
            transform: none !important;
    position: relative !important;
    width: 100% !important;
    text-align: center !important;
    padding-top: 32px !important; }
    /* line 126, css/scss/_mediaquery.scss */
    .texto-venta label {
      margin-right: 4px;
      padding: 6px !important; }
    /* line 130, css/scss/_mediaquery.scss */
    .texto-venta .button {
      margin: 0 auto;
      margin-top: 24px !important; }
  /* line 137, css/scss/_mediaquery.scss */
  .form-talla fieldset {
    margin-bottom: 16px !important; }
  /* line 141, css/scss/_mediaquery.scss */
  .plazo {
    float: none !important; } }

@media (min-width: 400px) and (max-width: 490px) {
  /* line 147, css/scss/_mediaquery.scss */
  .zapatos_perfil {
    top: 110px !important; }
  /* line 150, css/scss/_mediaquery.scss */
  .textos {
    max-width: 100% !important; }
  /* line 153, css/scss/_mediaquery.scss */
  .plazo {
    float: none !important; } }

@media (max-width: 399px) {
  /* line 159, css/scss/_mediaquery.scss */
  .zapatos_perfil {
    top: 90px !important; }
  /* line 162, css/scss/_mediaquery.scss */
  .textos {
    max-width: 100% !important; }
  /* line 165, css/scss/_mediaquery.scss */
  .plazo {
    float: none !important; } }
