
    		<table class="table table-mail" style="width:100%;margin-top:10px;"><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
				<td align="center" style="padding:7px 0;">
					<table class="table" bgcolor="#ffffff" style="width:100%;"><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;">
								<a title="{shop_name}" href="{shop_url}" style="color:#337ff1;">
									<img src="{shop_logo}" alt="{shop_name}" /></a>
							</td>
						</tr><tr><td align="center" class="titleblock" style="padding:7px 0;">
		<font size="2" face="Open-sans, sans-serif" color="#555454">
			<span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Hola,</span>
		</font>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="linkbelow" style="border:none;padding:7px 0;">
		<span>Ha recibido una nueva solicitud de devolución de {shop_name}.</span>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" colspan="3" style="background-color:#f8f8f8;border:1px solid #d6d4d4;padding:7px 0;">
		<p style="margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;border-bottom:1px solid #d6d4d4;padding-bottom:10px;">
			Detalles de devolución		</p>
		<span style="color:#777;">
			<span style="color:#333;"><strong>Pedido:</strong></span> {order_name} Efectuado en {date}<br /><span style="color:#333;"><strong>Cliente:</strong></span> {firstname} {lastname}, ({email})
		</span>
	</td>
</tr><tr><td style="border:none;padding:7px 0;">
		<table class="table table-recap" bgcolor="#ffffff" style="width:100%;background-color:#fff;border-collapse:collapse;"><!-- Title --><thead><tr><th style="border:1px solid #DDD;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Referencia</th>
					<th style="border:1px solid #DDD;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Producto</th>
					<th style="border:1px solid #DDD;background-color:#fbfbfb;font-family:Arial;color:#333;font-size:13px;padding:10px;">Cantidad</th>
				</tr></thead><tbody><tr><td colspan="5" style="color:#777;padding:7px 0;border:1px solid #DDD;">
						{items}
					</td>
				</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;border:none;"> </td>
</tr><tr><td style="border:none;padding:7px 0;">
		<table class="table" style="width:100%;background-color:#fff;"><tr><td class="box address" width="310" style="background-color:#f8f8f8;border:1px solid #d6d4d4;padding:7px 0;">
					<p style="margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;border-bottom:1px solid #d6d4d4;padding-bottom:10px;">Dirección de entrega</p>
					<span style="color:#777;">
						{delivery_block_html}
					</span>
				</td>
				<td width="20" class="space_address" style="border:none;padding:7px 0;"> </td>
				<td class="box address" width="310" style="background-color:#f8f8f8;border:1px solid #d6d4d4;padding:7px 0;">
					<p style="margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;border-bottom:1px solid #d6d4d4;padding-bottom:10px;">Dirección de facturación</p>
					<span style="color:#777;">
						{invoice_block_html}
					</span>
				</td>
			</tr></table></td>
</tr><tr><td class="space_footer" style="padding:0;border:none;"> </td>
</tr><tr><td class="box" colspan="3" style="background-color:#f8f8f8;border:1px solid #d6d4d4;padding:7px 0;">
		<p style="margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;border-bottom:1px solid #d6d4d4;padding-bottom:10px;">
			Mensaje:		</p>
		<span style="color:#777;">
			{message}
		</span>
	</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
						</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;">
								<span><a href="{shop_url}" style="color:#337ff1;">{shop_name}</a> creado por <a href="http://www.prestashop.com/" style="color:#337ff1;">PrestaShop™</a></span>
							</td>
						</tr></table></td>
				<td class="space" style="width:20px;padding:7px 0;"> </td>
			</tr></table>