body{
  background-image: url('../img/bg-social.png');
  color: white;
  font-size: 16px;
}

nav{
  padding: 0 15px;
  padding-bottom: 60px;
}

.container{
  max-width:100%;
}

.part-1{
  position: relative;
  padding-bottom: 0vw;
  padding-top: 2vw;
  background-color: $bg-pink;
  &::after {
    position: absolute;
    content: " ";
    right: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 320px 2150px 0 0;
    border-color: $bg-pink transparent transparent transparent;
    line-height: 0px;
  }
  h1{
    font-family: 'SignPainter-HouseScript';
    font-size: 7rem;
  }
  p{
    font-family: "Helvetica Neue";
    font-weight: 100;
    padding-right: 4em;
    text-align: justify;
  }
  .row {
    position: relative;

    .video-section{
      z-index: 9999;
      img{
        width: calc(100% - 30px);
        position: absolute;
      }
    }
  }
}

.part-2{
  padding-top: 22vw;
  text-align: center;
  h2{
    font-family: HelveticaNeue-Thin;
    color: $violet;
    font-size: 42px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }
}

.part-3{
  margin-top: 400px;
  padding-left: 0;
  padding-right: 0;
  .container-fluid:first-child {
    position: relative;
    background-color: $palid-pink;
    &::after {
      position: absolute;
      content: " ";
      right: 0;
      top: 70%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 2150px 320px 0;
      border-color: transparent $palid-pink transparent transparent;
      line-height: 0px;
      z-index:9;
    }
    &::before {
      position: absolute;
      content: " ";
      right: 0;
      bottom: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 320px 2150px;
      border-color: transparent transparent $palid-pink transparent;
      line-height: 0px;
    }
    > .container {
      > .row {
        margin-top: -30%;
        position: relative;
        .columna-flot1{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  .container-fluid:last-child {
    background-color: $palid-dark-pink;
    position: relative;
    &::after {
      position: absolute;
      content: " ";
      right: 0;
      top: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 320px 2150px 0 0;
      border-color: $palid-dark-pink transparent transparent transparent;
      line-height: 0px;
    }
    .container{
      z-index: 99;
    }
  }
  .container{
    position: relative;
    padding-top: 88px;
    padding-bottom: 0px;

    .columna-flot2{
      position: absolute;
      left:0;
      top: 50%;
      transform: translateY(-50%);
    }

    img{
      width: 100%;
    }
    .title{
      font-family: "Helvetica Neue";
      font-weight:bold;
    }
    .desc{
      font-weight: 200;
    }
  }
}

.part-4{
  font-family: "Helvetica Neue";
  font-weight: 100;
  padding-top: 22vw;
  padding-bottom: 430px;
  text-align: center;
  background-color: white;
  .siguenos{
    color: $grey;
  }
  .redes{
    color: $pink;
    position: relative;
    padding-left: 45px;
    a{
      text-decoration: none;
      color: $pink;
    }
    svg{
      width: 30px;
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      path{
        fill: $pink;
        transition: all 100ms linear;
      }
    }
    p{
      margin: 0;
      text-align: left;
      transition: all 100ms linear;
    }
    &:hover{
      svg{
        path{
          fill: $violet;
        }
      }
      p{
        color: $violet;
      }
    }
  }
}

.part-5{
  padding-top: 0px;
  padding-bottom: 20px;
  background-color: $bottom-violet;
    position: relative;
    //background-color: $bottom-violet;
    &::before {
      position: absolute;
      content: " ";
      right: 0;
      bottom: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 320px 2150px;
      border-color: transparent transparent $bottom-violet transparent;
      line-height: 0px;
      z-index: 0;
    }

  p{
    font-family: "Helvetica Neue";
    font-weight: 100;
    a{
      font-family: "HelveticaNeue";
      color: white;
      &:hover{
        text-decoration: none;
        color: $pink;
      }
    }
  }
}