@import 'mixins';
@import 'components';

//Some function for the entire web
@include font-face('SignPainter-HouseScript', 'fonts/SignPainter');
@include font-face('HelveticaNeue-regular', 'fonts/HelveticaNeue-Regular');
@include font-face('HelveticaNeue-Thin', 'fonts/HelveticaNeue-thin');
@include font-face('HelveticaNeue-Thin', 'fonts/HelveticaNeue-thin');

.navbar{
  border-radius: 0 !important;
  margin: 0 !important;
}

@import 'desktop';
@import 'mediaquery';