@media screen and (max-width: 1200px){
  .part-3{
    .container-fluid:first-child{
      .container{
        z-index: 99;
      }
      &:after{
        top: 0;
      }
    }
  }
}

@media screen and (min-width: 720px) and (max-width: 991px){
  .part-1{
    .video-section{
      img{
        position: relative !important;
      }
    }
  }
  .col-sm-6{
    width: 50%;
  }

  .part-3{
    .container-fluid:last-child{
      .row{
        .col-sm-6{
          position: relative !important;
          transform: none;
          float: left;
          display: inline-block;
        }
      }
    }
  }
}

@media screen and (max-width: 991px){
  .part-1{
    p{
      padding:0;
    }
    .video-section
      img{
        width: 100% !important;
      }
    }
  }

@media screen and (max-width: 767px){
  .siguenos{
    margin-bottom: 30px !important;
  }
  .redes{
    p{
      text-align: center;
    }
  }
}

@media screen and (max-width: 719px){
  .part-2{
    padding-top: 32vw;
  }
  .video-section{
    img{
      position: relative !important;
    }
  }
  h1{
    font-size: 4rem !important;
  }
  h2{
    font-size: 40px !important;
  }
  .container-fluid:first-child{
    &:before{
      bottom: 80%!important;
    }
    .container{
      padding-top:0!important;
    }
  }
  .container-fluid:last-child{
    .container{
      padding-top:0!important;
    }
  }
  .columna-flot1{
    position:relative !important;
    left:0 !important;
    top:0 !important;
    transform:none !important;
    padding-top: 16px;
  }
  .columna-flot2{
    position:relative !important;
    left:0 !important;
    top:0 !important;
    transform:none !important;
    padding-top: 16px;
  }
}

@media screen and (max-width: 480px){
  .columna-flot1{
    padding-bottom: 46px !important;
  }
  .columna-flot2{
    padding-top: 46px !important;
  }
  .part-3 {
    margin-top: 300px !important;
    .container-fluid:first-child {
      &:before {
        bottom: 60% !important;
      }
      .container {
        padding-top: 0 !important;
      }
      &:after {
        display: none !important;
      }
    }
  }
  nav{
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    text-align: center;
  }
  .redes{
    display: block !important;
    width: 100% !important;
    margin-bottom:16px !important;
  }

  .part-4{
    padding-bottom: 360px !important;
  }
}