@import "compass";
@import "theme_variables";
/**********************************************************
				Authentication Styles
**********************************************************/
#authentication { margin:0;}
#account-creation_form .id_state,
#account-creation_form .dni,
#account-creation_form .postcode {
	display: none;
}

#create-account_form {
	min-height: 297px;
	p {
		margin-bottom: 8px;
	}
	.form-group {
		margin: 0 0 20px 0;
	}
}

#login_form {
	min-height: 297px;
	.form-group {
		&.lost_password {
			margin: 14px 0 15px 30%;
			width:70%;
			@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
				margin: 14px 0 15px 35%;
			}
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
				margin: 14px 0 15px 0%;
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				margin: 14px 0 15px 30% !important;
			}
			@media (max-width: $screen-xs)
			{
				margin: 14px 0 15px 0;
			}
			
			a {
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}	
			}
		}
	}
}

#login_form, #create-account_form {
	.form-control {
		max-width: 271px;	
	}
}
.form_content .submit{
		margin:0 0 0 30%;
		float:left;
		clear:both;
		@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
			margin:0 0 0 35%;
		}
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
			margin:0 0 0 0%;
		}
		@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				margin: 0px 0 0 30% !important;
		}
		@media (max-width: $screen-xs)
		{
			margin:0 0 0 0%;
		}
	}
#account-creation_form #submitAccount { margin:10px 0;}	
#account-creation_form label { font-weight: normal; }