@import "compass";
@import "theme_variables";

/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
.content_scene_cat {
	margin: 0 0 25px 0;
	display:none;
	.align_center {
		margin:0 0 8px 0;
	img {
		max-width:100%;
		height:auto;
	}
	}
	.content_scene_cat_bg {
		padding: 18px 10px 10px 42px;
		background-color: #464646 !important;
		@media  (max-width: $screen-md-max) { // max 1199px
			padding: 10px 10px 10px 15px;
		}
	}
	span.category-name {
		font: 600 42px/51px $font-custom;
		color: $light-text-color;	
		margin-bottom: 12px;
		@media  (max-width: $screen-md-max) { // max 1199px
			font-size: 25px;
			line-height: 30px;
		}
	}
	p {
		margin-bottom: 0;
	}
	a {
		color: $light-text-color;
		&:hover {
			text-decoration: underline;
		}
	}
	.content_scene {
		color: $base-body-color;
		.cat_desc {
			padding-top: 20px;
			a {
				color: $link-color;
				&:hover {
					color: $link-hover-color;	
				}
			}
		}
	}
}

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */

#subcategories {
	display:none;
	border-top: 1px solid $base-border-color;
	padding: 15px 0 0px 0;
	ul {
		margin: 0 0 15px 0px;
		width:100%;
		text-align:center;
		li {
			float: left;
			width: 18%;
			margin: 0 1%;
			text-align: center;
			@media (max-width: $screen-sm-max) { 
				width: 23%;
			}
			@media (max-width: $screen-xs-max) {
				width:48%;
			}
			@media (max-width: $screen-xs) {
				width:50%;
				float:none;
				margin:5px auto;
			}
			.subcategory-image {
				padding: 0;
				a {
					display: block;
					padding: 6px;
					border: 1px solid $base-border-color;
					img {
						max-width: 100%;
						vertical-align: top;
						height:auto;
					}
				}
			}
			.subcategory-name {
				color: $base-heading-color;
				&:hover {
					color: $link-hover-color;	
				}
			}
			.cat_desc { 
				display: none;
			}	
			&:hover {
				a { color: $link-hover-color;	}
				.subcategory-image {
					a {
						border: 2px solid $link-hover-color;
						padding: 5px;
					  }
				}	
			}
		}
	}
}