@import "compass";
@import "theme_variables";

/**************************************************************************
					Contact Page Styles
**************************************************************************/

.contact-title {
	margin: -5px 0 0px 0;
	line-height: 23px;
	i {
		font-size: 23px;
		color: #c0c0c0;
		padding: 0 8px 0 0;	
	}
}

.contact-form-box {
	padding: 10px 0 0 0;
	margin: 0 0 30px 0;
	background:none;
	border:1px solid $base-border-color;
	fieldset {
		padding: 0 19px 21px 19px;
		background:none;
	}
	label {
		margin: 0 0 6px 0;	
		font-weight: normal;
	}
	.page-subheading {
		padding-left: 0px;
		border: none;
		text-transform: capitalize;
		margin-bottom: 0;
	}
	
	.col-md-5 {
		padding-left: 0;
		@media (max-width: $screen-sm-max) { // max 991px
			padding-right: 0;
		}
	}
	.col-md-7 {
		padding-right: 0;
		@media (max-width: $screen-sm-max) { // max 991px
			padding-left: 0;
		}
	}
	#desc_contact0 {
		display: none;
	}
	.form-group {
		margin-bottom: 7px;
	}
	textarea {
		height: 257px;	
	}
	.submit {
		margin-top: 13px;
	}
	select.form-control {
		max-width: 270px;
		width: 100%;
		cursor:pointer;
	}
	input.form-control {
		max-width: 270px;	
	}
	@media (min-width: $screen-md) and (max-width: $screen-md-max) {// min 992px max 1199px
		div.uploader span.filename {
			width: 114px;	
		}
	}
}
div.uploader { height:auto !important;}
div.uploader span.action { margin:0; font-weight: normal;}
#contact span.filename { margin:0 0 8px 0;}