@charset "UTF-8";
// Make sure the charset is set appropriately

@import "compass";
@import "compass/reset";
@import "theme_variables";
@import "bootstrap";
@import "font-awesome/font-awesome";
@import "icons";

a:hover, a:focus, .btn:focus, button:focus {
	text-decoration: none;
	outline: none;
}

body {
	font-size: 13px;
	font-family:$font-family;
	color: $base-body-color;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 22px;
}

textarea {
	resize: none;
}

//structure
#header {
	z-index: 5003;
}

#slider_row{
	margin:0;
	#top_column{
		padding:0;
	}
}

.columns-container {
	background: $light-background;
}

#index #columns {
	padding-bottom: 0;
}

#columns {
	position: relative;
	padding-bottom: 60px;
}

header {
	z-index: 1;
	position: relative;
	background: $light-background;
	.banner {
		background: black;
		max-height: 100%;
		.row {
			margin: 0px;
		}
	}
	.nav {
		.row {
			margin: 0px;
		}
		nav {
			width: 100%;
			@media (max-width: $screen-xs-max) { // max 767px
				text-align: center;
			}
		}
	}
	.row {
		position: relative;
		margin: 0;
		> .container {
			position: relative;
		}
		#header_logo {
			padding: 12px 0;
			width: auto;
			text-align: center;
			@extend .col-sm-4;
			img {
				display: inline-block;
			}
			
		}
	}
	.headerdiv {
		background: #262626;
		@media (max-width: $screen-sm-max){ // max 991px
			text-align:center;
		}
		@media (max-width: $screen-xs-max){ // max 767px
			border:none;
			height:auto;
		}
	}
}

.ie8 #header #header_logo {
	width: 350px;
}

//title
#center_column {
	.page_product_box {
		h3 {
			@include sub-heading;
		}
	}
}

//text
p.info-title {
	color: $base-text-color;
	margin-bottom: 25px;
}

p.info-account {
	margin: -4px 0 24px 0;
}

.dark {
	color: $base-text-color;
}

.main-page-indent {
	margin-bottom: $base-page-indent;
}

.alert {
	font-weight: bold;
	ul, ol {
		padding-left: 15px;
		margin-left: 27px;
		li {
			list-style-type: decimal;
			font-weight: normal;
		}
	}
	&.alert-success {
		text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
		&:before {
			font-family: $font-icon;
			content: "\f058";
			font-size: 20px;
			vertical-align: -2px;
			padding-right: 7px;
		}
	}
	&.alert-danger {
		&:before {
			font-family: $font-icon;
			content: "\f057";
			font-size: 20px;
			vertical-align: -2px;
			padding-right: 7px;
			float: left;
		}
	}
}

.label {
	white-space: normal;
	display: inline-block;
	padding: 6px 10px;
}

label {
	color: $base-title-color;
	&.required {
		&:before {
			content: "*";
			color: red;
			font-size: 14px;
			position: relative;
			line-height: 12px;
		}
	}
}

.unvisible {
	display: none;
}

.checkbox {
	line-height: 16px;
	label {
		color: #777777;
	}
}

.close {
	@include opacity(1);
	&:hover {
		@include opacity(1);
	}
}

//buttons
input.button_mini,
input.button_small,
input.button,
input.button_large,
input.button_mini_disabled,
input.button_small_disabled,
input.button_disabled,
input.button_large_disabled,
input.exclusive_mini,
input.exclusive_small,
input.exclusive,
input.exclusive_large,
input.exclusive_mini_disabled,
input.exclusive_small_disabled,
input.exclusive_disabled,
input.exclusive_large_disabled,
a.button_mini,
a.button_small,
a.button,
a.button_large,
a.exclusive_mini,
a.exclusive_small,
a.exclusive,
a.exclusive_large,
span.button_mini,
span.button_small,
span.button,
span.button_large,
span.exclusive_mini,
span.exclusive_small,
span.exclusive,
span.exclusive_large,
span.exclusive_large_disabled {
	position: relative;
	font-weight: bold;
	cursor: pointer;
	white-space: normal;
	font: 700 14px / 18px $font-family;
	color: $button-text-color;
	padding: 0;
	border: 1px solid;
	border-color: #06b2e6;
	@include border-radius(3px);
	padding: 8px 10px;
	display: inline-block;
	background:$button-bkg-color;
}

*:first-child+html input.button_mini,
*:first-child+html input.button_small,
*:first-child+html input.button,
*:first-child+html input.button_large,
*:first-child+html input.button_mini_disabled,
*:first-child+html input.button_small_disabled,
*:first-child+html input.button_disabled,
*:first-child+html input.button_large_disabled,
*:first-child+html input.exclusive_mini,
*:first-child+html input.exclusive_small,
*:first-child+html input.exclusive,
*:first-child+html input.exclusive_large,
*:first-child+html input.exclusive_mini_disabled,
*:first-child+html input.exclusive_small_disabled,
*:first-child+html input.exclusive_disabled,
*:first-child+html input.exclusive_large_disabled {
	border: none;
}

//hover button
input.button_mini:hover,
input.button_small:hover,
input.button:hover,
input.button_large:hover,
input.exclusive_mini:hover,
input.exclusive_small:hover,
input.exclusive:hover,
input.exclusive_large:hover,
a.button_mini:hover,
a.button_small:hover,
a.button:hover,
a.button_large:hover,
a.exclusive_mini:hover,
a.exclusive_small:hover,
a.exclusive:hover,
a.exclusive_large:hover {
	text-decoration: none;
	background-position: left -50px;
}

//active button
input.button_mini:active,
input.button_small:active,
input.button:active,
input.button_large:active,
input.exclusive_mini:active,
input.exclusive_small:active,
input.exclusive:active,
input.exclusive_large:active,
a.button_mini:active,
a.button_small:active,
a.button:active,
a.button_large:active,
a.exclusive_mini:active,
a.exclusive_small:active,
a.exclusive:active,
a.exclusive_large:active {
	background-position: left -100px;
}

input.button_disabled,
input.exclusive_disabled,
span.exclusive {
	border: 1px solid #cccccc;
	color: #999999;
	background: url(../img/bg_bt_2.gif) repeat-x 0 0 #cccccc;
	cursor: default;
}

.btn.disabled,
.btn[disabled]:hover {
	@include opacity(0.3);
}

.link-button {
	font-weight: bold;
	i {
		margin-right: 5px;
		&.large {
			font-size: 26px;
			line-height: 26px;
			vertical-align: -3px;
			color: silver;
		}
	}
}

.btn.button-plus,
.btn.button-minus {
	font-size: 10px;
	line-height: 14px;
	color: $button-pm-color;
	padding: 0;
	border: 1px solid $base-border-color;
	span {
		display: block;
		height: 32px;
		padding: 10px 0 0;
		text-align: center;
		vertical-align: middle;
		width: 34px;
	}
	&:hover {
		color: $base-text-color;
		background:none;
		span {
			filter: none;
		}
	}
}

.button.ajax_add_to_cart_button, .button.lnk_view,.button.button-small,.button.button-medium,.button.exclusive-medium
{
	font: 600 13px / 18px $font-family;
	color: $button-text-color;
	text-transform: uppercase;
	border: 1px solid $link-hover-color;
	margin:0;
	background:$button-bkg-color;
	@include border-radius(0);
	@include transition (all 0.3s ease 0s);
	padding: 0;
	span {
		padding: 8px 10px;
		display: block;
		i {
			display:none;
			vertical-align: 0px;
			margin-right: 5px;
			&.right {
				margin-right: 0;
				margin-left: 5px;
			}
		}
	}
	&:hover {
		border-color: $button-bkg-hovercolor;
		background: $button-bkg-hovercolor;
		span {
			color: $button-text-hovercolor;
		}
	}
}

#new-products_block_right,#special_block_right,#best-sellers_block_right
{
	a.button-small 
	{
		float: right;
		margin: 5px 0 0;
		span {
			i {
				display:none;
			}
		}
		&:hover{
			span{
			}	
		}	
	}
}

//form
.form-control {
	padding: 3px 5px;
	height: 27px;
	@include box-shadow(none);
	&.grey {
		background: $base-box-bg;
	}
	&:focus {
		@include box-shadow(none);
		border-color: $base-border-color;
	}
}

//table
#block-history .table	{
	tbody tr td	{ text-align:center;}
	thead tr th	{ text-align:center;}
}

table.std,
table.table_block {
	margin-bottom: 20px;
	width: 100%;
	border: 1px solid #999999;
	border-bottom: none;
	background: white;
	border-collapse: inherit;
}

table.std th,
table.table_block th {
	padding: 14px 12px;
	font-size: 12px;
	color: $light-text-color;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 1px 0 black;
	background: #999999;
}

table.std tr.alternate_item,
table.table_block tr.alternate_item {
	background-color: #f3f3f3;
}

table.std td,
table.table_block td {
	padding: 12px;
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	font-size: 12px;
	vertical-align: top;
}

.table {
	margin-bottom: 30px;
	> thead {
		> tr {
			> th {
				background: $table-background;
				border-bottom-width: 1px;
				color: $base-text-color;
				vertical-align: middle;
			}
		}
	}
	td {
		a.color-myaccount {
			color: $link-color;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

h5.product-name { margin:5px 0; padding:0;}

//product elements
.product-name {
	font: 400 13px/22px $font-family;
	color: $product-name-color;
	margin-bottom: 0;
	a {
		font: 400 13px / 20px $font-family;
		color: $product-name-color;
		&:hover {
			color: $product-name-hover-color;
		}
	}
}

.price {
	color: $product-price-color;
	white-space: nowrap;
	font: bold 18px / 20px $font-price;
}

.price.product-price {
	color: $product-price-color;
}

.old-price,#old_price {
	color: $product-old-price-color;
	text-decoration: line-through;
	font: 600 18px / 20px $font-price;
}


.price-percent-reduction,
#reduction_percent, #reduction_amount
{
	background: #d9d9d9 none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    color: #262626;
    display: inline-block;
    font: 500 12px/18px $font-price;
    padding: 0 2px;
	&.small {
		font: 500 12px / 18px $font-price;
		padding: 0 2px;
	}
}

//Labels New/Sale
.new-box,
.sale-box {
    color: #dc2626;
    padding: 1px 7px;
	left: 0;
    position: absolute;
	text-align: center;
	width: 60px;
}

.new-box {
    top: 0;
}

.sale-box {
	top: 30px;
}



//BOXES
.box {
	background: $base-box-bg;
	border: 1px solid $base-border-color;
	padding: $base-box-padding;
	margin: $base-box-indent;
	line-height: 23px;
	p {
		margin-bottom: 0;
	}
	&.box-small {
		padding: 9px 10px 9px 20px;
		.dark {
			padding-top: 7px;
			margin-bottom: 0;
			width: auto;
		}
	}
}

.page-product-box {
	padding-bottom: 15px;
}

.product-box {
	float: left;
	@include box-sizing(border-box);
	.product-image {
		display: block;
		img {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
}

//Homepage Tabs
.tm-hometabcontent {
	float: left;
	width: 100%;
	clear: both;
	margin:0;
	.short-description{
		text-align:center;
		margin-bottom:30px;
	}
	#home-page-tabs {
		line-height: 16px;
		text-align:center;
		border: medium none;
		display: inline-block;
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;
			float: none;
			line-height: 17px;
			list-style: none outside none;
			position: relative;
			text-align: center;
			a {
				color: $link-hover-color;
				display: block;
				float: left;
				font-size: 13px;
				font-weight:normal;
				margin: 0 10px;
				padding: 8px 22px;
				text-align: center;
				line-height: 17px;
				border:1px solid #d9d9d9;
				text-transform:uppercase;
				position:relative;
				min-width: 150px;
				&:focus {
					background: none;
				}
				@media (max-width: $screen-xs-max){ // max 767px
					font-size:12px;
					min-width:auto;
				}
				@media (max-width: $screen-xs) { // max 480px 
					min-width:150px;
					float:none;
					margin:0;
					display:inline-block;					
				}
				&.tm-hometab {
					overflow:hidden; padding:0;
					&:before {
						content: attr(data-text);
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						@include translate3d(-100%, 0, 0);
						font-weight:bold;
					}
					> span { display:block; }
					&:before, > span {
						padding:8px 22px; 
						-webkit-transition: -webkit-transform 0.3s;
						transition: transform 0.3s;
						-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
						transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
					}
					&:hover {
						&:before {
							@include translate3d(0, 0, 0);
						}
						> span {
							@include translate3d(0, 100%, 0);
						} 
					}
				}
			}
			&:after{
				border-top:1px solid #d1d1d1;
				position:absolute;
				content:"";
				width:25px;
				top:16px;
				right:-14px;
					@media (max-width: $screen-xs) { // max 480px 
						content:none;
					}
				
			}
			&:last-child{
				&:after{
					content:none;
				}
			}
			&.active {
				a {
					border:1px solid $link-hover-color;
					color: $link-hover-color;
					font-weight:bold;
				}
			}
			&:hover{
				a {
					border:1px solid $link-hover-color;
					color: $link-hover-color;
					background: none;
				}
			}
			@media (max-width: $screen-xs) { // max 480px 
				left:0;
				right:0;
				width:100%;
				margin:0 auto 10px;
			}
		}
	}
}
#index {
	.tab-content {
		float: left;
		width: 100%;
		clear: both;
		margin-top: 45px;
		
	}
}

.block {
	margin-bottom: 20px;
	@media (max-width: $screen-sm-max) {
		margin-bottom: 10px;
	}
	.block_content {
		margin: 0 -10px;
		// max 767px
		@media (max-width: $screen-xs-max) {
			margin-bottom: 20px;
		}
	}
}

#left_column,
#center_column,
#right_column	{ float:left;}

.column.col-xs-12.accordion,
.center_column.col-xs-12.accordion	
{ width:100% !important;}

#left_column .block ,#right_column .block {
	.title_block,
	h4 {
		color: $base-heading-color;
		font-size: 14px;
		border-bottom: 1px solid #e6e6e6;
		font-weight: bold;
		padding: 10px 0;
		font-family: $font-family;
		margin: 0;
		line-height: 22px;
		text-transform: uppercase;
		a {
			font-size: 14px;
		}
		@media (max-width: $screen-xs-max) { 
			cursor:pointer;
		}
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			font-size: 14px;
		}
		// max 767px
		@media (max-width: $screen-sm-max) {
			position: relative;
			&:after {
				 background: transparent url("../img/megnor/toggle-arrow.png") no-repeat scroll right 1px;
				content: "";
				cursor: pointer;
				height: 22px;
				position: absolute;
				right: 0;
				top: 10px;
				width: 20px;
			}
			&.active:after {
				background-position: right -51px;
			}
		}
		a {
			color: $base-heading-color;
			&:hover {
				color: $base-heading-color;
			}
		}
	}
	a { 
		font-size:13px;
		font-family:$font-family;
	}
	.tmleftbanner-container img{
		max-width:100%;
	}
	.block_content{
		position:relative;
		overflow:hidden;
		padding: 10px 10px 0;
		ul {
			margin:0;
			border:none;
			li {
			&.last_item {
				border-bottom:none;
			}
			}
		}
	}
	.list-block {
		li {
			a {
				display: block;
				padding: 4px 0;
				i {
					display: none;
				}
				&:hover {
					color: $link-hover-color;
					&:before { color: $link-hover-color;}
				}
			}
			&:first-child {
				border-top: none;
			}
		}
		.form-group {
			padding-top: 20px;
			border-top: 1px solid $base-border-color;
			margin-bottom: 0;
			select {
				max-width: 270px;
				cursor:pointer;
				// max 767px
				@media (max-width: $screen-xs-max) {
					width: 270px;
				}
			}
		}
		.btn {
			margin-top: 12px;
		}
	}
	.products-block {
		li {
			padding: 10px 0;
			margin:0;
			.products-block-image {
				float: left;
				margin-right: 10px;
			}
			.product-content {
				h5 {
					margin: 0 0 5px 0;
				}
			}
		}
		.product-description {
			margin-bottom: 14px;
			display:none;
		}
		.price-box {
			margin-top:8px;
		}
	}
}
#product{
.page-heading , h2.centertitle_block {
		background: transparent url("../img/megnor/divider.png") no-repeat scroll center bottom;
		color: $base-heading-color;
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 30px;
		padding-bottom: 30px;
		text-align: center;
		text-transform: uppercase;
		float: left;
		width: 100%;
	}
}
#index{
	.page-heading , h2.centertitle_block {
		background: transparent url("../img/megnor/divider.png") no-repeat scroll center top;
		color: $base-heading-color;
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		padding-top: 30px;
		padding-bottom:7px;
		text-align: center;
		text-transform: uppercase;
		float: left;
		width: 100%;
	}
}

.page-heading , h2.centertitle_block
{
	font: 600 14px/22px $font-family;
	color: $base-heading-color;
	padding: 0px 0px 20px 0px;
	margin:0 0 0 0;
	text-transform: uppercase;
	overflow: hidden;
	position: relative;
	span.heading-counter {
		font: normal 13px / 22px $font-family;
		float: right;
		color: $base-text-color;
		text-transform: none;
		@media (max-width: $screen-xs) {
			float: none;
			display: block;
			padding-top: 5px;
		}
	}
	span.lighter {
		color: #9c9c9c;
	}
	&.product-listing {
		border-bottom: none;
		margin: 0;
	}
}

.page-subheading {
	font-family: $font-family;
	font-weight: 600;
	color: $base-heading-color;
	margin: 0;
	font-size: 13px;
	padding: 0 0 15px;
	line-height: normal;
	text-transform: uppercase;
}

h3.page-product-heading {
	@include sub-heading;
}

// BLOCK .footer_links (cms pages)
ul.footer_links {
	li {
		float: left;
		&+li {
			margin-left: 10px;
		}
	}
}

// barre comparaison / tri
.content_sortPagiBar {
	clear: both;
	position: relative;
	margin: 0 0 30px 0;
	.sortPagiBar {
		#productsSortForm {
			float: right;
			margin:0 0px 0 20px;
			@media (max-width: $screen-xs-max) {
				clear: left;
				float: left;
				margin: 10px 10px 0 0;
			}
			select {
				max-width: 192px;
				float: left;
				cursor:pointer;
				@media (max-width: $screen-sm-max) {
					max-width: 160px;
				}
			}
			.selector {
				float: left;
			}
		}
		.nbrItemPage {
			float: right;
			margin:0;
			@media (max-width: $screen-xs-max) {
				float: left;
				margin: 10px 0 0 0;
			}
			select {
				max-width: 59px;
				float: left;
				cursor:pointer;
			}
			.clearfix > span {
				padding: 3px 0 0 12px;
				display: none;
				float: left;
			}
			#uniform-nb_item {
				float: left;
			}
		}
		label,
		select {
			float: left;
		}
		label {
			padding: 3px 6px 0 0;
			color: $base-heading-color;
			font-size: 12px;
			font-weight: normal;
		}
		&.instant_search {
			#productsSortForm {
				display: none;
			}
		}
	}
	.display,
	.display_m {
		float: left;
		margin: 0;
		li {
			float: left;
			text-align: center;
			&#grid 
			{ 
				margin:0px 0 0 0;
				a {
					background-position: 5px -18px;
					&:hover {
						background-position: -18px -18px;
					}
				}
				&.selected {
					a {
						background-position: -18px -18px;
					}
				}
			}
			&#list 
			{ 
				margin:0px 0 0 0;
				a {
					background-position: 5px 5px;
					&:hover {
						background-position: -18px 5px;
					}
				}
				&.selected {
					a {
						background-position: -18px 5px;
					}
				}
			}
			a {
				background: transparent url("../img/megnor/list.png") no-repeat scroll;
				cursor: pointer;
				height: 30px;
				display: block;
				width: 30px;
			}
			&.display-title {
				font-weight: bold;
				color: $base-text-color;
				padding: 7px 6px 0 0;
			}
			&.selected a {color:$GL-icon-color-hover;}
		}
	}
}

//pagination
.top-pagination-content,
.bottom-pagination-content {
	text-align: center;
	padding: 0;
	position: relative;
	div.pagination {
		margin: 2px 0 0 0;
		float: right;
		width: auto;
		text-align: center;
		// min 992px max 1199px
		@media (min-width: $screen-md) and (max-width: $screen-md-max) {
		}
		// max 991px
		@media (max-width: $screen-sm-max) {
			float: left;
			width: auto;
		}
		.showall {
			float: right;
			margin: 0px 10px 0 0px;
			// max 991px
			@media (max-width: $screen-sm-max) {
				margin-right: 0;
			}
		}
	}
	ul.pagination {
		margin: 0 10px 0 0;
		float: left;
		li {
			display: inline-block;
			float: left;
			margin:0 2px;
			padding: 0px;
			border:1px solid $link-hover-color;
			background:$button-bkg-color;
			> a,
			> span
			 {
				margin: 0 0 0 0px;
				padding: 8px 12px;
				line-height: 18px;
				font-weight: bold;
				display: block;
				background:none;
				font-size: 14px;
				border:none;
				span {
					padding: 0;
					border:none;
					display: block;
					background:none;
				}
			}
			&.pagination_previous,
			&.pagination_next {
				b {
					display: none;
				}
			}
			&:hover {
				background:$button-bkg-hovercolor;
				> a,
				> span
				{
					color: $button-text-hovercolor;
					span {
						color: $button-text-hovercolor;
					}
				}
			}
		  &.active  
		  {
		  	color:$button-text-hovercolor;
			background:$button-bkg-hovercolor;
			span {
				color:$button-text-hovercolor;
				background:$button-bkg-hovercolor;
			}
		  }	
		}
	}
	.compare-form {
		float: right;
		margin:2px 0 0;
		// max 479px
		@media (max-width: $screen-xs - 1) {
			float: left;
			width: 100%;
			text-align: left;
			padding-bottom: 10px;
			clear: both;
		}
	}
	.product-count {
		padding: 10px 0 0 0;
		float: left;
		// max 991px
		@media (max-width: $screen-sm-max) {
			clear: left;
			padding: 5px 0 0 0;
		}
	}
}

//CART steps
ul.step {
	margin-bottom: 30px;
	overflow: hidden;
	border-bottom:2px solid $link-hover-color;
	li {
		float: left;
		width: 20%;
		text-align: left;
		border:none;
		text-align:center;
		// max 480px
		@media (max-width: $screen-sm - 1) {
			width: 100%;
			border:none;
		}
		a,
		span,
		&.step_current span,
		&.step_current_end span {
			display: block;
			padding: 10px 10px 10px 13px;
			color: $link-hover-color;
			font-size: 17px;
			line-height: 21px;
			position: relative;
			// max 991px
			@media (max-width: $screen-md) {
				font-size: 15px;
			}
			@media (min-width: $screen-sm) and (max-width: $screen-lg) { 
					font-size: 14px;
			}
			// min 991px
			@media (min-width: $screen-md) {
				&:after {
					content: ".";
					position: absolute;
					top: 0;
					right: -31px;
					z-index: 0;
					text-indent: -5000px;
					display: block;
					width: 31px;
					height: 52px;
					margin-top: -2px;
				}
			}
			&:focus {
				text-decoration: none;
				outline: none;
			}
		}
		&.first {
			span,
			a {
				z-index: 5;
				padding-left: 13px !important;
				//min 480px
				@media (min-width: $screen-sm) {
					@include border-top-left-radius(4px);
					@include border-bottom-left-radius(4px);
				}
			}
		}
		&.second {
			span, a {
				z-index: 4;
			}
		}
		&.third {
			span, a {
				z-index: 3;
			}
		}
		&.four {
			span, a {
				z-index: 2;
			}
		}
		&.last {
			border:none;
			span {
				z-index: 1;
			}
		}
		&.step_current {
			background: $link-hover-color;
			border:none;
			span {
				color: $light-text-color;
				border:none;
				position: relative;
			}
		}
		&.step_current_end {
		}
		&.step_todo ,&.step_done{
			background:none;
			span {
				display: block;
				border:none;
				color: $base-text-color;
				position: relative;
			}
		}
		&#step_end {
			span {
				@media (min-width: $screen-md) {
					&:after {
						display: none;
					}
				}
			}
		}
		em {
			font-style: normal;
			// min 480px max 767px
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
				display: none;
			}
		}
	}
}

#block-history {
	@media (max-width: $screen-xs) { 
		overflow:scroll;
	}
}
.footer_links .button-small {
	margin:0 0 5px 0;
}


// module productcomments
.rating {
	clear: both;
	display: block;
	margin: 2em;
	cursor: pointer;
}

.rating:after {
	content: ".";
	display: block;
	height: 0;
	width: 0;
	clear: both;
	visibility: hidden;
}

.cancel, .star {
	overflow: hidden;
	float: left;
	margin: 0 1px 0 0;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.cancel, .cancel a {
	background: url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px !important;
}

.cancel a, .star a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0;
}

div.star_on a {
	background-position: 0 -16px;
}

div.star_hover a,
div.star a:hover {
	background-position: 0 -16px;
}

.pack_content {
	margin: 10px 0 10px 0;
}

.confirmation {
	margin: 0 0 10px;
	padding: 10px;
	border: 1px solid #e6db55;
	font-size: 13px;
	background: none repeat scroll 0 0 lightyellow;
}

#page .rte {
	background: transparent none repeat scroll 0 0;
}

.listcomment {
	list-style-type: none;
	margin: 0 0 20px 0 !important;
}

.listcomment li {
	padding: 10px 0;
	border-bottom: 1px dotted $base-border-color;
	color: #666666;
}

.listcomment .titlecomment {
	display: block;
	font-weight: bold;
	font-size: 12px;
	color: $base-text-color;
}

.listcomment .txtcomment {
	display: block;
	padding: 5px 0;
	color: $base-text-color;
}

.header-container {
	background: $light-background;
}

// BREADCRUMB
.breadcrumbdiv {
    display: inline-block;
    margin-bottom: 50px;
    position: relative;
    vertical-align: top;
    width: 100%;
	overflow: hidden;
	z-index: 0;
	background: #2c2c2c;
	color: $link-hover-color;
	.breadcrumb {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		@include border-radius(0);
		margin: 0 auto;
		padding: 35px 0;
		text-align: center;
		.breadcrumbs{
			margin:5px 0 0;
		}
	}
	.navigation-pipe {
		width: 5px;
		display: inline-block;
		color:$base-text-color;
		padding:0 14px 0 5px;
	}
	a {
		display: inline-block;
		padding: 0;
		position: relative;
		z-index: 2;
		color: $base-body-color;
		text-transform: capitalize;
		&.home {
			font-size: 17px;
			color: $base-body-color;
			text-align: center;
			padding: 0;
			z-index: 99;
			line-height: 22px;
			display: inline-block;
			i {
				vertical-align: -1px;
			}
			&:before {
				border: none;
			}
		}
		&:hover {
			color: $link-hover-color;
		}
	}
}

.breadcrumb-product, .breadcrumb-category, .breadcrumb-page, .breadcrumb-blogcategory, .breadcrumb-allblogcategory, .breadcrumb-blogpage{
	display: inline-block;
    font: bold 24px $font-family;
    margin: 0;
    text-transform: uppercase;
    vertical-align: top;
	@media (max-width: $screen-xs-max) { 
		width: 100%;
	}
}

.ie8 {
	.breadcrumb {
		min-height: 1px;
		a:after {
			display: none;
		}
		.navigation-pipe {
			width: 20px;
		}
	}
}


// FOOTER
#index .footer-container {
	@media (min-width: $screen-sm) { // mIN 768px
		bottom: 0;
		position: absolute;
		width: 100%;
		z-index: 5003;
		.hide_content { 
			display: none;
			background: #FFF;
		}
	}
}
.footer-container {
	.footer_hide {
		background: #262626;
		.container { position: relative; }
		#social_block {
			float: left;
			margin: 7px 0 6px;
			@media (max-width: $screen-xs-max) { 
				display: none;
			}
			&.active {
				display: none;	
			}
			h4 {
				display:none;
			}
			ul {
				margin: 0;
				li {
					display: inline-block;
					text-align: center;
					a {
						display: inline-block;
						font-size: 22px;
						color: #969696;
						span {
							display: none;
						}
						&:before {
							display: inline-block;
							font-family: $font-icon;
							font-weight: normal;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
						}
						&:hover {
							color: #FFF;
						}
					}
					&.facebook {
						a {
							&:before {
								content: "\f082";
							}
						}
					}
					&.twitter {
						a {
							&:before {
								content: "\f081";
							}
						}
					}
					&.rss {
						a {
							&:before {
								content: "\f143";
							}
						}
					}
					&.youtube {
						a {
							&:before {
								content: "\f166";
							}
						}
					}
					&.google-plus {
						a {
							&:before {
								content: "\f0d4";
							}
						}
					}
					&.pinterest {
						a {
							&:before {
								content: "\f0d3";
							}
						}
					}
                    &.vimeo {
						a {
							&:before {
								content: "\f194";
							}
						}
					}
                    &.instagram {
        				a {
							&:before {
								content: "\f16d";
							}
						}
					}
				}
			}
			
		}
		.footer_btn {
			@media (max-width: $screen-xs-max) { 
				display: none;
			}
			span.footer_top_arrow {
				color:#ffffff;
				cursor: pointer;
				background: #262626;
				display: block;
				height: 35px;
				line-height: 38px;
				right: 15px;
				position: absolute;
				text-align: center;
				top: 0;
				width: 50px;
				font-size:20px;
				&.active {
					top: -35px;
					&:before {
						content: "\f175";	
					}
				}
				&:hover {
					background: #444444;	
				}
				&:before {
					content: "\f176";
					font-family: $font-icon;
				}
			}
		}
	}
	#footer {
		clear:both;
		color: $base-body-color;  
		.row {
			position: relative;
			margin: 0;
		}
		.footer-block {
			margin-top: 62px;
			margin-bottom: 60px;
			padding: 0;
			width: 22%;
			float: right;
			padding: 0 0 0 70px;
			min-height: 230px;
			border-left: 1px solid $base-border-color;
			@media (max-width: $screen-md-max) { // max 1199
				width: 21%;
				padding: 0 0 0 30px;
			}
			@media (max-width: $screen-sm-max) {
				min-height: 0;
				border: medium none;
				margin: 5px 0;
				float:left;
				padding:0;
				width:100%;
			}
			.toggle-footer{
				@media (max-width: $screen-sm-max){ // max 991px
					padding:10px 0;
				}
				
			}
			li {
				line-height:22px;
			}
		}
		a {
			color: $base-body-color;
			&:hover {
				color: $link-hover-color;
			}
		}
		h4 {
			color: $base-heading-color;
			cursor: pointer;
			font: bold 13px/22px $font-family;
			margin: 10px 0;
			text-transform: uppercase;
			// max 991px
			@media (max-width: $screen-sm-max) {
				position: relative;
				cursor:pointer;
				margin: 0;
				padding: 0;
				&:after {
					background: transparent url("../img/megnor/toggle-arrow.png") no-repeat scroll right 1px;
					content: "";
					cursor: pointer;
					height: 22px;
					position: absolute;
					right: 0px;
					top: 0px;
					width: 20px;
				}
				&.active:after {
					background-position: right -51px;
				}
			}
			a {
				color: $base-heading-color;
			}
		}
		#block_contact_infos {
			border: medium none;
			width: 34%;
			min-height: 0;
			text-align: center;
			padding: 0 30px 0 0;
			margin: 22px 0 0 0;
			@media (max-width: $screen-md-max) { // max 1199
				width: 37%;
			}
			@media (max-width: $screen-sm-max) {
				width: 100%;
				text-align: left;
				padding: 0;
				margin: 5px 0;
			}
			> div {
				padding: 0 0 0 5px;
				// max 991px
				@media (max-width: $screen-sm-max) {
					padding-left: 0;
				}
				h4 {
					display:none;
					@media (max-width: $screen-sm-max) { // max 991px 
						display:block;
					}
				}
				ul {
					margin: 0;
					li {
						overflow: hidden;
						> span,
						> span a {
							font-weight: normal;
						}
						i {
							font-size: 14px;
							width: 20px;
							padding-top:3px;
							text-align: center;
							padding-right: 5px;
							display: none;
						}
					}
				}
			}
		}
		.blockcategories_footer {
			clear: left;
			.category_footer {
				ul {
					padding:0;
					li {
						padding:0 !important;
						margin:0 !important;
						background:none !important;
					}
				}
			}
		}
		#social_block {
			width: 34%;
			min-height: 0;
			float: left;
			text-align: center;
			padding: 0 30px 0 0;
			border: medium none;
			margin: 15px 0 0;
			@media (max-width: $screen-md-max) { // max 1199
				width: 37%;
			}
			@media (max-width: $screen-sm-max) {
				width: 100%;
				text-align: left;
				padding: 0;
				margin: 5px 0;
			}
			h4 {
				display:none;
				@media (max-width: $screen-sm-max) { // max 991px 
					display:block;
				}
			}
			ul {
				margin: 0;
				@media (max-width: $screen-sm-max) {
					margin:10px 0; 
				}
				li {
					display: inline-block;
					text-align: center;
					a {
						display: inline-block;
						font-size: 22px;
						color: #969696;
						span {
							display: none;
						}
						&:before {
							display: inline-block;
							font-family: $font-icon;
							font-weight: normal;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
						}
						&:hover {
							color: $link-hover-color;
						}
					}
					&.facebook {
						a {
							&:before {
								content: "\f082";
							}
							
						}
					}
					&.twitter {
						a {
							&:before {
								content: "\f081";
							}
						
						}
					}
					&.rss {
						a {
							&:before {
								content: "\f143";
							}
						
						}
					}
					&.youtube {
						a {
							&:before {
								content: "\f166";
							}
							
						}
					}
					&.google-plus {
						a {
							&:before {
								content: "\f0d4";
							}
						
						}
					}
					&.pinterest {
						a {
							&:before {
								content: "\f0d3";
							}
							
						}
					}
                    &.vimeo {
						a {
							&:before {
								content: "\f194";
							}
						}
					}
                    &.instagram {
        				a {
							&:before {
								content: "\f16d";
							}
						
						}
					}
				}
			}
			
		}
		.bottom-footer {
			text-align:center;
			color:$text-anchorcolor;
			float: left;
			h6 {
				margin: 0;
				padding: 5px 0 20px;
				font: 13px $font-family;
			}
			div {
				padding: 0;
				width: 100%;
			}
		}
		#block_various_links_footer{
			margin:0;
			background: rgba(0, 0, 0, 0) url("../img/megnor/footer-divider.png") no-repeat scroll center top;
			clear:both;
			padding: 37px 0 10px;
			border: none;
			width:100%;
			position: relative;
			min-height: 0;
			&:before {
				border-top: 1px solid $base-border-color;
				content: "";
				left: 0;
				position: absolute;
				top: 5px;
				width: 49%;
				@media (max-width: $screen-md-max) and (min-width: $screen-md){ // max 1200px min 992px
					width:48.8%;
				}
				@media (max-width: $screen-sm-max){ // max 991px
					width:48%;
				}
				@media (max-width: $screen-xs-max){ // max 767px
					width:47.9%;
				}
				@media (max-width: $screen-xs){ // max 480px 
					width:46.7%;
				}
				
			}
			&:after {
				border-top: 1px solid $base-border-color;
				content: "";
				right: 0;
				position: absolute;
				top: 5px;
				width: 49%;
				@media (max-width: $screen-md-max) and (min-width: $screen-md){ // max 1200px min 992px
					width:48.8%;
				}
				@media (max-width: $screen-sm-max){ // max 991px
					width:48%;
				}
				@media (max-width: $screen-xs-max){ // max 767px
					width:47.9%;
				}
				@media (max-width: $screen-xs){ // max 480px 
					width:46.7%
				}
			}
			h4{
				display:none;
			}
			ul {
				width:100%;
				padding:0; 
				text-align:center; 
				overflow:hidden; 
				margin:0;
				li {
					background: transparent url("../img/megnor/pipe.gif") no-repeat scroll left center;
					display: inline;
					padding: 0 3px 0 9px;
					&:first-child {
						background: none;
					}
					a { display: inline-block; }
					
				}
			}
			.footer_admintext {
				width:100%;
				float:left;
				text-align:center;
				color: $text-anchorcolor;
				margin:0;
			}
			@media (max-width: $screen-sm-max){ // max 991px
				margin:35px 0 0 0;
			}
		}
		.category_footer,
		#myaccount_footer,
		#tm_links_block1_footer,
		#tm_links_block2_footer,
		#tm_links_block3_footer,
		#tm_links_block4_footer,
		#block_various_links_footer {
			ul {
				margin: 0;
				li {
					a {
						line-height: 24px;
						text-transform: capitalize;
					}
				}
			}
		}
	}
}

#tmfootercms_block {
	width: 34%;
	text-align: center;
	float: left;
	margin: 62px 0 0 0;
	padding: 0 30px 0 0;
	@media (max-width: $screen-md-max) { // max 1199
		width: 37%;
	}
	@media (max-width: $screen-sm-max) {
		width: 100%;
		padding: 0;
		margin: 5px 0;
		display: none;
	}
}


#reinsurance_block {
	clear: both !important;
}

// Make sure lists are correctly displayed in tinyMCE BO edition mode too
#short_description_content ul,
#short_description_content ol,
#short_description_content dl,
#tinymce ul,
#tinymce ol,
#tinymce dl {
	margin-left: 20px;
}

.rte ul {
	list-style-type: none;
	padding-left: 15px;
}

.rte ol {
	list-style-type: decimal;
	padding-left: 15px;
}

.block_hidden_only_for_screen {
	display: none;
}

// PAIMENT - PAGE ORDER

//nav bottom
.cart_navigation {
	margin: 0 0 20px;
	.button-medium {
		float: right;
		margin:0 0 5px 0;
		i.right {
			font-size: 14px;
			vertical-align: 0px;
			margin-left: 6px;
		}
	}
	.button-exclusive {
		font: 600 13px / 18px $font-family;
		color: $button-text-color;
		text-transform: uppercase;
		border: 1px solid $link-hover-color;
		margin:0 0 5px;
		background:$button-bkg-color;
		@include border-radius(0);
		@include transition (all 0.3s ease 0s);
		padding: 0;
		padding: 8px 10px;
		i {
			display:none;
		}
		&:hover {
			border-color: $button-bkg-hovercolor;
			background: $button-bkg-hovercolor;
			color: $button-text-hovercolor;
		}
	}
	@media (max-width: $screen-xs) {
		> span {
			display: block;
			width: 100%;
			padding-bottom: 15px;
		}
	}
}
.cart_navigation .btn.btn-default.button.button-medium {
	background-color:$link-hover-color;
	border-color:$link-hover-color;
	@include transition (all 0.3s ease 0s);
	
	color:#fff;
	span{
		background-color:$link-hover-color;
		border-color:$link-hover-color;
		@include transition (all 0.3s ease 0s);
		color:#fff;
	}
	&:hover{
		background-color:$light-background;
		color:$base-heading-color;
		span{background-color:$light-background; color:$base-heading-color;}
	}
}

// step 1 - cart
.cart_last_product {
	display: none;
}

.text-right {
    text-align: left;
	@media (max-width: $screen-xs) {
		text-align: center;
	}
}

.cart_quantity .cart_quantity_input {
	height: 27px;
	line-height: 27px;
	padding: 0;
	text-align: center;
	width: 57px;
	background:none;
	@media (max-width: $screen-xs-max) {
		margin:0 0 4px 0;
	}
}

.cart_gift_quantity .cart_quantity_input {
	height: 27px;
	line-height: 27px;
	padding: 0;
	text-align: center;
	width: 57px;
}

.table {
	tbody > tr > td {
		vertical-align: middle;
		&.cart_quantity {
			padding: 28px 14px 25px;
			width: 88px;
			.cart_quantity_button {
				margin-top: 3px;
				a {
					float: left;
					margin-right: 3px;
					span {
						width: 25px;
						padding: 5px;
						height: 25px;
					}
					&+ a {
						margin-right: 0;
					}
				}
			}
		}
	}
	tfoot > tr > td {
		vertical-align: middle;
	}
}

.cart_delete a.cart_quantity_delete,
a.price_discount_delete {
	font-size: 23px;
	color: $base-text-color;
	&:hover {
		color: silver;
	}
}

#cart_summary {
	tbody {
		td {
			text-align:center;
			&.cart_product {
				padding: 7px 8px 9px 18px;
				width: 137px;
				img {
					border: 1px solid $table-border-color;
				}
			}
			&.cart_unit {
				.price {
					span {
						display: inline-block;
						&.price-percent-reduction {
							margin: 5px auto;
							display: inline-block;
						}
						&.old-price {
							text-decoration: line-through;
						}
					}
				}
			}
			&.cart_description {
				small {
					display: block;
					padding: 5px 0 0 0;
				}
			}
			&.cart_avail {}
		}
		td.cart_avail,td.cart_unit {
			width:110px;
		}
	}

	tfoot {
		td {
			&.text-right,&.cart_unit ,&.cart_total{
				font-weight: bold;
				color: $base-text-color;
			}
			&.price {
				text-align: right;
			}
			&.total_price_container {
				span {
					font: 600 18px / 22px $font-custom;
					color: #555454;
					text-transform: uppercase;
				}
			}
			&#total_price_container {
				font: 600 21px / 25px $font-custom;
				color: $product-price-color;
				background: $light-background;
			}
		}
	}
	thead {
		th {
			text-align:center;
		}
	}
}

#cart_summary .stock-management-on {
	tbody {
		td {
			&.cart_description {
				width: 480px;
			}
		}
	}
}
.cart_discount_price {
  text-align: right; }

.cart_discount_delete {
  text-align: center; }

@media (max-width: $screen-xs-max) {
	#order-detail-content {
		#cart_summary {
			table, thead, tbody, th, td, tr {
				display: block;
			}
			thead tr {
				position: absolute;
				top: -9999px;
				left: -9999px;
			}
			tr {
				border-bottom: 1px solid #cccccc;
				overflow: hidden;
			}
			td {
				border: none;
				position: relative;
				width: 50%;
				text-align:left;
				float: left;
				white-space: normal;
				&.cart_product {}
				&.cart_description {}
				&.cart_avail {
					clear: both;
				}
				&.cart_unit {}
				&.cart_quantity {
					clear: both;
					padding: 9px 8px 11px 18px;
				}
				&.cart_total {}
				&.cart_delete {
					&:before {
						display: inline-block;
						padding-right: 0.5em;
						position: relative;
						top: -3px;
					}
				}
				div {
					display: inline-block;
				}
			}
			td:before {
				content: attr(data-title);
				display: block;
			}
			tfoot {
				td {
					float: none;
					width: 100%;
					&:before {
						display: inline;
					}
				}
				tr {
					.text-right, .price,.cart_unit ,.cart_total{
						display: block;
						float: left;
						width: 50%;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-xs) {
	#order-detail-content {
		#cart_summary {
			td {
				width: 100%;
				text-align:center;
				&.cart_quantity {
					.cart_quantity_input  {
						display:inline-block;
						vertical-align:top;
						margin-top:4px;
					}
					div {
						display: inline-block;
					}
				}
			}
		}
	}
}

.cart_voucher {
	vertical-align: top !important;
	h4 {
		font: 600 18px / 22px $font-custom;
		color: $base-heading-color;
		text-transform: uppercase;
		padding: 7px 0 10px 0;
	}
	.title-offers {
		color: $base-text-color;
		font-weight: bold;
		margin-bottom: 6px;
	}
	fieldset {
		margin-bottom: 10px;
		#discount_name {
			float: left;
			width: 219px;
			margin-right: 11px;
		}
	}
	#display_cart_vouchers {
		span {
			font-weight: bold;
			cursor: pointer;
			color: $link-color;
			&:hover {
				color: $link-hover-color;
			}
		}
	}
}

.enable-multishipping {
	margin: -13px 0 17px;
	label {
		font-weight: normal;
	}
}

#HOOK_SHOPPING_CART {
	#loyalty {
		i {
			font-size: 26px;
			line-height: 26px;
			color: #cfcccc;
		}
	}
}

#order_carrier {
	clear: both;
	margin-top: 20px;
	border: 1px solid #999999;
	background: $light-background;
}

#order_carrier .title_block {
	padding: 0 15px;
	height: 29px;
	font-weight: bold;
	line-height: 29px;
	color: $light-text-color;
	font-weight: bold;
	text-transform: uppercase;
	background: url(../img/bg_table_th.png) repeat-x 0 -10px #999999;
}

#order_carrier span {
	display: block;
	padding: 15px;
	font-weight: bold;
}

.multishipping_close_container {
	text-align: center;
}

table#cart_summary .gift-icon {
	color: white;
	background: #0088cc;
	line-height: 20px;
	padding: 2px 5px;
	@include border-radius(5px);
}

// step 3 - address
#multishipping_mode_box {
	padding-top: 12px;
	padding-bottom: 19px;
	.title {
		font-weight: bold;
		color: $base-text-color;
		margin-bottom: 15px;
	}
	.description_off {
		display: none;
		div {
			margin-bottom: 10px;
		}
	}
	.description_off a:hover,
	.description a:hover {
		background: #f3f3f3;
		border: 1px solid #cccccc;
	}
}

#multishipping_mode_box.on .description_off {
	display: block;
}

.multishipping-cart {
	.cart_address_delivery {
		&.form-control {
			width: 198px;
		}
	}
}

#order .address_add.submit {
	margin-bottom: 20px;
}

#ordermsg {
	margin-bottom: 30px;
}

#id_address_invoice.form-control,
#id_address_delivery.form-control {
	width: 269px;
	cursor:pointer;
}

.addresses {
	.select label,
	.selector,
	.addresses .address_select {
		clear: both;
		float: left;
	}
	.waitimage {
		display: none;
		float: left;
		width: 24px;
		height: 24px;
		background-image: url("../../../img/loader.gif");
		background-repeat: no-repeat;
		position: relative;
		bottom: -2px;
		left: 10px;
	}
	.checkbox.addressesAreEquals {
		clear: both;
		float: left;
		margin: 15px 0 25px 0;
	}
}

// step 4 - paiement
#order .delivery_option,
#order-opc .delivery_option {
	> div {
		display: block;
		margin-bottom: 20px;
		font-weight: normal;
		> table {
			background: $light-background;
			margin-bottom: 0;
			&.resume {
				height: 53px;
				&.delivery_option_carrier {
					margin-top: 10px;
					width: 100%;
					background: $state-info-bg;
					color: $state-info-text;
					border: 1px solid $state-info-border;
					font-weight: bold;
					td {
						padding: 8px 11px 7px 11px;
						i {
							font-size: 20px;
							margin-right: 7px;
							vertical-align: -2px;
						}
					}
				}
				td {
					padding: 10px;
					@media (max-width: $screen-xs) { // Max 480
						float: left;
						width: 100%;
						border: medium none;
						text-align: center;
					}
					&.delivery_option_radio {
						text-align: center;
						@media (min-width: $screen-xs + 1) { // min 480
							width: 50px;
						}
					}
					&.delivery_option_logo {
						text-align: center;
						@media (min-width: $screen-xs + 1) { // min 480
							width: 80px;
						}
					}
					&.delivery_option_price {
						text-align: center;
						@media (min-width: $screen-xs + 1) { // min 480
							width: 80px;
						}
					}
				}
			}
		}
	}
}

.order_carrier_content {
	line-height: normal;
	padding-bottom: 16px;
	.carrier_title {
		font-weight: bold;
		color: $base-text-color;
	}
	.checkbox {
		input {
			margin-top: 2px;
		}
	}
	.delivery_options_address {
		.carrier_title {
			margin-bottom: 17px;
		}
	}
	& + div {
		padding-bottom: 15px;
	}
}

#carrierTable {
	border: 1px solid #999999;
	border-bottom: none;
	background: $light-background;
}

#carrierTable tbody {
	border-bottom: 1px solid #999999;
}

#carrierTable th {
	padding: 0 15px;
	height: 29px;
	font-weight: bold;
	line-height: 29px;
	color: $light-text-color;
	text-transform: uppercase;
	background: url(../img/bg_table_th.png) repeat-x 0 -10px #999999;
}

#carrierTable td {
	padding: 15px;
	font-weight: bold;
	border-right: 1px solid #e9e9e9;
}

#carrierTable td.carrier_price {
	border: none;
}

p.checkbox.gift {
	margin-bottom: 10px;
}

#gift_div {
	display: none;
	margin-top: 5px;
	margin-bottom: 10px;
}

a.iframe {
	color: $base-text-color;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

//step 5 - paiement
p.payment_module {
	margin-bottom: 10px;
	a {
		display: block;
		border: 1px solid #E5E5E5;
		font-size: 17px;
		line-height: 23px;
		padding:15px 15px 15px 60px;
		letter-spacing: -1px;
		position: relative;
		@media (max-width: $screen-xs) { // Max 319
			font-size:14px;
		}
		&:before{
			font-family: $font-icon;
			font-size: 27px;
			left: 15px;
			margin-right: 15px;
			position: absolute;
			top: 15px;
		}
		&.bankwire {
			&:before {content:"\f09d";}
		}
		&.cheque {
			&:before {content:"\f044";}
		}
		&.cash {
			&:before {content:"\f0d6";}
		}
		&.cheque, &.bankwire, &.cash {
			&:after {
				display: block;
				content: "\f054";
				position: absolute;
				right: 15px;
				margin-top: -11px;
				top: 50%;
				font-family: $font-icon;
				font-size:16px;
				height: 22px;
				width: 14px;
				@media (max-width: $screen-xs - 1) { // max 479px
					font-size:14px;
				}
			}
		}
		&:hover {
			&:after{color:$link-hover-color;}
		}
		span {
		}
	}
}

.payment_module.box {
	margin-top: 20px;
}

p.cheque-indent {
	margin-bottom: 9px;
}

.cheque-box {
	.form-group {
		margin-bottom: 0px;
		.form-control {
			width: 269px;
		}
	}
}

.order-confirmation.box {
	line-height: 29px;
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

//PAGE ORDER-OPC
.delivery_option_carrier td {
	width: 200px;
}

.delivery_option_carrier td + td {
	width: 280px;
}

.delivery_option_carrier td + td + td {
	width: 200px;
}

.delivery_option_carrier tr td {
	padding: 5px;
}

.delivery_option_carrier.selected {
	display: table;
}

.not-displayable {
	display: none;
}

//PAGES ADRESSES, IDENTITY
#address,
#identity,
#account-creation_form,
#new_account_form,
#opc_account_form,
#authentication {
	.box {
		padding-bottom: 20px;
		line-height: 20px;
		overflow:hidden;
	}
	padding-bottom: 20px;
	p.required {
		color: #f13340;
		margin: 9px 0 16px 0;
	}
	p.inline-infos {
		color: red;
	}
	div.checkbox	
	{
		margin:5px 0;
		width:100%;
		float:left;
		clear:both;
	}
	.form-group {
		margin:5px 0;
		width:100%;
		float:left;
		clear:both;
		label
		{
			float:left;
			width: 30%;
			font-weight: normal;
			@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
				width:35%;
			}
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
				width:100%;
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				width:30% !important;
			}
			@media (max-width: $screen-xs)
			{
					width:100%; 
			}
		}
		.form-control {
			max-width: 270px;
			&#adress_alias {
				margin-bottom: 20px;
			}
			
			@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
				max-width: 185px;
			}
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
				max-width: 100%;
				clear:both;
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				width:270px;
			}
			@media (max-width: $screen-xs)
			{
				max-width: 100%;
				clear:both;
			}
		}
		&.phone-number {
			// min 1200px
			@media (min-width: $screen-lg) {
				float: left;
				margin-right: 13px;
			}
			+ p {
				@media (min-width: $screen-lg) {
					padding: 23px 0 0 0px;
					margin-bottom: 0;
				}
			}
		}
	}
	.gender-line {
		margin-bottom: 4px;
		padding-top: 4px;
		> label {
			margin-right: 10px;
			margin-bottom: 0;
		}
		.radio-inline {
			label {
				font-weight: normal;
				color: #777777;
			}
		}
	}
}

div.radio input ,
div.selector select,
.checker span input
{ cursor:pointer;}

div.selector select option { background:#FFF;}

#identity #center_column form.std .row .col-xs-4,
#authentication #center_column form.std .row .col-xs-4
{
	 padding-left:0 !important;
	 @media (max-width: $screen-xs-max)
	{
		 padding-left:5px !important;
	}
}

#identity,
#authentication,
#order-opc {
	#center_column {
		form.std {
			.row {
				margin-left: -5px;
				margin-right: -5px;
				.col-xs-4 {
					padding-left: 0px;
					padding-right: 0px;
					max-width: 94px;
					.form-control {
						max-width: 84px;
					}
				}
			}
			label {
				font-weight: normal;
			}
		}
		.footer_links {
			border: none;
			padding-top: 0;
		}
	}
}

#new_account_form .box {
	line-height: 20px;
	.date-select {
		padding-bottom: 10px;
	}
	.top-indent {
		padding-top: 10px;
	}
	.customerprivacy {
		padding-top: 15px;
	}
}

#authentication {
	margin:0;
	padding:0;
	fieldset.account_creation {
		margin-bottom: 20px;
	}
	margin-bottom: 20px;
}

// PASSWORD
#password {
	.box {
		p {
			margin-bottom: 9px;
		}
		.form-group {
			margin-bottom: 20px;
			.form-control {
				width: 263px;
			}
		}
	}
	.footer_links {}
	padding-top: 0;
	border: none;
}

//PAGE SEARCH
#instant_search_results {
	a.close {
		font-size: 13px;
		font-weight: 600;
		@include opacity(1);
		line-height: inherit;
		text-transform: none;
		font-family: $font-family;
		&:hover {
			color: $link-hover-color;
		}
	}
}

// MANUFACTURERS/SUPPLIERS
#manufacturers_list,
#suppliers_list {
	h3 {
		font-size: 17px;
		line-height: 23px;
	}
	.description {
		line-height: 18px;
	}
	.product-counter {
		a {
			font-weight: bold;
			color: $base-text-color;
			&:hover {
				color: $link-hover-color;
			}
		}
	}
	&.list {
		li {
			.mansup-container {
				border-top: 1px solid $base-border-color;
				padding: 31px 0 30px 0;
				// < 768
				@media (max-width: $screen-xs-max) {
					text-align: center;
				}
			}
			&:first-child {
				.mansup-container {
					border-top: 0;
				}
			}
			.left-side {
				text-align: center;
			}
			h3 {
				margin-top: -5px;
				padding-bottom: 8px;
			}
			.middle-side {
				padding-left: 0;
				// < 768
				@media (max-width: $screen-xs-max) {
					padding-right: 15px;
					padding-left: 15px;
				}
			}
			.right-side-content {
				border-left: 1px solid $base-border-color;
				padding: 0 0 32px 31px;
				min-height: 108px;
				// < 768
				@media (max-width: $screen-xs-max) {
					min-height: 1px;
					padding: 0;
					border: none;
				}
				.product-counter {
					position: relative;
					top: -6px;
					margin-bottom: 12px;
					// < 768
					@media (max-width: $screen-xs-max) {
						top: 0;
					}
				}
			}
		}
	}
	&.grid {
		li {
			text-align: center;
			.product-container {
				padding-top: 40px;
				padding-bottom: 20px;
				border-bottom: 1px solid $base-border-color;
				.left-side {
					padding-bottom: 42px;
				}
				h3 {
					padding-bottom: 10px;
				}
				.product-counter {
					margin-bottom: 12px;
				}
			}
		}
		// > 1199
		@media (min-width: $screen-lg) {
			li.first-in-line {
				clear: left;
			}
			li.last-line {
				.product-container {
					border-bottom: none;
				}
			}
		}
		//768 -> 1199
		@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
			li.first-item-of-tablet-line {
				clear: left;
			}
			li.last-tablet-line {
				.product-container {
					border-bottom: none;
				}
			}
		}
		// < 768
		@media (max-width: $screen-xs-max) {
			li.item-last {}
			.product-container {
				border-bottom: none;
			}
		}
	}
}

#manufacturer,
#supplier {
	.description_box {
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px solid $base-border-color;
		.hide_desc {
			display: none;
		}
	}
}

//DISCOUNT PAGE
table.discount {
	i {
		font-size: 20px;
		line-height: 20px;
		vertical-align: -2px;
		&.icon-ok {
			color: #46a74e;
		}
		&.icon-remove {
			color: #f13340;
		}
	}
}

//GUEST TRACKING
#guestTracking {
	.form-control {
		max-width: 271px;
	}
	// > 1200px
	@media (min-width: $screen-lg) {
		.form-group {
			overflow: hidden;
			i {
				padding-left: 10px;
			}
		}
		.form-control {
			float: left;
		}
		label {
			float: left;
			clear: both;
			width: 100%;
		}
	}
}

//PAGE 404
#pagenotfound {
	.pagenotfound {
		max-width: 824px;
		margin: 0 auto;
		text-align: center;
		.img-404 {
			padding: 8px 0 27px 0;
			img {
				max-width: 100%;
			}
		}
		h1 {
			font: 600 28px / 34px $font-custom;
			color: $base-text-color;
			text-transform: uppercase;
			margin-bottom: 7px;
		}
		p {
			font: 600 16px / 20px $font-custom;
			color: #555454;
			text-transform: uppercase;
			border-bottom: 1px solid $base-border-color;
			padding-bottom: 19px;
			margin-bottom: 20px;
		}
		h3 {
			font-weight: bold;
			color: $base-text-color;
			font-size: 13px;
			line-height: normal;
			margin-bottom: 18px;
		}
		label {
			font-weight: normal;
			@media (max-width: $screen-xs-max) {
				display: block;
			}
		}
		.form-control {
			max-width: 293px;
			display: inline-block;
			margin-right: 5px;
			// max 767px
			@media (max-width: $screen-xs-max) {
				margin: 0 auto 15px auto;
				display: block;
			}
		}
		.buttons {
			padding: 48px 0 20px 0;
			.button-medium {
				i.left {
					font-size: 17px;
				}
			}
		}
	}
}

//addon RerversoForm
#account-creation_form fieldset.reversoform {
	padding: 10px !important;
}

#account-creation_form fieldset.reversoform .text label {
	display: block;
	padding: 0 0 10px 0;
	width: 100%;
	text-align: left;
}

#account-creation_form fieldset.reversoform .infos-sup {
	padding: 0 !important;
	font-size: 10px;
	font-style: italic;
	text-align: right;
}

//addon customer privacy
#account-creation_form fieldset.customerprivacy label,
fieldset.customerprivacy label {
	cursor: pointer;
}

//addon referralprogram
.tab-content {
	margin-top: 20px;
}

//addons comments products
form#sendComment fieldset {
	padding: 10px;
	border: 1px solid #cccccc;
	background: #eeeeee;
}

form#sendComment h3 {
	font-size: 14px;
}

#new_comment_form p.text {
	margin-bottom: 0;
	padding-bottom: 0;
}

#sendComment p.text label,
#sendComment p.textarea label {
	display: block;
	margin: 12px 0 4px;
	font-weight: bold;
	font-size: 12px;
}

#sendComment p.text input {
	padding: 0 5px;
	height: 28px;
	width: 498px;
	border: 1px solid #cccccc;
	background: url(../img/bg_input.png) repeat-x 0 0 $light-background;
}

#sendComment p.textarea textarea {
	height: 80px;
	width: 508px;
	border: 1px solid #cccccc;
}

#sendComment p.submit {
	padding: 0;
	text-align: right;
}

#sendComment p.closeform {
	float: right;
	padding: 0;
	height: 12px;
	width: 12px;
	text-indent: -5000px;
	background: url(../img/icon/delete.gif) no-repeat 0 0;
}

.star {
	position: relative;
	top: -1px;
	float: left;
	width: 14px;
	overflow: hidden;
	cursor: pointer;
	font-size: 13px;
	height: 20px;
	font-weight: normal;
}

.star {
	display: block;
	a {
		display: block;
		position: absolute;
		text-indent: -5000px;
		font-size:0;
	}
}


div.star {
	display: inline-block;
    float: none;
    margin: 0;
    vertical-align: top;
    width: 13px;
	&:after {
		content: "\f005";
		font-family: $font-icon;
		display: inline-block;
		color: #aaaaaa;
	}
}

div.star.star_on {
	&:after {
		content: "\f005";
		font-family: $font-icon;
		display: inline-block;
		color:#f2b611;
	}
}

div.star.star_hover {
	&:after {
		content: "\f005";
		font-family: $font-icon;
		display: inline-block;
		color: $link-hover-color;
	}
}

//CSS Modules
//IMPORTANT - Internet Explorer can read 31 CSS files max. Some CSS have been put here and erased from their own module folder.

//Block ADVERTISING
.advertising_block {
	width: 191px;
	margin-bottom: 1em;
	text-align: center;
}

//footer
.blockcategories_footer ul ul {
	display: none !important;
}

//Form validate
.form-group {
	&.form-error {
		input, textarea {
			border: 1px solid #f13340;
			color: #f13340;
			background: url(../img/icon/form-error.png) 98% 5px no-repeat #fff1f2;
		}
	}
	&.form-ok {
		input, textarea {
			border: 1px solid #46a74e;
			color: #35b33f;
			background: url(../img/icon/form-ok.png) 98% 5px no-repeat #ddf9e1;
		}
	}
	&.form-error, &.form-ok {
		.form-control {
			padding-right: 30px;
		}
	}
}

//uniform
.radio-inline, .checkbox {
	cursor:pointer;
	padding-left: 0;
	.checker {
		float: left;
		span {
			top: 0px;
		}
	}
	div.radio {
		display: inline-block;
		span {
			float: left;
			top: 0px;
		}
	}
}

.fancybox-skin {
	background: $light-background !important;
}

.fancybox-skin .fancybox-close {
	background:$light-background;
    border: 1px solid $dark-border-color;
    color: $base-text-color;
    font-size: 15px;
    height: 25px;
    line-height: 22px;
	right: -10px;
    text-align: center;
    top: -10px;
    width: 25px;
	@include border-radius(50px);
	&:hover {
		color: $link-hover-color;
	}
	&:after {
		content: "\f00d";
		font-family: $font-icon;
	}
}

//Homepage pre-footer
#facebook_block,
#cmsinfo_block {
	overflow: hidden;
	background: $homepage-footer-bg;
	min-height: 344px;
	padding-right: 29px;
	padding-left: 29px;
	// max 991px
	@media (max-width: $screen-sm-max) {
		min-height: 348px;
		padding-left: 13px;
		padding-right: 13px;
	}
	// max 767px
	@media (max-width: $screen-xs-max) {
		width: 100%;
		min-height: 1px;
	}
}

#facebook_block {
	h4 {
		padding: 35px 0 0 0;
		margin: 0 0 12px 0;
		font: 300 21px / 25px $font-custom;
		color: lighten($base-heading-color, 10%);
		// max 991px
		@media (max-width: $screen-sm-max) {
			font-size: 18px;
		}
		// max 767px
		@media (max-width: $screen-xs-max) {
			padding-top: 20px !important;
		}
		// 768px
		@media (max-width: $screen-sm) {
			font-size: 16px;
		}
	}
	.facebook-fanbox {
		background: $light-background;
		border: 1px solid #aaaaaa;
		padding-bottom: 10px;
	}
}

#cmsinfo_block {
	border-left: 1px solid $homepage-footer-border;
	// max 767px
	@media (max-width: $screen-xs-max) {
		border: none;
		margin-top: 10px;
	}
	> div {
		padding: 35px 10px 0 0;
		// max 767px
		@media (max-width: $screen-xs-max) {
			padding-top: 20px;
		}
		// max 479px
		@media (max-width: $screen-xs - 1) {
			width: 100%;
			border-top: 1px solid $homepage-footer-border;
		}
	}
	> div + div {
		border-left: 1px solid $homepage-footer-border;
		min-height: 344px;
		padding-left: 29px;
		// max 479px
		@media (max-width: $screen-xs - 1) {
			border-left: none;
			padding-left: 10px;
			min-height: 1px;
			padding-bottom: 15px;
		}
	}
	em {
		float: left;
		width: 60px;
		height: 60px;
		margin: 3px 10px 0 0;
		font-size: 30px;
		color: $light-text-color;
		line-height: 60px;
		text-align: center;
		background: lighten($base-heading-color, 10%);
		@include border-radius(100px);
		// max 991px
		@media (max-width: $screen-sm-max) {
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 20px;
		}
	}
	.type-text {
		overflow: hidden;
	}
	h3 {
		margin: 0 0 5px 0;
		font: 300 21px / 25px $font-custom;
		color: lighten($base-heading-color, 10%);
		// max 1199px
		@media (max-width: $screen-md-max) {
			font-size: 18px;
		}
	}
	ul {
		li {
			padding-bottom: 22px;
			// max 1199px
			@media (max-width: $screen-md-max) {
				padding-bottom: 10px;
			}
			// max 991px
			@media (max-width: $screen-sm-max) {
				padding-bottom: 0;
			}
		}
	}
	p {
		em {
			background: none;
			@include border-radius(0);
			margin: 0;
			font-size: 13px;
			color: $text-color;
			float: none;
			height: inherit;
			line-height: inherit;
			text-align: left;
			font-style: italic;
		}
	}
}

.ie8 {
	#facebook_block,
	#cmsinfo_block {
		height: 344px;
	}
}

//Zoom
// max 1199px
@media (max-width: $screen-md-max) {
	.zoomdiv {
		display: none !important;
	}
}

//temporary fix for quickview
#product.content_only {
	div.pb-left-column {
		p.resetimg {
			margin-bottom: 0px;
			padding-top: 0px;
		}
		#thumbs_list_frame {
			margin-bottom: 0px;
		}
	}
}

//Product Compare
#product_comparison {
	td.compare_extra_information {
		padding: 10px;
	}
	#social-share-compare {
		margin-bottom: 50px;
	}
}

//Social Sharing
.btn-facebook, .btn-twitter, .btn-google-plus, .btn-pinterest {
	&:hover {
		border-color: white;
	}
}

.btn-facebook {
	i {
		color: #435f9f;
	}
	&:hover {
		color: white;
		background-color: #435f9f;
		i {
			color: white;
		}
	}
}

.btn-twitter {
	i {
		color: #00aaf0;
	}
	&:hover {
		color: white;
		background-color: #00aaf0;
		i {
			color: white;
		}
	}
}

.btn-google-plus {
	i {
		color: #e04b34;
	}
	&:hover {
		color: white;
		background-color: #e04b34;
		i {
			color: white;
		}
	}
}

.btn-pinterest {
	i {
		color: #ce1f21;
	}
	&:hover {
		color: white;
		background-color: #ce1f21;
		i {
			color: white;
		}
	}
}

/*====================== EXTRA CSS ADDED ========================*/

.top_button {
	background: #d9d9d9 none repeat scroll 0 0;
	bottom: 50px;
	display: none;
	height: 30px;
	position: fixed;
	right: 30px;
	width: 30px;
	z-index: 95;
	&:before {
		color: #777;
		content: "\f106";
		font-family: fontawesome;
		font-size: 20px;
		left: 8px;
		position: absolute;
		top: 3px;
	}
}
.selector select 
	option {
		padding:1px 5px;
	}
#productscategory_list  ,
#crossselling_list
{
	position:relative;
}

div.uploader {
@media (max-width: $screen-xs){// max 480px
height:auto !important;

}
}


@media (max-width: $screen-sm-max) and (min-width: $screen-sm){ // max 991px min 768px
#addresses div.selector
{	
&:hover , &:focus 
{
span{background-position:0 0 !important;}
}
 }
}
@media (max-width: $screen-xs-max) {
.attribute_list div.selector { width:250px !important; }
}
#HOOK_SHOPPING_CART #crossselling { margin:50px 0 0 0;}

.display-title{display:none;}

#left_column ,#right_column {
	#categories_block_left {
		.block_content ul {
			li {
				ul {
					margin:0 0 0 10px;
					li {
						ul {
							margin:0 0 0 10px;
						}	
					}
				}
			}
		}
	}
}

.availability .available-now,
#availability_value, #last_quantities,
#order-detail-content .label-success
{
	font-weight:normal;
	padding:3px 5px;
	background:#e9e9e9;
	color:#777777;
	border:1px solid #e9e9e9 ;
	line-height:18px;
}

.alert-warning, .alert-danger{
	font-weight:normal;
	background-color: #FFF1F2;
    border-color: #F13340;
	text-shadow:none;
    color: #F13340;
}

.alert.alert-success{
	font-weight:normal;
	background-color: #DDF9E1;
	border-color: #46A74E;
	text-shadow:none;
	color: #35B33F;
}
div.uploader span.filename, .form-control.grey{background:$text-anchorcolor;}
	
.layered_filter div.checker span{
	top: 2px !important;
}

#order .price.text-right{
	@media (max-width: $screen-xs){
		text-align:center;
	}
}
#address_invoice_form{float:left;}

.tm_contactinfo{
	padding-left:21px;
}

/*-------------------------- Layer navigation price slider -------------------------------*/

.ui-slider-horizontal .ui-slider-handle{margin-left:-3px !important;}
.ui-slider-horizontal .ui-slider-handle:last-child {margin-left: -9px !important; margin-right: 7px !important;}
.ui-slider-horizontal .ui-slider-handle{cursor:pointer;}

/*---------------------------- TM Blog Block---------------------------------------*/
#tmsmartblog_block {
	float: left;
	width: 100%;
	padding:0;
	margin:95px 0 40px;
	@media (max-width: $screen-sm-max){margin:60px 0 40px;}
	.sdstitle_block{
			background: transparent url("../img/megnor/divider.png") no-repeat scroll center bottom ;
			border: medium none;
			color: black;
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			margin:0 0 28px;
			padding: 0 0 28px;
			text-align: center;
			text-transform: uppercase;
			width: 100%;
			a {
				color: $base-heading-color;
			}
		}
	.btn{
		color:$base-heading-color;
		font-weight:bold;
		text-transform:uppercase;
		border-color:$base-heading-color;
		padding:7px 79px;
		&:hover{
			background:$base-heading-color;
			color:$light-text-color;
		}
	}
	.sdsblog-box-content{
		padding-top:10px;
		margin:0 -10px;
	}	
	ul > li{
		float:left;
		margin:0 0 38px;
		padding:0 10px;

		.news_module_image_holder{
			float:left;
			margin-right:25px;
			height:65px;
			width:110px;
			@media (max-width: $screen-xs){margin:0 0 15px;}
			img{
				padding:0;
				max-width:100%;
				@include transition (all 0.2s ease-in-out 0s);
			}
			
			@media (max-width: $screen-xs){ // max 480px 
				width:100%;
				text-align:center;
			}
			
		}
		.blog_content{
			color:$link-color;
			font-family:$font-family;
			font-size:13px;
			
			h4.sds_post_title{
				margin-top:0;
				margin-bottom:5px;
				a{
					color:$base-heading-color;
					text-transform:uppercase;
					font-family:$font-family;
					font-size:13px;
					font-weight:500;
					&:hover{
						color:$GL-text-color;
					}
				}
			}
			.blog_date{
				font-style:italic;
				
			}
			.r_more{
			font-style:italic;
			display:inline-block;
			margin-left:5px;}
			.desc{
				display:none;
			}
			@media (max-width: $screen-xs){ // max 480px 
				width:100%;
				margin-top:10px;
				text-align:center;
			}
		
		}
	}
	.text-center{
		float:left;
		width:100%;
		margin-top:20px;
		text-align:center;
	}
	.tmblog_left {
		float: left;
		position: relative;
		width: 100%;
		
		.bx-wrapper {
			padding: 0 0 0 40px;
			@media (max-width: $screen-md-max) { // max 1199
				padding: 0 0 0px 25px;
			}
			@media (max-width: $screen-sm-max) { // max 991
				padding: 0;
			}
		}
		.sdsblog-box-content {
			padding: 0;
		
			
			#tmblog-carousel {
				li {
					background: #fff none repeat scroll 0 0;
					.blog_block {
						clear: both;
						overflow: hidden;
						.news_module_image_holder {
							float: left;
							margin-right: 30px;
							overflow: hidden;
							position: relative;
							// min 992px max 1199px
							@media (min-width: $screen-md) and (max-width: $screen-md-max) {
								width: 45%;
								margin-right: 5%;
							}
							@media (max-width: $screen-xs-max){
								margin: 0 0 10px;
							}
							img {
								max-width: 100%;
								width: 100%;
								padding: 0;
								filter: grayscale(50%);
								// min 992px max 1199px
								@media (min-width: $screen-md) and (max-width: $screen-md-max) {
									height: 200px;
								}
							}
							.post-image-hover {
								height: 100%;
								left:0;
								position: absolute;
								@include transition(all 400ms ease 0s);
								width: 100%;
							}
							.blogicons {
								bottom: 0;
								height: 51px;
								left: 0;
								margin: auto;
								position: absolute;
								right: 0;
								@include transition (all 0.3s ease 0s);
								top: 0;
								width:100px;
								@include opacity(0);
								a {
									display: inline-block;
									float: none;
									height: 45px;
									width: 45px;
								}
								@media (max-width: $screen-xs-max){
									@include opacity(1);
								}
								.zoom {
									&:before{
										font-family:$font-icon;
										content:"\f002";
										border: 2px solid $light-border-color;
										@include border-radius(50%);
										bottom: 0;
										color: $light-text-color;
										font-size: 14px;
										height: 45px;
										margin: auto;
										left: 50%;
										padding: 14px;
										position: absolute;
										@include transition (all 0.3s ease 0s);
										text-align: center;
										top: 0;
										width: 45px;
										@media (max-width: $screen-xs-max){
											left: 0;
										}
									}
									&:hover{
										&:before{
											@include transition (all 0.3s ease 0s);
											border-color: $light-border-color;
											color: $link-hover-color;
											background: $light-border-color;
										}
									}
								}
								.readmore_link {
									&:before{
										font-family:$font-icon;
										content:"\f0c1";
										border: 2px solid $light-border-color;
										@include border-radius(50%);
										bottom: 0;
										color: $light-text-color;
										font-size: 14px;
										height: 45px;
										margin: auto;
										right: 50%;
										padding: 14px;
										position: absolute;
										text-align: center;
										@include transition (all 0.3s ease 0s);
										top: 0;
										width: 45px;
										@media (max-width: $screen-xs-max){
											right: 0;
										}
									}
									&:hover{
										&:before{
											@include transition (all 0.3s ease 0s);
											border-color:$light-border-color;
											color: $link-hover-color;
											background: $light-border-color;
										}
									}
								}
							}
						}
						.blog_content {
							width: 50%;
							float: left;
							@media (max-width: $screen-xs-max){
								width: 100%;
							}
							.blog_inner {
								.sds_post_title {
									margin: 0;
									font-family: $font-family;
									a {
										color: $base-heading-color;
										font-size: 12px;
										font-weight: bold;
										text-transform: uppercase;
									}
								}
								.blog_date {
									font-size: 12px;
									margin: 0 0 8px;
									float: left;
									width: 100%;
								}
								.desc {
									line-height: 18px;
									margin: 10px 0;
									display: inline-block;
								}
								.tm_view {
									margin: 0 10px 0 0;
								}
								.tm_bloginfo {
									float: left;
									font-size: 10px;
									text-transform: uppercase;
									margin: 1px 0;
									text-align: left;
									width: 100%;	
									color: $link-hover-color;
									.r_more {
										color: $link-hover-color;
										&:hover {
											color:$base-heading-color;
										}
									}
								}
							}
						}						
					}
					&:hover{
						.news_module_image_holder{
							img {
								filter: grayscale(0%);
							}
							.blogicons{
								@include opacity(1);
								@include transition (all 0.3s ease 0s);
								.zoom{
									&:before{
										left: 0;
										@include transition (all 0.3s ease 0s);
									}
								}
								.readmore_link{
									&:before{
										right: 0;
										@include transition (all 0.3s ease 0s);
									}
								}
							}
						}
					}
				}
			}
			.bx-controls {
				@include opacity(0);
				@include transition (all 0.3s ease 0s);
				@media (max-width: $screen-xs-max){
					@include opacity(1);
				}
				.bx-controls-direction {
					a {
						background: transparent none repeat scroll 0 0;
						border:2px solid rgba(255, 255, 255, 0.5);
						left: 23%;
						padding: 3px 15px;
						position: absolute;
						right: auto;
						font-size:0;
						color: #fff;
						height: 30px;
						width: 30px;
						margin: 0;
						line-height: 22px;
						cursor:pointer;
						@include transition (all 0.3s ease 0s);
						letter-spacing:0;
						&:before {
							font-family: $font-icon;
							font-size: 18px;
							line-height: 26px;
							margin: 0;
							position: absolute;
							text-align:center;
							left:0;
							right:0;
							vertical-align:middle;
							top: 0px;
						}
						&:hover{
							background: #fff none repeat scroll 0 0;
							color:$base-heading-color;
							@include transition (all 0.3s ease 0s);
						}
						&.disabled{
							background: #d9d9d9 none repeat scroll 0 0;
							color:$base-heading-color;
							border:1px solid #d9d9d9;
							cursor:auto;
							display: block;
							@include transition (all 0.3s ease 0s);
						}

					}
					.bx-prev {
						top: 5px;
						&:before{
							content: "\f0d8";
						}
						@media (max-width: $screen-xs-max){
							left: 5px;
						}
					}
					.bx-next {
						bottom: 5px;
						top: auto;
						&:before{
							content: "\f0d7";
						}
						@media (max-width: $screen-xs-max){
							left: 40px;
							top: 5px;
							bottom: auto;
						}
					}
				}
			}
			&:hover {
				.bx-controls {  
					@include opacity(1);
				}
			}
		}
	}
}

@media (min-width: $screen-lg){
	#tmsmartblog_block ul > li:nth-child(3n+1){
		clear:left;
	}
}

@media (max-width: $screen-md-max) and (min-width: $screen-sm){
	#tmsmartblog_block ul > li:nth-child(2n+1){
		clear:left;
	}
}

#smartblogcat{
	.sdsarticleCat{
		border-bottom: medium none;
		margin: 0 0 25px;
		text-align: center;
		padding: 0 0 30px;
		position: relative;
		&:before {
			/*background: transparent url("../img/megnor/divider.png") no-repeat scroll center bottom;*/
			bottom: 0;
			content: "";
			display: block;
			height: 12px;
			left: 0;
			position: absolute;
			right: 0;
		}
		.sdsarticleHeader{
			margin: 15px 0 5px;
			padding: 0;
			display: block;
			.sdstitle_block{
				margin:0;
				width:100%;
				text-transform:capitalize;
				border:none;
				background:none;
				height:auto;
				padding:0;
				a{
					color:$base-heading-color;
					font: bold 24px $font-family;
					padding: 0;
					text-transform: uppercase;
					width: 100%;
				}
			}
		}
		.articleContent{
			margin-bottom: 20px;
			display: block;
			position:relative;
			a{
				@media (max-width: $screen-xs-max){
					.post-image-hover {
					}
				}
			}
			.imageFeaturedLink{
				img{
					max-width: 100%;
					padding: 0;
					filter: grayscale(50%);
				}
			}
			.blogicons {
				bottom: 0;
				height: 51px;
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				@include transition (all 0.3s ease 0s);
				top: 0;
				width:100px;
				@include opacity(0);
				a {
					display: inline-block;
					float: none;
					height: 45px;
					width: 45px;
				}
				@media (max-width: $screen-xs-max){
					@include opacity(1);
				}
				.zoom {
					&:before{
						font-family:$font-icon;
						content:"\f002";
						border: 2px solid $light-border-color;
						@include border-radius(50%);
						bottom: 0;
						color:$light-text-color;
						font-size: 14px;
						height: 45px;
						margin: auto;
						left: 50%;
						padding: 14px;
						position: absolute;
						@include transition (all 0.3s ease 0s);
						text-align: center;
						top: 0;
						width: 45px;
						@media (max-width: $screen-xs-max){
							left: 0;
						}
					}
					&:hover{
						&:before{
							@include transition (all 0.3s ease 0s);
							border-color: $base-heading-color;
							color: $base-heading-color;
							background:$light-background ;
						}
					}
				}
				.readmore_link {
					&:before{
						font-family:$font-icon;
						content:"\f0c1";
						border: 2px solid  $light-border-color;
						@include border-radius(50%);
						bottom: 0;
						color:$light-text-color;
						font-size: 14px;
						height: 45px;
						margin: auto;
						right: 50%;
						padding: 14px;
						position: absolute;
						text-align: center;
						@include transition (all 0.3s ease 0s);
						top: 0;
						width: 45px;
						@media (max-width: $screen-xs-max){
							right: 0;
						}
					}
					&:hover{
						&:before{
							@include transition (all 0.3s ease 0s);
							border-color: $base-heading-color;
							color: $base-heading-color;
							background:$light-background ;
						}
					}
				}
			}
			&:hover{
				a{
					.post-image-hover {
					}
				}
				.imageFeaturedLink{
					img{
						filter: grayscale(0%);
					}
				}
				.blogicons{
					@include opacity(1);
					@include transition (all 0.3s ease 0s);
					.zoom{
						&:before{
							left: 0;
							@include transition (all 0.3s ease 0s);
						}
					}
					.readmore_link{
						&:before{
							right: 0;
							@include transition (all 0.3s ease 0s);
						}
					}
				}
			}
		}
		.tm_details{
			padding:10px 0;
			color:$link-color;
			display: block;
			span{
				>a{
					color:$link-color;
					&:hover{
						color:$link-color;
					}
				}
			}
			i{
				color:$link-color;
			}
			.tm_comment {
				display: inline-block;
				&:hover{
					color:$base-heading-color;
					i{
						color:$base-heading-color;
					}
				}
			}
			.tm_author {
				display: inline-block;
			}
			.tm_articleSection{
				display: inline-block;
				&:hover{
					i{
						color:$base-heading-color;
					}
				}
			}
			.tm_view{
				display: inline-block;
			}
		}
		.sdsarticle-des{
			color:$link-color;
			line-height: 18px;
			margin: 0px 0 25px;
			padding:10px 0;
			display: block;
			#lipsum{
				line-height: 24px;
				text-align: center;
			}
		}
		.sdsreadMore{
			.more{
				a.r_more{
					background: $light-background none repeat scroll 0 0;
					border: 1px solid $base-border-color;
					color: $base-heading-color;
					float: none;
					font: italic 700 13px $font-family;
					padding: 6px 15px;
					text-transform: uppercase;
					&:hover{
						background:$button-bkg-hovercolor;
						border-color:$button-bkg-hovercolor;
						color: $button-text-hovercolor;
					}
				}
			}
		}
	}
}

.tm_row {
	.tm_blog_pagination {
		float: left;
		width: 100%;
		.pagination {
			margin: 0 0px 0 0;
			li {
				display: inline-block;
				float: left;
				margin:0 2px;
				padding: 0px;
				border:1px solid $link-hover-color;
				background:$button-bkg-color;
				> a,
				> span {
					margin: 0 0 0 0px;
					padding: 6px 12px;
					line-height: 18px;
					font-weight: bold;
					display: block;
					background:none;
					border:none;
					span {
						padding: 0;
						border:none;
						display: block;
						background:none;
					}
				}
				&.pagination_previous,
				&.pagination_next {
					b {
						display: none;
					}
				}
				&:hover {
					background:$button-bkg-hovercolor;
					> a,
					> span {
						color: $button-text-hovercolor;
						span {
							color: $button-text-hovercolor;
						}
					}
				}
				.page-active {
					color:$button-text-hovercolor;
					background:$button-bkg-hovercolor;
					span {
						color:$button-text-hovercolor;
						background:$button-bkg-hovercolor;
					}
				}
			}
		}
		.results { 
			margin: 5px 0 0;
			float: right;
			@media (max-width: $screen-xs-max){
				float: left;
			}
		}
	}
}

#page #sdsblogCategory{
	margin: 0 0 30px;
	.imageFeatured{
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		border: medium none;
		float: left;
		margin: 0 20px 20px 0;
		max-width: 100%;
		padding: 0;
		width: 200px;
		@media (max-width: $screen-md-max) and (min-width: $screen-xs){
			width: 33%;
		}
	}
	.sdstitle_block{
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		border: medium none;
		color: $base-heading-color;
		line-height: 18px;
		padding: 0;
	}
	.tm_cat_desc {
		margin: 0 0 20px;
	}
}

#sdsblogArticle{
	text-align: center;
	.page-item-title{
		h1{
			color:$base-heading-color;
			font: bold 25px/30px $font-family;
			text-transform:uppercase;
			padding:0 0;
			margin: 0 0 15px;
			display:none;
		}
	}
	.articleContent {
		img {
			max-width: 100%;
			padding: 0;
		}
	}
	#lipsum {
		margin: 0 0 0px;
		width: 100%;
	}
	
	.post-info {
		background:$base-newlabelcolor;
		color: $link-color;
		text-align:center;
		padding:5px 15px; 
		float:left;
		.tm_author {
			display: inline-block;
		}
		.tm_comment {
			display: inline-block;
		}
		.tm_articleSection {
			&:hover {
				a {
					color: #666666;
				}
				i {
					color: #666666;
				}
			}
		}
		span{
			i{
				color:$link-color;
			}
			span {
				
				display: inline-block;
				a {
					color:$link-color;
				}
			}
		}
	}
	.sdsarticle-des {
		color:$link-color;
		margin:18px 0 10px;
		text-align: justify;
		float:left;
		width:100%;
	}
}

#page #articleComments{
	border-top: 1px solid $base-border-color;
	border-bottom: 1px solid $base-border-color;
	padding: 0;
	margin: 20px 0 30px;
	@include border-radius(0);
	@include box-shadow(none);
	#comments{
		margin-bottom:10px;
	}
	.tm_commenttitle{
		font:700 14px/22px $font-family;
		margin: 10px 0;
	}
	.commentList {
		margin: 0;
		li{
			border:none;
			padding:8px 0 8px 85px;
			.comment-reply-link{
				background:$light-background;
				font:700 13px/16px $font-family;
				padding:6px 10px;
				text-transform:uppercase;
				border:1px solid $link-hover-color;
				color: $link-hover-color;
				&:hover{
					background: $button-bkg-hovercolor;
					color: $button-text-hovercolor;
				}
			}
			.avatar{
				background:none;
				padding:0;
				border: 1px solid $base-border-color;
				left: 10px;
				position: absolute;
				top: 10px;
			}
			.reply {
				height: auto;
				text-align: right;
			}
			.name, .name a {
				font-size: 13px;
			}
		}
	}
}

#respond {
	float:left;
	width:100%;
	clear:both;
	.comment-reply-title {
		font:700 14px/22px $font-family;
		margin: 0 0 10px;
	}
	#commentInput{
		.right {
			padding: 10px 0;
			#submitComment{
				background-color: $light-background;
				border:1px solid $link-hover-color;
				color: $link-hover-color;
				font-size: 13px;
				text-transform:uppercase;
				font-weight: 700;
				&:hover{
					background: $button-bkg-hovercolor;
					color: $button-text-hovercolor;
				}
			}
		}
	}
}
/*---------------------------- TM Manufacturer Block---------------------------------------*/

#tm_manufacturer {
	clear: both;
	float: left;
	width: 100%;
	#manufacturer_slider{
		margin:0;
		position: relative;
		.centertitle_block{
			display:none;
		}
		.block_content{
			position:relative;
			#manufacturer-carousel{
				margin:50px 0 60px;
				padding: 0 30px;
				@media (max-width: $screen-sm-max){margin:40px 0;}
				li{
					float: none;
					width: 100%;
					.manu_image{
						img{
							@include opacity(1);
							@include transition(all 500ms ease 0s);
						}
					}
					&:hover{
						.manu_image{
							img{
								@include opacity(0.6);
							}
						}
					}
				}
			}
		}
		.customNavigation{
			top:65px;
			display: none;
			position: absolute;
			@media (max-width: $screen-xs-max){
				display: block;
			}
			a{
				width:30px;
				height:30px;
				padding: 3px 11px;
				position: absolute;
				margin: 0;
				border:1px solid $base-border-color;
				line-height: 22px;
				@include transition(all 300ms ease 0s);
				&:hover {
					@include transition(all 300ms ease 0s);
					color: $light-text-color;
					background: $link-hover-color;
					border-color: $link-hover-color;
				}
			}
			a.prev{
				left:0;
				right:auto;
				&:before {
					content: "\f104";
					font-family: $font-icon;
					font-size: 17px;
					position: absolute;
					left: 0;
				}
			}
			a.next{
				right: 0;
				left: auto;
				&:before {
					content: "\f105";
					font-family: $font-icon;
					font-size: 17px;
					position: absolute;
					right:0;
				}
			}
		}
		&:hover{
			.customNavigation{
				display:block;
			}
		}
	}
}

.paiement_logo_block {
	float: left;
    padding: 0 0 40px;
    text-align: center;
    width: 100%;
	img{
		margin: 0 5px;
		@media (max-width: $screen-sm-max){
			margin: 0px;
		}
	}
}

.tm_newsletterdiv {
	background: #262626;
 	float:left;
	width:100%;
 
	@media (max-width: $screen-sm-max) {
		margin: 0 0 25px;
	}
	@media (max-width: $screen-xs-max){
	}
	@media (max-width: $screen-xs) {
	}
}
.tm_newsletter {
	width: 37%;
    float: left;
	margin: 0 0 0 50px;
	line-height:40px;
	@media (max-width: $screen-sm-max) { // max 991px  
		width: 100%;
		margin:0;
		text-align:center;
	}
	@media (max-width: $screen-md-max) and (min-width: $screen-md){ // max 1200px min 992px   
		margin:0px;
		width: 44%;
	}
	i {
		
		font-size: 30px;
		margin: 0 15px 0 0;		
		display:inline-block;
		vertical-align:middle;
		color: #FFF;
	}
}

#tmproduct_tab_block {
	clear: both;
	float: left;
	margin: 20px 0 0;
	.tab-links {
		clear: both;
		margin: 0;
		float: left;
		width: 100%;
		background: white;
		li {
			border: 1px solid $homepage-footer-border;
			border-bottom: none;
			margin: 0 -1px 0 0;
			position: relative;
			float: left;
			@media (max-width: $screen-xs-max) { // max 767px
				
			}
			@media (max-width: $screen-xs) { // max 480px
				width: 100%;
				text-align: center;
				background: #f9f9f9;
			}
			a {
				font: 12px/22px $font-family;
				color: #aaaaaa;
				display: block;
				padding: 5px 28px;
				text-transform: uppercase;
				@media (min-width: $screen-sm) and (max-width: $screen-md-max) { //min 992px max 1199px
					padding: 5px 15px;
				}
				@media (max-width: $screen-xs-max) { // max 767px
					padding: 5px 10px;
				}
			}
			&.active{
				background: $link-hover-color;
				border-color: $link-hover-color;
				a {
					color: #FFFFFF;
				}
			}
		}
	}
	.tab-content {
		margin: 0;
		padding: 20px 15px;
		float:left;
		width:100%;
		border: 1px solid $homepage-footer-border;
		.size_guide_table {
			border: 1px solid #e6e6e6;
			width: 100%;
			th {
				text-align: center;
			}
			td {
				border: 1px solid $homepage-footer-border;
				text-align: center;
			}
		}
		.tm_productinner.tab {
			display: none;
			line-height: 24px;
			&.active {
				display: block;
			}
		}
	}
}

/*--------------------- Home cms banner -------------------*/

#tmfullpagecmsblockinfo_block {
	#fullpage {
		.section {
			background-position: center center;
			background-repeat: repeat;
			background-size: cover;
			margin: 0;
			height:100%;
			position: relative;
			width: 100%;
			img {
				@media (min-width: $screen-sm) { // min 768px
					display:none;
				}
				@media (max-width: $screen-xs-max) { // max 767px
					max-width: 100%;
				}
			}
			.slider_content {
				.slider_text{
					font-size:70px;
					text-transform:uppercase;
					line-height:80px;
					font-weight:400;
					font-family: 'Lato', sans-serif;
					color:#262626;
					// min 992px max 1199px
					@media (min-width: $screen-md) and (max-width: $screen-md-max) {
						font-size:50px;
						line-height:50px;
					}
					// max 991px
					@media (max-width: $screen-sm-max) {
						font-size:50px;
						line-height:50px;
					}
					// max 767px
					@media (max-width: $screen-xs-max) {
						font-size: 30px;
						line-height: 30px;
					}
					// max 479px
					@media (max-width: $screen-xs) {
						font-size:20px;
						line-height:20px;
					}
				}
				.slider_text1{
					font-size:70px;
					text-transform:uppercase;
					line-height:80px;
					font-weight:900;
					font-family: 'Lato', sans-serif;
					color:#262626;
					// min 992px max 1199px
					@media (min-width: $screen-md) and (max-width: $screen-md-max) {
						font-size:50px;
						line-height:50px;
					}
					// max 991px
					@media (max-width: $screen-sm-max) {
						font-size:50px;
						line-height:50px;
					}
					// max 767px
					@media (max-width: $screen-xs-max) {
						font-size: 30px;
						line-height: 30px;
					}
					// max 479px
					@media (max-width: $screen-xs) {
						font-size:20px;
						line-height:20px;
					}
				}
				.slider_text2{
					font-size:35px;
					line-height:35px;
					font-weight:400;
					font-family: 'Lato', sans-serif;
					color:#8a8a8a;
					margin:15px 0 40px;
					letter-spacing:0;
					// min 992px max 1199px
					@media (min-width: $screen-md) and (max-width: $screen-md-max) {
						font-size:25px;
						line-height:25px;
						margin:10px 0 25px;
					}
					// max 991px
					@media (max-width: $screen-sm-max) {
						font-size:25px;
						line-height:25px;
						margin:10px 0 25px;
					}
					// max 767px
					@media (max-width: $screen-xs-max) {
						font-size: 16px;
						line-height: 22px;
						margin: 5px 0 15px;
					}
					// max 479px
					@media (max-width: $screen-xs) {
						font-size:14px;
						line-height:14px;
					}
				}
				.shop_button {
					display: block;
					margin-bottom: 10px;
					position: relative;
					> a {
						background: #ffd200 none repeat scroll 0 0;
						border: 1px solid #ffd200;
						color: #262626;
						font-weight: 700;
						padding: 9px 38px;
						text-transform: uppercase;
						transition:all 0.3s ease 0s;
						-moz-transition:all 0.3s ease 0s;
						-webkit-transition:all 0.3s ease 0s;
						-ms-transition:all 0.3s ease 0s;
						-o-transition:all 0.3s ease 0s;
						// max 479px
						@media (max-width: $screen-xs) {
							padding:7px 22px;
						}
						&:hover, &:focus {
							background: #262626 none repeat scroll 0 0;
							border: 1px solid #262626;
							color: #fff;
							transition:all 0.3s ease 0s;
							-moz-transition:all 0.3s ease 0s;
							-webkit-transition:all 0.3s ease 0s;
							-ms-transition:all 0.3s ease 0s;
							-o-transition:all 0.3s ease 0s;
						}
					}
				}
			}
			.banner1_content.slider_content{
				left: 12%;
				position: absolute;
				top: 35%;
				text-align:center;
				// max 991px
				@media (max-width: $screen-sm-max) {
					left:6%;
					top:35%;
				}
				// max 767px
				@media (max-width: $screen-xs-max) {
					top:30%;
				}
				// max 479px
				@media (max-width: $screen-xs) {
					top:28%;
				}
			}
			.banner2_content.slider_content{
				right: 25%;
				position: absolute;
				top: 35%;
				text-align:center;
				// max 991px
				@media (max-width: $screen-sm-max) {
					top:30%;
					right:13%;
				}
				// max 767px
				@media (max-width: $screen-xs-max) {
					top:26%;
				}
				// max 479px
				@media (max-width: $screen-xs) {
					top:23%;
				}
			}
			.banner3_content.slider_content {
				left: 9%;
				position: absolute;
				top: 36%;
				text-align:center;
				// min 992px max 1199px
				@media (min-width: $screen-md) and (max-width: $screen-md-max) {
					left:3%;
					width:55%;
				}
				// max 991px
				@media (max-width: $screen-sm-max) {
					left:6%;
					top:35%;
					width:55%;
				}
				// max 767px
				@media (max-width: $screen-xs-max) {
					top:28%;
				}
				// max 479px
				@media (max-width: $screen-xs) {
					top:19%;
				}
			}
			.banner4_content.slider_content {
				right: 15%;
				position: absolute;
				top: 40%;
				text-align:center;
				// min 992px max 1199px
				@media (min-width: $screen-md) and (max-width: $screen-md-max) {
					right:10%;
				}
				// max 991px
				@media (max-width: $screen-sm-max) {
					right:5%;
					top:40%;
					width:55%;
				}
				// max 767px
				@media (max-width: $screen-xs-max) {
					top:25%;
				}
				// max 479px
				@media (max-width: $screen-xs) {
					top:20%;
				}
			}
		}
	}
}