@import "compass";
@import "theme_variables";
/*********************************************************************
					Maintenance Page Styles
**********************************************************************/
#maintenance {
	margin: 50px 0 0 0;
	@media (min-width: $screen-lg) { // > 1200 
		margin: 126px 0 0 0;
		padding: 91px 48px 365px 297px;
		background: url(../img/bg_maintenance.png) no-repeat;
	}
	.logo {
		margin: 0 0 31px 0;	
	}
	h1 {
		font: 600 28px/34px $font-custom;
		color: $base-text-color;
		text-transform: uppercase;
		border-bottom: 1px solid $base-border-color;
		padding: 0 0 14px 0;
		margin: 0 0 19px 0;
	}
	#message {
		font: 600 16px/31px $font-custom;
		padding: 0 0 0 18px;
		color: #555454;
		text-transform: uppercase;	
	}
}

.container { 
		padding-left: 0;
		padding-right: 0;
		margin-right: auto;
		margin-left: auto;
		@media (max-width: $screen-xs-max) { // 768px
			width: 750px;
		}
		@media (max-width: $screen-md) {
			width: 970px;
		}
		@media only screen and (min-width: $screen-lg) {
			width: 1170px;
		}
		@media only screen and (min-width: $screen-lg) {
			padding-left:0;
			padding-right:0;
		}
}