@import "compass";
@import "theme_variables";
#my-account {
	.addresses-lists {
		margin-bottom: 30px;	
	}
	ul.myaccount-link-list {
		margin:0;
		li {
			overflow: hidden;
			padding-bottom: 10px;
			a {
				display: block;
				overflow: hidden;
				color: $base-body-color;
				text-decoration: none;
				position: relative;
				border:1px solid $base-border-color;
				i {
					font-size: 17px;
					color: $base-bg;
					position: absolute;
					left: 15px;
					top: 15px;
					padding:0;
					text-align: center;
					border:none;
				}
				span {
					display: block;
					padding: 12px 0px;
					overflow: hidden;
					margin: 0 50px;
					font-size:13px;
				}
				&:hover {
					filter: none;
					border:1px solid $link-hover-color;
					i { color:$link-hover-color;}
					span {
						border-color:$link-hover-color;
						color:$link-hover-color;
					}
				}
			}
		}
	}
}
