@import "compass";
@import "theme_variables";

/********************************************************
			One-Page Checkout Styles
********************************************************/

#order-opc {
	line-height: 20px;
	.box {
		padding-bottom: 20px;
		@include border-radius(5px);
	}
	#openLoginFormBlock {
		color:$link-hover-color;
	}
	.cart_navigation {
		margin-bottom: 53px;	
	}
	.page-heading.step-num {
		position: relative;
		padding-left: 25px;
		overflow: visible;
		span {
			line-height: 51px;
			font-size:26px;
			position: absolute;
			left: 0px;
			top: -14px;
		}
	}
	.form-group { 
		margin-bottom: 2px;
			.form-control {
				max-width: 271px;
				cursor:pointer;
			}
	}
	.lost_password {
		display: inline-block;
		text-decoration: underline;
		margin: 5px 0 14px;
		&:hover {
			text-decoration: none;
		}
	}
	.title_block {
		font-weight: bold;
		color: $base-text-color;
		padding: 3px 0 6px;	
	}
	.opc-button {
		padding: 11px 0 0 0;
	}
	ul.bullet {
		line-height: 22px;
		margin-bottom: 5px;
	}
	.date-select {
		padding-bottom: 10px;
	}
	.opc-add-save {
		margin-top: 20px;
		border:none;
		padding-top: 20px;	
	}
	#message {
		margin-bottom: 35px;
	}
	#opc_payment_methods {
		margin-bottom: 30px;
		p.warning{
			color: #F13340;
			font-weight: 700;
		}
	}
	#opc_account {
		margin-bottom: 30px;
	}
	.address_delivery.select {
		margin-bottom: 15px;
	}
	#address_invoice_form.form-group {
		margin-bottom: 30px;
	}
}

#new_account_form .id_state, 
#new_account_form .dni, 
#new_account_form .postcode {
	display: none;
}