@import "compass";
@import "theme_variables";

/*******************************************************
Product list Styles
********************************************************/
.product_list {
	position:relative;
	margin: 0;
	&.list li.first-in-line { border:none;}
}
ul.product_list {
	.product-name {
		display: inline-block;
		width: 100%;
		overflow: hidden; 
	}
	.tm_avaibility { display:none !important;}
	.availability {
		display: inline-block;
		span {
			display: inline-block;
			font-weight: normal;
			background-color: #f2f2f2;
			border: 1px solid #f2f2f2;
			padding:3px 5px;
			color: #262626;
			line-height:18px;
			&.out-of-stock{
				background: #f3515c;
				border:1px solid #d4323d;
				color:#FFFFFF;
			}
			&.available-dif{
				background: #ff7430;
				border:1px solid #ff7430;
				color:#FFFFFF;
			}
		}
	}
	.color-list-container {
		margin-bottom: 10px;
		ul {
			li {
				display: inline-block;
				border: 1px solid $base-border-color;
				padding:0;
				float:none;
				vertical-align: middle;
				width:auto;
				a {
					display: block;
					width: 12px;
					height: 12px;
					margin: 1px;
					img {
						display: block;
						width: 15px;
						height: 15px; 
					}
				}	
			}
		}
	}
	.product-image-container {
		text-align: center;
		img {
			margin: 0 auto;
		}	
		.quick-view {
			color: $base-heading-color;
			position: absolute;
			right: 5px;
			top: 5px;
			&:before {
				content: "\f06e";
				font-family: fontawesome;
				font-size: 20px;
			}
			span {
				display: none;
			}
			@media (min-width: $screen-lg) { // min 1200px
				display: none;
			}
			@media (max-width: $screen-xs-max) { // max 767px
				display: none;
			}
		}
	}
	.price_instock { display: none !important; }
	.comments_note {
		width: 100%;
		.nb-comments {
			overflow: hidden;
			display:none;
			font-style: italic;
		}
	}
	.functional-buttons {
		display: inline-block;
		vertical-align: top;
		> div {
			text-align: center;
			display: inline-block;
			a, label {
				font-weight: normal;
				cursor: pointer;
				font-size: 0;
				display: block;
				border: 1px solid $button-text-color;
				color: $button-text-color;
				background: $button-bkg-color;
				padding: 4px 10px;
				&:hover { 
					background: $button-bkg-hovercolor;
					border-color: $button-text-color;
					color: $button-text-hovercolor;
				}
			}
			&.wishlist { 
				a:before {
					display: inline-block;
					font-family: $font-icon;
					content: "\f004";
					font-size: 14px;
					vertical-align: middle;
				}
				a.checked:before {
					content: "\f004";  
				}
				@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
					border-right: 0;
				}
				@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) { // min 480px max 767px
					border-right: 0;
				}
			}
			&.compare {
				a {
					&:before {
						content: "\f080";
						display: inline-block;
						font-family: $font-icon;
						font-size: 14px;
						vertical-align: middle;
					}
					&.checked {
						&:before {
							content: "\f080";
						}
					}	
				}
			}
		}
	}
}

/*******************************************************
Product list(Grid) Styles 
********************************************************/
#best-sales, #new-products, #prices-drop, #category, #search {
	ul.product_list.grid {
		margin: 0 -10px;
	}
}

ul.product_list.grid ,ul.tm-carousel {
	li {
		padding: 10px 10px 20px;
		text-align: center;
		@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
			width: 50%;
			float: left;
		}
		.product-container {
			background: $light-background;
			padding: 0;
			position: relative;
			.product-image-container {
				position: relative;
				.content_price {
					position: absolute;
					left: 0;
					bottom: -1px;
					width: 100%;
					background:$base-bg;
					padding: 9px 0;
					display: none;
					span {
						color: $light-text-color;
						&.old-price {
							color: #b1b0b0;
						}
					}
				}
				img {
					margin: 0 auto;
					@media (max-width: $screen-sm-max){width:100%;}
				}
				.img_1 {
				  left: 0;
				  @include opacity(0);
				  position: absolute;
				  right: 0;
				  top: 0;
				  max-width: 100%;
				}
			}
			.right-block {
				position: relative;
				h5 {
					margin: 6px 0 0;
				}
				h5, .product-name {
				}
			}
			.content_price {
				margin: 0 0 5px;
			}
			.comments_note {
			}
			.product-desc {
				display: none;	
			}
			.old-price, 
			.price, 
			.price-percent-reduction {
				display: inline-block;
			}
			.product-flags {
				display: none;
			}
			.price-percent-reduction {
				margin: 0 5px;
			}
			.button-container {
				@include opacity(0);
				margin-top: -36px;
				.button.ajax_add_to_cart_button {
					width: 100%;
				}
				a.lnk_view {
					display:none;
				}
				@media (max-width: $screen-xs-max){
					@include opacity(1);
				}
			}
			.functional-buttons {
				padding: 10px 0 0;
				display: none;
			}
			.availability {
				display: none;
			}
			.color-list-container { display:none; }
		}
		@media (min-width: $screen-lg) { // min 1200px
			&.hovered {
				.product-container {
					.product-image-container {
						.quick-view {
							display: block;
						}
						.img_1 {
							@include opacity(1);
						}
					}
					.button-container { @include opacity(1); }
					.product-name { color:$link-hover-color;}
				}
			}
		}
		@media (min-width: $screen-lg) { // min 1200px
			&.first-in-line {
				clear: left;
			}
		}
		@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
			&.first-item-of-tablet-line {
				clear: left;
			}
		}
		@media (min-width: $screen-xs) and (max-width: $screen-sm-max) { // min 480px max 991px
			&.first-item-of-mobile-line {
				clear: left;
			}
		}
		&:hover {
			.product-container {
				.product-image-container {
					.quick-view {
						display: block;
						@media (max-width: $screen-xs-max) { // max 767px
							display: none;
						}
					}
					.img_1 {
						@include opacity(1);
					}
				}
				.button-container { @include opacity(1); }
			}
			a.product-name,
			.product-name a {
				color: $product-name-hover-color;
			}
		}
	}
}
#blockpack {
	ul {
		>li {
			@media (min-width: $screen-lg) { // min 1200px
				&.last-line {
					border: none;
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				&.first-item-of-tablet-line {
					clear: none;
				}
				&.first-item-of-mobile-line {
					clear: left;
				}
			}
		}
	}
}

/*******************************************************
Product Curosol in Home Page Styles 
********************************************************/

ul.tm-carousel {
	li {
		padding: 10px 10px 20px;
		width: 100%;
	}
}

/*******************************************************
Product list(List) Styles 
********************************************************/

ul.product_list.list {
	> li {
		padding:0;
		.left-block {
			.button-container{display:none;}
		}
		.product-container {
			margin: 0 0 20px;
		}
		.product-image-container {
			
			position: relative;
			@media (max-width: $screen-xs-max) {
				margin: 0 0 25px;
				position: relative;
			}	
			.content_price {
				display: none !important;	
			}
			img {
			}
			.img_1 {
				left: 0;
				@include opacity(0);
				position: absolute;
				right: 0;
				top: 0;
				/*max-width: 100%;*/
			}
			.comments_note {
				display: block;
				bottom: 10px;
				@media (max-width: $screen-xs-max){
					display: block;
				}
			}
		}
		.product-flags {
			color: $base-text-color;
			margin: 0;
			line-height:25px;
			.discount {
				color: #f13340;	
			}
		}
		.product-desc {
			margin-bottom: 15px;
		}
		.center-block {
			margin: 0;
			.product-name {
				color:$product-name-color;
				text-transform:uppercase;
				font-weight:bold;
				font-size:14px;
				&:hover{
					color:$product-name-hover-color;
				}
			}
			@media (max-width: $screen-sm-max){
				margin: 0;
				text-align:left;
				
			}
			@media( max-width: $screen-xs-max){
				text-align:center;
			}
			.comments_note {
				margin-bottom: 10px;	
				@media (max-width: $screen-xs){
					text-align:center;
					.star_content{
						float:none;
					}
				}
			}
		}
		.availability {
			display: inline-block;
			margin: 0 10px;
		}
		.color-list-container {
			display: inline-block;
		}
		.right-block {
		/*	border-left:1px solid $base-border-color;*/
			@media (max-width: $screen-sm-max){
				margin: 0;
			
			}
			@media (max-width: $screen-xs-max){
				border-left: medium none;
			
			}
			.right-block-content {
				text-align: left;
				.content_price {
					padding-bottom: 10px;
					@media (max-width: $screen-sm-max) {
					
					}
					span{
						display: inline-block;
						&.price-percent-reduction {
							margin: 0 5px;
						}
					}
				}
				.button-container {
					overflow: hidden;
					.button.ajax_add_to_cart_button{
						span{
							padding:6px 10px;
						}
					}
					@media (max-width: $screen-xs - 1) { // max 479px
						width: 100%;
						padding-bottom: 5px;
					}
					.btn {
						display: inline-block;
						margin: 0 0 10px;
					}
					a.lnk_view {
						display:none;
					}
				}
				.functional-buttons {
					div {
						padding: 0 0 10px;
					}
				}
				@media (max-width: $screen-xs-max){
					text-align:center;
				}
			}
		}
		@media (min-width: $screen-lg) { // min 1200px
			&:hover {
				.product-image-container {	
					.quick-view {
						display: block;
					}
					.img_1 {
						@include opacity(1);
					}
					.comments_note {
						display:block;
					}
				}
			}
		}
		@media (max-width: $screen-xs-max) {	// max 767px
			text-align: center;	
		}
		&:hover {
			.product-image-container {	
				.img_1 {
					@include opacity(1);
				}
				.comments_note {
					display:block;
				}
			}
		}
	}
}

/*******************************************************
Product list(Index page) Styles 
********************************************************/

#index {
	ul.product_list.tab-pane {
		> li {
			.availability {
				display: none;
			}
			@media (min-width: $screen-lg) { // min 1200px
				&.last-line {
					border: none;
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				&.first-item-of-tablet-line {
					clear: none;
				}
				&.first-item-of-mobile-line {
					clear: left;
				}
			}
		}
	}
}
/***** IE code *****/

.ie8 {
	.quick-view	 {
		background: #fff;
		border: 1px solid $base-border-color;	
	}
}