@import "compass";
@import "theme_variables";

/* product desc */
/* primary_block ***************************************************************************** */
.primary_block {
	margin-bottom: 40px;
}
.top-hr{
	background: $top-line-color;
	height: 5px;
	margin: 2px 0 31px;
}
.product-heading-h5{
	color: $gray-light;
	font-weight: 200;
	margin: 3px 0 8px;
	font-size: 19px;
	font-family: $font-custom;
}
.box-security .product-heading-h5{
	margin: 3px 0 -8px;
	@media  (max-width: $screen-md-max) { //max 1199px
	margin-bottom: 8px;
	}
}
.primary_block .pb-left-column img{
	max-width: 100%;
	height: auto;
}
a.fancybox-nav {
	outline:0
}
.popover .popover-title {display:none;}
/* .pb-left-column ***************************************************************************** */
.pb-left-column {

	#image-block {
		position: relative;
		display: block;
		cursor: pointer;
		padding: 0px;
		overflow: hidden;
		background: $light-background;
		@media (max-width: $screen-xs-max) { //max 767px
			width: 400px;
			margin: 0 auto;
		}	
		@media (max-width: $screen-xs) { //max 480px
			width: 300px;
		}	
		@media (max-width: $screen-xxs) { //min 319
			width: 210px;
			margin: 0 auto;		
		}	
		img {
			background: $base-box-bg;
			width: 100%;
		}

		#view_full_size {
			.span_link {
				position: absolute;
				bottom: 0px;
				right: 8px;
				display: block;
				text-align: center;
				color: #777676;
				text-align: center;
				font-size:0;
				&:after{
					font-family: $font-icon;
					color: $product-name-color;
					font-size: 22px;
					line-height: 22px;
					content: "\f002";
					font-weight: normal;
					margin: 0 0 0 4px;
				}
				&:hover:after{
					color: $base-text-color
				}
			}
		}
		a.jqzoom {
			div div {
				img {
					width: auto;
					max-width: 10000px;
				}
				.zoomWrapper {
					border: none;	
				}
			}
		}
		.zoomPad {
			z-index : auto!important;
		}
		.new-box,
		.sale-box {
			
		}
	}
}


/* miniatures */
.pb-left-column #views_block {	
	margin: 10px auto auto;
	text-align: center;
	width:100%;
	position:relative;
	@media (max-width: $screen-xs-max) { //max 767px
		width: 400px;
	}	
	@media (max-width: $screen-xs) { //max 480px
		width: 300px;
	}	
	@media (max-width: $screen-xxs) { //min 319
		width: 210px;
	}	
	#view_scroll_left,
	#view_scroll_right {
		top: 50px;
		height: 33px;
		width: 33px;
		float:none;
		vertical-align:top;
		display:inline-block;
		line-height: 0;
		font-size: 0;
		overflow: hidden;
		position: absolute;
	/*	border: 1px solid $common-border-color;*/
		&:before{
			padding: 5px;
			color: $scroll-button-color;
			font-family: $font-icon;
			font-weight:normal;
			font-size: 15px;
			line-height: 22px;		
		}
		&:hover { 
			border-color:#1f2022;
			&:before{
				color: $base-body-color;
			}
		}
	}
	#view_scroll_right {
		right: 0;
		background:url(../img/megnor/info-nav.png) no-repeat scroll -24px 0;	
		&:before{
			/*content: "\f105";*/
			
		}
	}
	#view_scroll_left {
		left: 0;
		background:url(../img/megnor/info-nav.png) no-repeat scroll 7px 0;
		&:before{
			/*content: "\f104";*/
		}
	}
}
#thumbs_list {
	overflow: hidden;	
	float: none;
	display:inline-block;
	width: 400px;
	@media (min-width: $screen-md) and (max-width: $screen-md-max) { //min 992px max 1199px
		width: 300px;		
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
		width: 200px;		
	}
	@media (max-width: $screen-xs-max) { //max 767px
		width: 200px;		
	}
	@media (max-width: $screen-xxs) { // Max 319
		width: 100px;
	}
	ul#thumbs_list_frame {
		list-style-type: none;
		padding-left: 0;
		overflow: hidden;
		margin: 0;
	}
	li {
		float: left;
		cursor: pointer;
		line-height: 0;
		height: 111px;
		width: 90px;
		margin: 5px;
		a{
			display: block;
			@include transition(all 500ms ease 0s);
			@include box-sizing(border-box);
			background: $base-box-bg;
			&:hover, &.shown {
				border-color: $base-border-color;
			}
		}
		img {
			width: 100%;
			height: 100%;
			@include box-sizing(border-box);
		}
	}
}

.resetimg {
	float: left;
	width: 100%;
	padding: 10px 0 0;
	#wrapResetImages a {
	padding-left:7px;
	i {
		position:relative;
		left:-7px;
	}
	}
	#resetImages i{
		margin-right: 6px;
	}	
}

/* link list */
#usefull_link_block {
	list-style-type: none;
	float: left;
	width: 100%;
	margin: 0;
	li {
		margin: 0 0 8px 0;
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {	 //min 768px max 991px		
			float: none !important;			
		}
		&:first-child{
			margin: 0 0 8px 0;
			border: none;
			padding: 0;
		}
		a{
			color: #777676;
			position: relative;
			padding-left: 25px;
			line-height: 22px;
			display: inline-block;	

			&:before{
				font-family: $font-icon;
				font-size: 14px;
				line-height: 24px;
				position: absolute;
				top: -2px;
				left: 0;
				font-weight: normal;			
			}
			&:hover{
				color: $link-hover-color;
			}
		}
		&.print{
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { //min 768px max 991px	
				margin: 8px 0 0 ;
				padding: 0;
				border: none;	
			}	 
			a:before{
				content: "\f02f";		
			}
		}
		&.sendtofriend {
			a:before{
				content: "\f003";
			}
		}
		&#left_share_fb {
			clear: both;
			float: none;
			a{
				padding-left: 18px;
			}
			a:before{
				content: "\f09a";
			}
		}
		&#favoriteproducts_block_extra_remove, 
		&#favoriteproducts_block_extra_add, 
		&#favoriteproducts_block_extra_removed, 
		&#favoriteproducts_block_extra_added{
			cursor: pointer;
			clear: both;
			float: none;
			margin: 0 0 8px 0;
			border: none;
			padding: 0;
			position: relative;
			&:before{
				font-family: $font-icon;
				font-size: 14px;
				line-height: 24px;
				position: absolute;
				top: -2px;
				left: 0;	
				font-weight: normal;	
				content: "\f08a";
			}
			&:hover{
				color: $link-hover-color;
			}
		}
		&#favoriteproducts_block_extra_removed:before {
			content: "\f004";
		} 
	}
}


/* pb-left-column ****************************************************************************** */
.pb-center-column {
    margin-bottom: 0;
    padding-left: 30px;
	float: left;
	@media (max-width: $screen-xs-max) { //max 991px
		padding: 10px 10px 0;
	}
	h1 {
		padding-bottom: 10px;
		font: bold 18px $font-family;
		color: $product-name-hover-color;
		text-transform: uppercase;
		margin:0;
	}
	p {
		margin-bottom: 10px;
	}
	#product_reference {
		margin-bottom: 0;
		span{
		}
	}
	#short_description_block {
		color: $description-color;
		.buttons_bottom_block {
			display: none;
		}
		#short_description_content{
			padding: 0;
			word-wrap: break-word;
		} 
	}
	.pb-right-column #buy_block {
		label {
			float:left;
			text-align:left;
		}
	}
	.buttons_bottom_block {
		margin: 0 10px 10px 0;
		@media (max-width: $screen-md-max){ // max 1200px
			margin:0 7px 10px 0;
		}
	}
	/* form */
	#buy_block {
		label {
			display: inline-block;
			width: 125px;
			font-weight: 700;
			font-size: 12px;
			text-align: right;
			@media (max-width: $screen-xxs) { // Max 319
				width: 100%;
			}
		}
		.attribute_list .selector {
			width:100% !important;
		}
		p{
			&.price {
				padding: 0;
			}
		}
	}
	#color_picker p {
		padding-bottom: 5px;
		font-weight: 700;
	}
}
#product p#loyalty {
	padding: 17px 0 15px 35px;
	border-top: $main_border;
	border-bottom: $main_border;
	margin: 10px 0 -5px;
	position: relative;
	b{
		color: $base-text-color
	}
	&:before{
		content: "\f024";
		font-family: $font-icon;
		color: #cfcccc;
		font-size: 26px;
		line-height: 28px;
		position: absolute;
		top: 16px;
		left: 0;		
	}
}
#page .rte {
	padding: 0 20px 20px;
	word-wrap: break-word;
}
#attributes{
	.attribute_fieldset { margin: 0;}
	fieldset {
		padding-bottom: 8px;
		label {
			vertical-align: top;
			display: block;
		}
	}
	.attribute_list {
		float:left;
		.form-control {
			max-width: 230px;
			cursor:pointer;
			option{
				background: $light-background;
				color: $description-color;
			}
		}
		ul{
			clear: both;
			li{
				float: left;
				margin-right: 10px;
			}
		}
		input.attribute_radio{
			float: left;
			margin-left: 3px;
		}
		div.radio, 
		div.radio span,
		div.radio input{
			float: none;
			display: inline-block; 
		}
		#color_to_pick_list {
			list-style-type: none;
			margin:0;
			li {
				float: left;
				margin: 0 3px 3px 0;
				padding: 1px;
				border: 1px solid $base-border-color;
				clear: none;
				a.color_pick {
					display: block;
					height: 15px;
					width: 15px;
					cursor: pointer;
					img {
						display: block;
						height: 22px;
						width: 22px; 
					}
				}
				&.selected{
					border:1px solid #CCC;
				}
			}
		}	
	}
}
.product_attributes,
.box-cart-bottom {
	padding:0;
	float:left;
	clear:both;
	width:100%;
	#wishlist_button_nopop, #wishlist_button {
		float:left;
		width:100%;
		margin:0;
		clear:both;
	}
}

.box-info-product {
	padding:0;
	float:left;
	width:100%;
	clear:both;
	#reduction_percent { margin: 0 5px;}
	p{
		margin:0 0 10px 0; float:left;
	} 
	.box-cart-bottom p#add_to_cart {
		padding:0;
	}

	
	.exclusive{
		padding: 0;
		position: relative;
		background:#ffffff;
		border:1px solid #1d1f1f;
		@include transition (all 0.3s ease 0s);
		display: block;
		&:before{
			font-family: $font-icon;
			position: absolute;
			top: 0px;
			left: 0px;
			bottom: 0;	  
			color: #1d1f1f;
			font-size: 19px;
			line-height: 32px;
			content: "\f07a";
			z-index: 2;
			width: 42px;
		}
		&.added {
			&:before {
			content: "\f00c";	
			}
		}
		&.added.disabled, 
		&.disabled {
			&:before {
				content: "\f110";
				animation: 2s linear 0s normal none infinite spin;
				-webkit-animation: 2s linear 0s normal none infinite spin;
				-moz-animation: 2s linear 0s normal none infinite spin;
				border: none;
			}
		}
		&:after{
			background: none;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 51px;
			content: "";
			width: 1px;
			z-index: 2;
			@media (max-width: $screen-sm-max) { // max 991px
				display: none;	
			} 
		}
		span{
			font-size: 14px; 
			line-height: 22px;
			padding: 5px 10px 5px 40px;  
			color: #1d1f1f;
			display: block !important;
		}
		&:hover{
		background:#1d1f1f;
		@include transition (all 0.3s ease 0s);
			&:before{
				color:#ffffff;
			}
			span{
				color:#ffffff;
			}
		}
	}
}

#center_column.col-sm-9{
	.col-md-3{
		.box-info-product {
			background: $list-info-bg;	
			border: 1px solid #d2d0d0;
			border-top: 1px solid #b0afaf;
			border-bottom: 1px solid #b0afaf;
			p{
				margin-bottom: 7px;
				padding: 15px 10px 0
			} 
			.exclusive{
				padding: 0;
				border-top: 1px solid #0079b6;
				border-right: 1px solid #006fa8;
				border-left: 1px solid #006fa8; 
				border-bottom: 1px solid #012740; 
				@include border-radius(5px);
				position: relative;
				display: block;
				@include background-image(linear-gradient(#009ad0, #007ab7)); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0 );
				&:before{
					font-family: $font-icon;
					position: relative;
					top: 0;
					left: 0;
					bottom: 0;	  
					color: $light-text-color;
					font-size: 25px;
					line-height: 47px;
					text-shadow: 0 1px #015883;
					content: "\f07a";
					z-index: 2;
					width: 51px;
					text-align: center;
					border: none;
					@include border-radius(0);	 
					@media (max-width: $screen-sm-max) { //max 991px
						display: none;	
					} 	
				}
				&.added {
					&:before {
					content: "\f00c";	
					}
				}
				&.added.disabled, 
				&.disabled {
					&:before {
						height:51px;  
						content: "\f110";
						animation: 2s linear 0s normal none infinite spin;
						-webkit-animation: 2s linear 0s normal none infinite spin;
						-moz-animation: 2s linear 0s normal none infinite spin;
						border: none;
					}
				}
				&:after{
					background: none;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 51px;
					content: "";
					width: 1px;
					z-index: 2;
					@media (max-width: $screen-sm-max) { // max 991px
						display: none;	
					} 
				}
				span{
					font-weight: 500;
					font-size: 18px; 
					line-height: 22px;
					border: none;
					border-top: 1px solid #006fa8;  
					text-shadow: 0 1px #015883;
					padding: 12px 16px 14px;  
					color: $light-text-color;
					display: block !important;
					@include border-radius(0);
					@include transition(all 0.3s ease);
					@media  (max-width: $screen-md-max) { //max 1199px
						font-size: 16px;  
					}
					@media (max-width: $screen-sm-max) {  //max 991px
						padding: 8px 12px 10px;
						text-align: center;	
					} 
				}
				&:hover{
					@include background-image(linear-gradient(#007ab7, #009ad0)); 
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ab7', endColorstr='#009ad0',GradientType=0 );
					background-position: 0 0;
				}
			}
		}
	}
}

/* table_data_sheet */
.table-data-sheet{
	border-bottom: $main_border;	
	width: 100%;
	margin: 0;
	background: $light-background;	
	tr{
		border-top: $main_border;
		&.even{
			background: $tr-even-bg;
		}
		td{
			padding: 10px 20px 11px;
			border: $main_border;
			&:first-child{
				width: 30%;
				font-weight: 700;
				color: $base-text-color;
			}
		}
	}
}

/* table product-discounts */
table.table-product-discounts{
	border: none;
	border-bottom: $main_border;
	border-right: $main_border;
	width: 50%;
	margin: 0 0 20px;
	background: $light-background;
	@media (max-width: $screen-xs-max) { //max 767px
		width: 100%;																		
	}		
	tr th{
		background: $table-background;
		color: $base-text-color;
		font-weight: 700;
		border: none;
		font-weight: 700;
	}	
	tr td,
	tr th{
		border-left: $main_border;
		width: 33%;
		padding: 10px 20px 11px;
		border-top: $main_border;
		border-right: none;
		text-shadow: none;
		text-transform: none;
		font-weight: 13px;
		line-height: 18px;
		border-bottom: none;
	}
}

/* accessories  */
.accessories-block {
	.block_description{
		display: none;
	}
	.exclusive span{
		font-size: 13px;
		line-height: 18px;
		text-decoration: none;
		&:focus, 
		&:active{
			text-decoration: none;
		}
	}
}

/* quantity_wanted */
#quantity_wanted_p {
	margin: 0 10px 10px 0;
	input {
		width: 50px;
		height: 34px;
		padding: 0 6px;
		float: left;
		text-align:center;
		border: $main_border !important;
		line-height: 27px;
	}
	.btn{
		float: left;
		margin: 0 -1px;
	}
	label{
		display: block;
		margin-bottom: 7px;
	}
	@media (max-width: $screen-md-max){ // max 1200px
		margin:0 7px 10px 0;
	}
}

/* availability_statut */
#availability_statut span#availability_label, 
#availability_date_label {
	display: inline-block;
	width: 125px;
	font-size: 12px;
	text-align: left;
}
#quantityAvailable{
	color: $base-text-color;
	font-size: 13px;
	line-height: 18px;
} 
#availability_value {
	display: inline-block;
	font-weight: normal;
	background: none;
	border: medium none;
	padding: 0;
} 
#last_quantities {
	display: inline-block;
}
#last_quantities{
	background: #ff7430;
	border: 1px solid #ea5e1a;
	padding: 4px 8px 3px;
	position: relative;
	top: 1px;
}
#availability_statut { margin:0 5px 10px 5px;}
#availability_statut, 
#pQuantityAvailable {
	display: inline-block;
}
#pQuantityAvailable span{
	color: $base-text-color;
}
#availability_statut #availability_value.warning_inline {
	background-color: #fe9126;
	border-color: #e4752b;
	text-shadow: 1px 1px #e68322;
	margin: 0;
}

/* box-security */
.box-security {
	border-top: 1px solid #dfdede;
	padding: 10px 10px 10px 0 ;
}

/* prices */
.discount {
	display: none;
}

.our_price_display {
	font-weight: 600;
	font-family: $font-custom;
	color: $product-price-color;
	@media (max-width: $screen-sm-max) { //max 991px
		font-size: 26px;
		line-height: 28px;	
	}
}

/* online_only */
.pb-center-column p.online_only {
	font-size: 13px;
    text-transform: capitalize;
}

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
	width: 555px;
	overflow: hidden;
	@media (max-width: $screen-xs-max) { // max 767px
		width: 280px;
	}
	@media (max-width: $screen-xxs) { // Max 319
		width:160px;
	}
	.product{
		img{
			margin: 0 0 10px 0;
			max-width: 100%;
		}
		p{
			padding: 0 ;
			color: $base-text-color;
			.product_name {
				font-size: 12px;
				color: #262626;
			}
		}
	}
	.form_container {
		padding: 10px 15px;
		border: 1px solid $base-border-color;
		p{
			&.intro_form {
				padding-bottom: 6px;
				font-weight: 700;
				font-size: 13px;
				color: $base-text-color;
			}
			&.txt_required{
				padding-bottom: 0;
				color: #666;	
			}
		}
		.text {
			padding-bottom: 10px;
			label {
				display: block;
				padding: 0;
				width: 100%;
				font-size: 12px;
			}
			input {
				padding: 0 5px;
				height: 30px;
				width: 100%;
				border: 1px solid $base-border-color;
				font-size: 12px;
				color: #666;
			}
		}
	}
	.submit {
		margin-top: 20px;
		padding-bottom: 0;
		text-align: right;
	}	
}

/* PERSONNALISATION ##################################################################### */

p.infoCustomizable {
	margin-bottom: 30px;
}

ul#uploadable_files,
ul#text_fields {
	list-style-type: none;
}

.customizableProductsFile,
.customizableProductsText {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid $base-border-color;
}

.customizationUploadLine {
	padding-bottom:10px;
	label{
		display: block;
		vertical-align: top;
	}
	textarea {	
		width: 50%;
		border: $main_border;
		color: $text-color;
	}
}
.customizationUploadBrowse img + a {
	position: relative;
	top: -51px;
}

#customizedDatas {
	float: right;
}

.accessories_block{
	div ul li {
		a {
			display: inline-block;
		}
		&.s_title_block{
			a, 
			span{
				font-weight:700;
			}
		}
	} 
}

/******************************************************************
Quick View Styles
******************************************************************/
#product.content_only {
	div {
		&.primary_block {	
			margin: 0;															
			div {
				&.pb-left-column {
					padding: 20px;
					@media (max-width: $screen-xs - 1)  {  // max 479px 
						width: 100%;
						float: none	;																		
					}
					#thumbs_list {
					}
				}
				&.pb-center-column {
					padding: 20px;
					margin-bottom: 0;
					height: 100%;														
					@media (max-width: $screen-sm-max) {  //max 991px
						min-height: 440px;
						width:100%;																			
					}
					@media (max-width: $screen-xs - 1)  { // max 479px 
						width: 100%;
						float: none	;																		
					}
					@media (max-width: $screen-xs - 1)  { 	// max 479px 
						.comments_advices li{
							display: block;
						}	
						.comments_advices a.reviews{
							margin: 0;
							padding: 0;
							border: none;
						}	
					}
					#ShareDiv{
						position: absolute;
						bottom: 8px;
					}
				}
				&.pb-right-column {
					.box-info-product {
						@media (max-width: $screen-sm-max) {  //max 991px
							@include border-radius(0);	
							width:100%;
						} 	
									
						#add_to_cart .exclusive{
							display: block;
							&:before,
							&:after{
								display: block;
							}
							span {													
								font-size: 20px;	
								text-align: center;
								@media (max-width: $screen-md-max) { //max 1199px
									font-size: 14px;  
								}
							}
						}
						.box-cart-bottom {
							right: 0;
							left: 0;
						}
					}		
					#attributes .attribute_list {
						.form-control {
							width: 230px;
						}	
					}
					.product_attributes { 
						padding-top:0;
					}
				}
			}
		}	
	}
}
.addsharethisinner .stButton .stArrow {
	display: none !important;
}

@media (max-width:1050px) {
	#product.content_only {
		div, 
		section {
			&.primary_block {
				div {
					&.pb-left-column {
						width: 100%;
						#image-block, #views_block {
							max-width: 470px;
							width: 100%;
							margin-left: auto;
							margin-right: auto;	
						}
					}
					&.pb-center-column {
						float: left;
						width:100%;
						@media (min-width: $screen-xs) and (max-width: $screen-sm-max) { // min 480px max 991px
							width: 100%;
						}
						@media (max-width: $screen-xs - 1)  { // max 479px
							width: 100%;
							@include box-sizing(border-box)																	
						}
					}
					&.pb-right-column {
						width: 100%;
						float: left;
						.box-info-product {
							min-height: 1px;
						}
					}
				}
			}
		}
	}
}

/***** IE code ****/

.ie8 {
	.pb-left-column {
		#image-block {
			#view_full_size {
				.span_link {
					background: #fff;
					border: 1px solid $base-border-color;	
				}
			}
		}	
	}
	.box-security {
		filter: none;
	}	
} 
.pb-center-column 
	.pb-right-column {
		float:left; 
		width:100%;
		clear:both;
		.content_prices {
			.our_price_display {
				float:left;
				font-size:20px;
				line-height: 20px
			}
		}
}	
.accessories-block {
	position:relative;
	#accessories-carousel
		li.product-box {
			width:100%;
	 	}
}	
.tm-tabcontent {
	margin:0 0 30px 0;
	#productpage_tab {
		border: medium none;
		@media (max-width: $screen-sm-max) { 
			width:100%;
		}
		li {
			float: left;
			border-right:1px solid $base-border-color;
			margin-right:5px;
			
			@media (max-width: $screen-xs) { // Max 480px
					width:100%;
					border-right:none;
			}
			@media (max-width: $screen-xs) { // Max 319
					width:100%;
			}
			&:last-child {
				border: medium none;				
			}
			a {
				margin-right:5px;
				font: bold 13px/18px $font-family;
				text-align: center;
				border:none;
				overflow:hidden;
				padding:0;
				text-transform: uppercase;
				
				@media (max-width: $screen-xs) { // Max 319
						width:100%;
				}
				&:before {
					content: attr(data-text);
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					color: $light-text-color;
					font-weight:bold;
				}
				> span { display:block; }
				&:before, > span {
					padding:8px 22px; 
					color: $link-hover-color;
					background:  $light-text-color;
				}
				&:hover {
					background: none;
				}
			}
		}
		li.active{
			a {
				background: $link-hover-color;
				&:before, > span { 
					background: $link-hover-color;
					color: $light-text-color;
				}
			
			}
		}
		li.active {
			a:hover {
				background: $light-background; 
			}
		}
	}
	.tab-content {
		border-bottom: 1px solid $base-border-color;
		margin:0;
		padding: 25px 0;
		overflow: hidden;
		#datasheet {
		@media (max-width: $screen-xxs) { 
			overflow:scroll;
			}
		}
	}
}
#product_payment_logos { margin:5px 0 0 0; float:left; width:100%;}
.pb-right-column { padding:0;}
#new_comment_form_error {
    color: #FF0000;
    padding: 0 !important;
}
.socialsharing_product { float:left; width:100%; clear:both;}
#send_friend_form_error{
	color:$error-color;
	margin-bottom:10px;
}