@import "compass";
@import "theme_variables";

/********************************************************
			Right to Left Styles
********************************************************/

* {
	direction: rtl !important;
}
#page {
	text-align: right !important;
}

/*========= Common setting ==============*/
.top_button { left:30px; right:auto;}

/* Slider */
#homepage-slider .homeslider-description { text-align:left;}
.owl-wrapper-outer,.bx-viewport ,
#homepage-slider .homeslider-description
{ direction:ltr!important;}

caption, th, td { text-align: right; }
.pull-right {
    float: left !important;
}

@media (min-width: $screen-sm) {
	.col-sm-offset-4 {
		margin: 0 33.33333% 0 0;
	}
}
.slimScrollBar {
    left: 0;
    right: auto !important;
}

/* Float Left */
#htmlcontent_top,
.cart_navigation .button-medium,
#submitReorder
{
	float:left;
}

/* Float Right */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
#homepage-slider,
.nav-tabs > li,
.shop-phone,
#left_column, #center_column, #right_column,
.pb-center-column .pb-right-column #buy_block label,
#attributes .attribute_list,
.pb-center-column .pb-right-column .content_prices .our_price_display,
#quantity_wanted_p input,
#quantity_wanted_p .btn,
ul.step li,
#address .form-group label, #identity .form-group label, #account-creation_form .form-group label, #new_account_form .form-group label, #opc_account_form .form-group label, #authentication .form-group label,
#address .form-group, #identity .form-group, #account-creation_form .form-group, #new_account_form .form-group, #opc_account_form .form-group, #authentication .form-group,
.radio-inline .checker, .checkbox .checker,
.cart_block .cart-prices .cart-prices-line span,
.box-info-product p,
.addresses .checkbox.addressesAreEquals
{
	float:right;
}


#htmlcontent_top { padding-left:0; padding-right:5px;}

#login_form {
	.form-group {
		&.lost_password {
			margin:14px 30% 15px 0%;
			@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
				margin: 14px 35% 15px 0%;
			}
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
				margin: 14px 0 15px 0%;
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				margin: 14px 30% 15px 0% !important;
			}
			@media (max-width: $screen-xs)
			{
				margin: 14px 0 15px 0;
			}
		}
	}
}
.form_content .submit{
	margin:0 30% 0 0;
	float:right;
	clear:both;
	@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
		margin:0 35% 0 0;
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
		margin:0 0 0 0%;
	}
	@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
			margin: 0px 30% 0 0% !important;
	}
	@media (max-width: $screen-xs)
	{
		margin:0 0 0 0%;
	}
}

.button.ajax_add_to_cart_button span i.right, .button.lnk_view span i.right, .button.button-small span i.right, .button.button-medium span i.right, .button.exclusive-medium span i.right {
	margin:0 5px 0 0;
}

#fp-nav.right { right: auto; left: 17px; }
/*------------------------User Info-------------------*/
.header_user_info {
	float: left;
	@media (max-width: $screen-xs-max) { // max 767px
		right: auto;
		left: 0;
	}
	.tm_userinfotitle {
		background-position: left -99px;
	}
	> ul {
		right: auto;
		left: 0;
		text-align: right;
	}
	&:hover{
		.tm_userinfotitle {
			background-position:left 1px;
		}
	}
}

/*------------------------Language Block-------------------*/
#languages-block-top {
    float: right;
	ul {
		text-align: right;
		li {
			margin: 0 0 10px 10px;
			float: right;
		}
	}
}
/*------------------------Currency Block-------------------*/
#currencies-block-top {
    float: right;
	ul {
		text-align: right;
		li {
			margin: 0 0 10px 10px;
			float: right;
		}
	}
}
/*------------------------Cart-------------------*/
.shopping_cart {
	@media (max-width: $screen-xs) {
		padding:0;
	}
}

.cart_block {
	.cart_block_list {
		.remove_link {
			right: auto;
			left: 5px;
		}
	}
	.cart-images {
		float: right;
		margin: 0 0 0 12px;
	}
	.cart-info {
		padding: 0 0 0 15px;
		.quantity-formated {
    		padding: 0 0 0 5px;
		}
	}
	.cart-prices {
		.cart-prices-line {
			span { float:right; }
			span.price { float:left; }
		}
	}
	.cart-buttons {
		a {
			float: left;
		}
	}
}

#header {
	.cart_block {
		right: auto;
		left: 0;
		text-align: right;
	}
}

#layer_cart {
	.layer_cart_product {
		float:  right;
		.title {
			font: 400 17px/22px $font-family;
			margin-bottom: 22px;
			display: block;
			i {
				float: right;
				padding: 0 0 0 6px;
			}
		}
		.product-image-container {
			max-width: 178px;
			float: right;
			margin: 0 0 0 30px;
			@media (max-width: $screen-xs) { // max 480px
				float: none;
				margin-left: 0;
				margin-bottom: 10px;	
			}
		}
	}
	.layer_cart_cart {
		float: right;
		border-left: medium none;
		border-right: 1px solid $base-border-color;
		@include border-radius(0px 4px 4px 0px);
		position: relative;
		@media (max-width: $screen-sm-max) { // max 991px
			border-right: none;
			border-top: 1px solid $base-border-color;
		}
		.button-container {
			span.exclusive-medium {
				margin-right: 0;
				margin-left: 5px;
			}
		}
	}
	.cross {
		right: auto;
		left: 7px;
	}
}
#header .header_cart {
	float: left;
	@media (max-width: $screen-xs-max) { // max 767px
		right: auto;
		left: 20px;
	}
}

/*------------------------Search-------------------*/
#search_block_top {
	float: left;
	@media (max-width: $screen-xs-max){
		right: auto;
		left: 85px;
	}
	.searchtoggle {
		right: auto;
		left: 0;
	}
	.btn.button-search {
		right: auto;
		left: 0;
		&:before {
			content: "\f104";
		}
	}
	#search_query_top {
		padding: 10px 10px 10px 40px;
	}
}

/*------------------------ Menu -------------------*/
.sf-contener {
	float:right;
	@media (max-width: $screen-xs-max) { // max 767px
		padding: 0 0 0 140px;
	}
}
.sf-menu {
	@media (max-width: $screen-sm-max) { // max 991px
		text-align: right;
	}
}
.sf-menu > li {
	@media (max-width: $screen-sm-max) { // max 991px
		span {
			right: auto;
			left: 0;
		}
	}
	> a {
		background-position: left center;
		@media (max-width: $screen-sm-max) { // max 991px
			background: none;
		}
	}
}
.sf-menu li li ul {
	@media (max-width: $screen-sm-max) { // max 991px
		padding: 0 20px 0 0;
	}
}
.sf-menu li li li ul {
	padding: 0 20px 0 0;
}
.sf-menu > li > ul {
	text-align: right;
	@media (max-width: $screen-sm-max) { // max 991px
		padding: 0 20px 0 0;
	}
}
.sf-menu > li > ul > li {
	border-right: 1px solid $base-border-color;
	border-left: medium none;
	&:first-child {
		border: medium none;
	}
	@media (max-width: $screen-sm-max) { // max 991px
		border: medium none;
	}
}

.cat-title {
	text-align:right;
	@media (max-width: $screen-sm-max) { // max 991px
		&:after {
			float: left;
		}
	}
}
/*------------------------ Block newsletter footer ------------------------*/
.footer-container {
	#newsletter_block_left {
		h4 {
			float: right;
		}
		.block_content {
			margin: 0 0 0 50px;
			@media (max-width: $screen-md-max) and (min-width: $screen-md){ // max 1200px min 992px   
				margin:0px;
			}
			@media (max-width: $screen-sm-max) {
				float: right;
				margin: 20px 0 0 0;
			}
			> form {
				float: right;
			}
		}
		.form-group {
			margin: 0;
			.form-control {
				float: right;
				@media (max-width: $screen-sm-max){
					float:none;
				}
			}
			.button-small {
				float: right;
				margin: 0 10px 0 0;
				@media (max-width: $screen-sm-max){
					float:none;
				}
				@media (max-width: $screen-xs){ // max 480px 
					margin: 20px 0 0 0;
				}
			}
		}
	}
}
.tm_newsletter {
    float: right;
	margin: 0 50px 0 0;
	@media (max-width: $screen-sm-max) { // max 991px  
		margin:0;
	}
	@media (max-width: $screen-md-max) and (min-width: $screen-md){ // max 1200px min 992px   
		margin:0px;
	}
	i {
		margin:0 0 0 15px;
	}
}

/*------------------------ Block newsletter footer ------------------------*/
.footer-container {
	.footer_hide {
		#social_block {
			float: right;
		}
		.footer_btn {
			span.footer_top_arrow {
				right: auto;
				left: 15px;
			}
		}
	}
	#footer {
		.footer-block {
			float: left;
			padding: 0 70px 0 0;
			border-left: medium none;
			border-right: 1px solid $base-border-color;
			@media (max-width: $screen-md-max) { // max 1199
				padding: 0 30px 0 0;
			}
			@media (max-width: $screen-sm-max) {
				border: medium none;
				margin: 5px 0;
				float: right;
				padding: 0;
			}
		}
		h4 {
			// max 991px
			@media (max-width: $screen-sm-max) {
				&:after {
					right: auto;
					left: 0;
				}
			}
		}
		#block_contact_infos {
			padding: 0 0 0 30px;
			@media (max-width: $screen-sm-max) {
				text-align: right;
				padding: 0;
			}
			> div {
				padding: 0 5px 0 0;
				// max 991px
				@media (max-width: $screen-sm-max) {
					padding-right: 0;
				}
				ul li i {
					padding: 0 0 0 5px;
				}
			}
		}
		#social_block {
			float: right;
			text-align: center;
			padding: 0 0 0 30px;
			border: medium none;
			@media (max-width: $screen-sm-max) {
				text-align: right;
				padding: 0;
			}
		}
		#block_various_links_footer{
			ul {
				li {
					background-position: right center;
					padding: 0 9px 0 3px;
					&:first-child {
						background: none;
					}
				}
			}
		}
	}
}

#tmfootercms_block {
	float: right;
	padding: 0 0 0 30px;
	@media (max-width: $screen-sm-max) {
		padding: 0;
	}
}

/*-------------------------- Header CMS Block -------------------------------*/

.header_cms.container {
	.cont_inner {
		.cms_img {
			margin:0 0 0 15px;
			@media (max-width: $screen-sm-max) { // max 991
				margin: 0;
			}
		}
	}
}		

/*-------------------------- Testimonial CMS Block -------------------------------*/

#tmtestimonialcmsblock {
	float: right;
	padding:0 75px 0 0;
	@media (max-width: $screen-sm-max) { // max 991
		padding:0;
	}
}

/*---------------------------- TM Blog and Testimonial Block---------------------------------------*/

#tmsmartblog_block {
	float: right;
	ul{
		li{
			 .news_module_image_holder{
			 	float:right;
				margin:0 0 0 25px;
				@media (max-width: $screen-xs){margin:0 0 15px;}
			 }
		}
	}
}

.tm_row {
	.tm_blog_pagination {
		.results { 
			float: left;
			@media (max-width: $screen-xs-max){
				float: right;
			}
		}
	}
}

#page #sdsblogCategory{
	.imageFeatured{
		float: right;
		margin: 0 0 20px 20px;
	}
}

#page #articleComments {
	.commentList {
		li{
			padding:8px 85px 8px 0;
			.avatar{
				left: auto;
				right: 10px;
			}
			.reply {
				height: auto;
				text-align: left;
			}
		}
	}
}

#respond {
	#commentInput{
		.right {
			text-align: left;
		}
	}
}

.customNavigation {
    direction: ltr !important;
}

.popover.bottom .arrow{
	&:after{
		margin-left:0;
		margin-right:-10px;
	}
}

/*************************** Product list Styles ******************************/
ul.product_list {
	.product-image-container {
		.quick-view {
			right: auto;
			left: 5px;
		}
	}
}

ul.product_list.grid ,ul.tm-carousel {
	li {
		float: right;
		@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
			float: right;
		}
		@media (min-width: $screen-lg) { // min 1200px
			&.first-in-line {
				clear: right;
			}
		}
		@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
			&.first-item-of-tablet-line {
				clear: right;
			}
		}
		@media (min-width: $screen-xs) and (max-width: $screen-sm-max) { // min 480px max 991px
			&.first-item-of-mobile-line {
				clear: right;
			}
		}
	}
}

ul.product_list.list {
	> li {
		.right-block {
			.right-block-content{
				text-align:right;
				@media (max-width: $screen-xs-max){ // max 767px
					text-align:center;
				}				
			}
		}
		 .center-block{
		 	text-align:right;
				@media (max-width: $screen-xs-max){ // max 767px
					text-align:center;
				}
		 }
	}
}

/*************************** Block Layered Navigation ******************************/
#left_column ,#right_column {
	#layered_block_left .block_content #layered_form {
		#enabled_filters ul li a {
			float: left;
			margin: 0 10px 0 0;
		}
		.layered_filter_ul {
			.color-option {
				margin: 0 0 0 5px;
			}
			div.checker {
				margin: 0 0 0 5px;
			}
		}
	}
}

#tmcenterlayered {
	float: right;
	margin: 0 0 0 20px;
	#layered_block_left {
		.title_block {
			&:before {
				float: left;
			}
		}
		.block_content {
			#layered_form {
				#enabled_filters ul li a {
					float: left;
					margin: 0 10px 0 0;
				}
				.layered_filter_ul {
					.color-option {
						margin: 0 0 0 5px;
					}
					div.checker {
						margin: 0 0 0 5px;
					}
				}
			}
		}
	}
}

.alert {
	font-weight: bold;
	ul, ol {
		padding: 0 15px 0 0;
		margin: 0 27px 0 0;
	}
	&.alert-success {
		&:before {
			padding: 0 0 0 7px;
		}
	}
	&.alert-danger {
		&:before {
			padding: 0 0 0 7px;
			float: right;
		}
	}
}

header {
	.row {
		#header_logo {
			float: right;
			@media (max-width: $screen-xs-max) {
				float: none;
			}
		}
	}
}


#new-products_block_right,#special_block_right,#best-sellers_block_right {
	a.button-small {
		float: left;
	}
}

.new-box, .sale-box {
	left: auto;
	right: 0;
}

.box {
	&.box-small {
		padding: 9px 20px 9px 10px;
	}
}

#left_column .block ,#right_column .block {
	.title_block, h4 {
		@media (max-width: $screen-sm-max) {
			&:after {
				right: auto;
				left: 0;
			}
		}
	}
	.products-block {
		li {
			.products-block-image {
				float: right;
				margin: 0 0 0 10px;
			}
		}
	}
}

.page-heading , h2.centertitle_block {
	span.heading-counter {
		float: left;
		@media (max-width: $screen-xs) {
			float: none;
		}
	}
}

ul.footer_links {
	li {
		float: right;
		&+li {
			margin: 0 10px 0 0;
		}
	}
}

.content_sortPagiBar {
	.sortPagiBar {
		#productsSortForm {
			float: left;
			margin:0 20px 0 0px;
			@media (max-width: $screen-xs-max) {
				clear: right;
				float: right;
				margin: 10px 0px 0 10px;
			}
			select {
				float: right;
			}
			.selector {
				float: right;
			}
		}
		.nbrItemPage {
			float: left;
			@media (max-width: $screen-xs-max) {
				float: right;
			}
			select {
				float: right;
			}
			.clearfix > span {
				padding: 3px 0 0 12px;
				float: right;
			}
			#uniform-nb_item {
				float: right;
			}
		}
		label,
		select {
			float: right;
		}
		label {
			padding: 3px 0 0 6px;
		}
	}
	.display,
	.display_m {
		float: right;
		li {
			float: right;
		}
	}
}

.top-pagination-content,
.bottom-pagination-content {
	div.pagination {
		float: left;
		@media (max-width: $screen-sm-max) {
			float: right;
		}
		.showall {
			float: left;
			margin: 0px 0 0 10px;
			@media (max-width: $screen-sm-max) {
				margin: 0;
			}
		}
	}
	ul.pagination {
		margin: 0 0 0 10px;
		float: right;
	}
	.compare-form {
		float: left;
		@media (max-width: $screen-xs) {
			float: right;
			text-align: right;
		}
	}
	.product-count {
		float: right;
		@media (max-width: $screen-sm-max) {
			clear: right;
		}
	}
}

.breadcrumb .navigation-pipe { padding:0 5px 0 14px; }

//nav bottom
.cart_navigation {
	.button-medium {
		float: left;
	}
}

// step 1 - cart
.text-right {
    text-align: right;
	@media (max-width: $screen-xs) {
		text-align: center;
	}
}

@media (max-width: $screen-xs-max) {
	#order-detail-content {
		#cart_summary {
			td {
				text-align: right;
				float: right;
			}
		}
	}
}

@media (max-width: $screen-xs) {
	#order-detail-content {
		#cart_summary {
			td {
				width: 100%;
				text-align:center;
			}
		}
	}
}

.addresses {
	.select label,
	.selector,#address_invoice_form,
	.addresses .address_select {
		float: right;
	}
}

p.payment_module {
	a {
		padding: 15px 60px 15px 15px;
		&:before{
			left: auto;
			right: 15px;
			margin: 0 0 0 15px;
		}
		&.cheque, &.bankwire, &.cash {
			&:after {
				right: auto;
				left: 15px;
				content: "\f053";
			}
		}
	}
}

.radio-inline, .checkbox {
	.checker {
		margin: 0 0 0 5px;
	}
	div.radio {
		margin: 0 0 0 3px;
	}
}

.fancybox-skin .fancybox-close {
	right: auto;
	left: -10px;
}

#left_column ,#right_column {
	#categories_block_left .block_content ul li ul {
		margin:0 10px 0 0;
		li ul {
			margin: 0 10px 0 0;
		}
	}
}

#my-account ul.myaccount-link-list li a i {
	left: auto;
	right: 15px;
}

.address li.address_update a {
	margin: 0 0 0 10px;
}

#favoriteproducts_block_account{
	.favoriteproduct {
		a.product_img_link {
			float: right;
			margin: 0 0 0 15px;
		}
		.remove {
			right: auto;
			left: 10px;
		}
	}
}

#module-blockwishlist-mywishlist .wishlistLinkTop li {
	float: right;
}

ul.wlp_bought_list li {
	.product-name {
		padding: 0 0 0 20px;
	}
	.btn_action .btn {
		margin: 0 0 10px 0;
	}
	.lnkdel {
		right: auto;
		left: 0;
	}
	@media (min-width: $screen-md) {
		&.first-in-line {
			clear: right;
		}	
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
		&.first-item-of-tablet-line  {
			clear: right;
		}	
	}
}

#subcategories ul li {
	float: right;
	@media (max-width: $screen-xs) {
		float:none;
	}
}

#categories_block_left {
	li {
		span.grower {
			right: auto;
			left: 0;
		}
	}
}

.pb-left-column #image-block #view_full_size .span_link {
	right: auto;
	left: 8px;
}

.resetimg #wrapResetImages a {
	padding: 0 7px 0 0;
	i {
		left: auto;
		right: -7px;
	}	
}

#usefull_link_block {
	li {
		a{
			padding: 0 25px 0 0;
			&:before{
				left: auto;
				right: 0;
			}
		}
		&#favoriteproducts_block_extra_remove, 
		&#favoriteproducts_block_extra_add, 
		&#favoriteproducts_block_extra_removed, 
		&#favoriteproducts_block_extra_added{
			padding: 0 25px 0 0;
			&:before{
				left: auto;
				right: 0;
			}
		}
	}
}

.pb-center-column {
    padding: 0 30px 0 10px;
	float: right;
	@media (max-width: $screen-xs-max) { //max 991px
		padding: 10px 10px 0;
	}
	.pb-right-column #buy_block {
		label {
			float: right;
			text-align: right;
		}
	}
	.buttons_bottom_block {
		margin: 0 0 10px 10px;
	}
}

#attributes{
	.attribute_list {
		float: right;
		input.attribute_radio{
			float: left;
			margin-left: 3px;
		}
		#color_to_pick_list li {
			float: right;
			margin: 0 0 3px 3px;
		}	
	}
}

.box-info-product {
	p{
		float:right;
	} 
	.exclusive{
		&:before{
			left: auto;
			right: 0px;
		}
		span{
			padding: 5px 40px 5px 10px;  
		}
	}
}

#quantity_wanted_p {
	margin: 0 0 10px 10px;
}

#availability_statut span#availability_label, 
#availability_date_label {
	text-align: right;
}

#send_friend_form {
	.form_container {
		padding: 10px 15px;
		border: 1px solid $base-border-color;
	}
	.submit {
		text-align: left;
	}	
}


.pb-center-column .pb-right-column .content_prices .our_price_display {
	float: right;
}	

.tm-tabcontent {
	#productpage_tab {
		li {
			float: right;
			border-right: medium none;
			border-left: 1px solid $base-border-color;
			margin:0 0 0 5px;
			@media (max-width: $screen-xs)  { // max 479px
				margin:0;
				border:none;																		
			}
			a{
				margin:0 0 0 5px;
			}
			
			&:last-child {
				border: medium none;
				
			}
		}
	}
}


#product_comments_block_extra {
	.comments_note {
		float: right;
		margin: 0 0 0 20px;
	}	
	.comments_note span,
	.star_content {
		float: right;
	}	
	.comments_advices {
		float:right;
		a.reviews{
			margin:0 0 0 10px;
		}
	}
}

#new_comment_form {
	text-align: right;
	ul.grade_content {
		.cancel {
			margin: 0 0 0 5px;
		}
	}
	.submit {
		text-align: left;
	}
	#criterions_list {
		label {
			float: right;
			margin: 0 0 0 10px;
		}
		.star_content {
			float: right;
		}
	}
}

#product_comments_block_tab {
	div.comment {
		.comment_author {		
			padding: 0 0 0 20px;
			@media (max-width: $screen-xs-max) { //max 767px
				padding: 0;
				float: right;	
			}
			span{
				float: right;
			}
		}
		.comment_details {
			border-left: medium none;
			border-right: $main_border;
			@media (max-width: $screen-xs-max) { //max 767px
				border-right: none;
				float: right;
				ul {
					li {
						&:before{
							margin: 0 0 0 8px;
						}
					}
				}
			}
		}
	}
}

#tmproduct_tab_block {
	float: right;
	.tab-links {
		li {
			margin: 0 0 0 -1px;
			float: right;
		}
	}
	.tab-content {
		margin: 0;
		padding: 20px 15px;
		float:left;
		width:100%;
		border: 1px solid $base-border-color;
		.size_guide_table {
			border: 1px solid #e6e6e6;
			width: 100%;
			th {
				text-align: center;
			}
			td {
				border: 1px solid $base-border-color;
				text-align: center;
			}
		}
		.tm_productinner.tab {
			display: none;
			line-height: 24px;
			&.active {
				display: block;
			}
		}
	}
}

.rte ul, .rte ol {
	padding: 0 15px 0 0;
}

#cms #center_column .list-1 li em:before{
	left: auto;
	right: -21px;
}

div.uploader span.action, div.uploader span.filename { float: right;}

#listpage_content ul.tree {
	li {
		padding: 5px 23px 0 0;
		border-right: 1px solid $base-border-color;
		border-left: medium none;
		background: url(../img/sitemap-rtl.png) no-repeat right 15px transparent;
	}
	> li {
		margin: 0 10px 0 0;
		ul {
			margin: 0 10px 0 0;
		}
	}
	li.last {
		border: medium none;
		background: url(../img/sitemap-last_rtl.png) no-repeat right -4px transparent;
	}
}

#stores {
	.address-input {
		float: right;
		margin: 0 0 0 20px;
		@media (max-width: $screen-xs-max) { // max 767px
			margin: 0 0 20px 0;
		}
		label {
			margin: 0 0 0 5px;
		}
	}
	.radius-input {
		float: right;
		margin: 0 0 0 20px;
		label, .selector {
			float: right;
		}
		label {
			margin: 0 0 0 10px;
		}
	}
}

#tmcmsbannerblock{
	.cloth-banner1{ float:right;}
	.cloth-banner3{ float:right;}
	.cloth-banner4{ float:left;}
	.cloth-banner5{ float:right;}
	.cloth-banner2{
		.inner1 .hover_content{ left:0; right:auto;}
	}
	
}
.tm-hometabcontent {
	#home-page-tabs{
		 li{
		 	&:last-child{
				&:after{ 
					content:"";
					@media (max-width: $screen-xs){ // max 480px 
						content:none;
					}
				
				}			
			}
			&:first-child{
				&:after{ content:none;}			
			}
		 }	
	}
}
#tmcmstestimonialblock {
	.tm_shipping_cms{
		float:right;
		 .img_content{
		 	float:right;
			margin-left:40px;
			margin-right:0;
			@media (max-width: $screen-xs){ // max 480px 
				float:none;
				margin:0 0 20px 0;
			}
		 }
		  .shipping-heading{
		  	&:after{
				background:url(../img/megnor/title_line_1.png) no-repeat scroll 0 0;
				margin-right:30px;
				margin-left:0;
				@media (max-width: $screen-md-max) and (min-width: $screen-xs + 1){ // max 1200px min 480px
						background:url(../img/megnor/title_line_1.png);
						margin-right:30px;
						margin-left:0;
				}
				@media (max-width: $screen-xs){ // max 480px 
					margin:0;
					background:url(../img/megnor/divider.png) no-repeat scroll center 0;
					
				}
			}
		  }
	}
	#tmtestimonialcmsblock{
		float:left;
	}
}
@media (min-width: $screen-lg){ 
	#tmsmartblog_block ul > li:nth-child(3n+1){
		clear:right;
	}
}

@media (max-width: $screen-md-max) and (min-width: $screen-sm){
	#tmsmartblog_block ul > li:nth-child(2n+1){
		clear:right;
	}
}