@import "compass";
@import "theme_variables";

/******************************************************************
					Sitemap Page Styles
*******************************************************************/
#sitemap {
	.sitemap_block {
		.page-subheading {
		}
		li {
			line-height: 16px;
			padding-bottom: 11px;
			a {
			}
		}
	}
}
	
#listpage_content div.tree_top {
	a {
		&:before {
			content: "\f015";
			display: inline-block;
			font-family: $font-icon;
			font-size: 20px;
			color: $base-text-color;
		}
		&:hover {
			&:before {
				color: $link-hover-color;
			}	
		}
	}	
}

#listpage_content ul.tree {
	padding-left: 0;
	@media (max-width: $screen-xs) {
		padding: 0px 0 0 0px;
	}
	li {
		margin: 0;
		padding: 5px 0 0 23px;
		border-left: 1px solid $base-border-color;
		background: url(../img/sitemap-horizontal.png) no-repeat left 15px transparent;
	}
	> li {
		margin: 0 0 0 10px;
		ul {
			margin: 0 0 0 10px;
		}
	}
	li.last {
		border: medium none;
		background: url(../img/sitemap-last.png) no-repeat 0px -4px transparent;
	}
}