@import "compass";
@import "theme_variables";
.header_user_info {
	float: right;
	padding: 0;
	position: relative;
	z-index: 9;
	margin: 25px 0 0 0;
	@media (max-width: $screen-xs-max) { // max 767px
		bottom: 16px;
		margin: 5px 0 0;
		position: absolute;
		right: 0;
	}
	.tm_userinfotitle {
		background: transparent url("../../../img/megnor/3-dot.png") no-repeat scroll right -99px;
		cursor: pointer;
		height: 25px;
		margin: 0;
		padding:2px 10px;
		position: relative;
		text-align: center;
		width: 20px;
	}
	> ul {
		background: white none repeat scroll 0 0;
		border: 1px solid #d9d9d9;
		display: none;
		margin: 0;
		min-width: 230px;
		padding: 20px;
		position: absolute;
		right: 0;
		text-align: left;
		top: 46px;
		z-index: 9;
		@media (max-width: $screen-xs-max) { // max 767px
			top:41px;
		}
		li {
			float:left;
			width: 100%;
			a {
				color: $base-body-color;
				cursor: pointer;
				display: block;
				font-size: 12px;
				line-height: 25px;
				text-transform: capitalize;
				&:hover, &.active {
					color: $link-hover-color;
				}
			}
			&.lang-curr {
				position: relative;
			}
		}
		.li_logout{
		}
		.welcome_text {
			span {
				font-weight: bold;
				color:$base-heading-color;
			}
		}
	}
	&:hover{
		.tm_userinfotitle {
			background-position:right 1px;
		}
	}
}
#header_link_bookmark{display: none;}