#PM_ASBlockOutput_1 {border-color:#b6b7ba;} #PM_ASBlockOutput_1 {-moz-border-radius:30px;-webkit-border-radius:30px;border-radius:30px;behavior: url(/modules/pm_advancedsearch4/js/PIE.htc);} #PM_ASBlockOutput_1 .PM_ASearchTitle {font-size:12px!important;} #PM_ASBlockOutput_1 .PM_ASCriterionsGroupTitle {color:#333333;} #PM_ASBlockOutput_1 .PM_ASCriterionsGroupTitle {font-size:12px!important;}
/* Advanced Search 4 - Advanced Styles Content */
ul#PM_ASCriterionGroupImage_1_9.PM_ASCriterionGroupImage li a.PM_ASCriterionLink.PM_ASCriterionLinkSelected.PM_ASNotMulticriteria img {
  width: 23px;
}
ul#PM_ASCriterionGroupImage_1_9.PM_ASCriterionGroupImage li a.PM_ASCriterionLink.PM_ASNotMulticriteria img {
  width: 23px !important;
}
/*ul.PM_ASCriterionGroupImage li {
  width:38px !important;
}*/
/* ul#PM_ASCriterionGroupImage_1_9 li a img {
  float: left;
}
*/
#PM_ASCriterionsGroup_1_9 { 
  display: none;
}

#PM_ASCriterionGroupImage_1_9 .title-tacon {
    display: none;
}
#PM_ASCriterionGroupImage_1_9 li {
    width: 38px !important;
}