$ico-blog = -453px -368px 55px 56px
$ico-blog2x = -122px -329px 110px 112px
$ico-facebook-share = -576px -198px 31px 31px
$ico-facebook-share2x = -310px -369px 62px 62px
$ico-facebook = -453px -304px 56px 56px
$ico-facebook2x = -333px -4px 112px 112px
$ico-googleplus-share = -537px -198px 31px 31px
$ico-googleplus-share2x = -333px -244px 62px 62px
$ico-googleplus = -380px -369px 55px 56px
$ico-googleplus2x = -4px -329px 110px 112px
$ico-pinterest-share = -576px -159px 31px 31px
$ico-pinterest-share2x = -240px -369px 62px 62px
$ico-pinterest = -453px -176px 56px 56px
$ico-pinterest2x = -333px -124px 112px 112px
$ico-twitter-share = -537px -159px 31px 31px
$ico-twitter-share2x = -244px -209px 62px 62px
$ico-twitter = -453px -240px 56px 56px
$ico-twitter2x = -124px -209px 112px 112px
$ico-youtube = -453px -112px 56px 56px
$ico-youtube2x = -4px -209px 112px 112px
$logo-caixacatalunya = -599px -95px 27px 16px
$logo-caixacatalunya2x = -537px -95px 54px 32px
$logo-confianza = -537px -44px 43px 43px
$logo-confianza2x = -172px -115px 86px 86px
$logo-donurmy-tab = -537px -4px 90px 32px
$logo-dresoop-tab = -92px -449px 96px 31px
$logo-dresoop = -4px -4px 321px 103px
$logo-enisa = -588px -44px 25px 43px
$logo-enisa2x = -266px -115px 50px 86px
$logo-mastercard = -583px -237px 38px 23px
$logo-mastercard2x = -453px -4px 76px 46px
$logo-paypal = -537px -135px 59px 16px
$logo-paypal2x = -240px -329px 118px 32px
$logo-rapidssl = -4px -449px 80px 43px
$logo-rapidssl2x = -4px -115px 160px 86px
$logo-visa = -537px -237px 38px 23px
$logo-visa2x = -453px -58px 76px 46px

sprite-width($sprite)
  width $sprite[2]

sprite-height($sprite)
  height $sprite[3]

sprite-position($sprite)
  background-position $sprite[0]  $sprite[1]

sprite($sprite)
  sprite-position($sprite)
  background-repeat no-repeat
  overflow hidden
  display block
  sprite-width($sprite)
  sprite-height($sprite)

.icon
  background-image url('assets/images/sprites.png')

