/* ---------------------------- *\
    
    $Components

\*----------------------------- */

// define default values
$fontsize = 16
//$lineheight = 24
 
// Mixins

// It compares the given value to the base values 
// and calculates the correct output
font-size($fontValue = $fontsize, $baseFontValue = $fontsize)
    font-size   $fontValue px
    font-size   ($fontValue / $baseFontValue) rem

centerObject($horizontal = true, $vertical = true)
    if $horizontal and $vertical
        top 50%
        left 50%
        position absolute
        transform translate(-50%, -50%)
    else if $horizontal
        left 50%
        position absolute
        transform translateX(-50%)
    else if $vertical
        top 50%
        position absolute
        transform translateY(-50%)

// End of mixins

// Variables
roboto = 'Roboto', sans-serif
miso = 'Miso', sans-serif

darkGrey = #4a4a4a
middleGrey = #d8d8d8
clearGrey = #e8e8e8
textGrey = #929292
donurmyBlue = #841f82
donurmyGreen = #34d9c3
dPink = #e8386d
dBlue = #60c3ea
dGreen = #7ed321

basetransition = 250ms linear
pseudotransition = 250ms ease-in-out

// Placeholder styles
placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}

*, 
*:before,
*:after
    box-sizing border-box

html
    font-size(16)
    
html,
button,
input,
select,
textarea
    color darkGrey

body
    line-height 1.4

a
    color darkGrey
    text-decoration none
    &:hover
        color donurmyBlue
    
::-moz-selection
    background donurmyBlue
    text-shadow none
    color white

::selection
    background donurmyBlue
    text-shadow none
    color white

hr
    display block
    height 1px
    border 0
    border-top 1px solid #ccc
    margin 1em 0
    padding 0

img
    vertical-align middle

fieldset
    border 0
    margin 0
    padding 0

textarea
    resize vertical

.chromeframe
    margin 0.2em 0
    background #ccc
    color #000
    padding 0.2em 0

/* ---------------------------- *\
    
    $Font-face

\*----------------------------- */

@font-face
    font-family 'Miso'
    src url('assets/fonts/miso-regular.eot')
    src: url('assets/fonts/miso-regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/miso-regular.woff') format('woff'), 
        url('assets/fonts/miso-regular.ttf') format('truetype'), 
        url('assets/fonts/miso-regular.svg') format('svg')
    font-weight 400
    font-style normal

@font-face
    font-family 'Miso'
    src url('assets/fonts/miso-bold.eot')
    src: url('assets/fonts/miso-bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/miso-bold.woff') format('woff'), 
        url('assets/fonts/miso-bold.ttf') format('truetype'), 
        url('assets/fonts/miso-bold.svg') format('svg')
    font-weight 700
    font-style normal
    
@font-face
    font-family 'Miso'
    src url('assets/fonts/miso-light.eot')
    src: url('assets/fonts/miso-light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/miso-light.woff') format('woff'), 
        url('assets/fonts/miso-light.ttf') format('truetype'), 
        url('assets/fonts/miso-light.svg') format('svg')
    font-weight 300
    font-style normal


/* ---------------------------- *\
    
    $General Styles

\*----------------------------- */

h1, h2, h3, h4, h5, h6, p
    margin-top 0

body
    font-family roboto

blockquote
    font-size(15)
    margin-left 0
    padding .5em .5em .1em
    background-color #f9f9f9

.wrapper
    width 100%
    clear both
    margin 0 auto
    max-width 1400px

.main__html
    overflow-y hidden

.basket__html
    overflow-y auto

.row
    margin 2em auto

.row--form
    clear both
    overflow hidden    

.inset
    padding 2em

.inset--half
    padding-right 1em
    & + .half
        padding-left 1em

.left
    float left

.right
    float right

.full
    width 100%

.half
    width 50%

.width__60
    width 60%

.width__70
    width 70%

.width__80
    width 80%

.flex
    display flex
    flex-wrap wrap

.nondisplayed
    display none

.hidden
    visibility hidden

.clearfix
    clearfix()

.btn
    display block
    overflow hidden
    text-align center
    font-family roboto
    border-radius 8px
    position relative
    text-decoration none

.btn--ico
    text-align left
    padding-left 1em
    .fa
        right 1em
        centerObject(false,true)

.btn__submit, .btn__cancel
    z-index 9
    width 100%
    color white
    border none
    font-weight 500
    line-height 30px
    position relative
    transition all basetransition 
    &:hover
        transition all pseudotransition

.btn__submit
    outline none
    background-color dGreen
    &:hover
        background-color #68b018

.btn__cancel
    background-color dPink
    &:hover
        background-color #ad224c

a.btn__cancel
    padding .5em 1em

.btn__modify
    width 100px
    line-height 30px
    border-radius 5px
    background-color #f1f1f1
    box-shadow 0 2px 4px #c1c1c1
    &:hover
        background-color #e9e9e9

.btn__new-client
    z-index 9
    width 100%
    color white
    border none
    overflow hidden
    font-weight 500
    position relative
    background linear-gradient(top, #fad961, #f7931c)
    .btn--helper
        background linear-gradient(top, #f7931c, #fad961)
    &:hover .btn--helper
        opacity 1
        visibility visible
        transition all 1s ease-in-out

.btn__search
    color white
    border none
    padding .5em 1em
    background-color #4a90e2
    transition all basetransition
    &:hover
        background-color #2e70bc
        transition all pseudotransition

.btn__step
    top 11px
    padding .5em
    color #757575
    border-radius 5px
    position relative
    span
        border-bottom 1px solid #757575
    .fa
        color white             
    &.btn__step--next
        color darkGrey
        background-color white
        span
            border-color dGreen
        .fa
            color #7ed321

.btn--helper
    top 0
    left 0
    opacity 0
    z-index -1
    width 100%
    height 100%
    display block
    visibility hidden
    position absolute
    border-radius 8px
    transition all basetransition
    box-shadow inset 0px 2px 3px rgba(0,0,0,.3)

// Helper

.added, .removed, .exist
    color white !important

.added
    background-color donurmyGreen

.removed
    background-color donurmyBlue

.exists
    background-color #c1c1c1

.display
    opacity 1 !important
    visibility visible !important

.flash-notice
    padding .8em
    font-size(14)
    display block
    position relative
    background-color #f1f1f1
    p
        margin 0
    .alert-close
        top .8em
        right .8em
        position absolute
    &.sep
        margin 1em
    &.sep--top--sides
        margin 1em 1em 0
    &.sep--top
        margin 1em 0 0
        
.flash-notice--warning
    color textGrey

.flash-notice--error
    color white
    background-color dPink
    .alert-close
        color white

.error-msg,
.module__message--error
    color white
    padding .5em
    font-size(14)
    border-radius 5px
    background-color dPink

.label-inline
    display inline

.actions
    a
        font-size(14)
        margin-right 1em
        display inline-block
        text-decoration none
        text-transform uppercase
        &:hover
            color donurmyBlue
    span
        border-bottom 1px solid #c1c1c1
    .fa
        margin-right 8px    

// BG's

.bg--cleargrey
    background-color clearGrey

.bg--middlegrey
    background-color middleGrey

.sprites-svg
    opacity 0
    top -9999px
    position absolute

// Main container for content
.content__main
    padding 0 2em
    position relative
    margin-bottom 2em

.content__section--header
    overflow hidden
    line-height 30px
    margin-bottom 1em
    h1, h2, h3, h4, h5, h6
        float left
        color #707070
        font-weight 400
        margin 0 10px 0 0
        display inline-block
        text-transform uppercase
    > span
        float left
        font-size(14)
        color #707070
        display inline-block
    .btn
        width 200px

/* ---------------------------- *\
    
    $Section $Headings

\*----------------------------- */
        
// Header with big title and lines between them
.section__header--crossline
    padding 0 2em
    position relative
    &::before
        left 0
        z-index 0
        content ''
        width 100%
        height 1px
        display inline-block
        centerObject(false,true)
        background-color middleGrey
    h1, h2, h3, h4, h5, h6, a
        margin 0
        padding 0
        z-index 1
        position relative
        display inline-block
        background-color white
        &::before, &::after
            top 0
            width 20px
            content ''
            height 100%
            position absolute
            background-color white
        &::before
            right 100%
        &::after
            left 100%
    a
        float right
        margin-left 8px

/* ---------------------------- *\
    
    $RRSS li's

\*----------------------------- */

// (used on nav and footer)
.social-networks
    li, a
        float left
    li
        margin-right 1em
    .facebook
        sprite($ico-facebook)
    .facebook-share
        sprite($ico-facebook-share)
    .twitter
        sprite($ico-twitter)
    .twitter-share
        sprite($ico-twitter-share)
    .googleplus
        sprite($ico-googleplus)
    .googleplus-share
        sprite($ico-googleplus-share)
    .pinterest
        sprite($ico-pinterest)
    .pinterest-share
        sprite($ico-pinterest-share)
    .youtube
        sprite($ico-youtube)
    .blog
        sprite($ico-blog)
    span
        text-indent -9999px
        transition all basetransition
        &:hover
            opacity .8
            transition all pseudotransition

/* ---------------------------- *\
    
    $Grid

\*----------------------------- */

.grid
    text-align center
    justify-content space-around
    .block, .gap
        width 23%
        vertical-align top
        display inline-block
    .block
        margin 0 0 2%
        position relative
        text-align center
        border-radius 7px
        transition all basetransition
        box-shadow 0 1px 4px rgba(0,0,0,.4)
        &:hover
            transition all pseudotransition


/* ---------------------------- *\
    
    $Products

\*----------------------------- */

// Breadcrumb 
.nav--breadcrumb
    font-size(12)
    padding 1.5em 0
    text-transform uppercase
    a, span
        color textGrey
        margin-right 1em
        position relative
        border-bottom 1px solid transparent
    a
        font-weight 300
        text-decoration none
        transition all basetransition
        &:after
            top 0
            content '>'
            right -10px
            position absolute
        &:hover
            color donurmyBlue
            border-color donurmyBlue
            transition all pseudotransition
    span
        font-weight 400
    i
        display none

/* ---------------------------- *\
    
    $Fieldsets and $Inputs stuff

\*----------------------------- */

.fieldset--full
    width 100%

.fieldset--full, .fieldset--half
    margin-bottom 1em
    label
        outline none
        line-height 30px
        position relative
        display inline-block
        &.required::after
            top 0
            right -8px
            content '*'
            position absolute
    select
        appearance none 
    &.fieldset--split-half // This is for split one fieldset in two
        div
            float left
            width 49%
            margin-left 1%
            &:first-child
                margin-left 0
                margin-right 1%

.fieldset--half
    width 49%
    margin 0 0 .7em 1%
    float left
    &.for
        margin-left 0
        margin-right 1%
    &.fol
        margin-left 1%
        margin-right 0
        
.fieldset--checkbox
    padding-left 25px
    position relative
    input[type=checkbox]
        left 0
        top 8px
        position absolute
        
input[type=url],
input[type=text],
input[type=date],
input[type=time],
input[type=email],
input[type=number],
input[type=search],
input[type=password],
textarea, select
    border-radius 5px
    background-color white
    box-shadow inset 0 1px 3px #666
    transition all pseudotransition
    &:focus, &:hover
        color #4a4a4a
        background-color #f9f9f9
        transition all basetransition

input[type=url],
input[type=text],
input[type=date],
input[type=time],
input[type=email],
input[type=submit],
input[type=number],
input[type=search],
input[type=password],
textarea, select
    width 100%
    border none
    outline none
    padding .5em 1em

input[type=url],
input[type=text],
input[type=email],
input[type=search],
input[type=password],
textarea, select
    appearance none

// Container for inputs and selects with special style
// Inputs have a normal submit button.
// Selects have a FontAwesome icon.
.input__container, .select__container
    position relative
    .btn
        top 0
        right 0
        position absolute
    .fa
        right 10px
        centerObject(false,true)

// .select__arrow is on $Single $Product
.select__container .fa, 
.select__arrow
    user-select none
    position absolute
    pointer-events none

.actions fieldset
    margin-bottom 0

/* ---------------------------- *\
    
    $Comments

\*----------------------------- */

.comment-form
    overflow hidden
    margin-bottom 1em
    .small-print
        display block
        margin-bottom 5px
    .btn__submit
        float right
        width 300px
        font-size(18)
        line-height 44px
        background linear-gradient(top, #b4ec51, #429321)
        .btn--helper
            background linear-gradient(top, #429321, #b4ec51)
        &:hover .btn--helper
            opacity 1
            visibility visible
            transition all 500ms ease-in-out

.comment__list
    h3
        padding .5em 1em
        border-top 1px solid #d1d1d1
        border-bottom 1px solid #d1d1d1

.comment-respond
    overflow hidden

.comment
    [class*="depth-"]
        width 90%
        float right
        .comment-author
            min-height 32px
            padding-left 41px
        .comment__bubble
            background-color #f9f9f9
            &::after
                top auto
                left 50px
                bottom 100%
                border-width 30px 0 0 30px
                border-color transparent transparent transparent #f9f9f9
        &.bypostauthor > .comment__bubble
            border-top 5px solid #e1e152
            &::after
                border-color transparent transparent transparent #e1e152
    .comment-respond
        padding 1em
        margin-bottom 3em
        background-color #e5e5f5

.comment__bubble
    padding 1em
    position relative
    margin-bottom 3em
    border-radius 10px
    background-color #f1f1f1
    &::after
        width 0
        top 100%
        height 0
        content ''
        right 50px
        position absolute
        border-style solid
        border-width 30px 30px 0 0
        border-color #f1f1f1 transparent transparent transparent

.comment-author
    min-height 62px
    padding-left 72px
    position relative
    .fn
        font-size(18)
        font-weight 500

.comment-meta
    font-size(12)
    color textGrey
    a
        color textGrey

.comment__content
    margin 1em 0
    font-size(14)
    line-height 22px

.reply
    overflow hidden

.comment-reply-link
    float right
    font-size(14)
    color textGrey !important
    font-weight 500
    padding .3em .5em
    border-radius 3px
    text-align center
    background-color #e9e9e9
    transition all basetransition
    &:hover
        color white !important
        background-color donurmyBlue
        transition all pseudotransition

.comment-reply-title
    padding .5em 0 !important
    position relative

.comment-awaiting-moderation
    padding .5em
    font-size(14)
    display block
    background-color #e5e5e5
    
#cancel-comment-reply-link
    right 0
    top 10px
    color white
    padding 3px 5px
    border-radius 3px
    position absolute
    background-color dPink
    transition all basetransition
    &:hover
        background-color #ad224c
        transition all pseudotransition

.form-submit
    margin-bottom 0

/* ---------------------------- *\
    
    $Post $Images and $Blocks

\*----------------------------- */

// Predefined styles for post and page images (floats and margins)

img.alignright
    float right
    margin 0 0 1em 1em
    
img.alignleft 
    float left 
    margin 0 1em 1em 0
    
img.aligncenter, .aligncenter
    padding 10px
    display block
    margin-left auto
    margin-right auto
    
a img.alignright
    float right
    margin 0 0 1em 1em
    
a img.alignleft
    float left
    margin 0 1em 1em 0
    
a img.aligncenter 
    display block
    margin-left auto
    margin-right auto

.post__content img
    height auto
    max-width 100%

/* ---------------------------- *\
    
    $Pagination

\*----------------------------- */

.btn__next-page, .btn__prev-page
    max-width 200px
    padding .5em 1em
    background-color #f1f1f1
    transition all basetransition
    &:hover
        color white
        background-color donurmyBlue
        transition all pseudotransition

.btn__next-page
    float right

.btn__prev-page
    float left

.pagination
    width 100%
    padding 1em 1px
    overflow hidden
    text-align right
    border-top 1px solid #c1c1c1    
    a, span
        width 39px
        height 39px
        font-size(16)
        color textGrey
        line-height 39px
        border-radius 50%
        text-align center
        text-decoration none        
        display inline-block
        text-shadow 0 1px 2px white
        box-shadow 0 1px 2px rgba(0,0,0,.5)
    a
        background-color clearGrey
        transition all basetransition
        &:hover
            transition all pseudotransition
    a:hover, span
        background-color middleGrey
    .fa
        left 1px
        position relative

/* ---------------------------- *\
    
    $Tabs

\*----------------------------- */

.nav-tabs
    top 5px
    left -5px
    padding-left 0
    margin-bottom 0
    list-style none
    position relative
    li
        float left
        font-size(12)
        position relative
        margin-bottom -1px
        &.active a
            z-index 20
            background-color white
            box-shadow 0 -0.5px 4px rgba(0,0,0,.29)
            &::before
                left 0
                content ''
                z-index 10
                width 100%
                height 3px
                bottom -3px
                position absolute
                background-color #fff
        &.active a:hover
            cursor default
            background-color white
    a
        color #999
        outline none
        margin 0 5px
        display block
        font-weight 400
        position relative
        padding 10px 15px
        text-decoration none
        text-transform uppercase
        background-color #e9e8e8
        border-radius 4px 4px 0 0
        border 1px solid transparent
        &:hover
            background-color #eee

.nav-tabs--container
    position relative
    &::after
        left 0
        content ''
        height 3px
        z-index 10
        width 100%
        bottom -9px
        position absolute
        box-shadow 0px -2px 4px rgba(0,0,0,.1)
        
.tab-content 
    > .tab-pane
        display none
        padding-top 1em
    > .active
        display block

.navbar
    position relative
    min-height 50px
    margin-bottom 20px
    border 1px solid transparent


/* ---------------------------- *\
    
    $Cookies

\*----------------------------- */

.cookies
    right 10px
    width 300px
    color white
    padding 1em
    bottom 10px
    z-index 100
    font-size(12)
    position fixed
    border-radius 7px
    background-color donurmyBlue
    a
        color white
        margin-right 5px
        text-decoration none
        border-bottom 1px solid rgba(255,255,255,.8)
        &:hover
            background-color #e17aa8

/* ---------------------------- *\
    
    $Checkbox $Toggle

\*----------------------------- */

.checkbox__toggle
    display none
    &:checked ~ .checkbox__toggle--list
        height auto
    &:checked ~ .checkbox__toggle--label::after
        transform rotate(-180deg)

.checkbox__toggle--label
    z-index 1
    width 100%
    padding 1em
    font-size(16)
    display block
    cursor pointer
    color textGrey
    font-weight 400
    user-select none
    position relative
    border-bottom 1px solid textGrey
    &::after
        right 15px
        content '\f078'
        position absolute
        font-family 'FontAwesome', sans-serif

/* ---------------------------- *\
    
    $Yotpo

\*----------------------------- */

.yotpo
    article
        font-weight 400
        line-height 18px
        border-radius 7px
        position relative
        background-color white
        padding 1em 1em 1em 90px
        border 1px solid #dbdbdb
        box-shadow 0 2px 2px rgba(0,0,0,.39)
        h4
            font-size(18)
            line-height 22px
            margin-bottom 10px
        p
            margin-bottom 0
    .avatar
        left 16px
        width 60px
        height 60px
        color white
        font-size(28)
        font-weight 500
        line-height 60px
        text-align center
        text-transform uppercase
        background-color middleGrey
        &.verified::after
            top 0
            right 0
            z-index 1
            opacity 0
            color dGreen
            font-size(15)
            content '\f058'
            font-weight 500
            text-align center
            position absolute
            font-family 'FontAwesome', sans-serif
    .comment-content
        header
            width 100%
            font-size(12)
            color textGrey
            overflow hidden
        .name
            float left
            text-transform capitalize
        .date
            float right
    .review-content
        font-size(14)

.yotpo__page-reviews
    article
        width 49%
        margin-bottom 2%
        &:nth-child(2n)
            margin-left 2%        
            
.yotpo__footer-reviews
    padding 1em 0 1.5em
    background-color white    
    article
        width 49%
        margin-left 2%        
        &:first-child
            margin-left 0
    .avatar
        background-color donurmyBlue
    .score span
        sprite($ico-star)

.avatar
    top 0
    left 0
    border-radius 50%
    position absolute
    border-radius 50%
        

/* ---------------------------- *\
    
    $yupick!

\*----------------------------- */

.yupick-block
    padding 1em
    background-color #f9f9f9
    
.yupick__time-table
    width 100%
    margin 1em 0
    font-size 13px
    table
        width 100%
    tbody
        background-color white
    td
        padding 5px
        border-bottom 1px solid #d9d9d9
    thead td
        color #fff
        border none
        font-weight bold
        background #042555

.yupick__map
    width 100%
    height 400px
        
.yupick__iframe
    margin-top 1em

/* ---------------------------- *\
    
    $Special Styles

\*----------------------------- */


[class*="width__"]
    .nav--breadcrumb
        padding-top 0
    .content__section--header
        margin-top 0
        h1, h2, h3
            font-size(25)
