/* ---------------------------- *\
    
    $IE Crossbrowsing

\*----------------------------- */

// Background Transparency
// You have to put that style without .lt-ie* parent class, the mixin generates that classes for you :)
background-transparency(color, alpha = 1)
    ms-color = argb(color, alpha)
    .lt-ie8 &
        zoom 1
    .lt-ie9 &
        background transparent
        filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=%s,endColorstr=%s)', ms-color, ms-color)
        &:nth-child(n)
            filter none
     
hex(decimal)
    hex-value = ('0') ('1') ('2') ('3') ('4') ('5') ('6') ('7') ('8') ('9') ('A') ('B') ('C') ('D') ('E') ('F')
    unquote(hex-value[floor(decimal / 16)] + hex-value[floor(decimal % 16)])
 
argb(color, alpha = 1)
    unquote('#') + hex(alpha * 255) + hex(red(color)) + hex(green(color)) + hex(blue(color))

.lt-ie9
    .header--top
        background donurmyBlue
    .logo img
        display block !important
    .nav--breadcrumb a:after
        top -2px
    .grid .block
        border 1px solid middleGrey
    input[type=url],
    input[type=text],
    input[type=date],
    input[type=time],
    input[type=email],
    input[type=number],
    input[type=search],
    input[type=password],
    textarea, select
        line-height normal
        border 1px solid middleGrey
    .search-form input[type=text],
    .login-form input[type=text],
    .login-form input[type=password]
        padding 1em
        line-height normal
    .btn--ico, .btn--ico-right
        .fa
            top 10px
    .footer__row.info
        display none
    .checkbox__toggle--label
        display none

.lt-ie10
    .main-wrap
        width auto
    .header--top
        filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8376d', endColorstr='#f28a18',GradientType=1 )")
    .dresoop-tab
        svg
            display none
        img
            display block
    .btn--helper
        display none
    input[type=url],
    input[type=text],
    input[type=date],
    input[type=time],
    input[type=email],
    input[type=number],
    input[type=search],
    input[type=password],
    textarea, select
        line-height normal
        border 1px solid middleGrey
        box-shadow inset 0 1px 4px #666
    .search-form input[type=text],
    .login-form input[type=text],
    .login-form input[type=password]
        padding 1em
        line-height normal
    .select__container .fa
        display none
    .search-form input[type=text]
        border 1px solid middleGrey
        box-shadow inset 0 1px 4px #666
    .nav--breadcrumb a:after
        top -1px

// IE10
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
    input[type=url],
    input[type=text],
    input[type=date],
    input[type=time],
    input[type=email],
    input[type=number],
    input[type=search],
    input[type=password],
    textarea, select
        line-height normal
        border 1px solid middleGrey
        box-shadow inset 0 1px 4px #666
    .search-form input[type=text],
    .login-form input[type=text],
    .login-form input[type=password]
        padding 1em
        line-height normal
        box-shadow inset 0 1px 8px #999
    .select__container .fa
        display none
    