/*!   
Theme Name: Donurmy Theme
Description: Wordpress Donurmy Blog theme.
Author: DinamicBrain
Author URI: http://www.dinamicbrain.com
Version: 1.0
*/

//  HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
@import 'nib'
@import 'normalize.styl'
/* End of Normalize.css */
@import '_sprites.styl'
@import 'components.styl'

body
    font-family roboto
    &.post
        margin-bottom 0

.main-wrap
    width 100%
    height 100%
    overflow-y auto
    overflow-x hidden
    position absolute
    overflow-scrolling touch

/* ---------------------------- *\
    
    $Header Elements

\*----------------------------- */

.user__logon
    margin-top 32px

.header
    position relative
    background-color white
    &::before
        top 0
        left 0
        z-index 0
        content ''
        width 100%
        position absolute
        background linear-gradient(left, donurmyGreen, donurmyBlue)
    .info
        top -10px
        text-align right

.header--top, .header--bottom
    z-index 1
    position relative

.header--top
    width 100%
    height 62px
    padding 10px
    text-align center    

.header--top__tabs
    margin 0 auto
    text-align center
    > span, a
        color white
        height 54px
        padding 16px
        font-size(12)
        position relative
        display inline-block
        border-top-left-radius 8px
        border-top-right-radius 8px
    > span a
        padding 0
        height auto
        display inline
        border-radius none
    > span
        background-color white
    .dresoop-tab
        span
            top 0
            centerObject(true,false)

.logo-dresoop-tab
    width 90px
    height 32px
    fill white

.logo-donurmy-tab
    width 90px
    height 32px
    fill #828282

.toggle__container
    position absolute
    > span
        top 10px
        opacity 0
        color white
        display block
        min-width 100px
        visibility hidden
        position absolute

.toggle__container.left,
.toggle__container.right
    top 10px
    
.toggle__container.left
    left 10px
    > span
        left 60px
        text-align left

.toggle__container.right
    right 10px
    > span
        right 60px
        text-align right
        
.toggle__account, .toggle__basket
    padding 0
    border none
    outline none
    background-color transparent
    &:hover + span
        opacity 1
        visibility visible
        transition opacity .1s ease-in-out, visibility .5s ease-in-out

.toggle__account
    sprite($ico-account)
    &::after
        top 0
        right 0
        z-index 1
        opacity 0
        font-size(15)
        color #d0021b
        content '\f058'
        font-weight 500
        text-align center
        position absolute
        font-family 'FontAwesome', sans-serif
    &::before
        top 2px
        z-index 0
        right 2px
        width 8px
        opacity 0
        height 10px
        content ''
        position absolute
        background-color white
                
.user__logon .toggle__account
    &::after, &::before
        opacity 1

.toggle__basket
    position relative
    sprite($ico-basket)
    &::after
        top 0
        right 0
        width 17px
        height 17px
        color white
        font-size(12)
        font-weight 500
        line-height 17px
        text-align center
        position absolute
        border-radius 50%
        background-color #d0021b
        content attr(data-number-products)
    &.zero-products::after
        opacity 0

.header--bottom
    padding 2em

.logo
    float left
    position relative
    h1, h2
        top -9999px
        position absolute
    .claim
        top 47px
        right 46px
        font-size(17)
        color #c6c6c5
        font-weight 300
        font-family miso
        position absolute
        letter-spacing -0.5px

.header__content
    float right
    padding-top 1.8em
    div
        float left
        position relative
        border-radius 2px
        transition background-color basetransition

.info
    z-index 10
    text-align center
    a
        text-decoration none
    p
        font-size(26)
        font-weight 500
        margin-bottom 0
        color donurmyBlue
        span
            top -4px
            color white
            width 22px
            height 22px
            font-size 15px
            text-align center
            line-height 22px
            position relative
            display inline-block
            border-radius 50%
            background-color donurmyBlue
    span
        display block
        color #5c5c5c
        font-size(13)

.nav
    width 100%
    height 52px
    line-height 50px
    position relative
    border-top 1px solid #d6d4d7
    border-bottom 1px solid #d6d4d7
    li
        float left
    a
        color #929292
        text-decoration none

.page-navigation
    padding 0
    width 100%
    text-align center
    > a
        float left
        padding 0 1.5em 0
        position relative
        display inline-block
        transition all pseudotransition
        text-rendering geometricPrecision
        &:first-child
            padding-left 0
            margin-left 2em
        &:hover
            color donurmyBlue
            transition all pseudotransition
        &:hover + .menu__dropdown
            display block

.search-form
    float left
    width 100%
    position relative
    input[type=text]
        z-index 0
        width 100%
        border none
        line-height 30px
        position relative
        padding 0 0 0 1em
        transition all basetransition
        box-shadow inset 0 1px 3px #666
        &:hover, &:focus
            color darkGrey
            background-color #f9f9f9
            transition all pseudotransition
    button, input[type=submit]
        top 0
        right 0
        border none
        height 100%
        color white        
        line-height 30px        
        position absolute
        border 1px solid #b1b1b1
        border-top-left-radius 0
        border-bottom-left-radius 0
        border-top-right-radius 5px
        transition all basetransition
        border-bottom-right-radius 5px
        box-shadow inset 0 1px 0 rgba(255,255,255,.5)
        &:hover
            background-color #b5b5b5
            transition all pseudotransition
    button
        width 20px
        width 48px        
    input[type=submit]
        width 90px
        padding 0 1em
        vertical-align middle
        transition all basetransition
    input
        outline none

.post__list .search-form
    margin-bottom 1em

.widget_search
    overflow hidden

.page__search, .page__404
    .widget_search
        display none

/* ---------------------------- *\
    
    $Account

\*----------------------------- */

.account__container
    .inset--half
        padding-right .5em
        & + .half
            padding-left .5em

.account__data-block
    padding 1em
    border-radius 8px
    margin-bottom 1em
    box-shadow 0 1px 4px rgba(0,0,0,0.4)
    header
        overflow hidden
        margin-bottom 1em
        border-bottom 1px solid middleGrey
    h3, h4
        font-weight 500
        margin-bottom 4px
        text-transform uppercase
    input[type=radio]
        left 1px
        position relative
        margin-right 10px
    textarea
        min-height 120px

/* ---------------------------- *\
    
    $Posts

\*----------------------------- */

.post
    overflow hidden
    position relative
    margin-bottom 1.2em
    header
        margin-bottom 1em
        .alpha
            font-size(25)
            margin-bottom 0
        .alpha a
            color donurmyBlue
        time
            font-size(14)
            color textGrey
.post__footer
    font-size(12)
    margin-top 1em
    color textGrey
    padding 8px 12px
    border-radius 3px
    background-color #f9f9f9
    p
        margin-bottom 0
    a
        color donurmyBlue
        transition all basetransition
        border-bottom 1px solid transparent
        &:hover
            border-color rgba(132, 31, 130, .5)
            transition all pseudotransition

.comments__link
    margin-left 10px
    padding-left 10px
    position relative
    &::before
        top 0
        left -2px
        content '|'
        position absolute

.post__content
    overflow hidden
    position relative
    table
        width 100%
        border-color #c1c1c1
    td
        padding 10px
        border-color #c1c1c1

.post__list
    .post__content
        min-height 150px
        padding-left 170px

.post__thumbnail
    top 0
    left 0
    overflow hidden
    position absolute
    border-radius 10px

.wp-caption
    padding 10px
    max-width 100%
    margin-bottom 1.5em
    background-color #eee    
    img
        width 100%
        height auto
        max-width 100%

.wp-caption-text
    margin 5px 0
    font-size(14)
    font-weight 500

/* ---------------------------- *\
    
    $Sidebar

\*----------------------------- */

.sidebar
    width 30%
    padding-left 5em
    ul li, p
        font-size(14)

.widget
    margin-bottom 2em
    h2, h3
        font-size(14)
        font-weight 500
        text-transform uppercase

/* ---------------------------- *\
    
    $Contact

\*----------------------------- */

.contact-form
    .btn__submit
        font-size(20)
        padding .5em 1em

.faq
    width 28%
    padding 2em
    margin-left 2%
    min-height 250px
    position relative
    text-align center
    border-radius 30px
    background-color #f1f1f1
    &::after
        width 0
        top 100%
        height 0
        left 50px
        content ''        
        position absolute
        border-style solid
        border-width 30px 30px 0 0
        border-color #f1f1f1 transparent transparent transparent
    .btn
        font-size(18)
        padding .3em .8em
        background-color #e0e0e0
        transition all basetransition
        &:hover
            background-color #d9d9d9
            transition all pseudotransition
        

/* ---------------------------- *\
    
    $Footer

\*----------------------------- */

.footer
    z-index 30
    overflow hidden
    aside
        width 14.25%
        float left
        font-size(15)        
        padding 2em 1.5%
        h4
            margin-bottom 5px
            text-transform uppercase
        &:first-child
            padding-left 0
    ul
        margin 0
        padding 0
        list-style none
    a
        text-decoration none
        transition all basetransition
        &:hover
            color donurmyBlue
            transition all pseudotransition

.footer__row
    width 100%
    padding 0 2em
    overflow hidden
    .half
        position relative
        aside
            width 33.33%
        &:first-child::after
            right 0
            width 1px
            content ''
            height 80%
            centerObject(false,true)
            background-color textGrey
    &.footer--payment-methods
        line-height 60px

.footer--payment-methods
    p
        font-size(20)
        color #f5a623
        margin 0 5px 0 0 !important
    .icon
        text-indent -9999px
        vertical-align middle
    p, .icon
        margin 0 5px
        display inline-block

// Payment icons on the pre-colophon bar.
.rapidssl
    sprite($logo-rapidssl)
.enisa
    sprite($logo-enisa)
.confianza
    sprite($logo-confianza)
.mastercard
    sprite($logo-mastercard)
.visa
    sprite($logo-visa)
.paypal
    sprite($logo-paypal)
.caixacatalunya
    margin-right 0 !important
    sprite($logo-caixacatalunya)

// Social Networks Icons on the footer
.sn-container
    padding 2em
    h4
        text-transform uppercase

.colophon
    height 34px
    font-size(12)
    padding 0 2.5em
    line-height 34px
    background-color white 
    span, a
        display inline-block
    a
        margin-left 1em
        position relative
        text-decoration none
        &:hover
            text-decoration underline
        &:before
            content '|'
            position absolute
            left -7px
    .logo-dinamic
        float right
        line-height 28px
        svg
            top 6px
            width 21px
            height 21px
            fill #c1c1c1
            position relative            
        &:before
            content ''

@import 'mediaqueries.styl'
@import 'ie.styl'