.header_user_info {
  float: right;
  padding: 0;
  position: relative;
  z-index: 9;
  margin: 25px 0 0 0;
}
@media (max-width: 767px) {
  .header_user_info {
    bottom: 16px;
    margin: 5px 0 0;
    position: absolute;
    right: 0;
  }
}
.header_user_info .tm_userinfotitle {
  background: transparent url("../../../img/megnor/3-dot.png") no-repeat scroll right -99px;
  cursor: pointer;
  height: 25px;
  margin: 0;
  padding: 2px 10px;
  position: relative;
  text-align: center;
  width: 20px;
}
.header_user_info > ul {
  background: white none repeat scroll 0 0;
  border: 1px solid #d9d9d9;
  display: none;
  margin: 0;
  min-width: 230px;
  padding: 20px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 46px;
  z-index: 9;
}
@media (max-width: 767px) {
  .header_user_info > ul {
    top: 41px;
  }
}
.header_user_info > ul li {
  float: left;
  width: 100%;
}
.header_user_info > ul li a {
  color: #666666;
  cursor: pointer;
  display: block;
  font-size: 12px;
  line-height: 25px;
  text-transform: capitalize;
}
.header_user_info > ul li a:hover, .header_user_info > ul li a.active {
  color: #262626;
}
.header_user_info > ul li.lang-curr {
  position: relative;
}
.header_user_info > ul .welcome_text span {
  font-weight: bold;
  color: #262626;
}
.header_user_info:hover .tm_userinfotitle {
  background-position: right 1px;
}

#header_link_bookmark {
  display: none;
}
