#currencies-block-top {
  border-top: 1px solid #eeeeee;
  float: left;
  margin: 10px 0 0;
  padding: 20px 0 0;
  position: relative;
  width: 100%;
  display: none;
}
#currencies-block-top span.firstWord {
  display: none;
}
#currencies-block-top div.current {
  cursor: pointer;
  line-height: 18px;
  /*&:hover, &.active {
  	color:$link-hover-color;
  }
  &:after {
  	content: "\f0d7";
  	font-family: $font-icon;
  	font-size: 12px;
  	line-height: 20px;
  }
  &.active  {
  	&:after {
  		content: "\f0d8";
  	}
  }
  strong {
  	font-weight: normal;	
  }*/
}
#currencies-block-top div.current .cur-label {
  color: #262626;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
#currencies-block-top ul {
  background: white;
  z-index: 2;
  text-align: left;
  margin: 15px 0 0;
}
#currencies-block-top ul li {
  color: white;
  float: left;
  margin: 0 10px 10px 0;
  width: auto;
}
#currencies-block-top ul li a,
#currencies-block-top ul li > span {
  border: 1px solid #d9d9d9;
  display: block;
  padding: 0 10px;
}
#currencies-block-top ul li.selected a, #currencies-block-top ul li:hover a {
  color: #262626;
  border-color: #262626;
}
