@import "compass";
@import "theme_variables";
#crossselling_list, .accessories-block .block_content, #productscategory_list {
		position:relative;
		/** RESET AND LAYOUT
		===================================*/
		
		.bx-wrapper {
			position: relative;
			padding: 0;
			*zoom: 1;
			margin:0 !important
		}
		
		.bx-wrapper img {
			max-width: 100%;
			display: block;
		}
		
		/** THEME
		===================================*/
		
		
		
		.bx-wrapper .bx-pager,
		.bx-wrapper .bx-controls-auto {
			position: absolute;
			bottom: -30px;
			width: 100%;
		}
		
		/* LOADER */
		
		.bx-wrapper .bx-loading {
			min-height: 50px;
			background: url(images/bx_loader.gif) center center no-repeat ;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2000;
			display:none
		}
		
		/* PAGER */
		
		.bx-wrapper .bx-pager {
			text-align: center;
			font-size: .85em;
			font-family: $font-family;
			font-weight: bold;
			color: #666;
			padding-top: 20px;
		}
		
		.bx-wrapper .bx-pager .bx-pager-item,
		.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
			display: inline-block;
			*zoom: 1;
			*display: inline;
		}
		
		.bx-wrapper .bx-pager.bx-default-pager a {
			text-indent: -9999px;
			display: block;
			width: 10px;
			height: 10px;
			margin: 0 5px;
			background: #262626;
			outline: 0;
			@include border-radius(5px);
		}
		
		.bx-wrapper .bx-pager.bx-default-pager a:hover,
		.bx-wrapper .bx-pager.bx-default-pager a.active {
			background: #262626;
		}
		
		/* DIRECTION CONTROLS (NEXT / PREV) */
		
		
		
		
		.bx-wrapper .bx-controls-direction a{
			margin-top:38px;
			height:20px;
			width:20px;
			line-height:0;
			position:absolute;
			top:40%;
			margin-top:-10px;
			font-size:0;
			overflow:hidden;
			&:before{
				padding-left:2px;
				color:#c0c0c0;
				font-family:$font-icon;
				font-size:20px;
				line-height:22px;	
			}
			
			&:hover:before{color:$base-text-color}
		}
		
		
		.bx-next{
			right: 10px;
		&:before{
			content: "\f138";	
			}
		}
		
		.bx-prev{
			left:10px;
		&:before{
			content: "\f137";
		
			}
		}
		
		
		
		.bx-wrapper .bx-controls-direction a.disabled {
			display: none;
		}
		
		/* AUTO CONTROLS (START / STOP) */
		
		.bx-wrapper .bx-controls-auto {
			text-align: center;
		}
		
		.bx-wrapper .bx-controls-auto .bx-start {
			display: block;
			text-indent: -9999px;
			width: 10px;
			height: 11px;
			outline: 0;
			background: url(images/controls.png) -86px -11px no-repeat;
			margin: 0 3px;
		}
		
		.bx-wrapper .bx-controls-auto .bx-start:hover,
		.bx-wrapper .bx-controls-auto .bx-start.active {
			background-position: -86px 0;
		}
		
		.bx-wrapper .bx-controls-auto .bx-stop {
			display: block;
			text-indent: -9999px;
			width: 9px;
			height: 11px;
			outline: 0;
			background: url(images/controls.png) -86px -44px no-repeat;
			margin: 0 3px;
		}
		
		.bx-wrapper .bx-controls-auto .bx-stop:hover,
		.bx-wrapper .bx-controls-auto .bx-stop.active {
			background-position: -86px -33px;
		}
		
		/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
		
		.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
			text-align: left;
			width: 80%;
		}
		
		.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
			right: 0;
			width: 35px;
		}
		
		
		/* IMAGE CAPTIONS */
		
		.bx-wrapper .bx-caption {
			position: absolute;
			bottom: 0;
			left: 0;
			background: #666\9;
			background: rgba(80, 80, 80, 0.75);
			width: 100%;
		}
		
		.bx-wrapper .bx-caption span {
			color: $light-text-color;
			font-family: $font-family;
			display: block;
			font-size: .85em;
			padding: 10px;
		}
}