@import "compass";
@import "theme_variables";

#categories_block_top {
	clear: both;
	position: relative;
	top: 30px;
	.sf-menu {
		position: relative;
		> li {
			position: static;
			> ul {
				width: 100%;
				top: 60px;
				margin: 0 20px;
				> li {
					display: block;
					float: left;
					width: 20%;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					padding: 0 10px;
				}
				> .category_thumb {
					display: block;
					clear: both;
					overflow: hidden;
					width: 100%;
					img {
						display: inline-block;
						width: 33%;
					}
				}
			}
			h4 {
				a {
					font-size: 1.1em;
					&:before {
						display: none;
					}
				}
			}
			.main-level-submenus {
				position: relative;
				display: block !important;
				visibility: visible !important;
				top: 0;
				background: none;
				@include box-shadow(none);
				padding: 0;
				left: 0;
			}
		}
		.category_thumb {
			display: none;
		}
	}
}

#categories_block_left {
	li {
		position: relative;
		a {
			color: $link-color;
			display: block;
			padding: 4px 0;
		}
		span.grower {
			display: block;
			position: absolute;
			right: 0;
			top: 6px;
			cursor: pointer;
			font-family: $font-icon;
			font-size: 10px;
			&.OPEN,
			&.CLOSE {
				&:before {
					content: "\f068";
					display: block;
					vertical-align: middle;
					width: 20px;
					height: 20px;
					color: $base-body-color;
					line-height: 20px;
					text-align: center;
				}
			}
			&.CLOSE:before {
				content: "\f067";
				color: $base-body-color;
			}
		}
		& span.grower:hover + a,
		a:hover,
		a.selected {
			color:$link-hover-color;
			&:before {color:$link-hover-color;}
		}
		li {
			a {
				font-weight: normal;
				color: $link-color;
			}
		}
	}
}