@import "compass";
@import "theme_variables";

/* Block newsletter */
#columns #newsletter_block_left {
	.form-group {
		margin-bottom: 0;
		.form-control {
			max-width: 222px;
			display: inline-block;
			margin-right: 6px;
			@media (min-width: $screen-sm) and (max-width: $screen-md-max) { // min 768px max 1199px
				margin-bottom: 10px;
				margin-right: 0;
			}
		}
	}
	.success_inline, .warning_inline {
		text-align: left;
		padding: 1px 0 0 0;
		margin-bottom: -19px;	
	}
	.success_inline	{
		color: #418B19;
	}
	.warning_inline {
		color: #f13340;
	}
}
/* Block newsletter footer */
.footer-container {
	#newsletter_block_left {
		margin: 31px auto 32px;
		overflow: hidden;
		width: 100%;
		@media (max-width: $screen-sm-max) {
			margin: 20px auto;
		}
		@media (max-width: $screen-xs-max){
		}
		@media (max-width: $screen-xs) {
		}
		.news-text {
			/*margin: 10px 0;*/
			display:inline-block;
			vertical-align:middle;
			
			.text-content {
				color: #FFF;
				font-size: 18px;
				font-weight: bold;
				line-height: 20px;
				text-transform: uppercase;
				@media (max-width: $screen-md-max) {
					font-size: 16px;
				}
				@media (max-width: $screen-xs){
					font-size: 14px;
				}
			}
		}	
		h4 {
			float:left;
			font:600 30px/40px $font-custom;
			margin-bottom:0;
			@media (max-width: $screen-sm-max) {
				width:auto;
				margin:0;
				font-size:20px;
			}
			
			&:after {
				display: none;
			}
			&:before {
				display: none;
			}
		}
		.block_content {
			overflow: hidden;
			margin: 0 50px 0 0;
			position:relative;
			@media (max-width: $screen-md-max) and (min-width: $screen-md){ // max 1200px min 992px   
				margin:0px;
			}
			@media (max-width: $screen-sm-max) {
				/*overflow: visible;*/
				float: left;
				margin: 20px 0 0 0;
				width: 100%;
			}
			> form {
				float: left;
				width: 100%;
				
				position:relative;
				left:0;
				right:0;
				margin:0 auto;
				display:inline-block;
				text-align:center;

			}
		}
		.form-group {
			margin: 0;
			.form-control {
				height: 40px;
				line-height: 30px;
				background:#f7f7f7;
				border:1px solid #c5c5c5;
				letter-spacing: 1px;
				text-transform:uppercase;
				font-size:12px;
				color: #666666;
				padding: 5px 12px;
				display: inline-block;
				float: left;
				&:focus {
					@include box-shadow(black 0px 0px 0px);
					border-color: $base-border-color;
				}
				@media (max-width: $screen-sm-max){
					float:none;
				}
			}
			.button-small {
				padding: 2px 35px;
				float: left;
				border: 1px solid #FFF;
				background:$link-hover-color;
				margin: 0 0 0 10px; 
				@include transition( all 0.3s ease 0s);
				@media (max-width: $screen-sm-max){
					padding: 2px 15px;
					float:none;
				}
				@media (max-width: $screen-xs){ // max 480px 
					margin: 20px 0 0 0;
				}
				span{
					color:$light-text-color;
				}	
				&:hover{
					border: 1px solid #3c3c3c;
					background: #3c3c3c;
					@include transition( all 0.3s ease 0s);
				}
			}
		}
		.warning_inline {
			display: block;
			color: #f13340;
			font-size: 13px;
			line-height :26px;
			clear: both;
			@media (min-width: $screen-lg) { // min 1200px
				display: inline-block;
				position: relative;
				top: -35px;
				margin-bottom: -35px;
				left: 15px;
				clear: none;
			}
		}
		.newsletter-input {
  			max-width: 475px;
			@media (max-width: $screen-md-max) and (min-width: $screen-md){ // max 1200px min 992px   
				max-width:360px;
			}
			@media (max-width: $screen-sm-max) { // max 991px   
			  	max-width: 63%;
				width: 63%;
			}
			@media (max-width: $screen-xs){ // max 480px 
						max-width: 90%;
						width: 90%;
			}
  		}
	}
}