@import "compass";
@import "theme_variables";
#currencies-block-top {
	border-top: 1px solid #eeeeee;
    float: left;
    margin: 10px 0 0;
	padding: 20px 0 0;
    position: relative;
    width: 100%;
	display:none;
	span.firstWord {
		display: none;
	}
	div.current {
		cursor: pointer;
		line-height:18px;
		/*&:hover, &.active {
			color:$link-hover-color;
		}
		&:after {
			content: "\f0d7";
			font-family: $font-icon;
			font-size: 12px;
			line-height: 20px;
		}
		&.active  {
			&:after {
				content: "\f0d8";
			}
		}
		strong {
			font-weight: normal;	
		}*/
		.cur-label {
			color: $base-heading-color;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 12px;
		}
	}
	ul {
		background: $light-background;
		z-index: 2;
		text-align:left;
		margin: 15px 0 0;
		@media (max-width: $screen-xs-max) { // max 767px
		}
		@media (max-width: $screen-xs - 1) { // max 479px
		}
		li {
			color: $light-text-color;
			float: left;
			margin: 0 10px 10px 0;
			width: auto;
			a,
			> span {
				border: 1px solid #d9d9d9;
				display: block;
				padding: 0 10px;
			}
			&.selected a, &:hover a {
				color:$link-hover-color;
				border-color:$link-hover-color;
			}
		}
	}
}