/* ---------------------------- *\
    
    $Media Queries

\*----------------------------- */

@media (min-width: 90em)
    // 1440px min-width
    .page-navigation > a
        padding 0 1.5em !important
        &:first-child
            padding-left 0 !important

@media (max-width: 90em)
    // 1440px
    .footer .wrapper
        padding-left 2%
        padding-right 2%

@media (max-width 81.25em)
    // 1300px
    .page-navigation
        span
            font-size(15px)

@media (min-device-width: 66.875em) and (max-device-width: 75em)
    // 1280px Tablets (Galaxy Tab 10.1)

@media (max-width: 72.5em)
    // 1160px
    .footer__row
        padding 0 1em
    
    .sn-container
        padding-right 0
    
    .footer
        .footer__links .wrapper
            padding-left 0
            padding-right 0    

@media (min-width: 66.9375em)
    // 1071px min-width Main breakpoint
    .header
        &::before
            height 62px
    
    .header--bottom
        height 142px
        padding 1em 1.5em
    
    .header--top__tabs
        > span, a
            transition all basetransition
        a
            text-decoration none
            &:hover
                transition all pseudotransition
                background-color rgba(255,255,255,.5)
    
    .logo
        margin-top .8em

    .logo-donurmy
        width 225px
        height 82px
    
    .page-navigation
        > a
            padding 0 1.2%
            transition all pseudotransition
            text-rendering geometricPrecision
            &:hover
                color donurmyBlue
                transition all pseudotransition
            &:hover + .menu__dropdown
                display block
            
    .footer__row.info
        display none
    
    .toggle__filters, 
    .checkbox__toggle--label
        display none

@media (max-width: 66.875em)
    // 1070px
    .header
        margin-bottom 0 !important
        &::before
            height 100%
        .info
            display none
    
    .header--top__tabs
        > span
            background-color transparent        
        .donurmy-tab
            padding 0            
        .dresoop-tab
            display none !important
        .logo-donurmy-tab
            fill white
            width 213px
            height 57px

    .header--bottom
        overflow hidden
        padding 0 10px 10px

    .header__content
        width 100%
        padding-top 0
    
    .logo
        display none

    .content__main
        padding 1em
        margin-bottom .5em
     
    .account__menu
        ul
            padding .5em
        li
            font-size(16)

    .grid 
        .block, .gap
            width 24%
        .block
            margin-bottom 1%
    
    // Maybe this must be in components stylesheet.
    .checkbox__toggle--list
        height 0
        overflow hidden
        background-color #f6f5f1
        transition height pseudotransition
        a
            display block
            color textGrey
            font-weight 400
            overflow hidden
            position relative
            padding .6em .6em .6em 2em
            border-bottom 1px solid #c1c1c1
            &::after
                top 12px
                z-index 0
                right 15px
                font-size(12)
                content '\f054'
                position absolute
                font-family 'FontAwesome', sans-serif
    
    .footer__links
        padding 0
        background-color rgba(248, 248, 248, .65)
        .half
            width 100%
            aside
                width 100%
                padding 0
                &:first-child
                    padding 0
            &:first-child::after
                background-color transparent
        h4
            display none
        #infoToggle:checked ~ .footer__list,
        #supportToggle:checked ~ .footer__list
            height 120px // I want transition on footer and it needs the height to be defined.
        #salesToggle:checked ~ .footer__list
            height 40px
    
    .sn-container
        text-align center
        h4
            display none
    
    .social-networks li
        float none
        margin-bottom 1em
        display inline-block

@media (max-width: 61.25em)
    // 980px
    .width__70, .post__list, .sidebar
        width 100%
    
    .sidebar
        padding-left 0
    
    .comment-form .btn__submit
        float none
        margin 0 auto

    .sn-container
        padding 2em

@media (max-width: 57.8125em)
    // 925px
    .page-navigation
        width 100%
        text-align center

@media (max-width: 55em)
    // 880px Major breakpoint between tablet and desktop.
    .content__section--header
        h1, h2, h3, h4, h5, h6
            font-size(20)
        .select__container select
            font-size(14)
    
    .account__menu
        display none

    .grid 
        .block, .gap
            width 32%
            margin-bottom 1em
        .block
            box-shadow none
            border-radius 0
    
    .nav--breadcrumb
        display none

    .footer__links
        padding 0
        background-color rgba(248, 248, 248, .65)
        .half aside
            width 100%
            padding 0
            &:first-child
                padding 0
        h4
            display none
        #infoToggle:checked ~ .footer__list,
        #supportToggle:checked ~ .footer__list
            height 120px // I want transition on footer and it needs the height to be defined.
        #salesToggle:checked ~ .footer__list
            height 40px 
        
    .sn-container
        text-align center
        h4
            display none
    
    .social-networks li
        float none
        margin-bottom 1em
        display inline-block
    
    .page__home
        .content__main,
        .products-list--grid
            margin-bottom 0
    
    .width__80
        width 100%
        padding 1em
    
    // Maybe this must be in components stylesheet.
    .checkbox__toggle--list
        height 0
        overflow hidden
        background-color #f6f5f1
        transition height pseudotransition
        a
            display block
            color textGrey
            font-weight 400
            overflow hidden
            position relative
            padding .6em .6em .6em 2em
            border-bottom 1px solid #c1c1c1            
            &::after
                top 12px
                z-index 0
                right 15px
                font-size(12)
                content '\f054'
                position absolute
                font-family 'FontAwesome', sans-serif
    
    .checkbox__toggle:checked ~ 
        & .toggle__filters 
            .filter-button
                margin-right 0
                transform translateX(0)
    
    .yotpo__page-reviews article
        width 100%
        margin-left 0 !important
    
    .page__default, .page__contact
        .width__70
            width 100%
    
@media (max-width: 48em)
    // 768px
    .yotpo__footer-reviews
        article
            width 100%
            margin-left 0
            &:first-child
                margin-bottom 1em
    
    .account__container
        padding 0
        > .half
            width 100%
            padding 0 !important

    .footer
        .footer--payment-methods
            text-align center
            .left, .right
                float none
                width 100%
            p
                display block !important
                margin-right 0 !important
                line-height 30px
                padding-top .5em
    
    .colophon
        height auto
        padding 1em
        line-height 22px
        text-align center
        span + a
            margin-left 0
        span + a::before
            content ''
    
    .colophon span
        display block !important
    
@media (max-width: 40.625em )
    // 650px
    .grid
        .block, .gap
            width 49%
    
    .contact-form
        .fieldset--half
            width 100%
            &.for
                margin-right 0
            &.fol
                margin-left 0
    
    .footer
        .section__header--crossline
            text-align center
            h3
                width auto
                margin 0 auto
            a
                float none
                margin-left 0
                display block
    
@media (max-width: 34.375em )
    // 550px
    .content__section--header .select__container
        float none
        width 100%
        display block
        overflow hidden
    
    .footer .section__header--crossline,
    .yotpo__footer-reviews
        display none

    .social-networks
        margin 0 auto !important
        max-width 300px
    
    .colophon
        a
            width 50%
            float left
            margin-left 0
            line-height 50px
        span + a + a + a::before
            content ''
        span + a, span + a + a
            &::after
                left 0
                top 100%
                height 1px
                width 100%
                content ''
                position absolute
                background-color textGrey
    
    .contact-form
        .fieldset--checkbox
            label.required
                display inline
                line-height 18px
                &::after
                    top -3px
                    right -5px
                    position relative
                

@media (max-width: 28.75em)
    // 460px
    .grid 
        .order
            &.block
                width 100%
            &.gap
                display none
    
    .post__list
        .post__thumbnail
            top auto
            left auto
            width 150px
            margin 0 auto 1em
            position relative
            img
                width 100%
                height auto
        .post__content
            padding-left 0
    
    .comment__list h3
        font-size(14)
    
    #cancel-comment-reply-link
        display block
        margin 5px auto
        position relative
        text-align center
    
    .comment-form .btn__submit
        width 100%
        
@media (max-width: 23.75em )
    // 380px
    
    .pagination
        max-width 220px
        padding-bottom 0
        text-align center
        span, a
            margin-bottom 1em

// Retina and Hdpi Stuff. Fuck High Resolution Stuff. Give me vectors please!
// Remember to change the spriteSize every time you run the sprites task.

//  Print styles

@media print
    * 
        background transparent !important
        color #000 !important // Black prints faster: h5bp.com/s
        box-shadow none !important
        text-shadow none !important

    a,
    a:visited
        text-decoration underline

    a[href]:after
        content " (" attr(href) ")"

    abbr[title]:after
        content " (" attr(title) ")"

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after
        content ""

    pre,
    blockquote
        border 1px solid #999
        page-break-inside avoid

    thead
        display table-header-group // h5bp.com/t

    tr,
    img
        page-break-inside avoid

    img
        max-width 100% !important

    @page
        margin 0.5cm

    p,
    h2,
    h3
        orphans 3
        widows 3

    h2,
    h3
        page-break-after avoid

