@import "compass";
@import "theme_variables";
/*******************************************************************
					Cart Block Styles
********************************************************************/
#header .shopping_cart {
	display: inline-block;
    float: none;
    position: relative;
	.ajax_cart_product_txt,.ajax_cart_product_txt_s {
		display: none !important;
	}
	a{
		text-align:center;
	}
}
.shopping_cart {
	width: auto;
	@media (max-width: $screen-xs) {
		padding:0;
	}
	> a:first-child {
		padding: 0px;
		background: rgba(0, 0, 0, 0) url("../../../img/megnor/cart-icon.png") no-repeat scroll 1px -100px;
		display: block;
		height:25px;
		width: 30px;
		font-weight: bold;
		color: $base-body-color;
		overflow: hidden;
		
		span.ajax_cart_product_txt, span.ajax_cart_product_txt_s {
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
				display: none !important;
			}
		}
		b {
			font: 400 14px/22px $font-custom;
			padding-right: 5px;
			display:none;
			@media (max-width: $screen-xs - 1) { // max 479px
				font: 400 12px/22px $font-custom;
				padding:0;
			}
		}
		&:hover{
			background-position:1px 0px;
		}
	}
	.ajax_cart_total {
		display: none !important;
	}
	.block_cart_expand, .block_cart_collapse {
		&:after {
			content: "\f0d7";
			font-family: $font-icon;
			display: inline-block;
			float: right;
			font-size: 18px;
			color: #686666;
			padding: 6px 0 0 10px;
		}
	}
	.block_cart_collapse {
		&:after {
			content: "\f0d8";
			padding: 4px 0px 2px 0px;
		}
	}
}

.cart_block {
	.cart_block_list {
		.remove_link {
			position: absolute;
			right: 5px;
			top: 0;
		}
		.remove_link a,
		.ajax_cart_block_remove_link {
			color: $base-body-color;
			display: block;
			width: 100%;
			height: 100%;
			&:before {
				display: inline-block;
				content: "\f00d";
				font-family: $font-icon;
				font-size: 12px;
				line-height: 18px;
			}
			&:hover {
				color: $link-hover-color;
			}
		}
	}
	.cart-images {
		float: left;
		margin-right: 12px;
		img {
			width: 80px;
			max-width: 100%;
		}
	}
	.cart-info {
		overflow: hidden;
		position: relative;
		padding-right: 15px;
		.product-name {
			a {
				line-height: 18px;
				text-align:left !important;
				display: inline-block;
				color: $base-body-color;
			}
		}
		.quantity-formated {
			display: inline-block;
			color: $base-body-color;
			text-transform: uppercase;
			font-size: 10px;
    		padding-right: 5px;
    		.quantity{
    			font-size: 15px;
    		}
		}
		.price{
			color: $base-body-color;
			font: 13px $font-family;
		}
	}
	dt {
		font-weight: normal;
		overflow: hidden;
		position: relative;
		margin: 0 0 5px;
	}
	dd {
		position: relative;
		.cart_block_customizations{
			border-top: 1px dashed $dark-background;
			li {
				padding: 10px 20px;
				
				.deleteCustomizableProduct {
					position: absolute;
					right: 10px;	
				}
			}
		}
		
	}
	.cart_block_no_products {
		margin: 0;
		padding: 10px 20px;
	}
	.cart-prices {
		border-top: 1px solid $base-border-color;
		font-weight: bold;
		padding: 10px 20px 22px 20px;
		.cart-prices-line {
			overflow: hidden;
			padding: 0;
			&.last-line {
				border: none;
			}
			span { float:left; color: $base-body-color;}
			span.price { 
				float:right; 
				color: $base-body-color;
				font-size: 13px;
				font-weight: normal;
			}
		}
	}
	.cart-buttons {
		overflow: hidden;
		padding: 5px 0;
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { 
			padding: 20px 5px 10px 5px;
		}
		margin: 0;
		background: #f6f6f6;
		a {
			width: auto;
			float: right;
			text-align: center;
			background: $light-background;
			color: $base-heading-color;
			&#button_order_cart {
				span {
					padding: 4px 10px;
					line-height:24px;
				}
			}
			&:hover{border-color: $light-border-color;}
		}
	}
}
/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header {
	.cart_block {
		background: $light-background;
		display: none;
		height: auto;
		padding: 10px;
		position: absolute;
		right: 0;
		top: 46px;
		margin: 0;
		width: 270px;
		text-align: left;
		z-index: 100;
		border: 1px solid $base-border-color;
		@media (max-width: $screen-xs-max) {
			top:39px;
		}
		@media (max-width: $screen-xxs){
			width:240px;
		}
		.cart_block_list {
			.remove_link a,
			.ajax_cart_block_remove_link {
				outline: none;
				text-decoration: none;
				&:hover {
					color: $link-hover-color;
				}	
			}
		}
		.price {}
		dl {
			margin-bottom:5px;
			&.products {
				max-height: 360px;
				overflow-y: scroll;
			}
		}
		dt {
		}
		.product-atributes {
			padding:0;
			font-size: 11px;
			a {
				color: $base-body-color;
			}
		}
		.cart-prices {
			padding:15px 0px 5px;
		}
		.cart-buttons {
			background:none;
		}
	}
	.block_content {
		margin: 0;	
	}
}

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
	display: none
}

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
	float: right
}

.cart_block table.vouchers {
	clear: both;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 10px;
	tr td {
		padding: 2px;
		&.quantity{
			margin-right: 5px;
			min-width: 18px
		}
		&.delete{
			padding-left: 0;
			padding-right: 0;
			text-align: right;
			width: 15px;
		}
	}
}
/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
	background-color: #000;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 98;
	@include opacity(.20);
}

* html .layer_cart_overlay {
	position: absolute;
	left: 0;
	margin-left: -160px;
	@include opacity(.20)
}

#layer_cart {
	background-color: $light-background;
	position: absolute;
	display: none;
	z-index: 99;
	width: 85%;
	margin-right: 8%;
	margin-left: 8%;
	margin-top: 60px;
	@include border-radius(4px);
	.layer_cart_product {
		padding: 18px 25px;
		overflow: hidden;
		position: static;
		.title {
			font: 400 17px/22px $font-family;
			margin-bottom: 22px;
			display: block;
			@media (max-width: $screen-xs-max) { // max 767px
				font-size: 17px;
				padding-right: 0;
				line-height: normal;
			}
			i {
				float: left;
				font-size:20px;
				line-height: 25px;
				padding-right: 6px;
				@media (max-width: $screen-xs-max) { // max 767px
					font-size: 22px;
					line-height: 22px;
				}
			}
		}
		.product-image-container {
			max-width: 178px;
			float: left;
			margin-right: 30px;
			@media (max-width: $screen-xs) { // max 480px
				float: none;
				margin-right: 0;
				margin-bottom: 10px;	
			}
		}
		.layer_cart_product_info {
			padding: 15px 0 0 0;
			#layer_cart_product_title {
				display: block;
				padding-bottom: 8px;
			}
			> div {
				padding-bottom: 7px;
				strong {
					padding-right: 3px
				}
			}
		}
	}
	.layer_cart_cart {
		border-left: 1px solid $base-border-color;
		padding: 21px 25px 150px 25px;
		@include border-radius(0px 4px 4px 0px);
		position: relative;
		@media (min-width: $screen-lg) { // min 1200px
			min-height: 318px;
		}
		
		@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
			min-height: 360px;
		}

		@media (max-width: $screen-sm-max) { // max 991px
			border-left: none;
			border-top: 1px solid $base-border-color;
		}
		.title {
			font: 400 17px/22px $font-family;
			border-bottom: 1px solid $base-border-color;	
			padding-bottom: 13px;
			margin-bottom: 17px;
			display: block;
			@media (max-width: $screen-xs-max) { // max 767px
				font-size: 17px;
			}
		}
		.layer_cart_row {
			padding: 0 0 7px 0;
		}
		.button-container {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 0px 30px 20px 30px;
			.btn {
				margin-bottom: 10px;
			}
			span.exclusive-medium {
				margin-right: 5px;
				i {
					padding-right: 5px;
				}
			}
		}
	}
	.cross {
		position: absolute;
		right: 7px;
		top: 8px;
		width: 25px;
		height: 25px;
		cursor: pointer;
		color: $base-body-color;
		z-index: 2;
		&:before {
			content: "\f057";
			display: block;
			font-family: $font-icon;
			font-size: 25px;
			line-height: 25px;
		}
		&:hover {
			color: $link-hover-color;	
		}
	}
	.continue {
		cursor: pointer;
	}
	p {
		padding: 0px;
	}
}
/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart {
	.crossseling {
		.crossseling-content {
			border-top: 1px solid $base-border-color;
			padding: 26px 30px 40px 30px;
			position: relative;
			h2.centertitle_block {
				background: transparent url("../../../img/megnor/divider.png") no-repeat scroll center bottom;
				color: $base-heading-color;
				display: inline-block;
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 30px;
				padding-bottom: 30px;
				text-align: center;
				text-transform: uppercase;
				float: left;
				width: 100%;
			}
		}
		#blockcart_list {
			width: 100%;
			margin: 0 auto 50px;
			@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
				width: 692px;
			}
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
				width: 94%;
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				width: 340px;
			}
			@media (max-width: $screen-xs - 1) {
				width: 160px;
			}
			ul {
				display: block;
				li {
					float: left;
					width: 178px;
					margin: 0;
					text-align:center;
					.product-image-container {
						text-align: center;
						img {
							width: 100%;
						}
						.img_1{
							left: 0;
							  @include opacity(0);
							  position: absolute;
							  right: 0;
							  top: 0;
							  max-width: 100%;
						}
					}
					h5{
						margin:0;
					}
					.product-name {
						padding-bottom: 5px;
						
						a {
							font-size: 15px;
							line-height: 20px;
						}
					}
					&:hover {
						.product-name { 
							color:$link-hover-color;
						}
						.product-image-container {
							&:hover{.img_1{@include opacity(1);}}
						}
					}
				}
			}
			.bx-wrapper {
				position: static;
				margin: 0 auto !important;
			}
			.bx-controls {
				width:100%;
				float:left;
				position:absolute;
				right: 0;
				bottom: 35px;
				text-align: center;
			}
			.bx-controls-direction {
				 direction: ltr !important;
			}
			a.bx-prev,
			a.bx-next {
				display: inline-block;
				font-size: 0;
				color: $link-hover-color;
				border:1px solid $link-hover-color;
				background: #FFF;
				height: 25px;
				margin: 0;
				padding: 0;
				position: relative;
				top: 0;
				width: 25px;
				&:hover {
					color: #c0c0c0;
				}
				&.disabled { 
					@include opacity(0.4);
				}
				
				&:before {
					font-size: 18px;
					font-weight:normal;
					vertical-align: middle;
					position: absolute;
					left: 4px;
					color:$link-hover-color;
					padding: 0;
				}
				&:hover{
					background: $link-hover-color;
					border-color: $link-hover-color;
					&:before{
						color: #FFFFFF;
					}
				}
			}
			a.bx-prev {
				left:auto;
				right:5px;
				&:before{
					font-family:$font-icon;
					content:"\f104";
					width:18px;
				}
			}
			a.bx-next {
			   right:0;
				&:before{
					font-family:$font-icon;
					content:"\f105";
					width:18px;
				}
			}
		}
	}
}
#header .header_cart {
	float: right;
	position:relative;
	z-index:9;
	padding: 0;
	width: 60px;
	text-align: center;
	margin: 25px 0 0 0;
	@media (max-width: $screen-xs-max) { // max 767px
		bottom: 8px;
		margin: 5px 0 0;
		position: absolute;
		right: 20px;
		vertical-align: top;
	}
}

.shopping_cart > a:first-child .ajax_cart_quantity, .shopping_cart > a:first-child .ajax_cart_no_product {
    @include border-radius(50%);
	background: #d5d5d5 none repeat scroll 0 0;
    border: medium none;
    color: #000 !important;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 13px;
    padding: 0 4px 2px;
    position: absolute;
    right: -3px;
    text-align: center;
    top: -11px;
}