/**********************************************************
				Authentication Styles
**********************************************************/
#authentication {
  margin: 0;
}

#account-creation_form .id_state,
#account-creation_form .dni,
#account-creation_form .postcode {
  display: none;
}

#create-account_form {
  min-height: 297px;
}
#create-account_form p {
  margin-bottom: 8px;
}
#create-account_form .form-group {
  margin: 0 0 20px 0;
}

#login_form {
  min-height: 297px;
}
#login_form .form-group.lost_password {
  margin: 14px 0 15px 30%;
  width: 70%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #login_form .form-group.lost_password {
    margin: 14px 0 15px 35%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #login_form .form-group.lost_password {
    margin: 14px 0 15px 0%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #login_form .form-group.lost_password {
    margin: 14px 0 15px 30% !important;
  }
}
@media (max-width: 480px) {
  #login_form .form-group.lost_password {
    margin: 14px 0 15px 0;
  }
}
#login_form .form-group.lost_password a {
  text-decoration: underline;
}
#login_form .form-group.lost_password a:hover {
  text-decoration: none;
}

#login_form .form-control, #create-account_form .form-control {
  max-width: 271px;
}

.form_content .submit {
  margin: 0 0 0 30%;
  float: left;
  clear: both;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .form_content .submit {
    margin: 0 0 0 35%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .form_content .submit {
    margin: 0 0 0 0%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .form_content .submit {
    margin: 0px 0 0 30% !important;
  }
}
@media (max-width: 480px) {
  .form_content .submit {
    margin: 0 0 0 0%;
  }
}

#account-creation_form #submitAccount {
  margin: 10px 0;
}

#account-creation_form label {
  font-weight: normal;
}
