/* ************************************************************************************************
                Categories Page Styles
************************************************************************************************ */
.content_scene_cat {
  margin: -23px 0 48px 0;
  /*display: none;*/
}
span.cat-name {
       font-family: 'Kaushan Script', cursive;
       text-transform: initial;
       font-size: 70px;
       line-height: 70px;
       display: none;
}
.cat_desc {
    padding: 20px;
}
.content_scene_cat .align_center {
  margin: 0 0 8px 0;
}
.content_scene_cat .align_center img {
  max-width: 100%;
  height: auto;
}
.content_scene_cat .content_scene_cat_bg {
  padding: 18px 10px 10px 42px;
  background-color: #464646 !important;
}
@media (max-width: 1199px) {
  .content_scene_cat .content_scene_cat_bg {
    padding: 10px 10px 10px 15px;
  }
}
.content_scene_cat span.category-name {
  font: 600 42px/51px "Open Sans", sans-serif;
  color: white;
  margin-bottom: 12px;
}
@media (max-width: 1199px) {
  .content_scene_cat span.category-name {
    font-size: 25px;
    line-height: 30px;
  }
}
.content_scene_cat p {
  margin-bottom: 0;
}
.content_scene_cat a {
  color: white;
}
.content_scene_cat a:hover {
  text-decoration: underline;
}
.content_scene_cat .content_scene {
  color: #666666;
}
.content_scene_cat .content_scene .cat_desc {
  padding-top: 20px;
}
.content_scene_cat .content_scene .cat_desc a {
  color: #666666;
}
.content_scene_cat .content_scene .cat_desc a:hover {
  color: #262626;
}

/* ************************************************************************************************
                  Sub Categories Styles
************************************************************************************************ */
#subcategories {
  display: none;
  border-top: 1px solid #dfdfdf;
  padding: 15px 0 0px 0;
}
#subcategories ul {
  margin: 0 0 15px 0px;
  width: 100%;
  text-align: center;
}
#subcategories ul li {
  float: left;
  width: 18%;
  margin: 0 1%;
  text-align: center;
}
@media (max-width: 991px) {
  #subcategories ul li {
    width: 23%;
  }
}
@media (max-width: 767px) {
  #subcategories ul li {
    width: 48%;
  }
}
@media (max-width: 480px) {
  #subcategories ul li {
    width: 50%;
    float: none;
    margin: 5px auto;
  }
}
#subcategories ul li .subcategory-image {
  padding: 0;
}
#subcategories ul li .subcategory-image a {
  display: block;
  padding: 6px;
  border: 1px solid #dfdfdf;
}
#subcategories ul li .subcategory-image a img {
  max-width: 100%;
  vertical-align: top;
  height: auto;
}
#subcategories ul li .subcategory-name {
  color: #262626;
}
#subcategories ul li .subcategory-name:hover {
  color: #262626;
}
#subcategories ul li .cat_desc {
  display: none;
}
#subcategories ul li:hover a {
  color: #262626;
}
#subcategories ul li:hover .subcategory-image a {
  border: 2px solid #262626;
  padding: 5px;
}
