/**************************************************************
					CMS Pages Styles
***************************************************************/
#cms #center_column .block-cms {
  padding-bottom: 20px;
}
#cms #center_column h1, #cms #center_column h2 {
  font: 600 14px/22px "Raleway", Helvetica, sans-serif;
  color: #262626;
  text-transform: uppercase;
  padding: 0 0 20px;
  overflow: hidden;
  margin: 0;
}
#cms #center_column h3 {
  border-bottom: medium none;
  color: #666666;
  font-size: 13px;
  margin: 0;
  padding: 0 0 14px;
  text-transform: uppercase;
}
#cms #center_column p {
  line-height: 18px;
  color: #555555;
}
#cms #center_column .list-1 li {
  padding: 4px 0 6px 0;
  position: relative;
  border-top: 1px solid #dfdfdf;
}
#cms #center_column .list-1 li:first-child {
  border: none;
}
#cms #center_column .list-1 li em {
  border: medium none;
  float: left;
  line-height: 20px;
  min-width: auto;
  padding: 0;
  position: static;
  top: 0;
  vertical-align: -2px;
}
#cms #center_column .list-1 li em:before {
  left: -21px;
  position: absolute;
  top: 5px;
  content: "\f00c";
}
#cms #center_column img {
  margin: 4px 0 17px;
  max-width: 100%;
  height: auto;
}
#cms #center_column .testimonials {
  border: 2px solid;
  border-color: #dfdede #d2d0d0 #b0afaf #d2d0d0;
  margin: 4px 0 13px 0;
  position: relative;
}
#cms #center_column .testimonials .inner {
  border: 1px solid white;
  padding: 17px 12px 20px;
  color: #555555;
}
#cms #center_column .testimonials .inner span.before {
  content: "\201C";
  /*Unicode for Left Double Quote*/
  font-family: Georgia, serif;
  font-size: 40px;
  color: #999;
  float: left;
  position: relative;
  top: 9px;
  margin: 0 6px 0 0;
}
#cms #center_column .testimonials .inner span.after {
  content: "\201C";
  /*Unicode for Left Double Quote*/
  font-family: Georgia, serif;
  font-size: 40px;
  color: #999;
  float: right;
  margin: 12px 10px 0 0;
}
#cms #center_column .testimonials:after, #cms #center_column .testimonials:before {
  top: 100%;
  left: 32px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#cms #center_column .testimonials:before {
  border-color: rgba(226, 226, 226, 0);
  border-top-color: #B0AFAF;
  border-width: 11px;
  margin-left: -11px;
}
#cms #center_column .testimonials:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 8px;
  margin-left: -8px;
}
#cms #center_column .testimonials + p {
  padding-left: 45px;
  margin-bottom: 18px;
}
#cms #center_column p.bottom-indent {
  margin-bottom: 18px;
  color: #555555;
}
#cms #center_column #admin-action-cms {
  background: none repeat 0 0 #F6F6F6;
  border: 1px solid #d2d0d0;
  padding: 10px;
}
#cms #center_column #admin-action-cms p {
  margin: 0;
}
#cms #center_column #admin-action-cms p span {
  display: block;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #262626;
}
#cms #center_column #admin-action-cms p .button {
  font: 700 17px/21px "Raleway", Helvetica, sans-serif;
  padding: 0;
  border: 1px solid;
  padding: 10px 14px;
  display: inline-block;
}
#cms #center_column #admin-action-cms p .button.publish_button {
  color: #262626;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #0079b6 #006fa8 #012740 #006fa8;
  background: #009ad0;
  background: -moz-linear-gradient(top, #009ad0 0%, #007ab7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
  background: -webkit-linear-gradient(top, #009ad0 0%, #007ab7 100%);
  background: -o-linear-gradient(top, #009ad0 0%, #007ab7 100%);
  background: -ms-linear-gradient(top, #009ad0 0%, #007ab7 100%);
  background: linear-gradient(to bottom, #009ad0 0%, #007ab7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0);
}
#cms #center_column #admin-action-cms p .button.publish_button:hover {
  border-color: #01314e #004b74 #0079b6 #004b74;
  filter: none;
  background: #0084bf;
}
#cms #center_column #admin-action-cms p .button.lnk_view {
  color: #333333;
  text-shadow: 1px 1px white;
  border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0);
}
#cms #center_column #admin-action-cms p .button.lnk_view:hover {
  border-color: #9e9e9e #9e9e9e #c8c8c8 #9e9e9e;
  filter: none;
  background: #e7e7e7;
}
