/**************************************************************************
					Contact Page Styles
**************************************************************************/
.contact-title {
  margin: -5px 0 0px 0;
  line-height: 23px;
}
.contact-title i {
  font-size: 23px;
  color: #c0c0c0;
  padding: 0 8px 0 0;
}

.contact-form-box {
  padding: 10px 0 0 0;
  margin: 0 0 30px 0;
  background: none;
  border: 1px solid #dfdfdf;
}
.contact-form-box fieldset {
  padding: 0 19px 21px 19px;
  background: none;
}
.contact-form-box label {
  margin: 0 0 6px 0;
  font-weight: normal;
}
.contact-form-box .page-subheading {
  padding-left: 0px;
  border: none;
  text-transform: capitalize;
  margin-bottom: 0;
}
.contact-form-box .col-md-5 {
  padding-left: 0;
}
@media (max-width: 991px) {
  .contact-form-box .col-md-5 {
    padding-right: 0;
  }
}
.contact-form-box .col-md-7 {
  padding-right: 0;
}
@media (max-width: 991px) {
  .contact-form-box .col-md-7 {
    padding-left: 0;
  }
}
.contact-form-box #desc_contact0 {
  display: none;
}
.contact-form-box .form-group {
  margin-bottom: 7px;
}
.contact-form-box textarea {
  height: 257px;
}
.contact-form-box .submit {
  margin-top: 13px;
}
.contact-form-box select.form-control {
  max-width: 270px;
  width: 100%;
  cursor: pointer;
}
.contact-form-box input.form-control {
  max-width: 270px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .contact-form-box div.uploader span.filename {
    width: 114px;
  }
}

div.uploader {
  height: auto !important;
}

div.uploader span.action {
  margin: 0;
  font-weight: normal;
}

#contact span.filename {
  margin: 0 0 8px 0;
}
