#my-account .addresses-lists {
  margin-bottom: 30px;
}
#my-account ul.myaccount-link-list {
  margin: 0;
}
#my-account ul.myaccount-link-list li {
  overflow: hidden;
  padding-bottom: 10px;
}
#my-account ul.myaccount-link-list li a {
  display: block;
  overflow: hidden;
  color: #666666;
  text-decoration: none;
  position: relative;
  border: 1px solid #dfdfdf;
}
#my-account ul.myaccount-link-list li a i {
  font-size: 17px;
  color: #545f61;
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 0;
  text-align: center;
  border: none;
}
#my-account ul.myaccount-link-list li a span {
  display: block;
  padding: 12px 0px;
  overflow: hidden;
  margin: 0 50px;
  font-size: 13px;
}
#my-account ul.myaccount-link-list li a:hover {
  filter: none;
  border: 1px solid #262626;
}
#my-account ul.myaccount-link-list li a:hover i {
  color: #262626;
}
#my-account ul.myaccount-link-list li a:hover span {
  border-color: #262626;
  color: #262626;
}
