/********************************************************
			One-Page Checkout Styles
********************************************************/
#order-opc {
  line-height: 20px;
}
#order-opc .box {
  padding-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#order-opc #openLoginFormBlock {
  color: #262626;
}
#order-opc .cart_navigation {
  margin-bottom: 53px;
}
#order-opc .page-heading.step-num {
  position: relative;
  padding-left: 25px;
  overflow: visible;
}
#order-opc .page-heading.step-num span {
  line-height: 51px;
  font-size: 26px;
  position: absolute;
  left: 0px;
  top: -14px;
}
#order-opc .form-group {
  margin-bottom: 2px;
}
#order-opc .form-group .form-control {
  max-width: 271px;
  cursor: pointer;
}
#order-opc .lost_password {
  display: inline-block;
  text-decoration: underline;
  margin: 5px 0 14px;
}
#order-opc .lost_password:hover {
  text-decoration: none;
}
#order-opc .title_block {
  font-weight: bold;
  color: #333333;
  padding: 3px 0 6px;
}
#order-opc .opc-button {
  padding: 11px 0 0 0;
}
#order-opc ul.bullet {
  line-height: 22px;
  margin-bottom: 5px;
}
#order-opc .date-select {
  padding-bottom: 10px;
}
#order-opc .opc-add-save {
  margin-top: 20px;
  border: none;
  padding-top: 20px;
}
#order-opc #message {
  margin-bottom: 35px;
}
#order-opc #opc_payment_methods {
  margin-bottom: 30px;
}
#order-opc #opc_payment_methods p.warning {
  color: #F13340;
  font-weight: 700;
}
#order-opc #opc_account {
  margin-bottom: 30px;
}
#order-opc .address_delivery.select {
  margin-bottom: 15px;
}
#order-opc #address_invoice_form.form-group {
  margin-bottom: 30px;
}

#new_account_form .id_state,
#new_account_form .dni,
#new_account_form .postcode {
  display: none;
}
