/* product desc */


/* primary_block ***************************************************************************** */

.primary_block {
    margin-bottom: 40px;
    text-align: center;
}

.top-hr {
    background: #c4c4c4;
    height: 5px;
    margin: 2px 0 31px;
}

.product-heading-h5 {
    color: #999999;
    font-weight: 200;
    margin: 3px 0 8px;
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
}

.box-security .product-heading-h5 {
    margin: 3px 0 -8px;
}

@media (max-width: 1199px) {
    .box-security .product-heading-h5 {
        margin-bottom: 8px;
    }
}

.primary_block .pb-left-column img {
    max-width: 100%;
    height: auto;
}

a.fancybox-nav {
    outline: 0;
}

.popover .popover-title {
    display: none;
}


/* .pb-left-column ***************************************************************************** */

.pb-left-column #image-block {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 0px;
    overflow: hidden;
    background: white;
}

@media (max-width: 767px) {
    .pb-left-column #image-block {
        width: 400px;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .pb-left-column #image-block {
        width: 300px;
    }
}

@media (max-width: 319px) {
    .pb-left-column #image-block {
        width: 210px;
        margin: 0 auto;
    }
}

.pb-left-column #image-block img {
    background: #fbfbfb;
    width: 100%;
}

.pb-left-column #image-block #view_full_size .span_link {
    position: absolute;
    bottom: 0px;
    right: 8px;
    display: block;
    text-align: center;
    color: #777676;
    text-align: center;
    font-size: 0;
}

.pb-left-column #image-block #view_full_size .span_link:after {
    font-family: "FontAwesome";
    color: #666666;
    font-size: 22px;
    line-height: 22px;
    content: "\f002";
    font-weight: normal;
    margin: 0 0 0 4px;
}

.pb-left-column #image-block #view_full_size .span_link:hover:after {
    color: #333333;
}

.pb-left-column #image-block a.jqzoom div div img {
    width: auto;
    max-width: 10000px;
}

.pb-left-column #image-block a.jqzoom div div .zoomWrapper {
    border: none;
}

.pb-left-column #image-block .zoomPad {
    z-index: auto!important;
}


/* miniatures */

.pb-left-column #views_block {
    margin: 10px auto auto;
    text-align: center;
    width: 100%;
    position: relative;
}

@media (max-width: 767px) {
    .pb-left-column #views_block {
        width: 400px;
    }
}

@media (max-width: 480px) {
    .pb-left-column #views_block {
        width: 350px;
    }
}

@media (max-width: 319px) {
    .pb-left-column #views_block {
        width: 210px;
    }
}

.pb-left-column #views_block #view_scroll_left,
.pb-left-column #views_block #view_scroll_right {
    top: 50%;
    height: 33px;
    width: 33px;
    float: none;
    vertical-align: top;
    display: inline-block;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    /*  border: 1px solid $common-border-color;*/
}

.pb-left-column #views_block #view_scroll_left:before,
.pb-left-column #views_block #view_scroll_right:before {
    padding: 5px;
    color: #262626;
    font-family: "FontAwesome";
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
}

.pb-left-column #views_block #view_scroll_left:hover,
.pb-left-column #views_block #view_scroll_right:hover {
    border-color: #1f2022;
}

.pb-left-column #views_block #view_scroll_left:hover:before,
.pb-left-column #views_block #view_scroll_right:hover:before {
    color: #666666;
}

.pb-left-column #views_block #view_scroll_right {
    right: 0;
    background: url(../img/megnor/info-nav.png) no-repeat scroll -24px 0;
}

.pb-left-column #views_block #view_scroll_right:before {
    /*content: "\f105";*/
}

.pb-left-column #views_block #view_scroll_left {
    left: 0;
    background: url(../img/megnor/info-nav.png) no-repeat scroll 7px 0;
}

.pb-left-column #views_block #view_scroll_left:before {
    /*content: "\f104";*/
}

#thumbs_list {
    overflow: hidden;
    float: none;
    display: inline-block;
    width: 1230px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    #thumbs_list {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #thumbs_list {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #thumbs_list {
        width: 100%;
    }
}

@media (max-width: 319px) {
    #thumbs_list {
        width: 100%;
    }
}

#thumbs_list ul#thumbs_list_frame {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    margin: 0;
}

#thumbs_list li {
    float: left;
    cursor: pointer;
    line-height: 0;
    height: 276px;
    width: 380px;
    margin: 5px;
}

#thumbs_list li a {
    display: block;
    -webkit-transition: all 500ms ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fbfbfb;
}

#thumbs_list li a:hover,
#thumbs_list li a.shown {
    border-color: #dfdfdf;
}

#thumbs_list li img {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.resetimg {
    float: left;
    width: 100%;
    padding: 10px 0 0;
}

.resetimg #wrapResetImages a {
    padding-left: 7px;
}

.resetimg #wrapResetImages a i {
    position: relative;
    left: -7px;
}

.resetimg #resetImages i {
    margin-right: 6px;
}


/* link list */

#usefull_link_block {
    list-style-type: none;
    float: left;
    width: 100%;
    margin: 0;
}

#usefull_link_block li {
    margin: 0 0 8px 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    #usefull_link_block li {
        float: none !important;
    }
}

#usefull_link_block li:first-child {
    margin: 0 0 8px 0;
    border: none;
    padding: 0;
}

#usefull_link_block li a {
    color: #777676;
    position: relative;
    padding-left: 25px;
    line-height: 22px;
    display: inline-block;
}

#usefull_link_block li a:before {
    font-family: "FontAwesome";
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    top: -2px;
    left: 0;
    font-weight: normal;
}

#usefull_link_block li a:hover {
    color: #262626;
}

@media (min-width: 768px) and (max-width: 991px) {
    #usefull_link_block li.print {
        margin: 8px 0 0;
        padding: 0;
        border: none;
    }
}

#usefull_link_block li.print a:before {
    content: "\f02f";
}

#usefull_link_block li.sendtofriend a:before {
    content: "\f003";
}

#usefull_link_block li#left_share_fb {
    clear: both;
    float: none;
}

#usefull_link_block li#left_share_fb a {
    padding-left: 18px;
}

#usefull_link_block li#left_share_fb a:before {
    content: "\f09a";
}

#usefull_link_block li#favoriteproducts_block_extra_remove,
#usefull_link_block li#favoriteproducts_block_extra_add,
#usefull_link_block li#favoriteproducts_block_extra_removed,
#usefull_link_block li#favoriteproducts_block_extra_added {
    cursor: pointer;
    clear: both;
    float: none;
    margin: 0 0 8px 0;
    border: none;
    padding: 0;
    position: relative;
}

#usefull_link_block li#favoriteproducts_block_extra_remove:before,
#usefull_link_block li#favoriteproducts_block_extra_add:before,
#usefull_link_block li#favoriteproducts_block_extra_removed:before,
#usefull_link_block li#favoriteproducts_block_extra_added:before {
    font-family: "FontAwesome";
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    top: -2px;
    left: 0;
    font-weight: normal;
    content: "\f08a";
}

#usefull_link_block li#favoriteproducts_block_extra_remove:hover,
#usefull_link_block li#favoriteproducts_block_extra_add:hover,
#usefull_link_block li#favoriteproducts_block_extra_removed:hover,
#usefull_link_block li#favoriteproducts_block_extra_added:hover {
    color: #262626;
}

#usefull_link_block li#favoriteproducts_block_extra_removed:before {
    content: "\f004";
}


/* pb-left-column ****************************************************************************** */

.pb-center-column {
    margin-bottom: 0;
    padding-left: 30px;
    float: left;
    /* form */
}

@media (max-width: 767px) {
    .pb-center-column {
        padding: 10px 10px 0;
    }
}

.pb-center-column h1 {
    padding-bottom: 10px;
    font: bold 18px "Raleway", Helvetica, sans-serif;
    color: #262626;
    text-transform: uppercase;
    margin: 0;
}

.pb-center-column p {
    margin-bottom: 10px;
}

.pb-center-column #product_reference {
    margin-bottom: 0;
}

.pb-center-column #short_description_block {
    color: #666666;
}

.pb-center-column #short_description_block .buttons_bottom_block {
    display: none;
}

.pb-center-column #short_description_block #short_description_content {
    padding: 0;
    word-wrap: break-word;
}

.pb-center-column .pb-right-column #buy_block label {
    float: left;
    text-align: left;
}

.pb-center-column .buttons_bottom_block {
    margin: 0 10px 10px 0;
}

@media (max-width: 1199px) {
    .pb-center-column .buttons_bottom_block {
        margin: 0 7px 10px 0;
    }
}

.pb-center-column #buy_block label {
    display: inline-block;
    width: 125px;
    font-weight: 700;
    font-size: 12px;
    text-align: right;
}

@media (max-width: 319px) {
    .pb-center-column #buy_block label {
        width: 100%;
    }
}

.pb-center-column #buy_block .attribute_list .selector {
    width: 100% !important;
}

.pb-center-column #buy_block p.price {
    padding: 0;
}

.pb-center-column #color_picker p {
    padding-bottom: 5px;
    font-weight: 700;
}

#product p#loyalty {
    padding: 17px 0 15px 35px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    margin: 10px 0 -5px;
    position: relative;
}

#product p#loyalty b {
    color: #333333;
}

#product p#loyalty:before {
    content: "\f024";
    font-family: "FontAwesome";
    color: #cfcccc;
    font-size: 26px;
    line-height: 28px;
    position: absolute;
    top: 16px;
    left: 0;
}

#page .rte {
    padding: 0 20px 20px;
    word-wrap: break-word;
}

#attributes .attribute_fieldset {
    margin: 0;
}

#attributes fieldset {
    padding-bottom: 8px;
}

#attributes fieldset label {
    vertical-align: top;
    display: block;
}

#attributes .attribute_list {
    float: left;
}

#attributes .attribute_list .form-control {
    max-width: 230px;
    cursor: pointer;
}

#attributes .attribute_list .form-control option {
    background: white;
    color: #666666;
}

#attributes .attribute_list ul {
    clear: both;
}

#attributes .attribute_list ul li {
    float: left;
    margin-right: 10px;
}

#attributes .attribute_list input.attribute_radio {
    float: left;
    margin-left: 3px;
}

#attributes .attribute_list div.radio,
#attributes .attribute_list div.radio span,
#attributes .attribute_list div.radio input {
    float: none;
    display: inline-block;
}

#attributes .attribute_list #color_to_pick_list {
    list-style-type: none;
    margin: 0;
}

#attributes .attribute_list #color_to_pick_list li {
    float: left;
    margin: 0 3px 3px 0;
    padding: 1px;
    border: 1px solid #dfdfdf;
    clear: none;
}

#attributes .attribute_list #color_to_pick_list li a.color_pick {
    display: block;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

#attributes .attribute_list #color_to_pick_list li a.color_pick img {
    display: block;
    height: 22px;
    width: 22px;
}

#attributes .attribute_list #color_to_pick_list li.selected {
    border: 1px solid #CCC;
}

.product_attributes,
.box-cart-bottom {
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
}

.product_attributes #wishlist_button_nopop,
.product_attributes #wishlist_button,
.box-cart-bottom #wishlist_button_nopop,
.box-cart-bottom #wishlist_button {
    float: left;
    width: 100%;
    margin: 0;
    clear: both;
}

.box-info-product {
    padding: 0;
    float: left;
    width: 100%;
    clear: both;
}

.box-info-product #reduction_percent {
    margin: 0 5px;
}

.box-info-product p {
    margin: 0 0 10px 0;
    float: left;
}

.box-info-product .box-cart-bottom p#add_to_cart {
    padding: 0;
    margin: auto !important;
    text-align: center;
    float: inherit;
}

div#tmproduct_tab_block,
.tm-tabcontent {
    display: none !important;
}

#product a#wishlist_button_nopop {
    display: none;
}

div#attributes>fieldset {
    float: left;
    margin-right: 19px !important;
}

div#attributes label {
    float: left;
}

.clearfix.separator-lyl {
    padding: 60px;
}

.uppercase {
    text-transform: uppercase;
    text-align: center;
}

.box-info-product .exclusive {
    padding: 0px;
    width: 323px;
    position: relative;
    margin: auto;
    background: #ffffff;
    border: 0px solid #1d1f1f !important;
    -webkit-transition: all 0.3s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: block;
}

.box-info-product .exclusive:before {
    font-family: "FontAwesome";
    position: absolute;
    top: 4px;
    right: 0px;
    bottom: 0;
    color: #fff;
    font-size: 19px;
    line-height: 32px;
    content: "\f07a";
    z-index: 2;
    width: 42px;
}

.box-info-product .exclusive.added:before {
    content: "\f00c";
}

.box-info-product .exclusive.added.disabled:before,
.box-info-product .exclusive.disabled:before {
    content: "\f110";
    animation: 2s linear 0s normal none infinite spin;
    -webkit-animation: 2s linear 0s normal none infinite spin;
    -moz-animation: 2s linear 0s normal none infinite spin;
    border: none;
}

.box-info-product .exclusive:after {
    background: none;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 51px;
    content: "";
    width: 1px;
    z-index: 2;
}

.col-md-6.images-four .col-md-3 {
    text-align: center;
}

@media (max-width: 991px) {
    .box-info-product .exclusive:after {
        display: none;
    }
}

.box-info-product .exclusive span {
    font-size: 14px;
    line-height: 22px;
    padding: 10px 10px 10px 5px;
    text-transform: uppercase;
    font-weight: bold;
    background: #c4007a;
    color: #ffffff;
    display: block !important;
}

.box-info-product .exclusive:hover {
    -webkit-transition: all 0.3s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.box-info-product .exclusive:hover:before {
    color: #ffffff;
}

.box-info-product .exclusive:hover span {
    color: #ffffff;
}

#center_column.col-sm-9 .col-md-3 .box-info-product {
    background: #f6f6f6;
    border: 1px solid #d2d0d0;
    border-top: 1px solid #b0afaf;
    border-bottom: 1px solid #b0afaf;
}

#center_column.col-sm-9 .col-md-3 .box-info-product p {
    margin-bottom: 7px;
    padding: 15px 10px 0;
}

#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive {
    padding: 0;
    border-top: 1px solid #0079b6;
    border-right: 1px solid #006fa8;
    border-left: 1px solid #006fa8;
    border-bottom: 1px solid #012740;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: block;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
    background-image: -webkit-linear-gradient(#009ad0, #007ab7);
    background-image: -moz-linear-gradient(#009ad0, #007ab7);
    background-image: -o-linear-gradient(#009ad0, #007ab7);
    background-image: linear-gradient(#009ad0, #007ab7);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#009ad0', endColorstr='#007ab7', GradientType=0);
}

#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before {
    font-family: "FontAwesome";
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    color: white;
    font-size: 25px;
    line-height: 47px;
    text-shadow: 0 1px #015883;
    content: "\f07a";
    z-index: 2;
    width: 51px;
    text-align: center;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

@media (max-width: 991px) {
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before {
        display: none;
    }
}

#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added:before {
    content: "\f00c";
}

#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added.disabled:before,
#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.disabled:before {
    height: 51px;
    content: "\f110";
    animation: 2s linear 0s normal none infinite spin;
    -webkit-animation: 2s linear 0s normal none infinite spin;
    -moz-animation: 2s linear 0s normal none infinite spin;
    border: none;
}

#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after {
    background: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 51px;
    content: "";
    width: 1px;
    z-index: 2;
}

@media (max-width: 991px) {
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after {
        display: none;
    }
}

#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border: none;
    border-top: 1px solid #006fa8;
    text-shadow: 0 1px #015883;
    padding: 12px 16px 14px;
    color: white;
    display: block !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (max-width: 1199px) {
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
        padding: 8px 12px 10px;
        text-align: center;
    }
}

#center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007ab7), color-stop(100%, #009ad0));
    background-image: -webkit-linear-gradient(#007ab7, #009ad0);
    background-image: -moz-linear-gradient(#007ab7, #009ad0);
    background-image: -o-linear-gradient(#007ab7, #009ad0);
    background-image: linear-gradient(#007ab7, #009ad0);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#007ab7', endColorstr='#009ad0', GradientType=0);
    background-position: 0 0;
}


/* table_data_sheet */

.table-data-sheet {
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    margin: 0;
    background: white;
}

.table-data-sheet tr {
    border-top: 1px solid #dfdfdf;
}

.table-data-sheet tr.even {
    background: #fdfdfd;
}

.table-data-sheet tr td {
    padding: 10px 20px 11px;
    border: 1px solid #dfdfdf;
}

.table-data-sheet tr td:first-child {
    width: 30%;
    font-weight: 700;
    color: #333333;
}


/* table product-discounts */

table.table-product-discounts {
    border: none;
    border-bottom: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    width: 50%;
    margin: 0 0 20px;
    background: white;
}

@media (max-width: 767px) {
    table.table-product-discounts {
        width: 100%;
    }
}

table.table-product-discounts tr th {
    background: #fbfbfb;
    color: #333333;
    font-weight: 700;
    border: none;
    font-weight: 700;
}

table.table-product-discounts tr td,
table.table-product-discounts tr th {
    border-left: 1px solid #dfdfdf;
    width: 33%;
    padding: 10px 20px 11px;
    border-top: 1px solid #dfdfdf;
    border-right: none;
    text-shadow: none;
    text-transform: none;
    font-weight: 13px;
    line-height: 18px;
    border-bottom: none;
}


/* accessories  */

.accessories-block .block_description {
    display: none;
}

.accessories-block .exclusive span {
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
}

.accessories-block .exclusive span:focus,
.accessories-block .exclusive span:active {
    text-decoration: none;
}


/* quantity_wanted */

#quantity_wanted_p {
    margin: 0 10px 10px 0;
}

#quantity_wanted_p input {
    width: 50px;
    height: 34px;
    padding: 0 6px;
    float: left;
    text-align: center;
    border: 1px solid #dfdfdf !important;
    line-height: 27px;
}

#quantity_wanted_p .btn {
    float: left;
    margin: 0 -1px;
}

#quantity_wanted_p label {
    display: block;
    margin-bottom: 7px;
}

@media (max-width: 1199px) {
    #quantity_wanted_p {
        margin: 0 7px 10px 0;
    }
}


/* availability_statut */

#availability_statut span#availability_label,
#availability_date_label {
    display: inline-block;
    width: 125px;
    font-size: 12px;
    text-align: left;
}

#quantityAvailable {
    color: #333333;
    font-size: 13px;
    line-height: 18px;
}

#availability_value {
    display: inline-block;
    font-weight: normal;
    background: none;
    border: medium none;
    padding: 0;
}

#last_quantities {
    display: inline-block;
}

#last_quantities {
    background: #ff7430;
    border: 1px solid #ea5e1a;
    padding: 4px 8px 3px;
    position: relative;
    top: 1px;
}

#availability_statut {
    margin: 0 5px 10px 5px;
}

#availability_statut,
#pQuantityAvailable {
    display: inline-block;
}

#pQuantityAvailable span {
    color: #333333;
}

#availability_statut #availability_value.warning_inline {
    background-color: #fe9126;
    border-color: #e4752b;
    text-shadow: 1px 1px #e68322;
    margin: 0;
}


/* box-security */

.box-security {
    border-top: 1px solid #dfdede;
    padding: 10px 10px 10px 0;
}


/* prices */

.discount {
    display: none;
}

.our_price_display {
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #262626;
}

@media (max-width: 991px) {
    .our_price_display {
        font-size: 17px;
        line-height: 28px;
    }
}


/* online_only */

.pb-center-column p.online_only {
    font-size: 13px;
    text-transform: capitalize;
}


/* SEND TO FRIEND (pop-in) ##################################################################### */

#send_friend_form {
    width: 555px;
    overflow: hidden;
}

@media (max-width: 767px) {
    #send_friend_form {
        width: 280px;
    }
}

@media (max-width: 319px) {
    #send_friend_form {
        width: 160px;
    }
}

#send_friend_form .product img {
    margin: 0 0 10px 0;
    max-width: 100%;
}

#send_friend_form .product p {
    padding: 0;
    color: #333333;
}

#send_friend_form .product p .product_name {
    font-size: 12px;
    color: #262626;
}

#send_friend_form .form_container {
    padding: 10px 15px;
    border: 1px solid #dfdfdf;
}

#send_friend_form .form_container p.intro_form {
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 13px;
    color: #333333;
}

#send_friend_form .form_container p.txt_required {
    padding-bottom: 0;
    color: #666;
}

#send_friend_form .form_container .text {
    padding-bottom: 10px;
}

#send_friend_form .form_container .text label {
    display: block;
    padding: 0;
    width: 100%;
    font-size: 12px;
}

#send_friend_form .form_container .text input {
    padding: 0 5px;
    height: 30px;
    width: 100%;
    border: 1px solid #dfdfdf;
    font-size: 12px;
    color: #666;
}

#send_friend_form .submit {
    margin-top: 20px;
    padding-bottom: 0;
    text-align: right;
}


/* PERSONNALISATION ##################################################################### */

p.infoCustomizable {
    margin-bottom: 30px;
}

ul#uploadable_files,
ul#text_fields {
    list-style-type: none;
}

.customizableProductsFile,
.customizableProductsText {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dfdfdf;
}

.customizationUploadLine {
    padding-bottom: 10px;
}

.customizationUploadLine label {
    display: block;
    vertical-align: top;
}

.customizationUploadLine textarea {
    width: 50%;
    border: 1px solid #dfdfdf;
    color: #777777;
}

.customizationUploadBrowse img+a {
    position: relative;
    top: -51px;
}

#customizedDatas {
    float: right;
}

.accessories_block div ul li a {
    display: inline-block;
}

.accessories_block div ul li.s_title_block a,
.accessories_block div ul li.s_title_block span {
    font-weight: 700;
}


/******************************************************************
Quick View Styles
******************************************************************/

#product.content_only div.primary_block {
    margin: 0;
}

#product.content_only div.primary_block div.pb-left-column {
    padding: 20px;
}

@media (max-width: 479px) {
    #product.content_only div.primary_block div.pb-left-column {
        width: 100%;
        float: none;
    }
}

#product.content_only div.primary_block div.pb-center-column {
    padding: 20px;
    margin-bottom: 0;
    height: 100%;
}

@media (max-width: 991px) {
    #product.content_only div.primary_block div.pb-center-column {
        min-height: 440px;
        width: 100%;
    }
}

@media (max-width: 479px) {
    #product.content_only div.primary_block div.pb-center-column {
        width: 100%;
        float: none;
    }
}

@media (max-width: 479px) {
    #product.content_only div.primary_block div.pb-center-column .comments_advices li {
        display: block;
    }
    #product.content_only div.primary_block div.pb-center-column .comments_advices a.reviews {
        margin: 0;
        padding: 0;
        border: none;
    }
}

#product.content_only div.primary_block div.pb-center-column #ShareDiv {
    position: absolute;
    bottom: 8px;
}

@media (max-width: 991px) {
    #product.content_only div.primary_block div.pb-right-column .box-info-product {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        width: 100%;
    }
}

#product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive {
    display: block;
}

#product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:before,
#product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:after {
    display: block;
}

#product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span {
    font-size: 20px;
    text-align: center;
}

@media (max-width: 1199px) {
    #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span {
        font-size: 14px;
    }
}

#product.content_only div.primary_block div.pb-right-column .box-info-product .box-cart-bottom {
    right: 0;
    left: 0;
}

#product.content_only div.primary_block div.pb-right-column #attributes .attribute_list .form-control {
    width: 230px;
}

#product.content_only div.primary_block div.pb-right-column .product_attributes {
    padding-top: 0;
}

.addsharethisinner .stButton .stArrow {
    display: none !important;
}

@media (max-width: 1050px) {
    #product.content_only div.primary_block div.pb-left-column,
    #product.content_only section.primary_block div.pb-left-column {
        width: 100%;
    }
    #product.content_only div.primary_block div.pb-left-column #image-block,
    #product.content_only div.primary_block div.pb-left-column #views_block,
    #product.content_only section.primary_block div.pb-left-column #image-block,
    #product.content_only section.primary_block div.pb-left-column #views_block {
        max-width: 470px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #product.content_only div.primary_block div.pb-center-column,
    #product.content_only section.primary_block div.pb-center-column {
        float: left;
        width: 100%;
    }
    #product.content_only div.primary_block div.pb-right-column,
    #product.content_only section.primary_block div.pb-right-column {
        width: 100%;
        float: left;
    }
    #product.content_only div.primary_block div.pb-right-column .box-info-product,
    #product.content_only section.primary_block div.pb-right-column .box-info-product {
        min-height: 1px;
    }
}

@media (max-width: 1050px) and (min-width: 480px) and (max-width: 991px) {
    #product.content_only div.primary_block div.pb-center-column,
    #product.content_only section.primary_block div.pb-center-column {
        width: 100%;
    }
}

@media (max-width: 1050px) and (max-width: 479px) {
    #product.content_only div.primary_block div.pb-center-column,
    #product.content_only section.primary_block div.pb-center-column {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}


/***** IE code ****/

.ie8 .pb-left-column #image-block #view_full_size .span_link {
    background: #fff;
    border: 1px solid #dfdfdf;
}

.ie8 .box-security {
    filter: none;
}

.pb-center-column .pb-right-column {
    float: left;
    width: 100%;
    clear: both;
}

.pb-center-column .pb-right-column .content_prices .our_price_display {
    float: left;
    font-size: 20px;
    line-height: 20px;
}

.accessories-block {
    position: relative;
}

.accessories-block #accessories-carousel li.product-box {
    width: 100%;
}

.tm-tabcontent {
    margin: 0 0 30px 0;
}

.tm-tabcontent #productpage_tab {
    border: medium none;
}

@media (max-width: 991px) {
    .tm-tabcontent #productpage_tab {
        width: 100%;
    }
}

.tm-tabcontent #productpage_tab li {
    float: left;
    border-right: 1px solid #dfdfdf;
    margin-right: 5px;
}

@media (max-width: 480px) {
    .tm-tabcontent #productpage_tab li {
        width: 100%;
        border-right: none;
    }
}

@media (max-width: 480px) {
    .tm-tabcontent #productpage_tab li {
        width: 100%;
    }
}

.tm-tabcontent #productpage_tab li:last-child {
    border: medium none;
}

.tm-tabcontent #productpage_tab li a {
    margin-right: 5px;
    font: bold 13px/18px "Raleway", Helvetica, sans-serif;
    text-align: center;
    border: none;
    overflow: hidden;
    padding: 0;
    text-transform: uppercase;
}

@media (max-width: 480px) {
    .tm-tabcontent #productpage_tab li a {
        width: 100%;
    }
}

.tm-tabcontent #productpage_tab li a:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
}

.tm-tabcontent #productpage_tab li a>span {
    display: block;
}

.tm-tabcontent #productpage_tab li a:before,
.tm-tabcontent #productpage_tab li a>span {
    padding: 8px 22px;
    color: #262626;
    background: white;
}

.tm-tabcontent #productpage_tab li a:hover {
    background: none;
}

.tm-tabcontent #productpage_tab li.active a {
    background: #262626;
}

.tm-tabcontent #productpage_tab li.active a:before,
.tm-tabcontent #productpage_tab li.active a>span {
    background: #262626;
    color: white;
}

.tm-tabcontent #productpage_tab li.active a:hover {
    background: white;
}

.tm-tabcontent .tab-content {
    border-bottom: 1px solid #dfdfdf;
    margin: 0;
    padding: 25px 0;
    overflow: hidden;
}

@media (max-width: 319px) {
    .tm-tabcontent .tab-content #datasheet {
        overflow: scroll;
    }
}

#product_payment_logos {
    margin: 5px 0 0 0;
    float: left;
    width: 100%;
}

.pb-right-column {
    padding: 0;
}

#new_comment_form_error {
    color: #FF0000;
    padding: 0 !important;
}

.socialsharing_product {
    float: left;
    width: 100%;
    clear: both;
}

#send_friend_form_error {
    color: red;
    margin-bottom: 10px;
}