/*******************************************************
Product list Styles
********************************************************/

.product_list {
    position: relative;
    margin: 0;
}

.product_list.list li.first-in-line {
    border: none;
}

ul.product_list .product-name {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

ul.product_list .tm_avaibility {
    display: none !important;
}

ul.product_list .availability {
    display: inline-block;
}

ul.product_list .availability span {
    display: inline-block;
    font-weight: normal;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    padding: 3px 5px;
    color: #262626;
    line-height: 18px;
}

ul.product_list .availability span.out-of-stock {
    background: #f3515c;
    border: 1px solid #d4323d;
    color: #FFFFFF;
}

ul.product_list .availability span.available-dif {
    background: #ff7430;
    border: 1px solid #ff7430;
    color: #FFFFFF;
}

ul.product_list .color-list-container {
    margin-bottom: 10px;
}

ul.product_list .color-list-container ul li {
    display: inline-block;
    border: 1px solid #dfdfdf;
    padding: 0;
    float: none;
    vertical-align: middle;
    width: auto;
}

ul.product_list .color-list-container ul li a {
    display: block;
    width: 12px;
    height: 12px;
    margin: 1px;
}

ul.product_list .color-list-container ul li a img {
    display: block;
    width: 15px;
    height: 15px;
}

ul.product_list .product-image-container {
    text-align: center;
}

ul.product_list .product-image-container img {
    margin: 0 auto;
    transition: 0.6s;
}

ul.product_list .product-image-container .quick-view {
    color: #262626;
    position: absolute;
    right: 5px;
    top: 5px;
}

ul.product_list .product-image-container .quick-view:before {
    content: "\f06e";
    font-family: fontawesome;
    font-size: 20px;
}

ul.product_list .product-image-container .quick-view span {
    display: none;
}

@media (min-width: 1200px) {
    ul.product_list .product-image-container .quick-view {
        display: none;
    }
}

@media (max-width: 767px) {
    ul.product_list .product-image-container .quick-view {
        display: none;
    }
}

ul.product_list .price_instock {
    display: none !important;
}

ul.product_list .comments_note {
    width: 100%;
}

ul.product_list .comments_note .nb-comments {
    overflow: hidden;
    display: none;
    font-style: italic;
}

ul.product_list .functional-buttons {
    display: inline-block;
    vertical-align: top;
}

ul.product_list .functional-buttons>div {
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

ul.product_list .functional-buttons>div a,
ul.product_list .functional-buttons>div label {
    font-weight: normal;
    cursor: pointer;
    font-size: 0;
    display: block;
    border: 1px solid #262626;
    color: #262626;
    background: white;
    padding: 4px 10px;
}

ul.product_list .functional-buttons>div a:hover,
ul.product_list .functional-buttons>div label:hover {
    background: #262626;
    border-color: #262626;
    color: white;
}

ul.product_list .functional-buttons>div.wishlist a:before {
    display: inline-block;
    font-family: "FontAwesome";
    content: "\f004";
    font-size: 14px;
    vertical-align: middle;
}

ul.product_list .functional-buttons>div.wishlist a.checked:before {
    content: "\f004";
}

@media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list .functional-buttons>div.wishlist {
        border-right: 0;
    }
}

@media (min-width: 319px) and (max-width: 767px) {
    ul.product_list .functional-buttons>div.wishlist {
        border-right: 0;
    }
}

ul.product_list .functional-buttons>div.compare a:before {
    content: "\f080";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 14px;
    vertical-align: middle;
}

ul.product_list .functional-buttons>div.compare a.checked:before {
    content: "\f080";
}


/*******************************************************
Product list(Grid) Styles 
********************************************************/

#best-sales ul.product_list.grid,
#new-products ul.product_list.grid,
#prices-drop ul.product_list.grid,
#category ul.product_list.grid,
#search ul.product_list.grid {
    margin: 0 -10px;
}

ul.product_list.grid li,
ul.tm-carousel li {
    padding: 0px 0px 20px;
    text-align: center;
}

@media (min-width: 480px) and (max-width: 767px) {
    ul.product_list.grid li,
    ul.tm-carousel li {
        width: 50%;
        float: left;
    }
}

ul.product_list.grid li .product-container,
ul.tm-carousel li .product-container {
    background: white;
    padding: 0;
    position: relative;
}

ul.product_list.grid li .product-container .product-image-container,
ul.tm-carousel li .product-container .product-image-container {
    position: relative;
}

ul.product_list.grid li .product-container .product-image-container .content_price,
ul.tm-carousel li .product-container .product-image-container .content_price {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    background: #545f61;
    padding: 9px 0;
    display: none;
}

ul.product_list.grid li .product-container .product-image-container .content_price span,
ul.tm-carousel li .product-container .product-image-container .content_price span {
    color: white;
}

ul.product_list.grid li .product-container .product-image-container .content_price span.old-price,
ul.tm-carousel li .product-container .product-image-container .content_price span.old-price {
    color: #b1b0b0;
}

ul.product_list.grid li .product-container .product-image-container img,
ul.tm-carousel li .product-container .product-image-container img {
    margin: 0 auto;
}

@media (max-width: 991px) {
    ul.product_list.grid li .product-container .product-image-container img,
    ul.tm-carousel li .product-container .product-image-container img {
        width: 100%;
    }
}

ul.product_list.grid li .product-container .product-image-container .img_1,
ul.tm-carousel li .product-container .product-image-container .img_1 {
    left: 0;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
}

ul.product_list.grid li .product-container .right-block,
ul.tm-carousel li .product-container .right-block {
    position: relative;
}

ul.product_list.grid li .product-container .right-block h5,
ul.tm-carousel li .product-container .right-block h5 {
    margin: 6px 0 0;
}

ul.product_list.grid li .product-container .content_price,
ul.tm-carousel li .product-container .content_price {
    margin: 7px 0 5px;
}

a.product-name {
    text-align: left;
}

ul.product_list.grid li .product-container .product-desc,
ul.tm-carousel li .product-container .product-desc {
    display: none;
}

ul.product_list.grid li .product-container .old-price,
ul.product_list.grid li .product-container .price,
ul.product_list.grid li .product-container .price-percent-reduction,
ul.tm-carousel li .product-container .old-price,
ul.tm-carousel li .product-container .price,
ul.tm-carousel li .product-container .price-percent-reduction {
    display: inline-block;
}

ul.product_list.grid li .product-container .product-flags,
ul.tm-carousel li .product-container .product-flags {
    display: none;
}

ul.product_list.grid li .product-container .price-percent-reduction,
ul.tm-carousel li .product-container .price-percent-reduction {
    margin: 0 5px;
}

ul.product_list.grid li .product-container .button-container,
ul.tm-carousel li .product-container .button-container {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    margin-top: -36px;
    display: none !important;
}

ul.product_list.grid li .product-container .button-container .button.ajax_add_to_cart_button,
ul.tm-carousel li .product-container .button-container .button.ajax_add_to_cart_button {
    width: 100%;
}

ul.product_list.grid li .product-container .button-container a.lnk_view,
ul.tm-carousel li .product-container .button-container a.lnk_view {
    display: none;
}

@media (max-width: 767px) {
    ul.product_list.grid li .product-container .button-container,
    ul.tm-carousel li .product-container .button-container {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
}

ul.product_list.grid li .product-container .functional-buttons,
ul.tm-carousel li .product-container .functional-buttons {
    padding: 10px 0 0;
    display: none;
}

ul.product_list.grid li .product-container .availability,
ul.tm-carousel li .product-container .availability {
    display: none;
}

ul.product_list.grid li .product-container .color-list-container,
ul.tm-carousel li .product-container .color-list-container {
    display: none;
}

@media (min-width: 1200px) {
    ul.product_list.grid li.hovered .product-container .product-image-container .quick-view,
    ul.tm-carousel li.hovered .product-container .product-image-container .quick-view {
        display: block;
    }
    ul.product_list.grid li.hovered .product-container .product-image-container .img_1,
    ul.tm-carousel li.hovered .product-container .product-image-container .img_1 {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
    ul.product_list.grid li.hovered .product-container .button-container,
    ul.tm-carousel li.hovered .product-container .button-container {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
    ul.product_list.grid li.hovered .product-container .product-name,
    ul.tm-carousel li.hovered .product-container .product-name {
        color: #262626;
    }
}

@media (min-width: 1200px) {
    ul.product_list.grid li.first-in-line,
    ul.tm-carousel li.first-in-line {
        clear: left;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list.grid li.first-item-of-tablet-line,
    ul.tm-carousel li.first-item-of-tablet-line {
        clear: left;
    }
}

@media (min-width: 480px) and (max-width: 991px) {
    ul.product_list.grid li.first-item-of-mobile-line,
    ul.tm-carousel li.first-item-of-mobile-line {
        clear: left;
    }
}

ul.product_list.grid li:hover .product-container .product-image-container .quick-view,
ul.tm-carousel li:hover .product-container .product-image-container .quick-view {
    display: block;
}

@media (max-width: 767px) {
    ul.product_list.grid li:hover .product-container .product-image-container .quick-view,
    ul.tm-carousel li:hover .product-container .product-image-container .quick-view {
        display: none;
    }
}

ul.product_list.grid li:hover .product-container .product-image-container .img_1,
ul.tm-carousel li:hover .product-container .product-image-container .img_1 {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

ul.product_list.grid li:hover .product-container .button-container,
ul.tm-carousel li:hover .product-container .button-container {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

ul.product_list.grid li:hover a.product-name,
ul.product_list.grid li:hover .product-name a,
ul.tm-carousel li:hover a.product-name,
ul.tm-carousel li:hover .product-name a {
    color: #262626;
}

@media (min-width: 1200px) {
    #blockpack ul>li.last-line {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    #blockpack ul>li.first-item-of-tablet-line {
        clear: none;
    }
    #blockpack ul>li.first-item-of-mobile-line {
        clear: left;
    }
}


/*******************************************************
Product Curosol in Home Page Styles 
********************************************************/

ul.tm-carousel li {
    padding: 10px 10px 20px;
    width: 100%;
}


/*******************************************************
Product list(List) Styles 
********************************************************/

ul.product_list.list>li {
    padding: 0;
}

ul.product_list.list>li .left-block .button-container {
    display: none;
}

ul.product_list.list>li .product-container {
    margin: 0 0 20px;
}

ul.product_list.list>li .product-image-container {
    position: relative;
}

@media (max-width: 767px) {
    ul.product_list.list>li .product-image-container {
        margin: 0 0 25px;
        position: relative;
    }
}

ul.product_list.list>li .product-image-container .content_price {
    display: none !important;
}

ul.product_list.list>li .product-image-container .img_1 {
    left: 0;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    /*max-width: 100%;*/
}

ul.product_list.list>li .product-image-container .comments_note {
    display: block;
    bottom: 10px;
}

@media (max-width: 767px) {
    ul.product_list.list>li .product-image-container .comments_note {
        display: block;
    }
}

ul.product_list.list>li .product-flags {
    color: #333333;
    margin: 0;
    line-height: 25px;
}

ul.product_list.list>li .product-flags .discount {
    color: #f13340;
}

ul.product_list.list>li .product-desc {
    margin-bottom: 15px;
}

ul.product_list.list>li .center-block {
    margin: 0;
}

ul.product_list.list>li .center-block .product-name {
    color: #666666;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

ul.product_list.list>li .center-block .product-name:hover {
    color: #262626;
}

@media (max-width: 991px) {
    ul.product_list.list>li .center-block {
        margin: 0;
        text-align: left;
    }
}

@media (max-width: 767px) {
    ul.product_list.list>li .center-block {
        text-align: center;
    }
}

ul.product_list.list>li .center-block .comments_note {
    margin-bottom: 10px;
}

@media (max-width: 480px) {
    ul.product_list.list>li .center-block .comments_note {
        text-align: center;
    }
    ul.product_list.list>li .center-block .comments_note .star_content {
        float: none;
    }
}

ul.product_list.list>li .availability {
    display: inline-block;
    margin: 0 10px;
}

ul.product_list.list>li .color-list-container {
    display: inline-block;
}

ul.product_list.list>li .right-block {
    /*  border-left:1px solid $base-border-color;*/
}

@media (max-width: 991px) {
    ul.product_list.list>li .right-block {
        margin: 0;
    }
}

@media (max-width: 767px) {
    ul.product_list.list>li .right-block {
        border-left: medium none;
    }
}

ul.product_list.list>li .right-block .right-block-content {
    text-align: left;
}

ul.product_list.list>li .right-block .right-block-content .content_price {
    padding-bottom: 10px;
}

ul.product_list.list>li .right-block .right-block-content .content_price span {
    display: inline-block;
}

ul.product_list.list>li .right-block .right-block-content .content_price span.price-percent-reduction {
    margin: 0 5px;
}

ul.product_list.list>li .right-block .right-block-content .button-container {
    overflow: hidden;
}

ul.product_list.list>li .right-block .right-block-content .button-container .button.ajax_add_to_cart_button span {
    padding: 6px 10px;
}

@media (max-width: 479px) {
    ul.product_list.list>li .right-block .right-block-content .button-container {
        width: 100%;
        padding-bottom: 5px;
    }
}

ul.product_list.list>li .right-block .right-block-content .button-container .btn {
    display: inline-block;
    margin: 0 0 10px;
}

ul.product_list.list>li .right-block .right-block-content .button-container a.lnk_view {
    display: none;
}

ul.product_list.list>li .right-block .right-block-content .functional-buttons div {
    padding: 0 0 10px;
}

@media (max-width: 767px) {
    ul.product_list.list>li .right-block .right-block-content {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    ul.product_list.list>li:hover .product-image-container .quick-view {
        display: block;
    }
    ul.product_list.list>li:hover .product-image-container .img_1 {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }
    ul.product_list.list>li:hover .product-image-container .comments_note {
        display: block;
    }
}

@media (max-width: 767px) {
    ul.product_list.list>li {
        text-align: center;
    }
}

ul.product_list.list>li:hover .product-image-container .img_1 {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

ul.product_list.list>li:hover .product-image-container .comments_note {
    display: block;
}


/*******************************************************
Product list(Index page) Styles 
********************************************************/

#index ul.product_list.tab-pane>li .availability {
    display: none;
}

@media (min-width: 1200px) {
    #index ul.product_list.tab-pane>li.last-line {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    #index ul.product_list.tab-pane>li.first-item-of-tablet-line {
        clear: none;
    }
    #index ul.product_list.tab-pane>li.first-item-of-mobile-line {
        clear: left;
    }
}


/***** IE code *****/

.ie8 .quick-view {
    background: #fff;
    border: 1px solid #dfdfdf;
}