/********************************************************
			Right to Left Styles
********************************************************/
* {
  direction: rtl !important;
}

#page {
  text-align: right !important;
}

/*========= Common setting ==============*/
.top_button {
  left: 30px;
  right: auto;
}

/* Slider */
#homepage-slider .homeslider-description {
  text-align: left;
}

.owl-wrapper-outer, .bx-viewport,
#homepage-slider .homeslider-description {
  direction: ltr!important;
}

caption, th, td {
  text-align: right;
}

.pull-right {
  float: left !important;
}

@media (min-width: 768px) {
  .col-sm-offset-4 {
    margin: 0 33.33333% 0 0;
  }
}
.slimScrollBar {
  left: 0;
  right: auto !important;
}

/* Float Left */
#htmlcontent_top,
.cart_navigation .button-medium,
#submitReorder {
  float: left;
}

/* Float Right */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
#homepage-slider,
.nav-tabs > li,
.shop-phone,
#left_column, #center_column, #right_column,
.pb-center-column .pb-right-column #buy_block label,
#attributes .attribute_list,
.pb-center-column .pb-right-column .content_prices .our_price_display,
#quantity_wanted_p input,
#quantity_wanted_p .btn,
ul.step li,
#address .form-group label, #identity .form-group label, #account-creation_form .form-group label, #new_account_form .form-group label, #opc_account_form .form-group label, #authentication .form-group label,
#address .form-group, #identity .form-group, #account-creation_form .form-group, #new_account_form .form-group, #opc_account_form .form-group, #authentication .form-group,
.radio-inline .checker, .checkbox .checker,
.cart_block .cart-prices .cart-prices-line span,
.box-info-product p,
.addresses .checkbox.addressesAreEquals {
  float: right;
}

#htmlcontent_top {
  padding-left: 0;
  padding-right: 5px;
}

#login_form .form-group.lost_password {
  margin: 14px 30% 15px 0%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #login_form .form-group.lost_password {
    margin: 14px 35% 15px 0%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #login_form .form-group.lost_password {
    margin: 14px 0 15px 0%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #login_form .form-group.lost_password {
    margin: 14px 30% 15px 0% !important;
  }
}
@media (max-width: 480px) {
  #login_form .form-group.lost_password {
    margin: 14px 0 15px 0;
  }
}

.form_content .submit {
  margin: 0 30% 0 0;
  float: right;
  clear: both;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .form_content .submit {
    margin: 0 35% 0 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .form_content .submit {
    margin: 0 0 0 0%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .form_content .submit {
    margin: 0px 30% 0 0% !important;
  }
}
@media (max-width: 480px) {
  .form_content .submit {
    margin: 0 0 0 0%;
  }
}

.button.ajax_add_to_cart_button span i.right, .button.lnk_view span i.right, .button.button-small span i.right, .button.button-medium span i.right, .button.exclusive-medium span i.right {
  margin: 0 5px 0 0;
}

#fp-nav.right {
  right: auto;
  left: 17px;
}

/*------------------------User Info-------------------*/
.header_user_info {
  float: left;
}
@media (max-width: 767px) {
  .header_user_info {
    right: auto;
    left: 0;
  }
}
.header_user_info .tm_userinfotitle {
  background-position: left -99px;
}
.header_user_info > ul {
  right: auto;
  left: 0;
  text-align: right;
}
.header_user_info:hover .tm_userinfotitle {
  background-position: left 1px;
}

/*------------------------Language Block-------------------*/
#languages-block-top {
  float: right;
}
#languages-block-top ul {
  text-align: right;
}
#languages-block-top ul li {
  margin: 0 0 10px 10px;
  float: right;
}

/*------------------------Currency Block-------------------*/
#currencies-block-top {
  float: right;
}
#currencies-block-top ul {
  text-align: right;
}
#currencies-block-top ul li {
  margin: 0 0 10px 10px;
  float: right;
}

/*------------------------Cart-------------------*/
@media (max-width: 480px) {
  .shopping_cart {
    padding: 0;
  }
}

.cart_block .cart_block_list .remove_link {
  right: auto;
  left: 5px;
}
.cart_block .cart-images {
  float: right;
  margin: 0 0 0 12px;
}
.cart_block .cart-info {
  padding: 0 0 0 15px;
}
.cart_block .cart-info .quantity-formated {
  padding: 0 0 0 5px;
}
.cart_block .cart-prices .cart-prices-line span {
  float: right;
}
.cart_block .cart-prices .cart-prices-line span.price {
  float: left;
}
.cart_block .cart-buttons a {
  float: left;
}

#header .cart_block {
  right: auto;
  left: 0;
  text-align: right;
}

#layer_cart .layer_cart_product {
  float: right;
}
#layer_cart .layer_cart_product .title {
  font: 400 17px/22px "Raleway", Helvetica, sans-serif;
  margin-bottom: 22px;
  display: block;
}
#layer_cart .layer_cart_product .title i {
  float: right;
  padding: 0 0 0 6px;
}
#layer_cart .layer_cart_product .product-image-container {
  max-width: 178px;
  float: right;
  margin: 0 0 0 30px;
}
@media (max-width: 480px) {
  #layer_cart .layer_cart_product .product-image-container {
    float: none;
    margin-left: 0;
    margin-bottom: 10px;
  }
}
#layer_cart .layer_cart_cart {
  float: right;
  border-left: medium none;
  border-right: 1px solid #dfdfdf;
  -webkit-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  -ms-border-radius: 0px 4px 4px 0px;
  -o-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
  position: relative;
}
@media (max-width: 991px) {
  #layer_cart .layer_cart_cart {
    border-right: none;
    border-top: 1px solid #dfdfdf;
  }
}
#layer_cart .layer_cart_cart .button-container span.exclusive-medium {
  margin-right: 0;
  margin-left: 5px;
}
#layer_cart .cross {
  right: auto;
  left: 7px;
}

#header .header_cart {
  float: left;
}
@media (max-width: 767px) {
  #header .header_cart {
    right: auto;
    left: 20px;
  }
}

/*------------------------Search-------------------*/
#search_block_top {
  float: left;
}
@media (max-width: 767px) {
  #search_block_top {
    right: auto;
    left: 85px;
  }
}
#search_block_top .searchtoggle {
  right: auto;
  left: 0;
}
#search_block_top .btn.button-search {
  right: auto;
  left: 0;
}
#search_block_top .btn.button-search:before {
  content: "\f104";
}
#search_block_top #search_query_top {
  padding: 10px 10px 10px 40px;
}

/*------------------------ Menu -------------------*/
.sf-contener {
  float: right;
}
@media (max-width: 767px) {
  .sf-contener {
    padding: 0 0 0 140px;
  }
}

@media (max-width: 991px) {
  .sf-menu {
    text-align: right;
  }
}

@media (max-width: 991px) {
  .sf-menu > li span {
    right: auto;
    left: 0;
  }
}
.sf-menu > li > a {
  background-position: left center;
}
@media (max-width: 991px) {
  .sf-menu > li > a {
    background: none;
  }
}

@media (max-width: 991px) {
  .sf-menu li li ul {
    padding: 0 20px 0 0;
  }
}

.sf-menu li li li ul {
  padding: 0 20px 0 0;
}

.sf-menu > li > ul {
  text-align: right;
}
@media (max-width: 991px) {
  .sf-menu > li > ul {
    padding: 0 20px 0 0;
  }
}

.sf-menu > li > ul > li {
  border-right: 1px solid #dfdfdf;
  border-left: medium none;
}
.sf-menu > li > ul > li:first-child {
  border: medium none;
}
@media (max-width: 991px) {
  .sf-menu > li > ul > li {
    border: medium none;
  }
}

.cat-title {
  text-align: right;
}
@media (max-width: 991px) {
  .cat-title:after {
    float: left;
  }
}

/*------------------------ Block newsletter footer ------------------------*/
.footer-container #newsletter_block_left h4 {
  float: right;
}
.footer-container #newsletter_block_left .block_content {
  margin: 0 0 0 50px;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .footer-container #newsletter_block_left .block_content {
    margin: 0px;
  }
}
@media (max-width: 991px) {
  .footer-container #newsletter_block_left .block_content {
    float: right;
    margin: 20px 0 0 0;
  }
}
.footer-container #newsletter_block_left .block_content > form {
  float: right;
}
.footer-container #newsletter_block_left .form-group {
  margin: 0;
}
.footer-container #newsletter_block_left .form-group .form-control {
  float: right;
}
@media (max-width: 991px) {
  .footer-container #newsletter_block_left .form-group .form-control {
    float: none;
  }
}
.footer-container #newsletter_block_left .form-group .button-small {
  float: right;
  margin: 0 10px 0 0;
}
@media (max-width: 991px) {
  .footer-container #newsletter_block_left .form-group .button-small {
    float: none;
  }
}
@media (max-width: 480px) {
  .footer-container #newsletter_block_left .form-group .button-small {
    margin: 20px 0 0 0;
  }
}

.tm_newsletter {
  float: right;
  margin: 0 50px 0 0;
}
@media (max-width: 991px) {
  .tm_newsletter {
    margin: 0;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .tm_newsletter {
    margin: 0px;
  }
}
.tm_newsletter i {
  margin: 0 0 0 15px;
}

/*------------------------ Block newsletter footer ------------------------*/
.footer-container .footer_hide #social_block {
  float: right;
}
.footer-container .footer_hide .footer_btn span.footer_top_arrow {
  right: auto;
  left: 15px;
}
.footer-container #footer .footer-block {
  float: left;
  padding: 0 70px 0 0;
  border-left: medium none;
  border-right: 1px solid #dfdfdf;
}
@media (max-width: 1199px) {
  .footer-container #footer .footer-block {
    padding: 0 30px 0 0;
  }
}
@media (max-width: 991px) {
  .footer-container #footer .footer-block {
    border: medium none;
    margin: 5px 0;
    float: right;
    padding: 0;
  }
}
@media (max-width: 991px) {
  .footer-container #footer h4:after {
    right: auto;
    left: 0;
  }
}
.footer-container #footer #block_contact_infos {
  padding: 0 0 0 30px;
}
@media (max-width: 991px) {
  .footer-container #footer #block_contact_infos {
    text-align: right;
    padding: 0;
  }
}
.footer-container #footer #block_contact_infos > div {
  padding: 0 5px 0 0;
}
@media (max-width: 991px) {
  .footer-container #footer #block_contact_infos > div {
    padding-right: 0;
  }
}
.footer-container #footer #block_contact_infos > div ul li i {
  padding: 0 0 0 5px;
}
.footer-container #footer #social_block {
  float: right;
  text-align: center;
  padding: 0 0 0 30px;
  border: medium none;
}
@media (max-width: 991px) {
  .footer-container #footer #social_block {
    text-align: right;
    padding: 0;
  }
}
.footer-container #footer #block_various_links_footer ul li {
  background-position: right center;
  padding: 0 9px 0 3px;
}
.footer-container #footer #block_various_links_footer ul li:first-child {
  background: none;
}

#tmfootercms_block {
  float: right;
  padding: 0 0 0 30px;
}
@media (max-width: 991px) {
  #tmfootercms_block {
    padding: 0;
  }
}

/*-------------------------- Header CMS Block -------------------------------*/
.header_cms.container .cont_inner .cms_img {
  margin: 0 0 0 15px;
}
@media (max-width: 991px) {
  .header_cms.container .cont_inner .cms_img {
    margin: 0;
  }
}

/*-------------------------- Testimonial CMS Block -------------------------------*/
#tmtestimonialcmsblock {
  float: right;
  padding: 0 75px 0 0;
}
@media (max-width: 991px) {
  #tmtestimonialcmsblock {
    padding: 0;
  }
}

/*---------------------------- TM Blog and Testimonial Block---------------------------------------*/
#tmsmartblog_block {
  float: right;
}
#tmsmartblog_block ul li .news_module_image_holder {
  float: right;
  margin: 0 0 0 25px;
}
@media (max-width: 480px) {
  #tmsmartblog_block ul li .news_module_image_holder {
    margin: 0 0 15px;
  }
}

.tm_row .tm_blog_pagination .results {
  float: left;
}
@media (max-width: 767px) {
  .tm_row .tm_blog_pagination .results {
    float: right;
  }
}

#page #sdsblogCategory .imageFeatured {
  float: right;
  margin: 0 0 20px 20px;
}

#page #articleComments .commentList li {
  padding: 8px 85px 8px 0;
}
#page #articleComments .commentList li .avatar {
  left: auto;
  right: 10px;
}
#page #articleComments .commentList li .reply {
  height: auto;
  text-align: left;
}

#respond #commentInput .right {
  text-align: left;
}

.customNavigation {
  direction: ltr !important;
}

.popover.bottom .arrow:after {
  margin-left: 0;
  margin-right: -10px;
}

/*************************** Product list Styles ******************************/
ul.product_list .product-image-container .quick-view {
  right: auto;
  left: 5px;
}

ul.product_list.grid li, ul.tm-carousel li {
  float: right;
}
@media (min-width: 480px) and (max-width: 767px) {
  ul.product_list.grid li, ul.tm-carousel li {
    float: right;
  }
}
@media (min-width: 1200px) {
  ul.product_list.grid li.first-in-line, ul.tm-carousel li.first-in-line {
    clear: right;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  ul.product_list.grid li.first-item-of-tablet-line, ul.tm-carousel li.first-item-of-tablet-line {
    clear: right;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  ul.product_list.grid li.first-item-of-mobile-line, ul.tm-carousel li.first-item-of-mobile-line {
    clear: right;
  }
}

ul.product_list.list > li .right-block .right-block-content {
  text-align: right;
}
@media (max-width: 767px) {
  ul.product_list.list > li .right-block .right-block-content {
    text-align: center;
  }
}
ul.product_list.list > li .center-block {
  text-align: right;
}
@media (max-width: 767px) {
  ul.product_list.list > li .center-block {
    text-align: center;
  }
}

/*************************** Block Layered Navigation ******************************/
#left_column #layered_block_left .block_content #layered_form #enabled_filters ul li a, #right_column #layered_block_left .block_content #layered_form #enabled_filters ul li a {
  float: left;
  margin: 0 10px 0 0;
}
#left_column #layered_block_left .block_content #layered_form .layered_filter_ul .color-option, #right_column #layered_block_left .block_content #layered_form .layered_filter_ul .color-option {
  margin: 0 0 0 5px;
}
#left_column #layered_block_left .block_content #layered_form .layered_filter_ul div.checker, #right_column #layered_block_left .block_content #layered_form .layered_filter_ul div.checker {
  margin: 0 0 0 5px;
}

#tmcenterlayered {
  float: right;
  margin: 0 0 0 20px;
}
#tmcenterlayered #layered_block_left .title_block:before {
  float: left;
}
#tmcenterlayered #layered_block_left .block_content #layered_form #enabled_filters ul li a {
  float: left;
  margin: 0 10px 0 0;
}
#tmcenterlayered #layered_block_left .block_content #layered_form .layered_filter_ul .color-option {
  margin: 0 0 0 5px;
}
#tmcenterlayered #layered_block_left .block_content #layered_form .layered_filter_ul div.checker {
  margin: 0 0 0 5px;
}

.alert {
  font-weight: bold;
}
.alert ul, .alert ol {
  padding: 0 15px 0 0;
  margin: 0 27px 0 0;
}
.alert.alert-success:before {
  padding: 0 0 0 7px;
}
.alert.alert-danger:before {
  padding: 0 0 0 7px;
  float: right;
}

header .row #header_logo {
  float: right;
}
@media (max-width: 767px) {
  header .row #header_logo {
    float: none;
  }
}

#new-products_block_right a.button-small, #special_block_right a.button-small, #best-sellers_block_right a.button-small {
  float: left;
}

.new-box, .sale-box {
  left: auto;
  right: 0;
}

.box.box-small {
  padding: 9px 20px 9px 10px;
}

@media (max-width: 991px) {
  #left_column .block .title_block:after, #left_column .block h4:after, #right_column .block .title_block:after, #right_column .block h4:after {
    right: auto;
    left: 0;
  }
}
#left_column .block .products-block li .products-block-image, #right_column .block .products-block li .products-block-image {
  float: right;
  margin: 0 0 0 10px;
}

.page-heading span.heading-counter, h2.centertitle_block span.heading-counter {
  float: left;
}
@media (max-width: 480px) {
  .page-heading span.heading-counter, h2.centertitle_block span.heading-counter {
    float: none;
  }
}

ul.footer_links li {
  float: right;
}
ul.footer_links li + li {
  margin: 0 10px 0 0;
}

.content_sortPagiBar .sortPagiBar #productsSortForm {
  float: left;
  margin: 0 20px 0 0px;
}
@media (max-width: 767px) {
  .content_sortPagiBar .sortPagiBar #productsSortForm {
    clear: right;
    float: right;
    margin: 10px 0px 0 10px;
  }
}
.content_sortPagiBar .sortPagiBar #productsSortForm select {
  float: right;
}
.content_sortPagiBar .sortPagiBar #productsSortForm .selector {
  float: right;
}
.content_sortPagiBar .sortPagiBar .nbrItemPage {
  float: left;
}
@media (max-width: 767px) {
  .content_sortPagiBar .sortPagiBar .nbrItemPage {
    float: right;
  }
}
.content_sortPagiBar .sortPagiBar .nbrItemPage select {
  float: right;
}
.content_sortPagiBar .sortPagiBar .nbrItemPage .clearfix > span {
  padding: 3px 0 0 12px;
  float: right;
}
.content_sortPagiBar .sortPagiBar .nbrItemPage #uniform-nb_item {
  float: right;
}
.content_sortPagiBar .sortPagiBar label,
.content_sortPagiBar .sortPagiBar select {
  float: right;
}
.content_sortPagiBar .sortPagiBar label {
  padding: 3px 0 0 6px;
}
.content_sortPagiBar .display,
.content_sortPagiBar .display_m {
  float: right;
}
.content_sortPagiBar .display li,
.content_sortPagiBar .display_m li {
  float: right;
}

.top-pagination-content div.pagination,
.bottom-pagination-content div.pagination {
  float: left;
}
@media (max-width: 991px) {
  .top-pagination-content div.pagination,
  .bottom-pagination-content div.pagination {
    float: right;
  }
}
.top-pagination-content div.pagination .showall,
.bottom-pagination-content div.pagination .showall {
  float: left;
  margin: 0px 0 0 10px;
}
@media (max-width: 991px) {
  .top-pagination-content div.pagination .showall,
  .bottom-pagination-content div.pagination .showall {
    margin: 0;
  }
}
.top-pagination-content ul.pagination,
.bottom-pagination-content ul.pagination {
  margin: 0 0 0 10px;
  float: right;
}
.top-pagination-content .compare-form,
.bottom-pagination-content .compare-form {
  float: left;
}
@media (max-width: 480px) {
  .top-pagination-content .compare-form,
  .bottom-pagination-content .compare-form {
    float: right;
    text-align: right;
  }
}
.top-pagination-content .product-count,
.bottom-pagination-content .product-count {
  float: right;
}
@media (max-width: 991px) {
  .top-pagination-content .product-count,
  .bottom-pagination-content .product-count {
    clear: right;
  }
}

.breadcrumb .navigation-pipe {
  padding: 0 5px 0 14px;
}

.cart_navigation .button-medium {
  float: left;
}

.text-right {
  text-align: right;
}
@media (max-width: 480px) {
  .text-right {
    text-align: center;
  }
}

@media (max-width: 767px) {
  #order-detail-content #cart_summary td {
    text-align: right;
    float: right;
  }
}
@media (max-width: 480px) {
  #order-detail-content #cart_summary td {
    width: 100%;
    text-align: center;
  }
}
.addresses .select label,
.addresses .selector, .addresses #address_invoice_form,
.addresses .addresses .address_select {
  float: right;
}

p.payment_module a {
  padding: 15px 60px 15px 15px;
}
p.payment_module a:before {
  left: auto;
  right: 15px;
  margin: 0 0 0 15px;
}
p.payment_module a.cheque:after, p.payment_module a.bankwire:after, p.payment_module a.cash:after {
  right: auto;
  left: 15px;
  content: "\f053";
}

.radio-inline .checker, .checkbox .checker {
  margin: 0 0 0 5px;
}
.radio-inline div.radio, .checkbox div.radio {
  margin: 0 0 0 3px;
}

.fancybox-skin .fancybox-close {
  right: auto;
  left: -10px;
}

#left_column #categories_block_left .block_content ul li ul, #right_column #categories_block_left .block_content ul li ul {
  margin: 0 10px 0 0;
}
#left_column #categories_block_left .block_content ul li ul li ul, #right_column #categories_block_left .block_content ul li ul li ul {
  margin: 0 10px 0 0;
}

#my-account ul.myaccount-link-list li a i {
  left: auto;
  right: 15px;
}

.address li.address_update a {
  margin: 0 0 0 10px;
}

#favoriteproducts_block_account .favoriteproduct a.product_img_link {
  float: right;
  margin: 0 0 0 15px;
}
#favoriteproducts_block_account .favoriteproduct .remove {
  right: auto;
  left: 10px;
}

#module-blockwishlist-mywishlist .wishlistLinkTop li {
  float: right;
}

ul.wlp_bought_list li .product-name {
  padding: 0 0 0 20px;
}
ul.wlp_bought_list li .btn_action .btn {
  margin: 0 0 10px 0;
}
ul.wlp_bought_list li .lnkdel {
  right: auto;
  left: 0;
}
@media (min-width: 992px) {
  ul.wlp_bought_list li.first-in-line {
    clear: right;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  ul.wlp_bought_list li.first-item-of-tablet-line {
    clear: right;
  }
}

#subcategories ul li {
  float: right;
}
@media (max-width: 480px) {
  #subcategories ul li {
    float: none;
  }
}

#categories_block_left li span.grower {
  right: auto;
  left: 0;
}

.pb-left-column #image-block #view_full_size .span_link {
  right: auto;
  left: 8px;
}

.resetimg #wrapResetImages a {
  padding: 0 7px 0 0;
}
.resetimg #wrapResetImages a i {
  left: auto;
  right: -7px;
}

#usefull_link_block li a {
  padding: 0 25px 0 0;
}
#usefull_link_block li a:before {
  left: auto;
  right: 0;
}
#usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
  padding: 0 25px 0 0;
}
#usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
  left: auto;
  right: 0;
}

.pb-center-column {
  padding: 0 30px 0 10px;
  float: right;
}
@media (max-width: 767px) {
  .pb-center-column {
    padding: 10px 10px 0;
  }
}
.pb-center-column .pb-right-column #buy_block label {
  float: right;
  text-align: right;
}
.pb-center-column .buttons_bottom_block {
  margin: 0 0 10px 10px;
}

#attributes .attribute_list {
  float: right;
}
#attributes .attribute_list input.attribute_radio {
  float: left;
  margin-left: 3px;
}
#attributes .attribute_list #color_to_pick_list li {
  float: right;
  margin: 0 0 3px 3px;
}

.box-info-product p {
  float: right;
}
.box-info-product .exclusive:before {
  left: auto;
  right: 0px;
}
.box-info-product .exclusive span {
  padding: 5px 40px 5px 10px;
}

#quantity_wanted_p {
  margin: 0 0 10px 10px;
}

#availability_statut span#availability_label,
#availability_date_label {
  text-align: right;
}

#send_friend_form .form_container {
  padding: 10px 15px;
  border: 1px solid #dfdfdf;
}
#send_friend_form .submit {
  text-align: left;
}

.pb-center-column .pb-right-column .content_prices .our_price_display {
  float: right;
}

.tm-tabcontent #productpage_tab li {
  float: right;
  border-right: medium none;
  border-left: 1px solid #dfdfdf;
  margin: 0 0 0 5px;
}
@media (max-width: 480px) {
  .tm-tabcontent #productpage_tab li {
    margin: 0;
    border: none;
  }
}
.tm-tabcontent #productpage_tab li a {
  margin: 0 0 0 5px;
}
.tm-tabcontent #productpage_tab li:last-child {
  border: medium none;
}

#product_comments_block_extra .comments_note {
  float: right;
  margin: 0 0 0 20px;
}
#product_comments_block_extra .comments_note span,
#product_comments_block_extra .star_content {
  float: right;
}
#product_comments_block_extra .comments_advices {
  float: right;
}
#product_comments_block_extra .comments_advices a.reviews {
  margin: 0 0 0 10px;
}

#new_comment_form {
  text-align: right;
}
#new_comment_form ul.grade_content .cancel {
  margin: 0 0 0 5px;
}
#new_comment_form .submit {
  text-align: left;
}
#new_comment_form #criterions_list label {
  float: right;
  margin: 0 0 0 10px;
}
#new_comment_form #criterions_list .star_content {
  float: right;
}

#product_comments_block_tab div.comment .comment_author {
  padding: 0 0 0 20px;
}
@media (max-width: 767px) {
  #product_comments_block_tab div.comment .comment_author {
    padding: 0;
    float: right;
  }
}
#product_comments_block_tab div.comment .comment_author span {
  float: right;
}
#product_comments_block_tab div.comment .comment_details {
  border-left: medium none;
  border-right: 1px solid #dfdfdf;
}
@media (max-width: 767px) {
  #product_comments_block_tab div.comment .comment_details {
    border-right: none;
    float: right;
  }
  #product_comments_block_tab div.comment .comment_details ul li:before {
    margin: 0 0 0 8px;
  }
}

#tmproduct_tab_block {
  float: right;
}
#tmproduct_tab_block .tab-links li {
  margin: 0 0 0 -1px;
  float: right;
}
#tmproduct_tab_block .tab-content {
  margin: 0;
  padding: 20px 15px;
  float: left;
  width: 100%;
  border: 1px solid #dfdfdf;
}
#tmproduct_tab_block .tab-content .size_guide_table {
  border: 1px solid #e6e6e6;
  width: 100%;
}
#tmproduct_tab_block .tab-content .size_guide_table th {
  text-align: center;
}
#tmproduct_tab_block .tab-content .size_guide_table td {
  border: 1px solid #dfdfdf;
  text-align: center;
}
#tmproduct_tab_block .tab-content .tm_productinner.tab {
  display: none;
  line-height: 24px;
}
#tmproduct_tab_block .tab-content .tm_productinner.tab.active {
  display: block;
}

.rte ul, .rte ol {
  padding: 0 15px 0 0;
}

#cms #center_column .list-1 li em:before {
  left: auto;
  right: -21px;
}

div.uploader span.action, div.uploader span.filename {
  float: right;
}

#listpage_content ul.tree li {
  padding: 5px 23px 0 0;
  border-right: 1px solid #dfdfdf;
  border-left: medium none;
  background: url(../img/sitemap-rtl.png) no-repeat right 15px transparent;
}
#listpage_content ul.tree > li {
  margin: 0 10px 0 0;
}
#listpage_content ul.tree > li ul {
  margin: 0 10px 0 0;
}
#listpage_content ul.tree li.last {
  border: medium none;
  background: url(../img/sitemap-last_rtl.png) no-repeat right -4px transparent;
}

#stores .address-input {
  float: right;
  margin: 0 0 0 20px;
}
@media (max-width: 767px) {
  #stores .address-input {
    margin: 0 0 20px 0;
  }
}
#stores .address-input label {
  margin: 0 0 0 5px;
}
#stores .radius-input {
  float: right;
  margin: 0 0 0 20px;
}
#stores .radius-input label, #stores .radius-input .selector {
  float: right;
}
#stores .radius-input label {
  margin: 0 0 0 10px;
}

#tmcmsbannerblock .cloth-banner1 {
  float: right;
}
#tmcmsbannerblock .cloth-banner3 {
  float: right;
}
#tmcmsbannerblock .cloth-banner4 {
  float: left;
}
#tmcmsbannerblock .cloth-banner5 {
  float: right;
}
#tmcmsbannerblock .cloth-banner2 .inner1 .hover_content {
  left: 0;
  right: auto;
}

.tm-hometabcontent #home-page-tabs li:last-child:after {
  content: "";
}
@media (max-width: 480px) {
  .tm-hometabcontent #home-page-tabs li:last-child:after {
    content: none;
  }
}
.tm-hometabcontent #home-page-tabs li:first-child:after {
  content: none;
}

#tmcmstestimonialblock .tm_shipping_cms {
  float: right;
}
#tmcmstestimonialblock .tm_shipping_cms .img_content {
  float: right;
  margin-left: 40px;
  margin-right: 0;
}
@media (max-width: 480px) {
  #tmcmstestimonialblock .tm_shipping_cms .img_content {
    float: none;
    margin: 0 0 20px 0;
  }
}
#tmcmstestimonialblock .tm_shipping_cms .shipping-heading:after {
  background: url(../img/megnor/title_line_1.png) no-repeat scroll 0 0;
  margin-right: 30px;
  margin-left: 0;
}
@media (max-width: 1199px) and (min-width: 481px) {
  #tmcmstestimonialblock .tm_shipping_cms .shipping-heading:after {
    background: url(../img/megnor/title_line_1.png);
    margin-right: 30px;
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  #tmcmstestimonialblock .tm_shipping_cms .shipping-heading:after {
    margin: 0;
    background: url(../img/megnor/divider.png) no-repeat scroll center 0;
  }
}
#tmcmstestimonialblock #tmtestimonialcmsblock {
  float: left;
}

@media (min-width: 1200px) {
  #tmsmartblog_block ul > li:nth-child(3n+1) {
    clear: right;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  #tmsmartblog_block ul > li:nth-child(2n+1) {
    clear: right;
  }
}
