/******************************************************************
					Sitemap Page Styles
*******************************************************************/
#sitemap .sitemap_block li {
  line-height: 16px;
  padding-bottom: 11px;
}

#listpage_content div.tree_top a:before {
  content: "\f015";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 20px;
  color: #333333;
}
#listpage_content div.tree_top a:hover:before {
  color: #262626;
}

#listpage_content ul.tree {
  padding-left: 0;
}
@media (max-width: 480px) {
  #listpage_content ul.tree {
    padding: 0px 0 0 0px;
  }
}
#listpage_content ul.tree li {
  margin: 0;
  padding: 5px 0 0 23px;
  border-left: 1px solid #dfdfdf;
  background: url(../img/sitemap-horizontal.png) no-repeat left 15px transparent;
}
#listpage_content ul.tree > li {
  margin: 0 0 0 10px;
}
#listpage_content ul.tree > li ul {
  margin: 0 0 0 10px;
}
#listpage_content ul.tree li.last {
  border: medium none;
  background: url(../img/sitemap-last.png) no-repeat 0px -4px transparent;
}
