#search_block_top {
  float: right;
  display: block;
  padding: 0;
  width: auto;
  margin: 20px 0 0;
}
@media (max-width: 767px) {
  #search_block_top {
   bottom: 16px;
    margin: 0px 0 0;
    position: absolute;
    right: 81px;
    /* Modificaciones 27/09/2016 */
    display:none;
    /* FIN Modificaciones 27/09/2016 */
  }
  .login-lyl {
    bottom: -3px;
    margin: 5px 0 0;
    position: absolute !important;
    right: 44px;
    /* Modificaciones 27/09/2016 */
    display:none;
    /* FIN Modificaciones 27/09/2016 */
}
}
#index .tacones-medidas .lyl-filter li#grid, #index .tacones-medidas .lyl-filter li#list, #index .tacones-medidas .lyl-filter li#ball {
    display: none !important;
}
.login-lyl {
    float: right;
    
    margin-top: 35px;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 0;
  
    padding: 0;
    position: relative;
    text-align: center;
    
    z-index: 1;
}
.login-lyl a:after {
   content: '\f007';
    width: 33px;
    height: 33px;
    display: block;
    font-size: 24px;
    margin-top: 10px;
    margin: 10px 0px 10px 10px;
    color: #a6a6a6;
    font-family: fontawesome;
}
#search_block_top .search_button {
  background: rgba(0, 0, 0, 0) url("../../../img/megnor/search-icon.png") no-repeat scroll  5px 11px;
      margin-top: 15px;
  border: medium none;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 33px;
  padding: 0;
  position: relative;
  text-align: center;
  width: 30px;
  z-index: 1;
}
#search_block_top .search_button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
#search_block_top .searchtoggle {
  display: none;
  position: absolute;
  right: 0;
  top: 51px;
  width: 340px;
  z-index: 1;
}
@media (max-width: 767px) {
  #search_block_top .searchtoggle {
    top: 45px;
  }
}
@media (max-width: 480px) {
  #search_block_top .searchtoggle {
    width: 200px;
  }
}
#search_block_top .searchtoggle.open {
  display: block;
}
#search_block_top #searchbox {
  float: left;
  width: 100%;
}
#search_block_top .btn.button-search {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #b2b2b2;
  padding: 6px 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 30px;
}
#search_block_top .btn.button-search span {
  display: none;
}
#search_block_top .btn.button-search:before {
  content: "\f105";
  display: block;
  font-family: "FontAwesome";
  font-size: 20px;
  width: 100%;
  text-align: center;
}
#search_block_top .btn.button-search:hover {
  color: #262626;
}
#search_block_top #search_query_top {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #d9d9d9;
  display: inline;
  font-size: 13px;
  height: 40px;
  line-height: normal;
  padding: 10px 40px 10px 10px;
}
@media (max-width: 480px) {
  #search_block_top #search_query_top {
    width: 200px;
  }
}

.ac_results {
  background: white;
  border: 1px solid #dfdfdf;
  width: 271px !important;
  margin-top: -1px;
}
.ac_results li {
  padding: 0 10px;
  font-weight: normal;
  color: #686666;
  font-size: 13px;
  line-height: 22px;
}
.ac_results li.ac_odd {
  background: white;
}
.ac_results li:hover, .ac_results li.ac_over {
  background: #fbfbfb;
}

form#searchbox {
  position: relative;
}
form#searchbox label {
  color: #333333;
}
form#searchbox input#search_query_block {
  margin-right: 10px;
  max-width: 222px;
  margin-bottom: 10px;
  display: inline-block;
  float: left;
}
form#searchbox .button.button-small {
  float: left;
}
form#searchbox .button.button-small i {
  margin-right: 0;
}

.form-control:focus {
  box-shadow: none;
}

/* Modificaciones 27/09/2016 */
.colores2E {
  background-color: #fff;
  border: 1px solid #000;
  margin-left: -170px;
  margin-top: 30px;
  min-width: 170px;
  padding: 1px;
  position: absolute;
  display:none;
}

.ballE {
  border: medium none;
  cursor: pointer;
  display: block;
  float: right;
  padding: 0;
  z-index: 1;
  display: none;
}

.eyeE {
  border: medium none;
  cursor: pointer;
  display: block;
  float: right;
  padding: 0;
  z-index: 1;
  display: none;
}

.softE {
  border: medium none;
  cursor: pointer;
  display: block;
  float: right;
  padding: 0;
  z-index: 1;
  display: none;
}

.uno {
  margin-left: -162px;
  /*margin-top: 1px;*/
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  background: url(/themes/PRS070171/img/seccion_icons_off.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -86px 4px;
  display: block;
  width: 37px;
  height: 35px;
}

.dos {
  margin-left: -133px;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  background: url(/themes/PRS070171/img/seccion_icons_off.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -127px 4px;
  display: block;
  width: 36px;
  height: 35px;
}

.tres {
  opacity: 0.5;
  margin-left: -100px;
  position: absolute;
  z-index: 1;
  background: url(/themes/PRS070171/img/seccion_icons_off.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -170px 4px;
  display: block;
  width: 73px;
  height: 35px;
}


.uno:hover {opacity: 1;}
.dos:hover {opacity: 1;}
.tres:hover {opacity: 1;}

@media (max-width: 767px) {
  .eyeE  {
    display:block;
  }
  .softE  {
    display:block;
  }
  .ballE {
    display:block;
  }
}
/* FIN Modificaciones 27/09/2016 */
